body {
	background-color: #F3F8FC;
}

img#image-profile {
	width: 200px; 
	height: 200px; 
	margin-bottom: 20px;
}

#map {
	width: 320px; 
	height: 300px;
}

#marker { 
	background-image: url('../../../student/assets/images/academy1.png');
	background-size: cover;
	width: 27px;
	height: 49px;
	cursor: pointer;
}