body#body {
    background-color: #F3F8FC;
}

a#student-link {
    color: black;
  }

a#student-link:hover{
    color: purple;
  }

h5#good {
    color: green;
}

h5#bad {
    color: red;
}

a#previews{
    color: white; 
    background-color: #982A72; 
    border: 2px solid #982A72; 
    font-size: 14px;

}

a#edit2{
    color: white; 
    border: 2px solid #4F177D;
    background-color: #4F177D;
}

a#preview{
    color: black; 
    border: 2px solid #232159;
}


a#preview:hover{
    color: white; 
    border: 2px solid #232159; 
    background-color: #232159;
}

a#edit {
    color: white; 
    border: 2px solid #394893;
    background-color: #394893;
}

/*AJAX*/
a.page-link {
    background-color: transparent;
    border: none;
    border-radius: 50px;
    color: #191919;
    margin: 0 .125rem;
    padding: .75rem 1rem;
    position: relative;
}

a.page-link:hover {
    background-color: #815391;
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
    color: #191919;
}

a.page-link:after {
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    bottom: -0.4375rem;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
    transition: .3s ease;
}

li.page-item:first-child a.page-link, li.page-item:last-child a.page-link {
    border-radius: 0;
}

li.page-item.active a.page-link {
    background-color: #232159;
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
}

li.page-item.active a.page-link:after {
    border-color: white transparent transparent transparent;
}


table {
    table-layout: fixed;
}

.photo_s, .gend_s, .back_s{
    width: 120px;
}

.img_photo_s{
    width: 90px;
    height: 90px;
}

.situ_s{
    width: 130px;
}

.date_s{
    width: 140px;
}

.student_n, .mail_s{
    width: 200px;
}

.action_s{
    width: 200px;
}

.img_photo_s{
    width: 90px;
    height: 90px;
}


@media (max-width: 767px){
    .img_photo_s{
        width: 60px;
        height: 60px;
    }

    .photo_s, .back_s{
        width: 100px;
    }

    .student_n, .mail_s{
        width: 150px;
    }
}




/* Notifications */

.div_panel_noti{
    margin-top: -1rem !important;
  }
  
  .notification_panel{
    margin-bottom: -1rem !important;
  }
  
  @media (min-width: 1000px) {
  
    .d-m-before {
        width: 26em !important;
        left: -23em !important;
    }
  }