:root {
  --first-color: #232159;
  --second-color: #982a72;
  --third-color: #394893;
  --fourth-color: #a54483;
  --fifth-color: #5d418d;
  --sixth-color: #392b84;
  --seventh-color: #b15391;
  --eighth-color: #4f177d;
  --bg-hr: #e7e7e7;

  --_first-color: #342359;
  --_second-color: #33308c;
  --_second-hover-color: #6663c5;
  --_third-color: #812b8c;
  --_fourth-color: #d977b7;
  --_fifth-color: #0d0d0d;
}

body {
  background-color: #f3f8fc;
}

.container_register {
  width: 100%;
  margin: 0;
  padding: 0;
}

.title__register {
  width: 90%;
  border-bottom: 2px solid #232159;
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-size: 44px;
}

.card__register {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

.warning__text {
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: rgb(172, 2, 2);
}

.form__group-title {
  padding: 0.5rem 1rem;
  background-color: var(--_first-color);
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.row_flex {
  display: flex;
  justify-content: space-evenly;
}

.col__img__div {
  display: table-cell;
}

.form__group__div__photo {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  position: relative;
  width: 10rem;
  height: 10rem;
}

.form__group__photo {
  width: 100%;
  height: 100%;
  border-radius: 80px;
  border: 1px dashed #000;
}

.add-photo-i {
  position: absolute;
  margin: 0;
  right: 1.5rem;
  background-color: #982a72;
  color: #fff;
  border-radius: 60px;
  padding: 0.8rem 0.8rem;
  bottom: 0;
}

.add-photo-i:hover {
  background: white;
  transition: all 0.5s;
  cursor: pointer;
  color: #4f177d;
}

.photo-add {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  border-radius: 80px;
  padding-left: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  border: 1px dashed #000;
}
.photo-add:hover {
  cursor: pointer;
  transition: all 0.2s;
  background-color: #e0e0e0;
}

.form__group-l_title {
  margin: 0;
  color: #4f177d;
}

.input__div {
  position: relative;
  margin-top: 2rem;
}

.div__btn__register {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.btn__register {
  background-color: #232159;
  color: #fff;
  border-radius: 4px;
}

.btn__register:hover {
  background-color: #394893;
}

/* Labels */

.laber__form {
  position: absolute;
  font-weight: 500 !important;
  color: #232159;
  top: -1.3rem;
  left: 2.5rem;
}

/* inputs */

.form_group-input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #4f177d;
  padding-left: 1.7rem;
  padding-bottom: 0.4rem;
}

/* Inputs error */

/* ------------------------------- */

.form__group__input-error {
  margin-bottom: 0;
  font-size: 12px;
  display: none;
  line-height: 15px;
  color: #bb2929;
  width: 85%;
  margin-top: 0.3rem;
}

.form__group__input-error-active {
  display: block;
}

.form__message {
  display: none;
}

.form__message p {
  margin: 0;
}

.form__message-active {
  display: block;
}

.form__message-sucess {
  color: green;
  font-size: 14px;
  display: none;
}

.form__message-sucess-active {
  display: block;
}

.form__group-correct .form__validate-state {
  color: #1ca827;
  opacity: 1;
}

.form__group-correct .form__group-input {
  border-bottom: 2px solid #1ca827;
}

.form__group-correct .form__label {
  color: #1ca827;
}

.form__group-incorrect .form__label {
  color: #bb2929;
}

.form__group-incorrect .form__validate-state {
  color: #bb2929;
  opacity: 1;
}

.form__group-incorrect .form__group-input {
  border-bottom: 2px solid #bb2929;
}

/* Icons */

.icon {
  position: absolute;
}

.icon__dir {
  content: url("../../../assets/icon/location\ 64.png");
  width: 1.9rem;
  height: 1.9rem;
  top: -0.1rem;
  bottom: 0;
  left: 0.7rem;
}

.icon__n_a {
  content: url("../../../assets/icon/academy\ preference.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0rem;
  bottom: 0;
  left: 0.9rem;
}
