#map {width: auto; height: 400px; margin-top: -25px;}
#marker { 
      background-image: url('../../../student/assets/images/academy1.png');
      background-size: cover;
      width: 27px;
      height: 49px;
      cursor: pointer;}
#house { 
    background-image: url('../../../student/assets/images/house1.png');
    background-size: cover;
    width: 27px;
    height: 49px;
    cursor: pointer;}

    img#map-img {
        width: 100px; 
        height: 100px;
    }

body {
	background-color: #F3F8FC;
}

img#student {
	width: 100px; 
	height: auto; 	
}

span#gender {
    margin-left: -10px;
}

span#age {
    margin-left: -10px;
    margin-right: 10px;
}

a#info{
	color: white; 
    border: 2px solid #232159; 
    background-color: #232159;
}

button#submit {
	color: white; 
	background-color: #232159; 
	border: 2px solid #232159;
    align-content: center;
}

button#submit2 {
	color: white; 
	background-color: #232159; 
	border: 2px solid #232159;
}

th#top {
    background-color: #982A72;
    color: white
}

li.fa.fa-check {
    font-size: 12px;
}


