:root {
  --first-color: #232159;
  --second-color: #982a72;
  --third-color: #394893;
  --fourth-color: #a54483;
  --fifth-color: #5d418d;
  --sixth-color: #392b84;
  --seventh-color: #b15391;
  --eighth-color: #4f177d;
  --bg-hr: #e7e7e7;

  --_first-color: #342359;
  --_second-color: #33308c;
  --_second-hover-color: #6663c5;
  --_third-color: #812b8c;
  --_fourth-color: #d977b7;
  --_fifth-color: #0d0d0d;
}

body#body {
  background-color: #f3f8fc;
}

a#student-link {
  color: black;
}

a#student-link:hover {
  color: purple;
}

h5#good {
  color: green;
}

h5#bad {
  color: red;
}

a#previews {
  color: white;
  background-color: #982a72;
  border: 2px solid #982a72;
  font-size: 14px;
}

a#edit2 {
  color: white;
  border: 2px solid #4f177d;
  background-color: #4f177d;
}

a#preview {
  color: black;
  border: 2px solid #232159;
}

a#preview:hover {
  color: white;
  border: 2px solid #232159;
  background-color: #232159;
}

a#edit {
  color: white;
  border: 2px solid #394893;
  background-color: #394893;
}

/*AJAX*/
a.page-link {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  color: #191919;
  margin: 0 0.125rem;
  padding: 0.75rem 1rem;
  position: relative;
}

a.page-link:hover {
  background-color: #815391;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  color: #191919;
}

a.page-link:after {
  border-style: solid;
  border-color: transparent transparent transparent transparent;
  bottom: -0.4375rem;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
  transition: 0.3s ease;
}

li.page-item:first-child a.page-link,
li.page-item:last-child a.page-link {
  border-radius: 0;
}

li.page-item.active a.page-link {
  background-color: #232159;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

li.page-item.active a.page-link:after {
  border-color: white transparent transparent transparent;
}

.mail_reserve {
  color: #232159;
  line-height: 30px;
}

.mail_reserve:hover {
  text-decoration: none;
  color: #232159;
}

.btn__form__reserve {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 0.5rem 0.3rem;
  width: 45%;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
}

.btn:hover {
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.confirm__reserve {
  background-color: var(--room2);
}

.cancel__reserve {
  background-color: var(--room1);
}

.mheight__img {
  max-height: 15rem;
}

:root {
  --room1: #232159;
  --room2: #982a72;
  --room3: #394893;
  --room4: #a54483;
  --room5: #5d418d;
  --room6: #392b84;
  --room7: #b15391;
  --room8: #4f177d;
  --ff: #f8f8f8;
}

.bg-room1 {
  background-color: var(--room1);
}
.bg-room8 {
  background-color: var(--room8);
}

.del-btn {
  background: #982a72;
  color: white;
  margin-right: 2%;
}

.can-btn {
  background: #232159;
  color: white;
}

.rep-btn {
  background: #4f177d;
  color: white;
  margin-right: 2%;
}

dt {
  color: #232159;
}

.focus {
  color: #232159;
}

.input-borderless {
  width: 100%;
  border-top: 0px;
  border-bottom: 2px solid #4f177d;
  border-right: 0px;
  border-left: 0px;
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-decoration: none;
  outline: none;
  display: block;
  padding: 10px 5px;
  margin: 0px 0;
  font-size: 0.9em;
}

.input-borderless::placeholder {
  font-size: 0.8rem;
}

.option {
  color: black;
}

.title-rep {
  padding: 5px;
  color: black;
  border-radius: 8px;
  border-bottom: 2px solid #4f177d;
}

.tittle_rep {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.title_reject {
  text-align: center;
  margin-bottom: 2rem;
}

.reject__div {
  margin: 0;
  width: 100%;
}

.reject__information {
  width: 70%;
  color: #000;
  font-size: 0.8rem;
  line-height: 15px;
  margin: 0 auto;
  text-align: center;
}

.inputs__information {
  display: flex;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  position: relative;
}

.label_reject {
  position: absolute;
  top: -0.8rem;
  font-size: 0.7rem !important;
  font-weight: normal !important;
  color: var(--room1) !important;
}

.back_input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--room1);
  text-align: center;
}

.back_input:focus {
  border: none;
}

.back_input:active {
  border: none;
}

.btn-reject {
  width: 20%;
  padding: 0.2rem 0.1rem;
}

.img_house {
  height: 15rem;
}

table {
  table-layout: fixed;
}

.photo_s,
.gend_s,
.back_s {
  width: 120px;
}

.img_photo_s {
  width: 90px;
  height: 90px;
}

.situ_s {
  width: 130px;
}

.date_s {
  width: 140px;
}

.student_n,
.mail_s {
  width: 200px;
}

.action_s {
  width: 200px;
}

.img_photo_s {
  width: 90px;
  height: 90px;
}

@media (max-width: 767px) {
  .img_photo_s {
    width: 60px;
    height: 60px;
  }

  .photo_s,
  .back_s {
    width: 100px;
  }

  .student_n,
  .mail_s {
    width: 150px;
  }
}

@media (min-width: 1000px) {
  .d-m-before {
    width: 27em !important;
    left: -24em !important;
  }
}

body {
  background-color: #f3f8fc;
}

.container_register {
  width: 100%;
  margin: 0;
  padding: 0;
}

.card__register {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
}

.form__group {
  margin-bottom: 0.5rem;
  position: relative;
}

.form__group__div__photo {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 10rem;
  height: 10rem;
}

.form__group__photo {
  width: 100%;
  height: 100%;
  border-radius: 80px;
  border: 1px dashed #000;
}

.cont_name,
.cont_lname,
.num_conts,
.cell_s {
  width: 95%;
}

.form__group-input {
  border: none;
  padding: 10px 5px;
  padding-bottom: 2px;
  color: #000;
  outline: none;
  border-bottom: 2px solid #982a72;
  border-radius: 0 !important;
}

.form__group-input:hover {
  cursor: not-allowed;
}

.form__group-input:focus {
  border-bottom: 2px solid #bb2929;
}

.form__group-input:active {
  border-bottom: 2px solid #bb2929;
}

.form__group__name {
  margin-top: 1rem !important;
}

.form__group-dates__flight {
  display: flex;
  margin-top: 2rem;
}

.form__group__div-special__diet {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  padding: 0.7rem 1.5rem;
}

.form__group__row-diet {
  display: flex;
  width: 25rem;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.custom-checkbox {
  flex: 0 0 calc(48% - 30px);
}

.custom-checkbox-none {
  flex: 0 0 calc(30% - 30px) !important;
}

.title__special-diet {
  border-bottom: 2px solid #232159;
  padding-bottom: 0.4rem;
  padding-left: 2.5rem;
  width: 100%;
}

.mail,
.password,
.names,
.db,
.gender,
.bl,
.nacionality,
.lang_s,
.type_s,
.firstd,
.lastd,
.n_airline,
.n_flight,
.allergies,
.num_s,
.f_date,
.h_date,
.n_a,
.smoke_s,
.pets,
.food,
.country,
.dir,
.city2,
.state,
.p_code,
.pass {
  width: 100% !important;
}

.allergies {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  background-color: rgb(238, 238, 238);
  padding: 0.5rem 0.5rem;
}

.form__group-title {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

/* Active Res */

.active__res_card {
  position: relative;
}

.form__group-title__col-4 {
  padding: 0.5rem 1rem;
  background-color: var(--_first-color);
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.active_res {
  margin-bottom: 0;
}

.img__house {
  width: 100%;
  height: 17rem;
}

/* .arrow__div {
  position: absolute;
  bottom: 10.5rem;
  left: 1.5rem;
  z-index: 100;
  width: 0;
  height: 0;
  border-right: 7px solid transparent;
  border-top: 10px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 10px solid #f8f8f8;
} */

.details__res_div {
  position: relative;
  bottom: 0;
  margin-top: -2rem;
  width: 100%;
  background-color: #f8f8f8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0.8rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
}

.details__row {
  display: flex;
  justify-content: space-around;
}

.detail {
  text-align: center;
}

.label__details {
  color: #232159;
  padding: 0;
  margin: 0;
}

.text {
  margin: 0;
}

.link__profile-home,
.change-house {
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 0.4rem 0rem;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.5s;
}

.link__profile-home {
  background-color: #394893;
}

.change-house {
  background-color: #4f177d;
  border: none;
}

.link__profile-home:hover,
.change-house:hover {
  color: #fff;
}

.arrow__view {
  margin-left: 0.5rem;
  transition: all 0.5s;
}

.arrow__view-active {
  margin-left: 1rem;
  transition: all 0.5s;
}

/* ----------------------------- */

.information__content {
  padding: 1rem 1.5rem;
  padding-bottom: 2rem;
}

.subtitle__section-card {
  width: 90%;
  margin: auto auto;
  color: #232159;
  border-bottom: 2px solid #e8e8e8;
  font-weight: 500;
  font-size: 1.4rem;
  padding-left: 1rem;
  display: flex;
  position: relative;
}

.form__group-basic-content {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.form__group__btn-send {
  margin-right: 1rem;
}

.form__btn {
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  background-color: #232159;
  border: none;
  color: #fff;
  font-size: 1.05rem;
  transition: all 0.25s;
}

.form__btn:hover {
  background-color: #4f177d;
}

.form__group-f_date {
  margin-top: 1.5rem;
}

.form__group__visa {
  margin-top: 2rem;
}

.btns__options {
  display: flex;
  justify-content: space-between;
}

.btn__op {
  width: 47%;
  text-align: center;
  color: #fff;
  padding: 0.5rem 0.1rem;
  border-radius: 6px;
}

.btn__op:hover {
  color: #fff;
}

.assignation__hom {
  background-color: #982a72;
}

.assignation__hom:hover {
  background-color: var(--room4);
}

.assignation__edit {
  background-color: #232159;
}

.assignation__edit:hover {
  background-color: var(--room3);
}

/* ------------------------------- */

.form__group__input-error {
  margin-bottom: 0;
  font-size: 12px;
  display: none;
  line-height: 15px;
  color: #bb2929;
  width: 85%;
}

.form__group__input-error-active {
  display: block;
}

.form__message {
  display: none;
}

.form__message p {
  margin: 0;
}

.form__message-active {
  display: block;
}

.form__message-sucess {
  color: green;
  font-size: 14px;
  display: none;
}

.form__message-sucess-active {
  display: block;
}

.form__group-correct .form__validate-state {
  color: #1ca827;
  opacity: 1;
}

.form__group-correct .form__group-input {
  border-bottom: 2px solid #1ca827;
}

.form__group-correct .form__label {
  color: #1ca827;
}

.form__group-incorrect .form__label {
  color: #bb2929;
}

.form__group-incorrect .form__validate-state {
  color: #bb2929;
  opacity: 1;
}

.form__group-incorrect .form__group-input {
  border-bottom: 2px solid #bb2929;
}

.label__name {
  position: absolute;
  top: -0.5rem;
  left: 2rem;
  font-weight: 400 !important;
  color: #232159;
}

.btn__pdf-student {
  background-color: #232159;
}

.btn__pdf-student:hover {
  background-color: #232159;
  color: #fff;
}

.btn__edit-profile,
.btn__edit-assignment,
.btn__about-student,
.btn__pdf-student {
  color: #fff;
  width: 14.5rem;
  padding: 0.5rem 0.8rem;
}

.btn__edit-profile:hover {
  background-color: #4f177d;
  color: #fff;
}

.btn__edit-profile {
  background-color: #4f177d;
}

.btn__edit-assignment {
  background-color: #392b84;
}

.btn__edit-assignment:hover {
  background-color: #392b84;
  color: #fff;
}

.btn__about-student {
  background-color: #982a72;
}

.btn__about-student:hover {
  background-color: #982a72;
  color: #fff;
}

/* -----------------------------------------*/

/*-------------- Gallery --------------------*/

.add-photo {
  height: 10.7em;
  width: 15em;
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  border: 2px dashed #c2c2c2;
}

.add-photo:hover {
  transition: all 0.5s;
  background: #c2c2c2;
  cursor: pointer;
  color: #4f177d;
}

.add-photo-i {
  position: absolute;
  margin: 0;
  right: 1.5rem;
  background-color: #982a72;
  color: #fff;
  border-radius: 60px;
  padding: 0.8rem 0.8rem;
  bottom: 0;
}

.add-photo-i:hover {
  background: white;
  transition: all 0.5s;
  cursor: pointer;
  color: #4f177d;
}

.photo-add {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  border-radius: 80px;
  padding-left: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__group-l_title {
  margin: 0;
  color: #4f177d;
}

.photo-add:hover {
  cursor: pointer;
  transition: all 0.2s;
  background-color: #e0e0e0;
}

.vegetarians {
  justify-content: justify !important;
}

.form__group__btn-send {
  margin-top: 1rem;
  padding: 0rem 0rem;
}

.form__btn {
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  background-color: #232159;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  transition: all 0.25s;
  width: 16rem;
}

.form__btn:hover {
  background-color: var(--room3);
}

.confirm_changes {
  background-color: #982a72;
}

.confirm_changes:hover {
  background-color: var(--room4);
}

.form__group-f_date {
  margin-top: 1.5rem;
}

.message__res {
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 500 !important;
  color: rgb(175, 3, 3);
  font-size: 20px !important;
}

.calc__weeks {
  width: 100%;
  text-align: center;
  color: #232159;
}

.message__aut {
  text-align: center;
  color: #000;
  width: 90%;
  margin: auto auto;
}

.suboption {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.form__group__div__photo__visa {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  height: 10rem;
  justify-content: center;
}

.form__group__photo__visa {
  width: 100%;
  height: 100%;
  align-content: center !important;
}

.visa-add {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  padding-left: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #000;
  border-radius: 8px;
}

.photo-add:hover,
.visa-add:hover {
  cursor: pointer;
  transition: all 0.2s;
  background-color: #e0e0e0;
}

.form__group-l_title_files {
  margin: 0;
  color: #4f177d;
  position: absolute;
  top: 58.5%;
  opacity: 0.8;
}

.subtitle__card {
  width: 90%;
  margin: auto auto;
  color: #232159;
  border-bottom: 2px solid #e8e8e8;
  font-weight: 500;
  font-size: 1.4rem;
  padding-left: 1rem;
  display: flex;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* TODO INVOICE / PRICE */

.form__group-invoice {
  justify-content: center;
}

.form__group-invoice button {
  background-color: #394893;
  color: #fff;
  outline: none;
}

#table_invoice .price__invoice {
  text-align: end;
  font-weight: 500;
}

#table_invoice td {
  font-weight: 600 !important;
  color: #232159;
}

#table_invoice .t_head_pay:first-child {
  text-align: left;
}

#table_invoice tbody > tr > th:first-child {
  text-align: left;
}

#table_invoice .name__invoice {
  text-align: end;
}

/* TODO RESERVATION REQUEST CARD */

.house-request {
  transition: 300ms ease all;
}

.house-request:hover {
  transform: scale(1.01);
}

.house-container {
  position: relative;
}

.house-container img {
  width: 100%;
  height: 10rem;
  max-height: 10rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.house-container img:hover {
  cursor: pointer;
}

.house-container .house-details {
  position: relative;
  margin-top: 1rem;
}

.house-container .house-details > article {
  margin-bottom: 1rem;
}

.house-container .house-details > article p {
  margin: 0;
  color: #000;
}

.house-container .house-details > article p:first-child {
  font-weight: bold;
  color: #232159 !important;
}

.house-container .house-details > article p:last-child {
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 500;
}

.house-container .house-details > article p:last-child:hover {
  color: #232159;
}

/* TODO: MODAL OF THE RESERVATION */

.modal__reserve {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999 !important;
  background-color: rgb(0, 0, 0, 0.4);
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.modal__div {
  border: 1px solid var(--bg-1);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 7px 14px -4px var(--bg-1);
  -webkit-box-shadow: 0px 7px 14px -4px var(--bg-1);
  -moz-box-shadow: 0px 7px 14px -4px var(--bg-1);
  position: fixed;
  opacity: 1 !important;
}

.modal__div__reservation {
  width: 50rem;
  height: 38rem;
}

.modal__header {
  padding: 0.8rem;
  padding-right: 1rem;
}

.modal__footer {
  padding: 0.2rem;
  padding-right: 1rem;
}

/* TODO ----------------------------------- MODAL HEADER -------------------------------------- */

.modal__header {
  border-bottom: 1px solid var(--bg-hr);
}

.title__modal-header {
  margin-bottom: 0;
  padding-left: 0.5rem;
  font-weight: 500;
  font-size: 18px;
}

.btn__close-modal {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
}

.btn__close-modal:hover {
  color: #232159;
}

/* TODO ----------------------------------- MODAL BODY ------------------------------------------ */

.modal__body {
  height: 31.5rem;
}

/* TODO SECTION DATE / REASON TO CHANGE */

.change-details {
  scroll-behavior: smooth;
  border-bottom: 1px solid #e7e7e7;
  height: 37%;
  transition: all 0.5s;
}

.change-details div {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.change-details .date-change-container article {
  position: relative;
  display: block;
}

.change-details .date-change-container .input-date-change {
  width: 65%;
  padding: 0.5rem;
  padding-left: 2.5rem;
  margin-top: 2rem;
}

.change-details .date-change-container label {
  position: absolute;
  top: 0.2rem;
}

.change-details .reason-date-change .textarea-change-reserve {
  width: 100%;
  padding: 0.5rem;
  resize: none;
}
.change-details .date-change-container .input-date-change,
.change-details .reason-date-change .textarea-change-reserve {
  border-radius: 8px;
  background-color: #eee;
  border: 1px solid #999;
  outline: none;
}
.change-details .date-change-container .input-date-change:focus,
.change-details .reason-date-change .textarea-change-reserve:focus {
  border: 1px solid #4f177d;
}

/* TODO FIELD SEARCH */

.div__search-input {
  width: 100%;
  height: 10%;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid var(--bg-hr);
  position: relative;
  transition: all 0.5s;
}

.search__input {
  background-color: var(--bg-hr);
  width: 100%;
  border-radius: 12px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.7rem;
  border: none;
  outline: none;
}

/* TODO LIST HOUSES */

.modal__body ul {
  list-style: none;
  padding: 1rem 1rem 0rem 1rem;
  margin-bottom: 0;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #f3f8fc;
  height: 53%;
  transition: all 0.5s;
}

/* .modal__body ul.list_houses-scroll-0 {
  height: 17rem;
}

.modal__body ul.list_houses-scroll-1 {
  height: 28.3rem;
} */

/* .change-details-show {
  height: 12rem;
}

.change-details-hide {
  height: 0rem;
} */

/* TODO STUDENT LIST */

.students__details {
  border-bottom: 1px solid var(--bg-hr);
  padding: 0;
}

.students__details label {
  font-weight: 500;
  font-size: 15px !important;
}

.header__list-students {
  background-color: #e9e9e9;
  border-bottom: 1px solid #e7e7e7;
}

.title__list-student {
  color: #000;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.label__select-student * {
  pointer-events: none;
}

.label__select-student {
  padding: 10px 30px;
  margin-bottom: 0;
  cursor: pointer;
}

.students__details:hover {
  background-color: #f3f8fc;
}

/* TODO STUDENT IMAGE */

.div_img_student {
  width: 70px;
  height: 70px;
  max-width: 70px;
  max-height: 70px;
}

.img__student {
  width: 100%;
  height: 100%;
}

.names__students {
  padding-left: 1rem;
}

.names__students,
.dates__students {
  margin-bottom: 0;
  color: #000;
}

.div__no_student {
  position: relative;
  padding: 1rem 0rem;
}

.img__no_student {
  width: 50%;
  height: 250px;
  margin-bottom: 2rem;
}

.house-beds {
  height: 10rem;
  overflow-y: auto;
  margin: auto auto;
}

.text__no_student {
  position: absolute;
  width: 50%;
  bottom: 0rem;
  font-size: 18px;
  font-weight: bold;
  color: #232159;
  text-align: center;
  line-height: 25px;
}

.img-empty {
  width: 9rem;
}

.text-not-room {
  font-size: 1rem !important;
  color: #000;
  font-weight: 500;
  margin-top: 0.5rem;
}

/* TODO BUTTON ROOM */

.rooms-container {
  border: none;
  width: 100%;
  padding: 0.1rem 0.4rem;
  background-color: transparent;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.rooms-container:last-child {
  border-bottom: none;
}

.rooms-container span {
  margin-left: 0.2rem;
  transition: all 0.5s;
}

.rooms-container:hover span {
  margin-left: 0.8rem;
}

#beds {
  transition: all 0.5s;
}

/* ? CHECKBOX */

.checkbox__filter {
  position: absolute !important;
  opacity: 0 !important;
  cursor: pointer !important;
  pointer-events: none !important;
}

.checkbox__filter ~ label svg {
  fill: none;
  padding: 5px;
  border-radius: 0.5rem;
  border: 1px solid #999;
  color: #fff;
  height: 24px;
  width: 24px;
  stroke: currentcolor;
  stroke-width: 4px;
  overflow: visible;
  margin-top: 0.15rem;
}

.checkbox__filter:checked ~ label svg {
  background: var(--third-color);
  border: 1px solid var(--third-color);
}

.checkbox__filter ~ label p {
  color: #000;
}

/* TODO SECTION HOUSE LIST */

.houses {
  width: 72%;
}

.section__houses_list {
  opacity: 1;
  width: 100%;
  min-height: 50vh;
  transition: 300ms ease all;
}

.card-house {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 15rem;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: 300ms ease all;
}
.card-house:hover {
  transform: scale(1.01);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-house .card-header {
  width: 50%;
  position: relative;
}
.card-house .card-header > label {
  color: #fff;
  font-weight: lighter;
  font-size: 120%;
  background-color: var(--third-color);
}
.card-house .card-header > img {
  width: 100%;
  height: 18rem;
  overflow: hidden;
  object-fit: fill;
  position: relative;
}
.card-house .card-header::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: 999;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
}
.card-house .card-header > div {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 999;
  font-size: 80%;
  padding: 0px 0.5rem;
  border-radius: 5px;
  backdrop-filter: blur(1.5px);
  box-shadow: 0px 0px 4px 2px rgba(34, 34, 34, 0.25);
  background-color: rgba(255, 255, 255, 0.85);
}
.card-house .card-body {
  font-size: 90%;
  position: unset;
  transition: ease all 300ms;
}
.card-house .main-information {
  width: 100%;
  transition: ease all 300ms;
}
.card-house .main-information label {
  cursor: pointer;
  border-radius: 5px;
  transition: ease all 300ms;
}
.card-house .main-information label:hover {
  background-color: rgba(0, 0, 0, 0.025);
}
.card-house .main-information label span svg {
  width: 24px;
  height: 24px;
  fill: none;
  padding: 5px;
  border-radius: 0.5rem;
  border: 1px solid #999;
  color: #eee;
  stroke: currentcolor;
  stroke-width: 4px;
  overflow: visible;
}

.card-house .main-information label input:checked ~ span svg {
  background: rgb(34, 180, 78);
  border: 1px solid rgb(34, 180, 78);
}

.card-house .div__buttons_actions {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
}

.card-house .div__buttons_actions a {
  margin: 0;
  border: none;
  width: 50%;
  padding: 0.5rem 0;
  color: #fff;
  transition: all 0.3s;
  text-align: center;
}

.card-house .div__buttons_actions a:first-child {
  background-color: var(--first-color);
}

.card-house .div__buttons_actions a:first-child:hover {
  background-color: var(--third-color);
}

.card-house .div__buttons_actions a:last-child {
  background-color: var(--eighth-color);
}

.card-house .div__buttons_actions a:last-child:hover {
  background-color: var(--fifth-color);
}

/* TODO COLOR STYLE P */

.type-bed {
  padding: 0rem 0.4rem !important;
  border-radius: 4px;
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.type-bed-available {
  background-color: #1ca827 !important;
  color: #fff !important;
}

.type-bed-occupied {
  background-color: #bb2929 !important;
  color: #fff !important;
}

/* TODO DATERANGE PICKER */

.cancelBtn {
  width: 25% !important;
  background-color: #982a72;
}

.applyBtn {
  width: 25% !important;
  background-color: #232159;
  border: 1px solid #232159;
}

.applyBtn:hover {
  background-color: #394893;
  border: 1px solid #394893;
}

/* TODO INPUT ERROR */
.input-error {
  border: 1px solid #bb2929 !important;
}
.input-error::placeholder {
  color: #bb2929 !important;
  font-weight: 500;
  opacity: 1;
}
.input-error ~ label {
  color: #bb2929 !important;
}

/* TODO ------------------------------------ MODAL FOOTER --------------------------------------- */

.modal__footer {
  border-top: 1px solid var(--bg-hr);
}

.btn__add-reservation {
  background-color: var(--room1);
  color: #fff;
  width: 9rem;
  margin-right: 1rem;
}

/* TODO LABELS */

.label__search {
  color: var(--room3);
  position: absolute;
  top: 1.2rem;
  left: 1.7rem;
}

/* TODO SPIN */

.style__child * {
  display: none;
}

.btn_none {
  display: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 1s all;
  opacity: 0;
}
.loading.show {
  opacity: 1;
}
.loading,
.spin {
  border: 3px solid #d4bbff;
  border-top-color: #4f177d;
  border-radius: 60px;
  width: 2em;
  height: 2em;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*------------------ POP UP -----------------*/

#house_much,
#house_ass {
  color: rgb(179, 40, 40);
  width: 20%;
  background-color: #f8f7f7;

  border-radius: 8px;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 1000 !important;
  box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
}

.content_popup {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  line-height: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
}

#close,
#close2 {
  font-size: 12px;
  font-weight: bold;
}

#close:hover {
  color: #232159;
}

.close_div {
  float: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.btn-divs {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.back_panel {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 50px;
  background-color: #394893;
  color: #fff;
  border-radius: 4px;
  font-size: 17px;
  width: 28%;
}

.back_panel:hover {
  color: #fff;
}

/*---------------- Labels ------------------*/

/* TODO LABEL PRICE */

.label__price {
  left: 0rem;
  right: 0.5rem;
}

.form__label {
  position: absolute;
  left: 2rem;
  top: -0.3rem;
  font-size: 13px !important;
  color: #232159;
  font-weight: 500 !important;
  line-height: 15px;
}

.allergies_l {
  top: -1.2rem !important;
  left: 0.5rem !important;
}

.smoker,
.pets_l {
  left: 2.3rem !important;
}

.visa {
  top: -2.2rem !important;
  left: -1.5rem;
}

/* --------------- Icons -----------------*/

.icon {
  position: absolute;
}

.names,
.mail,
.password,
.num_s,
.n_airline,
.n_flight,
.f_date,
.h_date,
.cont_name,
.cont_lname,
.num_conts,
.cell_s,
.db,
.gender,
.nacionality,
.city,
.pass,
.bl,
.visa,
.lang_s,
.type_s,
.firstd,
.lastd,
.smoke_s,
.pets,
.food,
.country,
.dir,
.city2,
.state,
.p_code,
.pass {
  padding-left: 2rem !important;
}

.n_a {
  padding-left: 1.8rem !important;
}

.allergies {
  width: 90%;
}

.form__group__icon-input {
  display: flex;
  position: relative;
}

.f_date,
.h_date,
.bl,
.db {
  padding-right: 0;
}

.icon__names {
  content: url("../../../assets/icon/profile.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.5rem;
  bottom: 0;
  left: 0rem;
}

.icon__mail {
  content: url("../../../assets/icon/email.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.6rem;
  bottom: 0;
  left: 0rem;
}

.icon__password {
  content: url("../../../assets/icon/password.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.4rem;
  bottom: 0;
  left: 0rem;
}

.icon__num_s {
  content: url("../../../assets/icon/main\ contact\ 64.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.4rem;
  bottom: 0;
  left: 0rem;
}

.icon__n_airline {
  content: url("../../../assets/icon/flight.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.5rem;
  bottom: 0;
  left: 0rem;
}

.icon__n_flight {
  content: url("../../../assets/icon/flight_number.png");
  width: 1.9rem;
  height: 1.9rem;
  top: 0.3rem;
  bottom: 0;
  left: 0rem;
}

.icon__date {
  content: url("../../../assets/icon/calendar.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__gender {
  content: url("../../../assets/icon/gender.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.7rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__nacionality {
  content: url("../../../assets/icon/user\ profile.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.7rem;
  bottom: 0;
  left: 0.3rem;
}

/* .icon__status {
  content: url("../../../assets/icon/user profile.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.7rem;
  bottom: 0;
  left: 0.3rem;
} */

.icon__city {
  content: url("../../../assets/icon/user\ profile.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.7rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__visa {
  content: url("../../../assets/icon/user\ profile.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.2rem;
  bottom: 0;
  left: -2rem;
}

.icon__pass {
  content: url("../../../assets/icon/passport.png");
  width: 1.9rem;
  height: 1.9rem;
  top: 0.3rem;
  bottom: 0;
  left: 0rem;
}

.icon__bl {
  content: url("../../../assets/icon/calendar.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__n_a {
  content: url("../../../assets/icon/academy\ preference.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.6rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__smoke_s {
  content: url("../../../assets/icon/smokers.png");
  width: 1.6rem;
  height: 1.6rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__pets {
  content: url("../../../assets/icon/pets\ 64.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.4rem;
  bottom: 0;
  left: 0.1rem;
}

.icon__food {
  content: url("../../../assets/icon/diet.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.4rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__allergies {
  content: url("../../../assets/icon/allergies.png");
  width: 2rem;
  height: 2rem;
  top: 0.2rem;
  bottom: 0;
  left: 0rem;
}

.icon__allergies2 {
  content: url("../../../assets/icon/allergies2.png");
  width: 1.6rem;
  height: 1.6rem;
  top: 0.4rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__diet {
  content: url("../../../assets/icon/diet.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__dir {
  content: url("../../../assets/icon/location\ 64.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.4rem;
  bottom: 0;
  left: 0rem;
}

.icon__drinks_alc {
  content: url("../../../assets/icon/drink_al.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.6rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__drugs {
  content: url("../../../assets/icon/drugs.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__prog_selec {
  content: url("../../../assets/icon/years_exp.png");
  width: 1.9rem;
  height: 1.9rem;
  top: 0.3rem;
  bottom: 0;
  left: 0rem;
}

.icon__children {
  content: url("../../../assets/icon/family.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__lodging {
  content: url("../../../assets/icon/bed.png");
  width: 1.9rem;
  height: 1.9rem;
  top: 0.3rem;
  bottom: 0;
  left: 0rem;
}

.icon__about_me {
  content: url("../../../assets/icon/basic\ information\ 64.png");
  width: 1.9rem;
  height: 1.9rem;
  top: 0.2rem;
  bottom: 0;
  left: 0.6rem;
}

.icon__relation {
  content: url("../../../assets/icon/family.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.4rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__calendar {
  content: url("../../../assets/icon/calendar.png");
  width: 1.5rem;
  height: 1.4rem;
  top: 2.5rem !important;
  bottom: 0;
  left: 4.8rem;
}

/*------------------ POP UP -----------------*/

#house_much,
#house_ass {
  color: rgb(179, 40, 40);
  width: 20%;
  background-color: #f8f7f7;

  border-radius: 8px;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 100;
  box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
}

.content_popup {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  line-height: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
}

#close,
#close2 {
  font-size: 12px;
  font-weight: bold;
}

#close:hover {
  color: #232159;
}

.close_div {
  float: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.btn-divs {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.back_panel {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 50px;
  background-color: #394893;
  color: #fff;
  border-radius: 4px;
  font-size: 17px;
  width: 28%;
}

.back_panel:hover {
  color: #fff;
}

/*-------------------------------------------*/

@media (min-width: 320px) and (max-width: 767px) {
  .column-2 {
    padding-right: 0;
  }
  .column-1 {
    padding-right: 0;
  }

  .form__label {
    font-size: 11px !important;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .form__group__row-diet {
    width: 19rem;
  }

  .custom-control-label {
    font-size: 13px !important;
  }

  .custom-checkbox {
    flex: 0 calc(50% - 2px);
  }

  .form__group__div-special__diet {
    padding: 0.7rem 0.5rem;
  }
}

@media (min-width: 500px) and (max-width: 575px) {
  .form__group__row-diet {
    width: 19rem;
  }

  .custom-control-label {
    font-size: 13px !important;
  }

  .custom-checkbox {
    flex: 0 0 calc(48% - 2px);
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .visa {
    left: 0;
  }

  .information__content-col-8 {
    padding: 1rem 0rem;
  }
}

@media (min-width: 300px) {
  .city {
    margin-top: 1rem;
    width: 100%;
  }

  .visa {
    margin-top: 1rem;
  }

  .form__group__healt_s {
    margin-top: 2rem;
  }

  .form__group__lang_s,
  .form__group__type_s,
  .form__group__lastd,
  .form__group__div-special__diet,
  .form__group__nacionality,
  .form__group__pass,
  .form__group__language_a,
  .form__group__exp_pass,
  .form__group__bl,
  .form__group__allergy_a,
  .form__group__allergy_m,
  .form__group__disease,
  .form__group__preference,
  .form__group__english_l,
  .form__group__prog_selec,
  .form__group__schedule,
  .form__group__about_me {
    margin-top: 1rem;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form__label {
    font-size: 12px !important;
  }

  .icon__date {
    width: 1.2rem;
    height: 1.2rem;
    top: 0.8rem;
  }

  .f_date,
  .h_date {
    padding-left: 1.7rem !important;
  }
}

@media (min-width: 767px) and (max-width: 1300px) {
  .card__register {
    width: 100%;
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  .card__register {
    width: 95%;
  }
}

/* TODO RESPONSIVE CARDS */

@media (min-width: 320px) and (max-width: 575px) {
  .section__houses_list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 450px) and (max-width: 575px) {
  .section__houses_list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 575px) and (max-width: 900px) {
  .section__houses_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 320px) {
  /* .card-house {
    height: 34rem;
  } */

  .houses {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 575px) {
  .houses {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 767px) {
  .card-house {
    height: 15rem;
  }
  .card-house .card-header {
    width: 20rem;
  }
  .card-house .card-header > img {
    height: 40rem !important;
  }
  .card-house .card-body {
    position: relative;
  }

  .houses {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 320px) and (max-width: 410px) {
  .modal__div__reservation {
    width: 310px;
    height: auto;
  }
  .modal__body {
    max-height: 28rem;
  }
  .icon__calendar {
    left: 1.5rem;
  }
  .label__search {
    top: 1.35rem;
    left: 2.5rem;
  }
}

@media (min-width: 410px) and (max-width: 575px) {
  .modal__div__reservation {
    width: 400px;
  }
  .icon__calendar {
    left: 2rem;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .modal__div__reservation {
    margin-top: 4rem;
  }
  .modal__body {
    overflow: auto;
  }
  .change-details {
    height: 58%;
  }

  .input-date-change {
    width: 90% !important;
  }
  .reason-date-change article {
    margin: auto auto;
    width: 90%;
  }
  .div__search-input {
    text-align: center;
    height: 13%;
  }

  .search__input {
    width: 94%;
    font-size: 14px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 1.7rem;
    border: 1px solid #999;
  }

  .modal__body ul {
    height: 80%;
  }

  /* ----------------- */
  .ul__list-students {
    margin-top: 1rem;
  }
  .card-house {
    height: 35rem;
  }
  .card-house .card-header {
    width: 100% !important;
  }
  .card-house .card-header > img {
    height: 18rem;
  }
  .card-house .card-header > div {
    font-size: 12px;
  }

  .card-house .name_house {
    font-size: 14px;
  }
  .type-bed-occupied {
    margin-left: 31px;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .modal__div__reservation {
    width: 40rem;
  }
  .modal__body {
    overflow: auto;
  }
  .change-details {
    height: 35%;
  }

  .icon__calendar {
    left: 3.2rem;
  }
  .label__search {
    left: 2rem;
  }
  .div__search-input {
    height: 11%;
  }
  .modal__body ul {
    height: 70%;
  }
  .card-house {
    width: 75%;
    height: 35rem;
  }
  .card-house .card-header {
    width: 100%;
  }
  .card-house .card-header > img {
  }

  .card-house .card-header > div {
    font-size: 12px;
  }

  .card-house .name_house {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  .card-house {
    max-width: 50rem;
    height: 15rem;
  }
  .card-house .card-header {
    width: 25rem;
  }
  .card-house .card-header > img {
    height: 30rem;
  }
  .card-house .card-body {
    position: relative;
  }

  .section__directory {
    width: 90%;
  }
}
