:root {
  --room1: #232159;
  --room2: #982a72;
  --room3: #394893;
  --room4: #a54483;
  --room5: #5d418d;
  --room6: #392b84;
  --room7: #b15391;
  --room8: #4f177d;
  --ff: #f8f8f8;

  --first-color: #342359;
  --second-color: #33308c;
  --second-hover-color: #6663c5;
  --third-color: #812b8c;
  --fourth-color: #d977b7;
  --fifth-color: #0d0d0d;
}

/* TODO WINYERSON */
/**-------------CUSTOM PROPERTIES-------------**/
:root {
  --first-color: #232159;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: rgba(57, 43, 132);
  --title-color: #333;
  --text-color: #222;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: #222;
}
/* ? MAP */
#map {
  height: 300px !important;
  border: 4px solid var(--six-color);
  border-radius: 2.5px;
}
#house-area-4-container {
  margin-top: 5rem;
}
#bathroom-4-container {
  margin-top: 0;
}
#iframe-pdf {
  width: 400px;
  height: 300px;
}
#beds-container {
  height: auto;
}

/* ? PHOTO GALLERY */
.gallery-photo-container {
  width: 250px;
  height: 220px !important;
  border-radius: 3%;
  position: relative;
  pointer-events: all;
  opacity: 1;
  transition: 300ms ease all;
  overflow: visible;
}
.gallery-photo-container.hide {
  pointer-events: none;
  height: 10px;
  margin: 0 !important;
  overflow: hidden;
  opacity: 0;
  position: absolute;
}
.gallery-photo-container * {
  transition: 300ms ease all;
}
.gallery-photo-container > h4 {
  position: absolute;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  bottom: 100%;
  overflow: unset;
  text-shadow: 2px 2px 6px #000;
  background: var(--six-color);
}
.gallery-photo-container > label {
  position: relative;
  cursor: pointer;
}

.gallery-photo-container > label * {
  pointer-events: none;
}
.gallery-photo-container > label i {
  width: 100%;
  position: absolute;
  top: 50%;
  color: #fff;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 6px #000;
  backdrop-filter: blur(10px);
  opacity: 0;
}
.gallery-photo-container > label:hover i {
  color: #fff;
  opacity: 1;
}
.gallery-photo-container > label:hover .gallery-photo {
  opacity: 0.2;
}
.gallery-photo-container > label:hover .no-image {
  opacity: 0.35;
}
.no-image,
.gallery-photo {
  border-radius: 3%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  height: 220px !important;
}

.add-photo-btn {
  width: 50px;
  height: 50px;
  outline: none;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  border: 2.5px dashed var(--four-color);
  transition: 300ms ease all;
  background: transparent;
  margin-top: 0rem;
  transform: translateX(0);
}
.add-photo-btn:hover {
  transform: translateX(0) scale(1.2);
}

/* ? ADDITIONAL INFORMATION */
.special-diet {
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5%;
  background: #f8f8f8 !important;
}
.special-diet :is(input, label) {
  cursor: pointer;
}
.special-diet label {
  border-radius: 6px;
  padding: 0.25rem 0.5rem !important;
  width: 150px;
  margin-left: 0.25rem !important;
  transition: 300ms ease all;
}
.special-diet label:hover {
  background-color: rgba(0, 0, 0, 0.025);
}

.responses {
  overflow: hidden;
  height: 1rem;
  opacity: 0;
}
.responses,
.responses * {
  transition: 300ms ease all;
}
.responses.show {
  height: 100%;
  opacity: 1;
}
.responses > div:nth-of-type(1),
.responses > div:nth-of-type(2),
.responses > div:nth-of-type(3) {
  opacity: 0;
}
.responses.show.response-1 > div:nth-of-type(1),
.responses.show.response-2 > div:nth-of-type(2),
.responses.show.response-3 > div:nth-of-type(3) {
  opacity: 1;
}

.pet-response {
  overflow: hidden;
  height: 1rem;
  opacity: 0;
}
.pet-response,
.pet-response * {
  transition: 300ms ease all;
}
.pet-response.show {
  opacity: 1;
  height: 100%;
}
.pet-response .total-pets,
.pet-response .type-of-pet,
.pet-response .specify-type-pet {
  opacity: 0;
}
.pet-response.show.response-1 .total-pets,
.pet-response.show.response-2 .type-of-pet,
.pet-response.show.response-3 .specify-type-pet {
  opacity: 1;
}

.btn-add-family-member {
  color: #fff;
  font-weight: bold;
  font-size: 85%;
  text-shadow: 2px 2px 4px #000;
  box-shadow: none !important;
  background-color: var(--four-color);
  transition: 300ms ease all;
}
.btn-add-family-member:hover {
  opacity: 0.75;
}
.btn-add-family-member:active {
  opacity: 0.55;
}

.delete-member {
  bottom: 5rem;
  right: 7rem;
  position: absolute;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
  padding: 5px 1rem !important;
  border-radius: 0.5rem !important;
  cursor: pointer;
  color: #222;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 55, 55, 0.4);
  transition: 300ms ease all;
}
.delete-member:hover {
  box-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 55, 55, 0.3);
}

.reason {
  overflow: hidden;
  opacity: 0;
  height: 0px;
  transition: all 300ms ease;
}
.reason.show {
  opacity: 1;
  height: 220px;
  margin-bottom: 4rem;
}
.reason textarea {
  width: 100%;
  resize: none;
}
.reason button {
  width: 100%;
}

.final-buttons button {
  font-size: 100%;
  font-weight: bold;
}
.ts-btn-arrow::after {
  margin-left: 0.25rem !important;
}

@media screen and (min-width: 992px) {
  /* ? MAP */
  #map {
    height: 100% !important;
  }
  #house-area-4-container,
  #bathroom-4-container {
    margin-top: 5rem;
    transform: translateX(1.5rem);
  }
  #iframe-pdf {
    width: 500px;
  }
  #beds-container {
    height: 480px;
  }

  .add-photo-btn {
    margin-left: 6rem;
  }
  .fix-area-4 {
    margin-top: 0rem;
    transform: translateX(1.5rem);
  }
  .fix-bathroom-4 {
    margin-top: 5rem;
    transform: translateX(1.5rem);
  }
  .fix-width-pdf {
    width: 400px !important;
  }
  .reason.show {
    height: 260px;
  }
  .reason textarea {
    width: 50%;
  }
  .reason button {
    width: 50%;
  }
}

body {
  background-color: #f3f8fc;
  font-family: Arial, Helvetica, sans-serif;
}

.container__title {
  width: 70%;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.title__edit {
  font-size: 2.5rem;
}

.card-main {
  max-width: 1100px;
  border: none;
  margin: auto;
  display: flex;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 2rem;
  border: 1px solid var(--room1);
  box-shadow: 0px 9px 14px -5px var(--room1);
  -webkit-box-shadow: 0px 9px 14px -5px var(--room1);
  -moz-box-shadow: 0px 9px 14px -5px var(--room1);
}

.form__group-house_in {
  width: 100%;
}

.form__target-header {
  top: 0;
  width: 100%;
  margin: 0;
  background-color: var(--first-color);
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffffff;
  margin-bottom: 4rem;
  padding: 5px 0;
}

.title_target {
  padding-left: 3rem;
  vertical-align: middle;
  margin: 0;
  padding-bottom: 0;
}

.title__group-section {
  width: 90%;
  color: var(--room1);
  margin: 0 auto;
  border-bottom: 2px solid #e8e8e8;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 4rem;
  font-weight: normal !important;
}

.form__group__row_box {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
}

.form__group {
  margin-bottom: 1.5rem;
}

.form__group-h_name {
  position: relative;
  border: none;
  display: block;
}

.form__group-hinf {
  display: flex;
  position: relative;
  justify-content: center;
}

.form__group-input {
  padding: 15px 30px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid var(--room1);
  outline: none;
  font-size: 0.95rem;
  position: relative;
  background-color: transparent;
  color: #000;
  width: 100%;
}

.mname,
.lmname,
.dateb,
.rooms {
  width: 100% !important;
}

.rooms {
  text-align: center;
}

.form__group-input::placeholder {
  color: #363636;
}

.form__group-city,
.form__group-state,
.form__group-pcode {
  margin-top: 2rem;
}

.end_div {
  margin-bottom: 5rem;
}

.tarjet,
.tarjet3,
.wrap-div {
  width: 15rem;
}

.form__group-description_div {
  width: 100%;
  margin: 0 auto;
  margin-top: -2rem;
  margin-bottom: 5rem;
}

.form__group-description {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.description {
  width: 100%;
  background-color: rgb(231, 231, 231);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 5px 10px;
  border-bottom: 2px solid #4f177d;
}

.form__group-preferences {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
}

.form__group-academy {
  position: relative;
}

.form__group-gender {
  position: relative;
}

.form__group-age {
  position: relative;
}

.form__group-diet,
.form__group-pets {
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 0px 5px -8px var(--room1);
  -webkit-box-shadow: 0px 0px 8px -5px var(--room1);
  -moz-box-shadow: 0px 0px 8px -5px var(--room1);
}

.title__group-preference {
  width: 90%;
  color: var(--room1);
  margin: 0 auto;
  border-bottom: 2px solid var(--room3);
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  padding-left: 2.5rem;
  margin-bottom: 2rem;
  font-weight: normal !important;
}

.form__group-diet-in,
.form__group-pets-in {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.custom-checkbox-none {
  margin: 0 auto;
}

.custom-checkbox-pets {
  left: 3rem;
}

.form__group-npets {
  flex: 0 0 calc(40% - 30px);
}

.custom-checkbox {
  flex: 0 0 calc(48% - 30px);
}

.custom-checkbox-none {
  flex: 0 0 calc(30% - 30px);
}

.custom-checkbox-dog {
  flex: 0 0 calc(10% - 30px);
}

.custom-checkbox-pets {
  left: 3rem;
}

.form__group-others {
  flex: 0 0 calc(40% - 7px);
}

.form__group-row {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.form__location {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5rem;
  justify-content: space-around;
}

.mgender,
.alter_phone,
.db_law {
  width: 100%;
}

.margin-t {
  margin-top: -2rem !important;
}

.form__group-row2 {
  display: block;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.add__family {
  border: none;
  color: var(--room1);
  background-color: transparent;
}

.member1 {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form__group-save {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 6rem;
  padding-top: 2rem;
  border-top: 2px solid #e8e8e8;
}

.form__message {
  width: 100%;
}

.message_error {
  background-color: rgb(255, 173, 173);
  border: 2px solid red;
  padding: 10px 10px;
  height: 5rem;
  border-radius: 14px;
  width: 20%;
  margin-left: auto;
  margin-right: 2rem;
  display: none;
}

.aprobe {
  background-color: #00913f !important;
  border: 2px solid #01632b !important;
}

.error {
  width: 50%;
  margin: 0 auto;
}

.message_error_active {
  display: block !important;
}

.error-m {
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  line-height: 3.5rem;
  color: black;
}

.input__other_city {
  border: none;
  border-bottom: 2px solid #4f177d;
  outline: none;
  padding-left: 0.5rem;
  margin-top: 0.8rem;
  padding-bottom: 0.2rem;
  width: 100%;
}

.title__edit {
  font-size: 2rem;
}

.required {
  margin-top: 1rem;
  font-size: 1rem;
}

.content__aprox {
  display: flex;
}

.type__pets {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Labels */

.label__name {
  position: absolute;
  top: -0.5rem;
  left: 2rem;
  font-weight: 400 !important;
  color: #232159;
  width: 100%;
}

.house_info {
  left: 2rem !important;
}

.location {
  left: 3rem !important;
  top: -0.3rem;
}

.preference {
  left: 3rem !important;
  top: -2.2rem;
}

.form__group-diet,
.form__group-pets {
  padding: 1rem 0.5rem !important;
}

.form__group-hinf,
.form__group-hinf2,
.form__group-hinf3 {
  display: flex;
  position: relative;
  justify-content: center;
}

.label__family {
  left: 3rem;
}

.label__other__city {
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #232159;
  position: absolute;
  text-align: left !important;
  top: -0.4rem;
  left: 1.5rem;
}

.hi_room {
  left: 2rem;
}

/* Icons */

.l_icon {
  cursor: pointer;
}

.icon {
  position: absolute;
}

.icon_hname {
  content: url("../../../assets/icon/basic\ information\ 64.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.7rem;
  left: 0.1rem;
}

.icon_pnumber {
  content: url("../../../assets/icon/main\ contact\ 64.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.7rem;
  left: 0.1rem;
}

.icon_rooms {
  content: url("../../../assets/icon/habitacion.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.8rem;
  left: 0.2rem;
}

.icon_mail {
  content: url("../../../assets/icon/email.png");
  width: 1.3rem;
  height: 1.4rem;
  top: 0.9rem;
  left: 0.2rem;
}

.icon_pass {
  content: url("../../../assets/icon/password.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.7rem;
  left: 0rem;
}

.icon_location {
  content: url("../../../assets/icon/location\ 64.png");
  width: 1.7rem;
  height: 1.7rem;
  left: 1.3rem;
  top: 0.8rem;
}

.icon_description {
  content: url("../../../assets/icon/basic\ information\ 64.png");
  width: 2.2rem;
  height: 2.2rem;
  left: -2.5rem;
  top: 1.2rem;
}

.icon_p_academy {
  content: url("../../../assets/icon/academy\ preference.png");
  width: 1.4rem;
  height: 1.4rem;
}

.icon_gender {
  content: url("../../../assets/icon/gender.png");
  width: 1.5rem;
  height: 1.5rem;
}

.icon_age {
  content: url("../../../assets/icon/profile.png");
  width: 1.6rem;
  height: 1.6rem;
}

.icon_status {
  content: url("../../../assets/icon/available.png");
  width: 2rem;
  height: 2rem;
}

.icon_smokers {
  content: url("../../../assets/icon/smokers.png");
  width: 1.5rem;
  height: 1.5rem;
}

.icon_years {
  content: url("../../../assets/icon/exp_year.png");
  width: 1.6rem;
  height: 1.6rem;
}

.icon-diet {
  content: url("../../../assets/icon/diet.png");
  width: 2rem;
  height: 2rem;
}

.icon-pets {
  content: url("../../../assets/icon/pets\ 64.png");
  width: 2rem;
  height: 2rem;
}

.icon_name_h {
  content: url("../../../assets/icon/profile2.png");
  width: 1.5rem;
  height: 1.5rem;
}

.icon_db {
  content: url("../../../assets/icon/calendar.png");
  width: 1.2rem;
  height: 1.2rem;
}

.icon_gender2 {
  content: url("../../../assets/icon/gender.png");
  width: 1.3rem;
  height: 1.3rem;
}

.icon_pnumber2 {
  content: url("../../../assets/icon/main\ contact\ 64.png");
  width: 1.7rem;
  height: 1.7rem;
}

.icon_bcheck {
  content: url("../../../assets/icon/user\ profile.png");
  width: 1.4rem;
  height: 1.4rem;
}

.icon_check {
  content: url("../../../assets/icon/user\ profile.png");
  width: 1.4rem;
  height: 1.4rem;
}

.icon_family {
  content: url("../../../assets/icon/family.png");
  width: 1.5rem;
  height: 1.5rem;
}

.icon_mname {
  content: url("../../../assets/icon/profile.png");
  width: 1.5rem;
  height: 1.5rem;
}

.icon_meals {
  content: url("../../../assets/icon/food2\ 64.png");
  width: 1.5rem;
  height: 1.5rem;
}

.icon_allergies {
  content: url("../../../assets/icon/allergies.png");
  width: 1.7rem;
  height: 1.7rem;
}

.icon_allergies2 {
  content: url("../../../assets/icon/allergies2.png");
  width: 1.6rem;
  height: 1.6rem;
}

.icon_pets {
  content: url("../../../assets/icon/pets\ 64.png");
  width: 1.5rem;
  height: 1.5rem;
}

.address,
.city {
  width: 90% !important;
}

.state,
.pcode {
  width: 90% !important;
}

.academy {
  width: 100%;
  top: -3rem;
}

.gender {
  width: 100%;
  top: -3rem;
}

.age {
  top: -3rem;
}

.status {
  top: -3rem;
  width: 100%;
}

.smoke {
  top: -2.7rem;
}

.y_service {
  top: -2.7rem;
}

.y_hom {
  top: -2.7rem;
}

.ypets {
  top: -3rem;
}

.npets {
  top: -3rem;
}

.specify_pets {
  top: -3rem;
}

.type__pets {
  margin-top: -0.5rem;
}

.type__pets label {
  font-weight: 500 !important;
}

.npets,
.background,
.background_l,
.nmembers,
.gender1,
.name1,
.lname1,
.dbirth1,
.gender1,
.relation1,
.name2,
.lname2,
.db2,
.gender2,
.relation2,
.db_lawf2,
.name3,
.lname3,
.db3,
.gender3,
.relation3,
.db_lawf3,
.name4,
.lname4,
.db4,
.gender4,
.relation4,
.db_lawf4,
.name5,
.lname5,
.db5,
.gender5,
.relation5,
.db_lawf5,
.name6,
.lname6,
.db6,
.gender6,
.relation6,
.db_lawf6,
.name7,
.lname7,
.db7,
.gender7,
.relation7,
.db_lawf7,
.name8,
.lname8,
.db8,
.gender8,
.relation8,
.db_lawf8 {
  width: 100%;
}

.others {
  width: 100%;
  top: -1rem;
}

/* -------------------- END ---------------------------*/

/* inputs true and false */

.message__input_error {
  display: none;
  color: red;
  font-size: 12px;
  line-height: 17px;
  padding-left: 3rem;
  padding-top: 0.5rem;
}

.room_error {
  padding-left: 0 !important;
}

.family_error {
  padding-left: 1.5rem;
}

.number_error {
  padding-left: 2rem;
}

.disabled {
  display: none;
}

.message__input_error_active {
  display: block;
}

.input_true .form__group-input {
  border-bottom: 2px solid #00913f !important;
}

.input_false .form__group-input {
  border-bottom: 2px solid #cc0000 !important;
}

/* -------------------- END ---------------------------*/

@media (min-width: 300px) and (max-width: 1200px) {
  .form__group-preferences1 {
    width: 70%;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .house_info__div {
    width: 100% !important;
  }

  .tarjet,
  .tarjet3,
  .wrap-div {
    width: 15rem;
  }
}

@media (min-width: 300px) and (max-width: 575px) {
  .title__group-section {
    margin-bottom: 2rem;
  }

  .title__edit {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .form__group-hinf2,
  .form__group-hinf3 {
    margin-top: 2rem;
  }
}

@media (min-width: 300px) and (max-width: 992px) {
  .form__group-row {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .form__group-adress {
    width: 90%;
    margin-left: auto !important;
  }

  .form__group-pets {
    margin-top: 2rem;
  }
}

@media (min-width: 400px) and (max-width: 1100px) {
  .card-main {
    width: 95%;
  }

  .message__input_error {
    width: 100%;
    padding-left: 2rem;
  }

  .house_info__div {
    width: 95% !important;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .form__group-row {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .mname,
  .lmname,
  .dateb {
    width: 100% !important;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .form__group-hinf2 {
    margin-top: 4rem;
  }
  .form__group-hinf3 {
    margin-top: 2rem;
  }
}
@media (min-width: 992px) {
  .tarjet,
  .tarjet3,
  .wrap-div {
    width: 18rem;
  }

  .form__group-hinf {
    margin-top: 4rem;
  }
  .form__group-hinf3 {
    margin-top: 4rem;
  }

  .form__group-hinf2 {
    margin-top: 4rem;
  }
}

@media (max-width: 1200px) {
  .form__group-preferences {
    width: 90%;
  }
}

@media (max-width: 600px) {
  div#map {
    margin-left: 0px;
    margin-top: 1rem;
    width: 100%;
    height: 12rem;
  }
}

/* MEDIA MEDIUM DEVICE TABLETS*/

@media (min-width: 600px) {
  /*REPONSIVE LOCATION*/
  div#map {
    margin-left: 0px;
    width: 100%;
    height: 20rem;
    margin-top: -2rem;
  }
}

@media (min-width: 800px) {
  /*REPONSIVE LOCATION*/
  div#map {
    margin-left: 0px;
    height: 20rem;
    margin-top: -2rem;
  }
}

@media (max-width: 992px) {
  .form__group-map {
    margin-top: 3rem;
    width: 80%;
  }
}

@media (min-width: 1200px) {
  div#map {
    width: 100%;
    height: 20rem;
    margin-top: -2rem;
  }
}

.zoom {
  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s, -o-transform 0.5s;
}

.zoom:hover {
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
}

#house {
  background-image: url("../../../student/assets/images/house1.png");
  background-size: cover;
  width: 27px;
  height: 49px;
  cursor: pointer;
}
