body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#marker {
  background-image: url("../images/academy1.png");
  background-size: cover;
  width: 25px;
  height: 47px;
  cursor: pointer;
}
#house {
  background-image: url("../images/house1.png");
  background-size: cover;
  width: 27px;
  height: 49px;
  cursor: pointer;
}

img#map-img {
  width: 100px;
  height: 100px;
}
