.modal-header{ margin: 0; justify-content: center; }

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 55%;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
}

.wrap-input100-i-i {
  width: 55%;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
}

.wrap-input100-i-ii {
  width: 55%;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
}


.wrap-input100-i {
  width: 45%;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  top: -4em;
}

.wrap-input100-ii {
  width: 45%;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  top: 0em;
}

.wrap-input200 {
  width: 30%;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  left: 22em;
  top: -5em;
}

.wrap-input200-i {
  width: 45%;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  left: 18em;
  top: -9.8em;
}

.input100 {
  font-size: 14px;
  color: #555555;
  line-height: 1.2;
  margin-bottom: -.7em;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.input200 {
  font-size: 14px;
  color: #555555;
  line-height: 1.2;
  margin-bottom: -1.3em;

  display: block;
  width: 100%;
  height: 60px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  text-align: left;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #982A72, #4F177D);
  background: -o-linear-gradient(left, #982A72, #4F177D);
  background: -moz-linear-gradient(left, #982A72, #4F177D);
  background: linear-gradient(left, #982A72, #4F177D);
}



.focus-input100::after {
  font-size: 14px;
  color: #999999;
  line-height: 1.2;
  float: left;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: 0px;
  font-size: 11px;
  color: #232159;
}

.input100:focus + .focus-input100::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.has-val.input100 + .focus-input100::after {
  top: 0px;
  font-size: 11px;
  color: #232159;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}


.focus-input200 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  text-align: left;
}

.focus-input200::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #982A72, #4F177D);
  background: -o-linear-gradient(left, #982A72, #4F177D);
  background: -moz-linear-gradient(left, #982A72, #4F177D);
  background: linear-gradient(left, #982A72, #4F177D);
}



.focus-input200::after {
  font-size: 11px;
  color: #232159;
  line-height: -1.2;
  height: 5px;

  content: attr(data-placeholder);
}


.input200:focus + .focus-input200::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.input200:focus + .focus-input200::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.has-val.input200 + .focus-input200::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.has-val.input200 + .focus-input00::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.btn-ace{
  color: white;
  left: .5em;
  padding: .5em 1em;
}

.btn-ace:hover{
  color: white;
  box-shadow: 3px 6px 10px black;
}

.btn-c{ 
  padding: .5em 1em;
  color: white;

}

.btn-c:hover{
  color: white;
  box-shadow: 3px 6px 10px black;
}



/* Responsive */


@media (min-width: 320px) {
  .modal-body{ width: 20em; margin-top: .3em; }

  .title-m{font-size: 17px; margin-top: -1.3em; line-height: 22px;}

  .modal-main{ width: 19.3em; padding-top: .5em; padding-bottom: .1em;}

  .wrap-input100{ margin-bottom: 1.6em; }
}

@media (min-width: 400px){
  .modal-body{ width: 23em; }

  .title-m{font-size: 17px; margin-top: -1.3em; line-height: 22px;}

  .modal-main{ width: 22.3em; }
}


@media (min-width: 576px){
  .modal-body{ width: 24em; margin-top: 1em; }

  .modal-main{ width: 23em; margin-left: -.5em;}

  .wrap-input100{ margin-bottom: 1.8em; }
}

@media (min-height: 800px) and (max-height: 900px){
  .modal-body{ height: 23em; }
}


@media (min-width: 992px){
  .modal-body{ margin-top: .6em; }

  .modal-main{ margin-left: -.6em; }
}

@media (min-width: 1020px){

  .modal-header{ text-align: center; padding-top: 2em; width: 100%; }

  .title-m{  display: block; }

  .modal-body{ width: 30em; padding: 0; }

  .modal-main{ width: 97%; margin-left: 1.5%; margin-right: 1.5%;}

  .div-flex{display: flex; width: 100%; margin-top: .8em;}

  .wrap-input100{ width: 35%; margin-left: 10%;}

}

@media (min-width: 1200px){
  .modal-body{ margin-top: .3em; }

  .title-m{ font-size: 19px; line-height: 25px;}
}

@media (min-width: 1500px){
  .modal-body{ margin-top: 2em; width: 29em; }

  .title-m{ font-size: 22px; margin-top: -1em; margin-bottom: -.5em}

  .modal-main{ width: 28em; padding-top: 1em; padding-bottom: .5em;}

  .focus-input200{ font-size: 14px; }

  .input200{ font-size: 16px; margin-bottom: -1em;}
}