body {
  background: #f3f8fc;
}

input {
  outline: none;
  border: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #adadad;
}
input:-moz-placeholder {
  color: #adadad;
}
input::-moz-placeholder {
  color: #adadad;
}
input:-ms-input-placeholder {
  color: #adadad;
}

.title-r {
  margin-left: 3.2em;
  width: 92%;
  margin-top: 10em;
  border-bottom: 2px solid #c1c1c1;
}

.icon-type {
  margin-top: 1em;
  margin-left: -2.3em;
  margin-bottom: -2.1em;
}

.type-img {
  width: 1.9em;
}

.title-room {
  margin: 0.4em 0.9em;
  padding: 0.5em 0.3em;
  border-bottom: 2px solid #4f177d;
  margin-bottom: 1em;
}

.limiter {
  width: 91%;
  background: none;
  margin-top: 2%;
  margin-left: 4.1%;
  padding: 0.5em 0.5em;
}

.wrap-login100 {
  width: 32%;
  background: white;
  padding-bottom: 0;
  border: 1px solid #dddddd;
  float: left;
  border-radius: 12px;

  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s, -o-transform 0.5s;
}

.wrap-login100:hover {
  box-shadow: 0px 12px 6px -6px;
  transition: all 0.5s;
  border: 1px solid #232159;
}

.wrap-login200 {
  width: 32%;
  background: white;
  margin-left: 1.5em;
  border: 1px solid #dddddd;
  border-radius: 12px;
}

.wrap-login200:hover {
  box-shadow: 0px 12px 6px -6px;
  transition: all 0.5s;
  border: 2px solid #982a72;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login300 {
  width: 32%;
  background: white;
  border: 1px solid #dddddd;
  border-radius: 12px;

  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s, -o-transform 0.5s;
}

.wrap-login300:hover {
  box-shadow: 0px 12px 6px -6px;
  transition: all 0.5s;
  border: 2px solid #394893;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login300-i {
  width: 32%;
  background: white;
  border: 1px solid #dddddd;

  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s, -o-transform 0.5s;
}

.wrap-login300-i:hover {
  box-shadow: 0px 12px 6px -6px;
  transition: all 0.5s;
  border: 2px solid #394893;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login400 {
  width: 32%;
  background: white;
  border: 1px solid #dddddd;
  border-radius: 12px;

  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s, -o-transform 0.5s;
}

.wrap-login400:hover {
  box-shadow: 0px 12px 6px -6px;
  transition: all 0.5s;
  border: 2px solid #a54483;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login500 {
  width: 32%;
  background: white;
  border: 1px solid #dddddd;
  margin-left: 1.5em;
  border-radius: 12px;

  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s, -o-transform 0.5s;
}

.wrap-login500:hover {
  box-shadow: 0px 12px 6px -6px;
  transition: all 0.5s;
  border: 2px solid #5d418d;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login600 {
  width: 32%;
  background: white;
  margin-left: 1.5em;
  border: 1px solid #dddddd;
  border-radius: 12px;

  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s, -o-transform 0.5s;
}

.wrap-login600:hover {
  box-shadow: 0px 12px 6px -6px;
  transition: all 0.5s;
  border: 2px solid #392b84;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login700 {
  width: 32%;
  background: white;
  border: 1px solid #dddddd;
  margin-left: 14em;
  border-radius: 12px;

  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s, -o-transform 0.5s;
}

.wrap-login700:hover {
  box-shadow: 0px 12px 6px -6px;
  transition: all 0.5s;
  border: 2px solid #b15391;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login800 {
  width: 32%;
  background: white;
  border: 1px solid #dddddd;
  margin-left: 1.5em;
  border-radius: 12px;

  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s, -o-transform 0.5s;
}

.wrap-login800:hover {
  box-shadow: 0px 12px 6px -6px;
  transition: all 0.5s;
  border: 2px solid #4f177d;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.items-ro {
  width: 80%;
  height: 10em;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
  margin-top: -0.5em;
}

.img-room {
  width: 90%;
}

.img-alt {
  width: 90%;
}

/* Wrap input */

.wrap-input100 {
  width: 9.6em;
  position: relative;
  border-bottom: 2px solid #4f177d;
  margin-bottom: 37px;
  margin-left: 1em;
  top: 1em;
}

.wrap-input200 {
  width: 9em;
  position: relative;
  border-bottom: 2px solid #4f177d;
  margin-bottom: 37px;
  top: -4.3em;
  left: 9.2em;
}

.wrap-input300 {
  position: relative;
  border-bottom: 2px solid #4f177d;
  margin-bottom: 37px;
  width: 9.6em;
  top: -3em;
  left: 1em;
}

.wrap-input400 {
  position: relative;
  border-bottom: 2px solid #4f177d;
  width: 9em;
  top: -7.7em;
  left: 9.2em;
}

.wrap-input500 {
  position: relative;
  border-bottom: 2px solid #4f177d;
  padding-bottom: -2em;
  width: 21em;
  top: -5em;
  left: 2.5em;
  background: none;

  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s, -o-transform 0.5s;
}

.wrap-input500:hover {
  box-shadow: 10px 10px 6px -6px #5d418d;
  transition: all 0.5s;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-input600 {
  position: relative;
  background: none;
  top: -0.6em;
}

.input100 {
  font-size: 14px;
  color: #555555;
  line-height: 1.2;
  margin-bottom: -0.7em;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.input200 {
  font-size: 13px;
  color: #555555;
  line-height: 1.2;
  margin-bottom: -1.3em;

  display: block;
  width: 100%;
  height: 60px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #982a72, #4f177d);
  background: -o-linear-gradient(left, #982a72, #4f177d);
  background: -moz-linear-gradient(left, #982a72, #4f177d);
  background: linear-gradient(left, #982a72, #4f177d);
}

.focus-input100::after {
  font-size: 14px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.input100:focus + .focus-input100::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.has-val.input100 + .focus-input100::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.focus-input200 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input200::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #982a72, #4f177d);
  background: -o-linear-gradient(left, #982a72, #4f177d);
  background: -moz-linear-gradient(left, #982a72, #4f177d);
  background: linear-gradient(left, #982a72, #4f177d);
}

.focus-input200::after {
  font-size: 11px;
  color: #232159;
  line-height: -1.2;
  height: 5px;

  content: attr(data-placeholder);
}

.input200:focus + .focus-input200::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.input200:focus + .focus-input200::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.has-val.input200 + .focus-input200::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.has-val.input200 + .focus-input00::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.r-ocu {
  margin-top: -0.5em;
  margin-bottom: -1em;
  padding: 0;
}

.r-ocu-i {
  background: #232159;
}

.r-ocu-vii {
  background: #b15391;
}

.r-ocu-viii {
  background: #4f177d;
}

.text-ocu {
  color: white;
  text-align: center;
  padding: 0.7em;
}

.btn-can {
  color: white;
  left: -0.5em;
}

.btn-can:hover {
  color: white;
  box-shadow: 3px 6px 10px black;
}

.btn-ace {
  color: white;
}

.btn-ace:hover {
  color: white;
  box-shadow: 3px 6px 10px black;
}

.btn-del {
  color: white;
  background: #392b84;
}

.btn-del:hover {
  color: white;
  box-shadow: 3px 6px 10px black;
}

.student-oc {
  margin-top: -2em;
  margin-bottom: 3em;
  line-height: 30px;
}

.text-oc {
  font-size: 14px;
}

.name-student {
  color: #232159;
  background-color: white;
  border: none;
}

.name-student:hover {
  cursor: pointer;
}

.rooms-btns {
  margin-top: 6em;
  float: right;
  margin-right: 5em;
  margin-bottom: 2em;
}

.btn-save {
  padding: 0.6em 1.2em;
  border-radius: 10px;
  font-size: 18px;
  background: -webkit-linear-gradient(left, #232159, #4f177d);
  color: white;
  transition: all 0.5s;
  border: none;

  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s, -o-transform 0.5s;
}

.btn-save:hover {
  box-shadow: 10px 10px 6px -6px black;
  background: -webkit-linear-gradient(left, #4f177d, #232159);
  cursor: pointer;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  width: 30em;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: #4f177d;
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: var(--lightgray);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1.6em;
}

.modal-header .close-modal {
  font-size: 1.5rem;
}

.close-modal {
  background: transparent;
  border: none;
  color: white;
}

.modal p + p {
  margin-top: 1rem;
}

.modal-content {
  width: 97%;
}

.wrap {
  width: auto;
  margin-top: 3.5em;
  display: flex;
}

.wrap-input100-i {
  width: 10em;
  position: relative;
  border-bottom: 2px solid #4f177d;
  margin-bottom: 37px;
  left: 2em;
}

.wrap-input100-ii {
  width: 9em;
  position: relative;
  border-bottom: 2px solid #4f177d;
  margin-bottom: 37px;
  top: -4em;
  left: 6em;
}

.wrap-input100-iii {
  width: 45%;
  position: relative;
  border-bottom: 2px solid #4f177d;
  margin-bottom: 37px;
  top: 0em;
}

.wrap-input200-i {
  width: 7.5em;
  position: relative;
  border-bottom: 2px solid #4f177d;
  margin-bottom: 37px;
  left: 22em;
  top: -5em;
}

.wrap-input200-ii {
  width: 9em;
  position: relative;
  border-bottom: 2px solid #4f177d;
  margin-bottom: 37px;
  left: 18em;
  top: -9.8em;
}

.focus-input200 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input200::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #982a72, #4f177d);
  background: -o-linear-gradient(left, #982a72, #4f177d);
  background: -moz-linear-gradient(left, #982a72, #4f177d);
  background: linear-gradient(left, #982a72, #4f177d);
}

.focus-input200::after {
  font-size: 11px;
  color: #232159;
  line-height: -1.2;
  height: 5px;

  content: attr(data-placeholder);
}

.input200:focus + .focus-input200::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.input200:focus + .focus-input200::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.has-val.input200 + .focus-input200::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.has-val.input200 + .focus-input00::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
  animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.page-footer span {
  color: #e31b23;
}

.container-login100 {
  -webkit-clip-path: polygon(0, 0, 100%, 83%, 0, 100%);
  clip-path: polygon(0, 0, 100%, 83%, 0, 100%);
  width: 100%;
}

.c-log {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

.btns-res {
  margin-top: -0.5em;
}

.more-in {
  text-align: center;
}

.login-btn {
  border: 1px solid #982a72;
  width: 10%;
  padding: 0.6em 0.8em;
  border-radius: 6px;
}

.login-btn:hover {
  box-shadow: 3px 6px 10px black;
  color: white;
  background: #982a72;
}

.register-btn {
  border: 1px solid #232159;
  width: 10%;
  padding: 0.6em 0.8em;
  border-radius: 6px;
}

.register-btn:hover {
  box-shadow: 3px 6px 10px black;
  color: white;
  background: #232159;
}

.a_login:hover {
  color: black;
}

.wrap-login100,
.wrap-login200,
.wrap-login300,
.wrap-login300-i,
.wrap-login400,
.wrap-login500,
.wrap-login600,
.wrap-login700,
.wrap-login800 {
  display: inline-block;
  width: 50%;
}

@media (max-width: 480px) {
  .wrap-login100,
  .wrap-login200,
  .wrap-login300,
  .wrap-login300-i .wrap-login400,
  .wrap-login500,
  .wrap-login600,
  .wrap-login700,
  .wrap-login800 {
    display: block;
    width: calc(100%-80px);
  }
}

/* Resposive */

@media (min-width: 320px) {
  .title-r {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 7em;
    margin-bottom: 2em;
    padding-left: 1em;
  }

  .title- {
    font-size: 23px;
  }

  .title-room {
    font-size: 16px;
  }

  .div-img-r {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .img-room {
    width: 90%;
    max-height: 10em;
    max-width: 13em;
  }

  .img-alt {
    width: 90%;
    max-height: 10em;
    max-width: 11em;
  }

  .icon-type {
    margin-left: -1.7em;
  }

  .type-img {
    width: 1.5em;
  }

  .wrap-input100 {
    width: 6.3em;
    border-bottom: none;
  }

  .wrap-input200 {
    width: 5.6em;
    top: -4.15em;
    border-bottom: none;
  }

  .wrap-input300 {
    width: 6.3em;
    top: -5.5em;
    border-bottom: none;
  }

  .wrap-input400 {
    width: 5.6em;
    top: -10.6em;
    border-bottom: none;
  }

  .wrap-login100 {
    width: 15.5em;
  }

  .wrap-login200 {
    width: 15.5em;
    margin-top: 2em;
    margin-left: 1.5%;
  }

  .wrap-login300 {
    width: 15.5em;
    margin-top: 2em;
    margin-left: 1.5%;
  }

  .wrap-login300-i {
    width: 15.5em;
    margin-top: 2em;
    margin-left: 2.5%;
  }

  .wrap-login400 {
    width: 15.5em;
    margin-top: 2em;
  }

  .wrap-login500 {
    width: 15.5em;
    margin-top: 2em;
    margin-left: 1.5%;
  }

  .wrap-login600 {
    width: 15.5em;
    margin-top: 2em;
    margin-left: 1.5%;
  }

  .wrap-login700 {
    width: 15.5em;
    margin-top: 2em;
    margin-left: 1.5%;
  }

  .wrap-login800 {
    width: 15.5em;
    margin-top: 2em;
    margin-left: 1.5%;
  }

  .rooms-btns {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 4em;
  }

  .btn-save {
    font-size: 14px;
  }
}

@media (min-width: 479px) {
  .wrap-login200 {
    margin-top: 0;
  }

  .wrap-login300 {
    margin-left: 0;
  }

  .wrap-login400 {
    margin-left: 1.5%;
  }

  .wrap-login500 {
    margin-left: 0;
  }

  .wrap-login700 {
    margin-left: 0;
  }
}

@media (min-width: 576px) {
  .wrap-login200 {
    margin-top: 0;
  }

  .img-room {
    max-width: 13em;
    height: 13em;
  }

  .img-alt {
    max-width: 12em;
    height: 15em;
  }

  .wrap-input100 {
    width: 45%;
  }

  .wrap-input200 {
    width: 31%;
    top: -4.7em;
  }

  .wrap-input300 {
    width: 45%;
    top: -7em;
  }

  .wrap-input400 {
    width: 31%;
    top: -12.8em;
  }

  .wrap-input600 {
    top: -1em;
  }

  .student-oc {
    margin-bottom: 1.8em;
  }
}

@media (min-width: 768px) {
  .wrap-input200 {
    top: -4.4em;
  }

  .wrap-input300 {
    top: -6em;
  }

  .wrap-input400 {
    top: -11.45em;
  }

  .c-log {
    margin-left: 6em;
  }

  .wrap-login100 {
    margin-left: -8em;
    width: 15em;
  }

  .wrap-login200 {
    width: 15em;
  }

  .wrap-login300 {
    margin-left: -8em;
    width: 15em;
  }

  .wrap-login400 {
    width: 15em;
  }

  .wrap-login500 {
    margin-left: -8em;
    width: 15em;
  }

  .wrap-login600 {
    width: 15em;
  }

  .wrap-login700 {
    margin-left: -8em;
    width: 15em;
  }

  .wrap-login800 {
    width: 15em;
  }
}

@media (min-width: 800px) {
  .title- {
    font-size: 25px;
  }
  .title-r {
    margin-top: 8em;
  }
}

@media (min-width: 905px) {
  .title-room {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .wrap-input200 {
    top: -4.15em;
    left: 9em;
    width: 5.8em;
  }

  .wrap-input400 {
    top: -11.1em;
    left: 9em;
  }

  .wrap-login100 {
    margin-left: 0em;
  }

  .wrap-login300 {
    margin-left: 0em;
  }

  .wrap-login500 {
    margin-left: 0em;
  }

  .wrap-login700 {
    margin-left: 0em;
  }
}

@media (min-width: 1200px) {
  .wrap-input200 {
    top: -4.55em;
  }

  .wrap-input400 {
    top: -11.55em;
  }

  .wrap-login300,
  .wrap-login400,
  .wrap-login500,
  .wrap-login600,
  .wrap-login700,
  .wrap-login800 {
    margin-top: 2em;
  }

  .input200 {
    margin-bottom: -0.8em;
    margin-top: 0.4em;
  }
}

@media (min-width: 1420px) {
  .title- {
    font-size: 30px;
  }

  .title-r {
    margin-top: 10em;
  }

  .title-room {
    font-size: 20px;
  }

  .input200 {
    margin-top: 0em;
  }

  .wrap-input200 {
    top: -4.25em;
  }

  .wrap-input300 {
    top: -5.5em;
  }

  .wrap-input400 {
    top: -10.7em;
  }

  .wrap-input600 {
    top: -0.65em;
  }

  .wrap-login100 {
    margin-left: -9em;
  }

  .wrap-login300 {
    margin-left: 1.5%;
    margin-top: 0;
  }

  .wrap-login400,
  .wrap-login500,
  .wrap-login600,
  .wrap-login700,
  .wrap-login800 {
    margin-top: 2em;
  }

  .wrap-login400 {
    margin-left: -9em;
  }

  .wrap-login500 {
    margin-left: 1.5%;
  }

  .wrap-login700 {
    margin-left: -9em;
  }
}
