:root {
  --room1: #232159;
  --room2: #982a72;
  --room3: #394893;
  --room4: #a54483;
  --room5: #5d418d;
  --room6: #392b84;
  --room7: #b15391;
  --room8: #4f177d;
  --ff: #f8f8f8;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  position: relative;
}

body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

body.offcanvas-menu:before {
  opacity: 1;
  z-index: 1002;
  visibility: visible;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a,
a:hover {
  text-decoration: none !important;
}

.hero {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.top-bar {
  padding: 0.5rem 0;
  background: #eee;
}

.top-bar a {
  color: #666666;
}

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  width: 100%;
  padding: 1rem;
}

@media (max-width: 991.98px) {
  .site-navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.site-navbar .toggle-button {
  position: absolute;
  right: 0px;
}

.site-navbar .site-logo {
  position: absolute;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}

@media (max-width: 991.98px) {
  .site-navbar .site-logo {
    float: left;
    position: relative;
  }
}

.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid white !important;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active {
  color: #007bff !important;
}

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}

.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}

.site-navbar .site-navigation .site-menu > li > a {
  margin-left: 15px;
  margin-right: 15px;
  padding: 20px 0px;
  color: #000;
  display: inline-block;
  text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #007bff;
}

.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: "icomoon";
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #007bff;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  display: none;
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #000 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a.active {
  color: #007bff !important;
  background: #f8f9fa;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  background: #f8f9fa;
  color: #ced4da;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content: "\e315";
  right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
  background: #f8f9fa;
  color: #ced4da;
}

.site-navbar .site-navigation .site-menu .has-children:hover > a,
.site-navbar .site-navigation .site-menu .has-children:focus > a,
.site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #007bff;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus > .dropdown,
.site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #ced4da;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #007bff;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li .nav-link.active {
  color: #007bff;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon";
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}

.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important;
}

.sticky-wrapper {
  position: relative;
  z-index: 100;
  width: 100%;
}

.sticky-wrapper .site-navbar {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.sticky-wrapper .site-navbar {
  background: #fff;
}

.sticky-wrapper .site-navbar .site-logo a {
  color: #fff;
}

.sticky-wrapper .site-navbar ul li a {
  color: rgba(255, 255, 255, 0.7) !important;
}

.sticky-wrapper .site-navbar ul li a.active {
  color: #fff !important;
}

.sticky-wrapper.is-sticky .site-navbar {
  background: #fff;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}

.sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: #007bff;
}

.sticky-wrapper.is-sticky .site-navbar ul li a {
  color: #000 !important;
}

.sticky-wrapper.is-sticky .site-navbar ul li a.active {
  color: #007bff !important;
}

.sticky-wrapper .shrink {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

@media (max-width: 991.98px) {
  .sticky-wrapper .shrink {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}

/* edit */

.main_f {
  margin: 0;
  width: 100%;
  padding: 0;
  margin-bottom: 0rem;
}

.site-logo {
  width: 9rem;
}

.homebor__log {
  width: 100%;
}

.homebor__log2 {
  width: 20%;
}

.banner_style {
  margin: 0;
  width: 100%;
  position: relative;
  height: 40rem;
}

.banner_img {
  width: 100%;
  height: 100%;
  position: relative;
}

.content_banner {
  position: absolute;
  top: 12rem;
  width: 40%;
  margin-left: 8rem;
  color: #fff;
}

.information__banner {
  font-size: 1.5rem;
  color: #fff !important;
  line-height: 2rem;
}

.btn__information_banner {
  margin-top: 2rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
  background-color: #f8f8f8;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
  color: #000;
}

.btn__information_banner:hover {
  background-color: #232159;
  color: #fff;
}

#service {
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.bg-color1 {
  width: 100%;
  background-color: #fff;
  padding: 6rem;
  margin-bottom: 0;
}

.bg-color1 {
  width: 100%;
  background-color: #fff;
  padding: 6rem;
  margin-bottom: 0;
}

.bg-color2 {
  width: 100%;
  background-color: #faf2ff;
  padding: 6rem;
}

.section {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.section2 {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.few__clicks_div {
  width: calc(40% - 1%);
  padding: 1rem;
}

.save__time_div {
  width: 30%;
}

.few__clicks_img,
.save__time_img,
.download_img {
  width: 80%;
  height: auto;
  border-radius: 30px;
}

.save__time_img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.better__experience_img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.few__clicks_information {
  width: calc(64% - 3%);
  margin: auto 0;
}

.better__experience_information {
  width: calc(60% - 5%);
  margin: auto auto;
}

.save__time_information {
  width: calc(60% - 3%);
  margin: auto 0;
}

.title__information_clicks {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #232159;
}

.text__information_clicks {
  text-align: center;
  font-size: 2rem;
  color: rgb(77, 76, 76);
  line-height: 2rem;
  width: 100%;
  margin: 0 auto;
}

.target_info {
  background-color: #fff;
  padding: 1rem;
  width: 31%;
  border-radius: 10px;
  box-shadow: -5px 5px 13px 0px #b88bd8;
  -webkit-box-shadow: -5px 5px 13px 0px #b88bd8;
  -moz-box-shadow: -5px 5px 13px 0px #b88bd8;
}

.target_info_img {
  width: 70%;
  height: 14rem;
  display: block;
  margin: auto auto;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 1rem;
}

.target_info > h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #232159;
}

.text {
  text-align: justify;
  padding: 0 0.5rem;
  margin-top: 1rem;
  color: #000;
}

.download {
  margin: 0;
  padding: 0;
  width: 45%;
}

.download__div {
  margin: auto auto;
  width: 40%;
}

.download_img {
  width: 100%;
  height: 90%;
}

.text__information > h3 {
  margin-top: 2rem;
}

.download__div > h3,
.text__information > h3 {
  text-align: center;
  font-size: 2rem;
  color: #232159;
}

.father_form {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.fr__group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.input__bordeless {
  background-color: transparent;
  border: none;
  width: 48%;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #4f177d;
  padding-left: 0.5rem;
  font-size: 1.2rem;
}

.input__bordeless::placeholder {
  color: #000;
}

.input__bordeless:focus {
  outline: none;
}

.subjetc {
  width: 100% !important;
}

.description {
  width: 100% !important;
  background-color: #f8f8f8 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.5rem 0.8rem !important;
}

.btn__send_concact {
  padding: 0.5rem 1rem;
  background-color: #4f177d;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s;
  margin: 0 auto;
}

.btn__send_concact:hover {
  background-color: #772fb3;
}

.email__div {
  background-color: #f8f8f8;
  width: 3.1rem;
  padding: 0.8rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  border-radius: 30px;
}

.icon-email {
  width: 1.5rem;
  height: 1.5rem;
}

.email__text {
  position: absolute;
  top: 2.3rem;
  left: 6rem;
}

.js-menu-toggle {
  color: black;
}

.btn_act {
  padding: 0.4rem 0.9rem !important;
  border-radius: 8px;
  padding: 0;
  margin: 0;
}

.site-menu > li > a > .c-black {
  margin: 0;
  padding: 0;
  color: #000;
  font-weight: 400;
}

.js-clone-nav > li > a > .c-black {
  color: #000;
}

.site-menu > li > a > .c-white {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 400;
}

.login {
  background-color: #232159;
  transition: all 0.2s;
  font-weight: 400;
}

.login:hover {
  background-color: #3d3a8a;
}

.register {
  background-color: #4f177d;
  font-weight: 400;
  transition: all 0.2s;
}

.login:hover {
  color: #fff !important;
}

.register:hover {
  background-color: #6d2ca3;
}

.few__clicks_div,
.better__experience_div {
  overflow: hidden !important;
}

.site-mobile-menu-body {
  color: #000 !important;
}

/*RESPONSIVE*/

@media (min-width: 300px) and (max-width: 400px) {
  .homebor__log {
    width: 100%;
  }
  .homebor__log2 {
    width: 33%;
  }
  .main_f {
    margin-bottom: 0rem;
  }
  .content_banner {
    top: 2rem;
    margin-left: 2rem;
    width: 60%;
  }
  .banner_style {
    height: 20rem;
  }
  .information__banner {
    margin-top: -1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }
  .content_banner > h1 {
    font-size: 1.3rem;
  }
  .information__banner {
    font-size: 0.8rem;
  }
  .btn__information_banner {
    padding: 0.4rem 1.1rem;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  .section {
    width: 100%;
  }
  .few__clicks_information {
    width: 50%;
  }
  .few__clicks_img,
  .download_img {
    width: 100%;
  }
  .save__time_div {
    margin-right: 0rem;
    width: calc(70% - 1%);
  }
  .save__time_img {
    width: 100%;
  }
  .title__information_clicks {
    font-size: 1.2rem;
  }
  .text__information_clicks {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  .download__div > h3,
  .text__information > h3 {
    font-size: 1.3rem;
  }
  .section2 {
    width: 100%;
  }
  .target_info > h3 {
    font-size: 1.1rem;
  }
  .text {
    font-size: 0.8rem;
  }
  .download__div {
    width: 50%;
    margin-top: 20%;
  }
  .download {
    margin-top: 25%;
  }
  .email__text {
    top: 2.7rem;
  }
  .email__text > h2 {
    font-size: 1.3rem;
  }
  .bg-color1,
  .bg-color2 {
    padding: 0.5rem;
  }
  .better__experience_information {
    width: calc(50% - 1%);
    margin: auto auto;
  }
  .few__clicks_div {
    width: calc(40% - 1%);
  }
  .better__experience_div {
    margin-right: 0rem;
    width: 40%;
    margin-top: 14%;
  }
  .target_info_img {
    height: 8rem;
  }
  .section2 {
    display: block;
    padding-top: 2rem;
  }
  .target_info {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 50%;
    padding: 0.5rem;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  .homebor__log {
    width: 100%;
  }
  .homebor__log2 {
    width: 31%;
  }
  .main_f {
    margin-bottom: 0rem;
  }
  .content_banner {
    top: 1rem;
    margin-left: 2rem;
    width: 60%;
  }
  .banner_style {
    height: 20rem;
  }
  .information__banner {
    margin-top: -1rem;
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }
  .content_banner > h1 {
    font-size: 1.5rem;
  }
  .information__banner {
    font-size: 1rem;
  }
  .btn__information_banner {
    padding: 0.4rem 1.1rem;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  .section {
    width: 100%;
  }
  .few__clicks_information {
    margin-top: 3%;
    width: 50%;
  }
  .few__clicks_img,
  .download_img {
    width: 100%;
  }
  .save__time_div {
    margin-right: 0rem;
    width: calc(70% - 1%);
  }
  .save__time_img {
    width: 100%;
  }
  .title__information_clicks {
    font-size: 1.2rem;
  }
  .text__information_clicks {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  .download__div > h3,
  .text__information > h3 {
    font-size: 1.8rem;
  }
  .section2 {
    width: 100%;
  }
  .target_info > h3 {
    font-size: 1.1rem;
  }
  .text {
    font-size: 0.8rem;
  }
  .download__div {
    width: 50%;
  }
  .email__text {
    top: 2.7rem;
  }
  .email__text > h2 {
    font-size: 1.3rem;
  }
  .bg-color1,
  .bg-color2 {
    padding: 2rem;
  }
  .better__experience_information {
    width: calc(64% - 1%);
    margin: auto auto;
  }
  .few__clicks_div {
    width: calc(50% - 1%);
  }
  .better__experience_div {
    margin-right: 0rem;
    width: 40%;
    margin-top: 10%;
  }
  .target_info_img {
    height: 8rem;
  }
  .section2 {
    display: block;
  }
  .target_info {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 50%;
    padding: 0.5rem;
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  .homebor__log {
    width: 100%;
  }
  .homebor__log2 {
    width: 29%;
  }
  .main_f {
    margin-bottom: 0rem;
  }
  .content_banner {
    top: 0.5rem;
    margin-left: 2rem;
    width: 50%;
  }
  .banner_style {
    height: 20rem;
  }
  .information__banner {
    margin-bottom: 0rem;
  }
  .content_banner > h1 {
    font-size: 1.6rem;
  }
  .information__banner {
    font-size: 1rem;
  }
  .btn__information_banner {
    padding: 0.4rem 1.1rem;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  .title__information_clicks {
    font-size: 1.2rem;
  }
  .text__information_clicks {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  .download__div > h3,
  .text__information > h3 {
    font-size: 1.8rem;
  }
  .target_info > h3 {
    font-size: 1.1rem;
  }
  .text {
    font-size: 0.8rem;
  }
  .email__text {
    top: 2.7rem;
  }
  .email__text > h2 {
    font-size: 1.3rem;
  }
  .bg-color1,
  .bg-color2 {
    padding: 4rem;
  }
  .target_info_img {
    height: 9rem;
  }
  .target_info {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 50%;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  .better__experience_div {
    float: initial;
  }
  .few__clicks_div,
  .better__experience_div,
  .save__time_div {
    width: 100%;
    padding: 0rem;
  }
  .few__clicks_img,
  .save__time_img,
  .better__experience_img {
    width: 40%;
    display: block;
    margin: 0 auto;
  }
  .few__clicks_information,
  .better__experience_information,
  .save__time_information {
    width: 100%;
    padding: 1rem 1rem;
  }
  .section,
  .section2 {
    width: 100%;
    display: block;
    padding: 2rem 0.5rem;
  }
  .better__experience_div {
    margin-top: 0rem;
  }
  .better__experience {
    position: relative;
    height: 22rem;
  }
  .download_ {
    position: relative;
    height: 20rem;
  }
  .download__div {
    position: absolute;
    top: 9rem;
    width: 90%;
  }
  .download__div {
    width: 100% !important;
  }
  .better__experience_img {
    height: 70%;
  }
  .download {
    width: 100%;
    margin-top: 1rem;
  }
  .download_img {
    width: 50%;
    margin-left: 25%;
  }
}

@media (min-width: 575px) and (max-width: 600px) {
  .download__div {
    top: 12rem;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .better__experience_img {
    height: 50%;
    margin-top: 0;
  }
  .better__experience_information,
  .download__div {
    margin-top: 2rem;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  .better__experience_img {
    height: 60%;
    margin-top: 0;
  }
}

@media (min-width: 601px) and (max-width: 700px) {
  .homebor__log {
    width: 100%;
  }
  .homebor__log2 {
    width: 29%;
  }
  .content_banner {
    top: 2rem;
    margin-left: 2rem;
    width: 50%;
  }
  .banner_style {
    height: 25rem;
  }
  .information__banner {
    margin-bottom: 1rem;
  }
  .content_banner > h3 {
    font-size: 1.4rem;
  }
  .information__banner {
    font-size: 1rem;
  }
  .btn__information_banner {
    padding: 0.4rem 1.1rem;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  .section {
    width: 100%;
  }
  .few__clicks_information {
    margin-top: 3%;
    width: 20rem;
  }
  .few__clicks_img,
  .download_img {
    width: 100%;
  }
  .few__clicks_div {
    width: 17rem;
  }
  .save__time_div {
    margin-right: 4rem;
  }
  .save__time_img {
    width: 120%;
  }
  .title__information_clicks {
    font-size: 1.4rem;
  }
  .text__information_clicks {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  .download__div > h3,
  .text__information > h3 {
    font-size: 1.8rem;
  }
  .section2 {
    width: 100%;
  }
  .target_info {
    width: 32%;
  }
  .target_info > h3 {
    font-size: 1.1rem;
  }
  .text {
    font-size: 0.8rem;
  }
  .download__div {
    width: 50%;
  }
  .email__text {
    top: 2.7rem;
  }
  .email__text > h2 {
    font-size: 1.3rem;
  }
  .bg-color1,
  .bg-color2 {
    padding: 3rem;
  }
  .better__experience_information {
    width: calc(64% - 1%);
    margin: auto auto;
  }
  .better__experience_div {
    margin-right: 0rem;
  }
  .target_info_img {
    height: 8rem;
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  .homebor__log {
    width: 100%;
  }
  .homebor__log2 {
    width: 29%;
  }
  .content_banner {
    top: 2rem;
    margin-left: 2rem;
    width: 50%;
  }
  .banner_style {
    height: 25rem;
  }
  .information__banner {
    margin-bottom: 2rem;
  }
  .content_banner > h3 {
    font-size: 1.4rem;
  }
  .information__banner {
    font-size: 1rem;
    line-height: 2rem;
  }
  .btn__information_banner {
    padding: 0.4rem 1.1rem;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  .section {
    width: 100%;
  }
  .few__clicks_information {
    margin-top: 3%;
    width: 50%;
  }
  .title__information_clicks {
    font-size: 1.6rem;
  }
  .text__information_clicks {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .download__div > h3,
  .text__information > h3 {
    font-size: 1.8rem;
  }
  .section2 {
    width: 100%;
  }
  .target_info {
    width: 32%;
  }
  .target_info > h3 {
    font-size: 1.1rem;
  }
  .text {
    font-size: 0.8rem;
  }
  .download__div {
    width: 50%;
  }
  .email__text {
    top: 2.7rem;
  }
  .email__text > h2 {
    font-size: 1.3rem;
  }
  .bg-color1,
  .bg-color2 {
    padding: 4rem;
  }
  .better__experience_information {
    width: calc(64% - 1%);
    margin: auto auto;
  }
  .better__experience_div {
    margin-right: 0rem;
  }
  .target_info_img {
    height: 10rem;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .homebor__log {
    width: 100%;
  }
  .homebor__log2 {
    width: 26%;
  }
  .content_banner {
    top: 2rem;
    margin-left: 2rem;
    width: 50%;
  }
  .banner_style {
    height: 25rem;
  }
  .information__banner {
    margin-bottom: 2rem;
  }
  .content_banner > h3 {
    font-size: 1.4rem;
  }
  .information__banner {
    font-size: 1.1rem;
  }
  .btn__information_banner {
    padding: 0.4rem 1.1rem;
    font-size: 0.9rem;
  }
  .section {
    width: 100%;
  }
  .few__clicks_information {
    margin-top: 3%;
    width: 50%;
  }
  .title__information_clicks {
    font-size: 1.6rem;
  }
  .text__information_clicks {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .download__div > h3,
  .text__information > h3 {
    font-size: 1.8rem;
  }
  .section2 {
    width: 100%;
  }
  .target_info {
    width: 31%;
  }
  .target_info > h3 {
    font-size: 1.1rem;
  }
  .text {
    font-size: 0.8rem;
  }
  .download__div {
    width: 50%;
  }
  .email__text {
    top: 2.7rem;
  }
  .email__text > h2 {
    font-size: 1.3rem;
  }
  .bg-color1,
  .bg-color2 {
    padding: 4rem;
  }
  .better__experience_information {
    width: calc(64% - 1%);
    margin: auto auto;
  }
  .better__experience_div {
    margin-right: 0rem;
  }
  .target_info_img {
    height: 10rem;
  }
}

@media (min-width: 900px) and (max-width: 1000px) {
  .homebor__log {
    width: 100%;
  }
  .homebor__log2 {
    width: 23%;
  }
  .content_banner {
    top: 2rem;
  }
  .banner_style {
    height: 25rem;
  }
  .information__banner {
    margin-bottom: 3rem;
  }
  .content_banner > h3 {
    font-size: 1.4rem;
  }
  .information__banner {
    font-size: 1.1rem;
  }
  .btn__information_banner {
    padding: 0.4rem 1.1rem;
    font-size: 0.9rem;
  }
  .section {
    width: 100%;
  }
  .bg-color1,
  .bg-color2 {
    padding: 6rem;
  }
  .few__clicks_information {
    margin-top: 3%;
    width: 50%;
  }
  .title__information_clicks {
    font-size: 1.6rem;
  }
  .text__information_clicks {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .download__div > h3,
  .text__information > h3 {
    font-size: 1.8rem;
  }
  .section2 {
    width: 100%;
  }
  .target_info {
    width: 31%;
  }
  .target_info > h3 {
    font-size: 1.1rem;
  }
  .text {
    font-size: 0.8rem;
  }
  .download__div {
    width: 50%;
  }
  .email__text {
    top: 2.7rem;
  }
  .email__text > h2 {
    font-size: 1.3rem;
  }
  .bg-color1,
  .bg-color2 {
    padding: 4rem;
  }
  .better__experience_information {
    margin: auto auto;
  }
  .better__experience_div {
    margin-right: 0rem;
  }
  .target_info_img {
    height: 12rem;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {
  .content_banner {
    top: 1rem;
  }
  .banner_style {
    height: 25rem;
  }
  .information__banner {
    margin-bottom: 3rem;
  }
  .content_banner > h3 {
    font-size: 1.5rem;
  }
  .information__banner {
    font-size: 1.2rem;
  }
  .btn__information_banner {
    padding: 0.6rem 1.3rem;
    font-size: 0.9rem;
  }
  .section {
    width: 90%;
  }
  .few__clicks_information {
    margin-top: 3%;
    width: 50%;
  }
  .title__information_clicks,
  .download__div > h3 {
    font-size: 1.6rem;
  }
  .text__information_clicks,
  .text__information_clicks {
    font-size: 1.2rem;
  }
  .download__div > h3,
  .text__information > h3 {
    font-size: 1.8rem;
  }
  .section2 {
    width: 100%;
  }
  .target_info {
    width: 32%;
  }
  .target_info > h3 {
    font-size: 1.1rem;
  }
  .text {
    font-size: 1rem;
  }
  .download__div {
    width: 50%;
  }
  .email__text {
    top: 2.7rem;
  }
  .email__text > h2 {
    font-size: 1.3rem;
  }
  .bg-color1,
  .bg-color2 {
    padding: 4rem;
  }
  .better__experience_information {
    margin: auto auto;
  }
  .better__experience_div {
    margin-right: 0rem;
  }
}

@media (min-width: 1100px) and (max-width: 1200px) {
  .content_banner {
    top: 2rem;
  }
  .banner_style {
    height: 25rem;
  }
  .information__banner {
    margin-bottom: 3rem;
  }
  .content_banner > h3 {
    font-size: 1.5rem;
  }
  .information__banner {
    font-size: 1.2rem;
  }
  .btn__information_banner {
    padding: 0.6rem 1.3rem;
    font-size: 0.9rem;
  }
  .section {
    width: 90%;
  }
  .few__clicks_information {
    margin-top: 3%;
    width: 50%;
  }
  .title__information_clicks,
  .download__div > h3,
  .text__information > h3 {
    font-size: 1.7rem;
  }
  .text__information_clicks,
  .text__information_clicks {
    font-size: 1.3rem;
  }
  .section2 {
    width: 95%;
  }
  .download__div {
    width: 50%;
  }
  .bg-color1,
  .bg-color2 {
    padding: 4rem;
  }
  .better__experience_information {
    margin: auto auto;
  }
  .better__experience_div {
    margin-right: 0rem;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .content_banner {
    top: 3rem;
  }
  .banner_style {
    height: 30rem;
  }
  .information__banner {
    margin-bottom: 5rem;
  }
  .content_banner > h3 {
    font-size: 1.5rem;
  }
  .information__banner {
    font-size: 1.2rem;
  }
  .btn__information_banner {
    padding: 0.6rem 1.3rem;
    font-size: 0.9rem;
  }
  .section {
    width: 100%;
  }
  .title__information_clicks,
  .download__div > h3,
  .text__information > h3 {
    font-size: 1.7rem;
  }
  .text__information_clicks,
  .text__information_clicks {
    font-size: 1.3rem;
  }
  .section2 {
    width: 90%;
  }
  .download {
    width: 35%;
  }
  .download__div {
    width: 50%;
  }
  .few__clicks_div {
    width: calc(30% - 1%);
    padding: 0rem;
  }
  .save__time_div {
    width: 25%;
  }
  .better__experience_div {
    margin-right: 0rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .bg-color1,
  .bg-color2 {
    padding: 4rem;
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  .content_banner {
    top: 5rem;
  }
  .section {
    width: 100%;
  }
  .few__clicks_div {
    width: calc(30% - 1%);
    padding: 0rem;
  }
  .save__time_div {
    width: 25%;
  }
  .download {
    width: 35%;
  }
  .title__information_clicks,
  .download__div > h3,
  .text__information > h3 {
    font-size: 1.7rem;
  }
  .text__information_clicks,
  .text__information_clicks {
    font-size: 1.3rem;
  }
  .section2 {
    width: 90%;
  }
  .content_banner {
    top: 8rem;
  }
  .information__banner {
    margin-bottom: 5rem;
  }
  .btn__information_banner {
    font-size: 1rem;
  }
}

@media (min-width: 1400px) {
  .content_banner {
    top: 7rem;
  }
  .title__information_clicks,
  .download__div > h3,
  .text__information > h3 {
    font-size: 1.7rem;
  }
  .text__information_clicks,
  .text__information_clicks {
    font-size: 1.3rem;
  }
  .section2 {
    width: 80%;
  }
  .information__banner {
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }
  .btn__information_banner {
    font-size: 1.2rem;
  }
}

@media (min-width: 1600px) {
  .content_banner {
    top: 9rem;
  }
  .banner_style {
    height: 40rem;
  }
  .section2 {
    width: 70%;
  }
  .content_banner > h3 {
    font-size: 2.1rem;
  }
  .information__banner {
    font-size: 1.6rem;
  }
}

/* Contact Us */

.html {
  padding: 0;
  margin: 0;
  height: auto;
}

#ts-footer #ts-footer-secondary {
  border-top: 0.0625rem solid rgba(0, 0, 0, 0.1);
  font-size: 0.8125rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#ts-footer #ts-footer-secondary .container {
  justify-content: space-between;
  align-items: center;
}

#ts-footer #ts-footer-secondary .container {
  display: flex;
}

section#service {
  background-image: url(../../../assets/img/bg-pattern-dot.png);
  background-repeat: repeat;
}

.banner__contact_div {
  margin: 0;
  width: 100%;
  position: relative;
  height: 10rem;
}

.container__contact,
.contact_div {
  width: 100%;
  margin: 0 auto;
}

.contact__title {
  text-align: center;
  font-size: 3.5rem;
  color: #232159;
  font-weight: bold;
  line-height: 10rem;
}

.subtitle {
  width: 100%;
  color: #232159;
  font-size: 1.8rem;
  margin: 0 auto;
  text-align: center;
  line-height: 2.5rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding: 0;
}

.information__text {
  display: flex;
  max-height: 40rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.information__img {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  margin-left: 15%;
}

.img__information {
  width: 50%;
}

.text__information {
  width: 50%;
  display: block;
  margin: auto auto;
}

.contact__form {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 50%;
}

.contact__info {
  display: none;
  width: calc(29% - 1%);
  border-radius: 10px;
  box-shadow: 5px 0px 13px 0px #b88bd8;
  -webkit-box-shadow: 5px 0px 13px 0px #b88bd8;
  -moz-box-shadow: 5px 0px 13px 0px #b88bd8;
}

.contact__email {
  width: 100%;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: -5px 0px 13px 0px #b88bd8;
  -webkit-box-shadow: -5px 0px 13px 0px #b88bd8;
  -moz-box-shadow: -5px 0px 13px 0px #b88bd8;
}

.send_question {
  text-align: center;
  font-weight: 600;
  color: #232159;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

footer {
  width: 100;
  bottom: 0;
}

.btn__book_free {
  background-color: #fff;
  border: 3px solid #232159;
  padding: 0.5rem 1rem;
  color: #000;
  border-radius: 10px;
  float: center;
}

.btn__book_free:hover {
  background-color: #232159;
  color: #fff;
}

.bottom {
  padding-bottom: 0;
  margin-bottom: 0;
}

@media (min-width: 400px) and (max-width: 600px) {
  #white-logo {
    margin-right: 2rem;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .banner__contact_div {
    height: 8rem;
  }
  .contact__title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1.2rem;
    margin-top: 0;
  }
  .img__information {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .information__img {
    width: 60%;
    height: 40%;
    display: block;
    margin: auto auto;
  }
  .fr__group,
  .information__text {
    display: block;
  }
  .information__text {
    width: 100%;
    margin-bottom: 15rem;
  }
  .input__bordeless {
    width: 100%;
    margin-bottom: 2rem;
  }
  .text__information {
    width: 80%;
    margin: 0 auto;
  }
  .contact__form {
    width: 85%;
  }
}

@media (min-width: 601px) and (max-width: 700px) {
  .banner__contact_div {
    height: 9rem;
  }
  .contact__title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1.2rem;
    margin-top: 0;
  }
  .information__text {
    width: 100%;
  }
  .img__information {
    width: 19rem;
    height: 21rem;
    display: block;
    margin: auto auto;
    margin-left: -3rem;
  }
  .information__img {
    width: 100%;
  }
  .contact__form {
    width: 80%;
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  .contact__title {
    font-size: 2rem;
  }
  .information__text {
    width: 100%;
  }
  .img__information {
    width: 19rem;
    height: 21rem;
    display: block;
    margin: auto auto;
    margin-left: -3rem;
  }
  .information__img {
    width: 100%;
  }
  .contact__form {
    width: 80%;
  }
  .subtitle {
    font-size: 1.2rem;
    margin-top: 0;
  }
}

@media (min-width: 800px) and (max-width: 900px) {
  .contact__form {
    width: 80%;
  }
  .contact__title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1.2rem;
    margin-top: 0;
  }
  .img__information {
    width: 19rem;
    height: 21rem;
    display: block;
    margin: auto auto;
    margin-left: -3rem;
  }
  .information__img {
    width: 100%;
  }
  .information__text {
    width: 100%;
  }
  .text__information {
    width: 60%;
  }
}

@media (min-width: 900px) and (max-width: 1500px) {
  .information__text {
    width: 100%;
  }
  .text__information {
    width: 50%;
    margin-left: 0rem;
  }
  .contact__form {
    width: 60%;
  }
  .input__bordeless {
    font-size: 1.15rem;
  }
}

@media (min-width: 900px) {
  .subtitle {
    font-size: 1.3rem;
    margin-top: 0;
  }
  .contact__title {
    font-size: 2.3rem;
  }
  .banner__contact_div {
    height: 8rem;
  }
  .img__information {
    width: 19rem;
    height: 21rem;
    display: block;
    margin: auto auto;
    margin-left: 3rem;
  }
  .information__img {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .subtitle {
    font-size: 1.3rem;
  }
  .contact__title {
    font-size: 2.3rem;
  }
}

@media (min-width: 1100px) {
  .subtitle {
    font-size: 1.2rem;
  }
  .contact__title {
    font-size: 2.4rem;
  }
  .information__img {
    height: 100%;
  }
  .img__information {
    width: 19rem;
    height: 21rem;
    display: block;
    margin: auto auto;
    margin-left: 5rem;
  }
}

@media (min-width: 1200px) {
  .subtitle {
    font-size: 1.3rem;
  }
  .contact__title {
    font-size: 2.5rem;
  }
  .img__information {
    width: 35%;
    height: 20%;
    display: block;
    margin: auto auto;
    margin-left: 5rem;
  }
  .information__img {
    height: 100%;
    display: block;
    margin: auto auto;
  }
}

@media (min-width: 1400px) {
  .subtitle {
    font-size: 1.3rem;
  }
}

@media (min-width: 1600px) {
  .subtitle {
    font-size: 1.4rem;
  }
  .contact__title {
    font-size: 2.5rem;
  }
  .banner__contact_div {
    height: 9rem;
  }
  .img__information {
    width: 35%;
    height: 20%;
    display: block;
    margin: auto auto;
    margin-left: 5rem;
  }
  .information__img {
    width: 80%;
    height: 80%;
  }
}

/* About Us */

.about_us {
  width: 100%;
  padding: 5rem;
}

.flex-content {
  display: -ms-box;
  display: -moz-box;
  display: -webkit-box;
  justify-content: space-around;
  width: 100%;
  position: relative;
}

.img__about {
  width: 30%;
  margin: auto auto;
}

.about__img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.text__about_homestay,
.text__about_student {
  width: 65%;
  height: 100%;
  margin: auto 0;
  padding: 3rem;
}

.about_us > h4 {
  color: #232159;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

.subtitle__about {
  font-size: 1.2rem;
  color: #232159;
  line-height: 25px;
  text-align: justify;
}

.color1 {
  background-color: #fff;
}

.color2 {
  background-color: #faf2ff;
  margin-bottom: 10rem;
}

.btn_become {
  background-color: #fff;
  color: #000;
  margin-top: 2rem;
  float: left;
  transition: all 0.5;
}

.btn_become:hover {
  background-color: #232159;
  color: #fff;
}

@media (min-width: 300px) {
  .about_us {
    padding: 1rem;
  }
  .responsive {
    height: 5rem;
  }
  .about {
    line-height: 2rem;
  }
  .flex-content {
    display: -ms-box;
    display: -moz-box;
    display: -webkit-box;
  }
  .img__about {
    width: 100%;
    position: absolute;
    top: 2rem;
  }
  .about__img {
    width: 90%;
    margin-left: 5%;
  }
  .text__about_homestay,
  .text__about_student {
    width: 100%;
    -ms-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -webkit-box-ordinal-group: 2;
    padding: 0rem;
    margin-top: 20rem;
  }
}

@media (min-width: 400px) {
  .about__img {
    width: 22rem;
    max-width: 23rem;
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 500px) {
  .text__about_homestay,
  .text__about_student {
    width: 90%;
    margin: 0 auto;
    margin-top: 20rem;
  }
}

@media (min-width: 600px) {
  .text__about_homestay,
  .text__about_student {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .about_us {
    padding: 2rem;
  }
  .about_us > h4 {
    margin-bottom: 2rem;
  }
  .flex-content {
    display: flex;
    justify-content: space-around;
  }
  .img__about {
    width: 40%;
    position: relative;
    top: 0;
  }
  .about__img {
    width: 90%;
  }
  .text__about_homestay,
  .text__about_student {
    width: 60%;
    margin: auto auto;
    margin-right: 1rem;
  }
}

@media (min-width: 1300px) {
  .about_us {
    padding: 5rem;
  }
}
