/* TODO WINYERSON */
/**-------------CUSTOM PROPERTIES-------------**/
:root {
  --first-color: #232159;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: #d51d95;
  --title-color: #333;
  --text-color: #222;
}
html {
  scroll-behavior: smooth;
}

h1 {
  color: #222;
}

/* ? NOTIFICATION BELL BUTTON */
.notification-btn {
  border: none;
  position: relative;
  width: 32px !important;
  margin: 0 !important;
  padding: 0 !important;
  transform: translateX(4rem);
}
.notification-btn * {
  pointer-events: none !important;
}
.notification-btn.anim {
  animation: normal bellAnim 500ms ease;
}
@keyframes bellAnim {
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}
.notification-btn .new-notifications {
  width: 18px !important;
  height: 18px !important;
  top: 0;
  right: -8px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  text-align: center;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  font-size: 12px !important;
  color: #ffffff;
  text-shadow: 1px 1px 3px #000;
  transition: 200ms ease all;
  background: var(--four-color);
}
.notification-btn .new-notifications.show {
  opacity: 1;
  pointer-events: all;
}
/* ? NOTIFICATION CONTAINER */
.notification-list .no-notifications {
  padding: 1rem;
  margin-top: 10%;
  font-size: 160%;
}
.notification-list .notifications-empty {
  width: 100px;
  height: 100px;
}
.notification-list .notifications-empty img {
  width: 100%;
  height: auto;
}
.notification-list {
  z-index: 3000 !important;
  position: fixed !important;
  top: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 3rem !important;
  scrollbar-width: none;
  background-color: var(--gray-light-color);
  transition: 300ms ease all;
}

.notification-list::-webkit-scrollbar {
  width: 0.25rem;
  display: none;
  border-radius: 0.25rem;
  background: var(--gray-color);
}
.notification-list::-webkit-scrollbar-thumb {
  background: var(--four-color);
}
.notification-list p {
  padding: 4rem;
  font-size: 200%;
  text-align: center;
}

/* ? NOTIFICATION CLOSE */
.notification-list .close-notifications {
  color: var(--six-alpha-color) !important;
  position: absolute;
  font-size: 180%;
  font-weight: bold;
  top: 0.4rem;
  right: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  transition: 300ms ease all;
}
.notification-list .close-notifications:hover {
  color: var(--six-color) !important;
}

/* ? NOTIFICATION ITEM */
.notification-item {
  padding: 5rem auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
  background-color: #e0e0e0;
}
.notification-item.unread {
  color: #000 !important;
  font-weight: bold !important;
  background-color: rgb(255, 255, 255);
}
.notification-item:hover {
  background-color: #e8e8e8;
  color: #222;
}
/* ? NOTIFICATION HEADER */
/* .notification-item .message-header {
  height: 30px !important;
  text-shadow: 2px 2px 4px transparent;
  transition: 300ms ease background-color;
  box-shadow: 0 0.5px 0.5rem rgba(0, 0, 0, 0.15);
}
.notification-item:hover .message-header,
.notification-item.unread .message-header,
.notification-item.unread:hover .message-header {
  color: #fff !important;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--four-color);
}
.notification-item:hover .message-header {
  background-color: var(--four-alpha-color);
}

.notification-item .message-header h5 {
  width: 50% !important;
  font-size: 0.9rem !important;
}
.notification-item .message-header small {
  padding-right: 4rem;
}
.notification-item .message-header img {
  width: 22px;
  opacity: 0.35;
  border-radius: 4px;
  transition: 200ms ease all;
}
.notification-item .message-header img:hover {
  opacity: 0.75;
  box-shadow: 0px 0px 4px 0.5px rgba(0, 0, 0, 0.35);
} */

/* ? NOTIFICATION BODY */
.notification-item .message-body {
  position: relative !important;
  width: 100% !important;
  padding: 1.5rem 0.5rem;
  pointer-events: none;
}
.notification-item .message-body * {
  font-family: sans-serif !important;
}
.notification-item .message-body img:nth-child(1) {
  padding: 4px;
  width: 70px !important;
  height: 70px !important;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.35);
  border-radius: 50% !important;
}
.notification-item .message-body img:nth-child(2) {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 12%;
  bottom: 1.2rem;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 35%);
  border-radius: 50% !important;
}
.notification-item .message-body img:nth-child(2).show {
  opacity: 1;
}
.notification-item .message-body p {
  position: relative;
  width: 75% !important;
  font-size: 0.8rem !important;
}
.notification-item .message-body p a {
  color: #333 !important;
  font-weight: bold !important;
  text-decoration: none !important;
  border-radius: 6px !important;
  transition: 150ms ease all;
}
.notification-item .message-body p a:hover {
  background: rgba(0, 0, 0, 0.075);
}
.notification-item .message-body p::after {
  content: attr(data-time-ago);
  top: 100%;
  left: 0;
  position: absolute;
  font-size: 75%;
  color: rgb(71, 71, 71);
}
/* ? NOTIFICATION FOOTER */
.notification-item .message-footer {
  padding-left: 2rem !important;
}
.notification-item .message-footer.student {
  padding: 5px 0 !important;
  margin: 0 !important;
  display: flex !important;
  justify-content: space-evenly !important;
  align-content: center !important;
  background-color: rgba(0, 0, 0, 0.1);
}
.notification-item .message-footer small {
  font-size: 0.75rem !important;
  box-shadow: none !important;
  position: relative !important;
  padding-top: 1.4rem !important;
}
.notification-item .message-footer small::before {
  content: "Arrive";
  position: absolute;
  left: 30%;
  top: 0.2rem;
  font-weight: bold;
}
.notification-item .message-footer small::after {
  content: "Leave";
  position: absolute;
  right: 30%;
  top: 0.2rem;
  font-weight: bold;
}
.notification-item .message-footer.student small {
  width: max-content !important;
  font-size: 0.85rem !important;
}
.notification-item .message-footer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--first-min-color);
}
:is(.notification-item.confirmed, .notification-item.rejected) .message-footer .message-buttons {
  width: 100%;
  margin-right: 1rem !important;
  position: relative;
}
:is(.notification-item.confirmed, .notification-item.rejected) .message-footer .message-buttons::before {
  content: "Confirmed";
  position: absolute;
  width: 75%;
  padding: 0 2rem;
  top: 50%;
  right: 0;
  color: #fff;
  font-size: 110%;
  text-align: center;
  border-radius: 0.15rem;
  transform: translateY(-50%);
  background-color: #1dca51;
}
.notification-item.rejected .message-footer .message-buttons::before {
  content: "Rejected";
  background-color: #f85d5dbf;
}
:is(.notification-item.confirmed, .notification-item.rejected) .message-footer .message-buttons * {
  display: none !important;
}
.notification-item.unread .message-footer div .confirm-btn,
.notification-item.unread .message-footer div .reject-btn {
  font-weight: bold !important;
}
.notification-item.unread .message-footer div .confirm-btn {
  background-color: var(--four-color) !important;
}
.notification-item.unread .message-footer div .reject-btn {
  background-color: var(--five-color) !important;
}
.notification-item .message-footer div button {
  color: white !important;
  width: 100px !important;
  border: none !important;
  font-size: 0.75rem !important;
  box-shadow: none !important;
  border-radius: 4px !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.notification-item .message-footer div .confirm-btn {
  background-color: var(--four-alpha-color) !important;
}
.notification-item .message-footer div .confirm-btn:hover {
  background-color: var(--four-color) !important;
}
.notification-item .message-footer div .reject-btn {
  background-color: var(--five-alpha-color) !important;
}
.notification-item .message-footer div .reject-btn:hover {
  background-color: var(--five-color) !important;
}
@media screen and (min-width: 992px) {
  .notification-btn {
    margin-right: 4rem !important;
    transform: translateX(0);
  }
  /* ? NOTIFICATION CONTAINER */
  .notification-list {
    width: 450px !important;
    max-height: 350px !important;
    top: 85% !important;
    position: absolute !important;
    border-radius: 1rem;
    padding-top: 2.6rem !important;
    border-bottom: thin solid #999 !important;
    box-shadow: 2px 2px 0.5rem rgba(0, 0, 0, 0.25) !important;
  }
  .notification-list::before {
    content: attr(data-total-notifications);
    top: 0;
    left: 0;
    color: #fff;
    width: inherit;
    position: absolute;
    padding-left: 2rem;
    text-shadow: 2px 2px 4px #000;
    background-color: var(--six-color);
  }

  /* ? NOTIFICATION ITEM */

  /* ? NOTIFICATION HEADER */
  /* .notification-item .message-header h5 {
    font-size: 1rem !important;
  } */

  /* ? NOTIFICATION BODY */
  .notification-item .message-body {
    width: 450px !important;
    padding: 1.5rem 0.5rem;
  }
  .notification-item .message-body p {
    font-size: 85% !important;
  }
}
