.carousel-indicators .active{ background: #982a72; }

    .carousel-indicators li { background: #F8F8F8; }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 60px;
      width: 100px;
      outline: black;
      background-size: 100%, 100%;
      background-image: none;
      margin-top: 120%;
      margin: 0;
    }

    .carousel-control-next-icon:after
    {
      content: '>';
      font-size: 40px;
      color: #4f177d;
      margin-left: 30%;
    }

    .carousel-control-prev-icon:after {
      content: '<';
      font-size: 40px;
      color: #360062;
      margin-left: -30%;
    }