/* -----------------------------------------------GALLERY STYLE ------------------------------------------ */

.tarjet {
  margin-right: 2%;
  width: 25%;
  margin-bottom: 4%;
  background: white;
  box-shadow: 1px 1px 5px 0px #4f177d;
  border-radius: 8px;
}

.tarjet2 {
  margin-right: 2%;
  width: 25%;
  margin-bottom: 4%;
  background: transparent;
  border-radius: 8px;
}

.tarjet3 {
  margin-right: 2%;
  width: 25%;
  margin-bottom: 4%;
  background: transparent;
  border-radius: 8px;
}

.add-photo {
  height: 10.7em;
  width: 15em;
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.add-photo:hover {
  transition: all 0.5s;
  background: #c2c2c2;
  cursor: pointer;
  color: #4f177d;
}

.add-photo-i {
  border-radius: 18px;
  height: 2.6em;
  width: 2.6em;
  z-index: 10;
  background: #982a72;
  padding: 10px 5px;
  color: white;
  margin-top: -12%;
  margin-right: 0;
  float: right;
  margin-right: 10%;
  position: relative;
}

.add-photo-i:hover {
  background: white;
  transition: all 0.5s;
  cursor: pointer;
  color: #4f177d;
}

.photo-add {
  height: 11.3em;
  width: 15.9em;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 10;
  padding-top: 25%;
  color: #4f177d;
  border: 2px dashed rgb(165, 165, 165);
}

.photo-add:hover {
  cursor: pointer;
  transition: all 0.5s;
  background-color: rgb(231, 231, 231);
}

.form__group-l_title {
  font-size: 22px;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 0.3rem;
  margin-top: 0%;
  color: #342359;
  font-weight: 100 !important;
}

.tarjet-rooms {
  width: 26%;
  background: white;
}

.gallery-end {
  margin-bottom: 5rem;
}

.wrap-div {
  width: 25%;
  margin-top: -3.8%;
  margin-right: 2%;
}

.wrap-div-i {
  width: 26%;
  margin-top: -3.8%;
  margin-right: 2%;
}

.wrap-div-ii {
  margin-top: -4.5%;
}

.wrap-div-iii {
  margin-top: -1.6%;
}

.area-iii,
.bath-iv,
.bed-iv,
.bed-v,
.bed-vi,
.bed-vii,
.bed-viii {
  margin-top: -2%;
}

.add-room:hover {
  background: white;
  box-shadow: 0px 12px 6px -6px #342359;
  transition: all 0.5s;
  display: table-cell;
  vertical-align: middle;
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  z-index: 10;
}

.carousel-item {
  margin-bottom: 4%;
}

.title-room {
  padding-right: 0.6em;
  margin: 0.4em 0.4em;
  border-bottom: 2px solid #4f177d;
  margin-bottom: 1em;
  margin-left: 8%;
  font-size: 18px;
}

.label {
  padding: 5px 10px;
  background: #4f177d;
  font-weight: normal;
  color: white;
  border-radius: 8px;
}

.label:hover {
  cursor: pointer;
  background: white;
  border: 1px solid #4f177d;
  transition: all 0.5s;
  color: #4f177d;
}

.icon-type {
  display: flex;
  margin-top: 1em;
  margin-left: -2.3em;
  margin-bottom: -2.1em;
}

.type-img {
  width: 1.9em;
  height: 1.9em;
}

.init {
  margin-left: 15%;
}

.details {
  width: 37%;
}

.in-d {
  margin-right: 15%;
}

@media (max-width: 992px) {
  .add-photo {
    height: 10.2em;
    width: 14em;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed #c2c2c2;
  }
  .photo-add {
    height: 10.8em;
    width: 14em;
    margin-right: auto;
    margin-left: auto;
  }

  .add-photo-i {
    height: 2.5em;
    width: 2.5em;
    padding: 9px 6px;
    color: white;
    margin-top: -15%;
    margin-right: 7%;
  }
  .title-room {
    font-size: 15px;
  }
  .init {
    margin-left: 13%;
  }
  .type-img {
    width: 1.4em;
  }
  .icon-type {
    margin-left: -1.6em;
  }
  .fo {
    font-size: 11px;
  }
}

@media (max-width: 767px) {
  .tarjet {
    width: 37%;
  }
  .wrap-div {
    width: 37%;
  }
  .div-area {
    margin-top: 2%;
  }
  .area-3,
  .bath-3,
  .bed-3 {
    margin-top: 0%;
  }
  .area-iii,
  .bath-iv,
  .bed-iv {
    margin-top: 0%;
  }
  .bed-v,
  .bed-vi {
    margin-top: 2%;
  }
  .title-room {
    font-size: 14px;
  }
  .help-tarjet {
    padding: 0px 8px;
    margin-right: 0%;
  }
  .tarjet-rooms,
  .wrap-div-i {
    width: 42%;
    margin-right: 5%;
  }
}

@media (max-width: 500px) {
  .tarjet {
    width: 42%;
  }
  .wrap-div {
    width: 42%;
  }
  .tarjet-rooms,
  .wrap-div-i {
    width: 50%;
    margin-right: 5%;
  }
  .bed-ii {
    margin-top: -1%;
  }
  .bed-v,
  .bed-vi,
  .bed-viii {
    margin-top: 0;
  }
  .bed-vii {
    margin-top: -3%;
  }
  .tarjet3 {
    width: 42%;
  }
  .tarjet2 {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .tarjet {
    width: 60%;
  }
  .wrap-div {
    width: 60%;
  }
  .tarjet-rooms,
  .wrap-div-i {
    width: 60%;
    margin-right: 5%;
  }
  .bath-ii {
    margin-top: 0%;
  }
}

/* ------------------------------------------------ END GALLERY STYLE --------------------------------------- */
