a.btn-link{color:  #982A72;}
    a.btn-link:hover{color:  #982A72;}
    #Living-mobile{display: none;}
    #common-mobile{display: none;}
    #bath-mobile{display: none;}
    span.phome-mobile{display: none;}
    span.proom-mobile{display: none;}
    input#room{width: 30%;}

    .geocoder {

    width: 150%;
    left: 50%;
    margin-left: -25%;
    top: 10px;
    }
    .mapboxgl-ctrl-geocoder {
    min-width: 100%;
    }

    input#geocoder {
    border-width: .0625rem;
    border-color: rgba(0, 0, 0, .1);
    font-size: .9375rem;
    border-radius: .1875rem;
    padding: .5rem .75rem;
    transition: .3s ease;
    min-height: 2.5rem;
    }

    input#geocoder {
    border-color: rgba(0, 0, 0, .2);
    }

    input#geocoder {
    box-shadow: none;
    border-color: #9e9e9e;
    }

    input#geocoder:focus ~ {
    border-color: #9e9e9e;
    }

    /*Buttons*/
    button#submit{width: 130px;}
    a#contact{width: 130px; font-size: 14px;}
   
   /* MEDIA EXTRA SMALL PHONES*/
    @media screen and (max-width: 600px) { 


        /*REPONSIVE BASIC INFORMATION*/
        input#h_name{width: 280px;}
        input#num{width: 100%;}
        input#room{width: 60px;}
        div#phone{margin-left: 15px;}

        /*REPONSIVE LOCATION*/
        div#dir{width: 300px;}
        input#city{width: 300px;}
        input#state{width: 300px;}
        input#p_code{width: 300px;}
        #map {margin-left: 20px; width: 280px; height: 150px;}

        /*REPONSIVE GALLERY*/
        #Living-pc{display: none;}
        #Living-mobile{display: block;}
        #common-mobile{display: block;}
        #common-pc{display: none;}
        #collapse18{width: 250px}
        #bath-mobile{display: block;}
        #bath-pc{display: none;}
        span.phome-pc{display: none;}
        span.phome-mobile{display: block;}
        span.proom-mobile{display: block; margin-left: 40px;}
        span.proom-pc{display: none;}

        /*FOOTER*/
        #submit{font-size: 14px;}
        #nav-footer{display: none;}
        #con-footer{display: none;}
        #white-logo{display: none;}

         /*Buttons*/
    button#submit{width: 130px;}
    a#contact{width: 130px; font-size: 14px;}



    }

    /* MEDIA SMALL PHONES*/
    @media screen and (min-width: 640px) { 


        /*REPONSIVE BASIC INFORMATION*/
        input#h_name{width: 280px;}
        input#num{width: 100%;}
        input#room{width: 60px;}
        div#phone{margin-left: 15px;}

        /*REPONSIVE LOCATION*/
        #map{height: 270px;}

        /*REPONSIVE GALLERY*/
        #Living-pc{display: none;}
        #Living-mobile{display: block;}
        #common-mobile{display: block;}
        #common-pc{display: none;}
        #bath-mobile{display: block;}
        #bath-pc{display: none;}
        span.phome-pc{display: none;}
        span.phome-mobile{display: block;}
        span.proom-mobile{display: block; margin-left: 40px;}
        span.proom-pc{display: none;}

        /*FOOTER*/
        #submit{font-size: 14px;}
        #nav-footer{display: none;}
        #con-footer{display: none;}
        #white-logo{display: none;}

         /*Buttons*/
    button#submit{width: 130px;}
    a#contact{width: 130px; font-size: 14px;}



    }

    /* MEDIA MEDIUM DEVICE*/
    @media screen and (min-width: 768px) { 


        /*REPONSIVE BASIC INFORMATION*/
        input#h_name{width: 280px;}
        input#num{width: 100%;}
        input#room{width: 60px;}
        div#phone{margin-left: 15px;}

        /*REPONSIVE LOCATION*/
        #map{height: 270px; width: 300px;}

        /*REPONSIVE GALLERY*/
        #Living-pc{display: none;}
        #Living-mobile{display: block;}
        #common-mobile{display: block;}
        #common-pc{display: none;}
        #bath-mobile{display: block;}
        #bath-pc{display: none;}
        span.phome-pc{display: none;}
        span.phome-mobile{display: block;}
        span.proom-mobile{display: block; margin-left: 40px;}
        span.proom-pc{display: none;}

        /*FOOTER*/
        #submit{font-size: 14px;}
        #nav-footer{display: none;}
        #con-footer{display: none;}
        #white-logo{display: none;}

         /*Buttons*/
        button#submit{width: 130px;}
        a#contact{width: 130px; font-size: 14px;}



    }
    /* MEDIA LARGE DEVICE DESKTOP AND LAPTOPS*/
    @media screen and (min-width: 800px) { 


        /*REPONSIVE LOCATION*/
        #map{height: 300px; width: 350px;}

        /*REPONSIVE GALLERY*/
        #Living-pc{display: block;}
        #Living-mobile{display: none;}
        #common-mobile{display: none;}
        #common-pc{display: block;}
        #bath-mobile{display: none;}
        #bath-pc{display: block;}
        span.phome-pc{display: block;}
        span.phome-mobile{display: none;}
        span.proom-mobile{display: none; margin-left: 40px;}
        span.proom-pc{display: block;}

        /*FOOTER*/
        #submit{font-size: 14px;}
        #nav-footer{display: block;}
        #con-footer{display: block;}
        #white-logo{display: block;}



    }

    .type-img{
  width: 1.9em;
  height: 1.9em;
}