/* Notifications */


.title_not{
    font-size: 16px; 
    margin-bottom: 2%; 
    margin-top: 2%; 
    margin-left: 0%;
    color: #342359;
    margin-left: 1.6em;
}

.title_not-i{
    font-size: 16px; 
    margin-bottom: 2%; 
    margin-top: 2%; 
    margin-left: 0%;
    color: #342359;
}

.menu{
    background-image: url(../../images/homestay/homebor-not.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.horizontal-line{ 
    height: 2%; 
    width: 100%; 
    margin-bottom: 0%;
}

.photo{
    margin-left: -2.4em;
    width: 5em;
    margin-bottom: -3.2em;
}

.div-photo{
    margin-top: 1.8em;
    margin-bottom: -1.8em;
}

.des-not{margin-left: 2em;}

.not{ 
    list-style: none; 
    margin-left: 0%; 
    line-height: 20px; 
    font-size: 16px; 
    list-style: none;
}

.not-i{
    cursor: pointer; 
    color: black; 
    list-style: none;
}

.not-i:hover{
    text-decoration: none; 
    color: black;
}

.btns{padding-right: 1em;}

.confirm{
    cursor: pointer; 
    border-radius: 4px; 
    border: none; 
    padding: 2%; 
    padding-left: 3%; 
    padding-right: 3%; 
    font-size: 15px; 
    color:white; 
    background-color: #982A72;
}

.cancel{
    cursor: pointer; 
    border-radius: 4px; 
    border: none; 
    padding: 2%; 
    padding-left: 5%; 
    padding-right: 5%; 
    font-size: 15px; 
    color:white; 
    background-color: #342359;
}

.confirm:hover{
    background-color: #7D0C56; 
    text-decoration: none; 
    color: white;
}

.cancel:hover{
    background-color: #39357E; 
    text-decoration: none; 
    color: white;
}

.menu{
    height: 20em; 
    overflow: scroll; 
    overflow-x:hidden; 
    width: 25em;
}

.horizontal-line{
    border-top: 2px solid #342359;
}

.horizontal-line-i{
    width:100%; 
    margin-bottom: -2%; 
    margin-top: 0%; 
    float: left; 
    margin-left: -8%;
    border-top: 1px solid #BEBEBE;
}

.d-before{width: 5em}

.before{margin-left: -2em;}

.badge{text-align: center; font-size: 9px; margin-left: -1.8em; background-color: #6A2453; border-radius: 14px; color: white; padding: .6em;}

.header-i{margin-top: 2%;}

.head{list-style: none;}

@media (min-width: 320px) and (max-width: 399px) {

    .menu{width: auto;}

    .before{display: none;}
    
    .d-after{margin-left: -4%; }

    .d-m-after{width: 22em; left: -13em;}

    .title_not{font-size: 13px; margin-left: 1.6em; margin-top: -1em; margin-bottom: -.6em;}

    .title_not-i{font-size: 13px}
    
    .horizontal-line{margin-top: 0%; margin-bottom: 0%;}
    
    .btns{margin-top: -6%; margin-bottom: 5%;}
    
    .horizontal-line-i{margin-bottom: 0%;}

    .not{font-size: 14px; width: 77vw;}

    .des-not{line-height: 18px; margin-left: 2.7em; font-size: .97em;}

    .date_not{ line-height: 20px; margin-top: .1em; margin-bottom: 1em; margin-right: 1em; font-size: .97em; }

    .photo{margin-bottom: -3.8em; margin-left: -2em; width: 4.5em;}

    .div-photo{margin-top: 1em; margin-bottom: -3.5em;}

    .confirm{font-size: .99em;}

    .cancel{font-size: .99em;}
}

@media (min-width: 400px) and (max-width: 499px){

    .before{display: none;}

    .d-after{margin-left: 20vw;}

    .d-m-after{width: 24em; left: -21em;}

    .menu{width: auto;}

    .not{font-size: 14px; width: 22em;}

    .title_not{font-size: 13px; margin-left: 1.6em; margin-top: -1em; margin-bottom: -.6em;}

    .title_not-i{font-size: 13px}

    .horizontal-line{margin-top: 0%; margin-bottom: 0%;}
    
    .btns{margin-top: -6%; margin-bottom: 5%; padding-right: 1.6em; }
    
    .horizontal-line-i{margin-bottom: 0%;}

    .des-not{line-height: 18px; margin-left: 2.7em; font-size: .97em;}

    .date_not{ line-height: 20px; margin-top: .1em; margin-bottom: 1em; margin-right: 2em; font-size: .97em; }

    .photo{margin-bottom: -3.8em; margin-left: -2em; width: 4.5em;}

    .div-photo{margin-top: 1em; margin-bottom: -3.5em;}

    .confirm{font-size: .99em;}

    .cancel{font-size: .99em;}
}

@media (min-width: 500px) and (max-width: 599px){

    .before{display: none;}

    .d-after{margin-left: 10vw;}

    .d-m-after{width: 25em; margin-left: -22em;}

    .not{font-size: 15px; width: 20em;}

    .title_not{font-size: 13px; margin-left: 1.6em; margin-top: -1em; margin-bottom: -.6em;}

    .title_not-i{font-size: 13px}
    
    .horizontal-line{margin-top: 0%; margin-bottom: 1%;}
    
    .btns{margin-top: -4%; margin-bottom: 3%; padding-right: 2em;}
    
    .horizontal-line-i{margin-bottom: 1%;}

    .des-not{line-height: 18px; margin-left: 2.7em; font-size: .97em;}

    .date_not{ line-height: 20px; margin-top: .1em; margin-bottom: 1em; margin-right: 2em; font-size: .97em; }

    .photo{margin-bottom: -3.8em; margin-left: -2em; width: 4.5em;}

    .div-photo{margin-top: 1em; margin-bottom: -3.5em;}

    .confirm{font-size: .99em;}

    .cancel{font-size: .99em;}
}

@media (min-width: 600px) and (max-width: 767px){

    .zoom-p{margin-left: 5%}

    .before{display: none;}
    
    .d-after{margin-left: 25vw;}

    .d-m-after{width: 29em; left: -26em;}

    .menu{width: auto;}

    .not{font-size: 15px; width: 18em;}

    .title_not{font-size: 13px; margin-left: 1.6em; margin-top: -1em; margin-bottom: -.6em;}

    .title_not-i{font-size: 13px}
    
    .horizontal-line{margin-top: 0%; margin-bottom: 0%;}
    
    .btns{margin-top: -4%; margin-bottom: 3%; padding-right: 2em;}
    
    .horizontal-line-i{margin-bottom: 0%;}

    .des-not{line-height: 18px; margin-left: 2.7em; font-size: 1.1em;}

    .date_not{ line-height: 20px; margin-top: .1em; margin-bottom: 1em; margin-right: 2em; font-size: 1em; }

    .photo{margin-bottom: -3.8em; margin-left: -3em; width: 6em;}

    .div-photo{margin-top: 1em; margin-bottom: -3.5em;}

    .confirm{font-size: 1.09em; padding-bottom: 2.5%;}

    .cancel{font-size: 1.09em; padding-bottom: 2.5%;}
}

@media (min-width: 768px) and (max-width: 899px){
    .dropdown{margin-left: 5em;}

    .after{display: none;}

    .d-before{ margin-left: 2em; }

    .d-m-before{width: 31em; left: -30.5em; margin-top: 2%;}

    .not{font-size: 15px;}

    .title_not{font-size: 12px; margin-top: -.3em; margin-bottom: -.3em;}

    .title_not-i{font-size: 13px}

    .horizontal-line{margin-top: 0%; margin-bottom: 4%;}
    
    .btns{margin-top: 5%; margin-bottom: 6%; padding-right: 1.7em;}
    
    .horizontal-line-i{margin-bottom: 3%;}

    .dropdown-menu{margin: 0; padding: 0; height: flex;}

    .menu{ width: auto; }

    .photo{width: 4.6em;}

    .div-photo{margin-top: .5em; margin-bottom: -1.5em;}

    .des-not{font-size: 13px; line-height: 14px; padding-right: 2em; line-height: 18px; margin-left: 2.3em;}

    .date_not{ font-size: 13px; line-height: 22px; margin-top: .5em; margin-bottom: .5em; float: left; }

    .confirm{ padding: 1%; padding-left: 2%; padding-right: 1.5%; padding-bottom: 2%; padding-top: 1.5%; font-size: 13px;}

    .cancel{ padding: 1%; padding-left: 4%; padding-right: 4%; padding-bottom: 2%; padding-top: 1.5%; font-size: 13px;}

}

@media (min-width: 900px){
    .after{display: none;}
    
    .horizontal-line{margin-top: 0%; margin-bottom: 4%;}

    .not{font-size: 15px;}

    .title_not{font-size: 12px;padding: 0; margin: 0; margin-left: 1.6em; margin-top: -.7em; margin-bottom: -.3em;}

    .title_not-i{font-size: 13px; padding: 0; margin: 0}
    
    .btns{margin-top: 5%; margin-bottom: 5%; padding-right: 2em;}
    
    .horizontal-line-i{margin-bottom: 3%;}

    .profile{margin-top: -20px;}

    .d-before{margin-left: 5em;}

    .menu{ width: auto; }

    .photo{width: 4.5em;}

    .div-photo{margin-top: .5em; margin-bottom: -1.5em;}

    .des-not{font-size: .89em; line-height: 14px; padding-right: 2em; line-height: 18px; margin-left: 2.3em;}

    .date_not{font-size: .9em; line-height: 20px; margin-top: .5em; margin-bottom: .5em; float: left; }

    .d-m-before{width: 31em; left: -30em;}

    .confirm{ padding: 1%; padding-left: 2%; padding-right: 1.5%; padding-bottom: 2%; padding-top: 1.5%; font-size: .89em;}

    .cancel{ padding: 1%; padding-left: 4%; padding-right: 4%; padding-bottom: 2%; padding-top: 1.5%; font-size: .89em; }

@media (min-width: 992px) and (max-width: 1920px){

    .d-m-before{width: 31em; left: -30em; margin-top: 2%;}

    .not{font-size: 15px;}

    .title_not{font-size: .88em;padding: 0; margin: 0; margin-left: 1.6em; margin-top: -.9em; margin-bottom: -.4em;}

    .title_not-i{font-size: 14px; padding: 0; margin: 0}

    .d-before{margin-left: 28.7em;}

    .btns{margin-bottom: 7%; padding-right: 2em;}

    .des-not{padding-right: 2em;}

    .confirm{font-size: .9em;}

    .cancel{font-size: .9em;}
}

@media (min-width: 1000px){

    .date_not{ line-height: 20px; margin-top: .5em; margin-bottom: 1em; margin-right: .3em; }

    .div-photo{margin-top: .2em; margin-bottom: -1em;}

    .menu{ width: auto; }

    .div-photo{margin-top: 1em; margin-bottom: -2.5em;}

    .des-not{line-height: 18px; padding-right: 2em; line-height: 18px; margin-left: 2.5em;}

    .date_not{ line-height: 20px; margin-top: .5em; margin-bottom: .5em; float: left; }

    .d-m-before{width: 30em; left: -27em;}

    .confirm{ padding: 1%; padding-left: 2%; padding-right: 1.5%;}

    .cancel{ padding: 1%; padding-left: 4%; padding-right: 4%; }
}

@media (min-width: 1200px){
    .d-before{margin-left: 39em}

    .title_not{font-size: 12px;padding: 0; margin: 0; margin-left: 1.6em; margin-top: -.9em; margin-bottom: -.5em}

    .title_not-i{font-size: 15px; padding: 0; margin: 0}

    .not{font-size: 15px;}

    .menu{ width: auto; }

    .div-photo{margin-top: .5em; margin-bottom: -1.8em;}

    .des-not{font-size: .9em; padding-right: 2em; line-height: 18px; margin-left: 2.5em;}

    .date_not{ font-size: .95em; line-height: 20px; margin-top: .5em; margin-bottom: .5em; float: left; }

    .d-m-before{width: 31em; left: -30em;}

    .confirm{font-size: .95em; padding: 1%; padding-left: 2%; padding-right: 1.5%; padding-bottom: 2%; padding-top: 1.8%;}

    .cancel{font-size: .95em; padding: 1%; padding-left: 4%; padding-right: 4%; padding-bottom: 2%; padding-top: 1.8%;}
}

@media (min-width: 1420px){

    .menu{width: auto;}

    .title_not{font-size: 13px; padding-left: 1em; margin: 0; margin-left: .6em; margin-top: -.8em; margin-bottom: -.5em;}

    .title_not-i{font-size: 14px; padding-left: 1em; margin: 0;  margin-top: -.5em;}

    .not{font-size: 14px; width: 100%; line-height: 15px;}

    .div-photo{margin-top: 1em; margin-bottom: -2em;}

    .photo{width: 5.5em;}

    .des-not{padding-right: 2em; line-height: 18px; margin-left: 2.9em; font-size: .97em;}

    .date_not{ line-height: 20px; margin-top: .5em; margin-bottom: .5em; float: left; font-size: .97em; }

    .d-m-before{width: 32em; left: -31.5em;}

    .confirm{ padding: 1%; padding-left: 2%; padding-right: 1.5%; padding-bottom: 2%; padding-top: 1.8%; font-size: .97em;}

    .cancel{ padding: 1%; padding-left: 4%; padding-right: 4%; padding-bottom: 2%; padding-top: 1.8%; font-size: .97em;}
}

@media (min-width: 1420px) and (max-width: 1500px){

    .head{margin-left: -12em;}

    .d-before{margin-top: -.2em;}

}


@media (min-width: 1500px) and (max-width: 1599px){
    .title_not{font-size: 13px;}

    .title_not-i{font-size: 14px;}
}

@media (min-width: 1500px){
    .d-before{margin-left: 40em;}

    .title_not{ margin-left: .2em;}

    .des_not{font-size: 1.2em;}

    .date_not{float: left; font-size: .99em;}

    .div-photo{margin-bottom: -2.5em; margin-top: .6em;}

    .d-m-before{width: 32em; left: -27em;}

    .confirm{ padding: 1%; padding-left: 2%; padding-right: 1.5%; padding-top: 1.8%; padding-bottom: 2%;}

    .cancel{ padding: 1%; padding-left: 4%; padding-right: 4%; padding-top: 1.8%; padding-bottom: 2%;}
}


@media (min-width: 1600px) and (max-width: 1699px){
    .title_not{ font-size: 14px; margin-bottom: -.5em; }

    .title_not-i{ font-size: 14px; }

    .d-before{margin-left: 38em;}

    .d-m-before{ width: 32em; left: -31em;}

    .confirm{ padding: 1%; padding-left: 2%; padding-right: 1.5%; padding-bottom: 2%; padding-top: 1.8%;}

    .date_not{float: left;}

    .cancel{ padding: 1%; padding-left: 4%; padding-right: 4%; padding-bottom: 2%; padding-top: 1.8%;}

}

@media (min-width: 1700px) and (max-width: 1799px){
    .title_not{ font-size: 14px; margin-bottom: -.5em; }

    .title_not-i{ font-size: 14px; }

    .d-before{margin-left: 38em;}

    .d-m-before{ width: 32em; left: -31em;}
}

@media (min-width: 1800px){
    .title_not{ font-size: 14px; margin-bottom: -.5em; }

    .title_not-i{ font-size: 14px; }

    .d-before{margin-left: 38em;}

    .menu{width: auto; height: 27em;}

    .div-photo{margin-top: 1.5em; margin-bottom: -2.5em;}

    .d-m-before{ width: 32em; left: -31em; height: 30em;}

    .confirm{font-size: 1.1em; padding-top: 2%;}

    .cancel{font-size: 1.1em; padding-top: 2%;}
}
