:root {
  --room1: #342359;
  --room2: #982a72;
  --room3: #394893;
  --room4: #a54483;
  --room5: #5d418d;
  --room6: #392b84;
  --room7: #b15391;
  --room8: #4f177d;
  --ff: #f8f8f8;
}

.d-m-before {
  padding: 0;
}

.title__noti_div {
  color: var(--room1);
  font-size: 0.75rem;
  padding-left: 0.8rem;
  padding-bottom: 0rem;
  border-bottom: 1px solid rgb(189, 189, 189);
  font-weight: bold;
  margin-bottom: 0;
}

.container__notification {
  margin: 0;
  padding: 0;
  width: 100%;
}

.noti_a {
  padding: 0rem;
  margin: 0;
  width: 100%;
}

.des_noti,
.img_noti {
  margin-left: -0.5rem;
}

.text__noti {
  font-size: 0.85rem;
  color: #000;
  margin-bottom: 0;
  padding-left: 0rem;
}

.noti__information {
  text-decoration: none;
  padding: 0.5rem 1rem;
  position: relative;
  color: #000;
  z-index: 0;
  border-top: 1px solid #ececec;
}

.noti__information:hover {
  background-color: rgb(248, 248, 248);
  text-decoration: none;
}

.noti__information_nview {
  text-decoration: none;
  padding: 0.5rem 1rem;
  position: relative;
  color: #000;
  z-index: 0;
  border-top: 1px solid #ececec;
  background-color: #f3f8fc;
}

.noti__information_nview:hover {
  background-color: rgb(248, 248, 248);
  text-decoration: none;
}

.trash {
  margin-right: -0.7rem;
  margin-top: -7rem;
  z-index: 100;
  background-color: transparent;
  border: none;
  float: right;
  color: #342359;
}

.trash2 {
  margin-top: -5.5rem !important;
}

.trash:hover {
  cursor: grab;
}

.button_delete_all {
  border: none;
  background-color: transparent;
  color: #342359;
  margin-right: 0;
  font-weight: bold;
  float: right;
  margin-right: 1rem;
}

.button_delete_all:hover {
  text-decoration: underline;
}

.time_send {
  padding: 0;
  margin: 0;
  padding-left: 0rem;
  color: var(--room1);
  font-weight: bold;
  font-size: 0.85rem;
}
/* Notifications */

.title_not {
  font-size: 16px;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 0%;
  color: #342359;
  margin-left: 1.6em;
}

.title_not-i {
  font-size: 16px;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 0%;
  color: #342359;
}

.content__noti {
  padding: 0;
  margin: 0;
  padding-bottom: 1rem;
  position: relative;
  width: 100%;
}

.menu {
  height: auto;
}

.div-photo {
  height: 5em;
  background: black;
}

.des-not {
  margin-left: 2em;
  width: 70%;
}

.not {
  list-style: none;
  margin-left: 0%;
  line-height: 20px;
  font-size: 16px;
  list-style: none;
  display: flex;
}

.not-i {
  cursor: pointer;
  color: black;
  list-style: none;
  width: auto;
}

.not-i:hover {
  text-decoration: none;
  color: black;
  background: #f3f8fc;
}

.confirm {
  width: 10em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  color: white;
  background-color: #982a72;
}

.cancel {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  color: white;
  background-color: #342359;
}

.confirm:hover {
  background-color: #7d0c56;
  text-decoration: none;
  color: white;
}

.cancel:hover {
  background-color: #39357e;
  text-decoration: none;
  color: white;
}

.menu {
  overflow: scroll;
  overflow-x: hidden;
}

.horizontal-line {
  border-top: 2px solid #342359;
}

.horizontal-line-i {
  width: 100%;
  margin-bottom: -2%;
  margin-top: 0%;
  float: left;
  margin-left: -8%;
  border-top: 1px solid #bebebe;
}

.badge {
  color: white;
  border-radius: 14px;
  text-align: center;
  font-size: 7px;
  padding: 0.3rem 0.8em;
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  background: #b15391;
}

.header-i {
  margin-top: 2%;
}

.head {
  list-style: none;
}

.scrollbar {
  margin-right: 0px;
  width: 100%;
  padding: 0;
  margin: 0;
  float: right;
  max-height: 300px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 5px;
  z-index: 100;
}

#style-1::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e2e2e2;
}

#style-1::-webkit-scrollbar {
  width: 10px;
  background-color: #e2e2e2;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #2d3977;
}

@media (min-width: 320px) and (max-width: 575px) {
  .content__noti {
    padding-bottom: 0rem;
  }
  .title__noti_div {
    margin-top: -0.5rem;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .content__noti {
    padding-bottom: 0.2rem;
  }
}

@media (min-width: 320px) and (max-width: 399px) {
  .before {
    display: none;
  }
  .d-after {
    margin-left: -4%;
  }
  .d-m-after {
    width: 22em;
    margin-left: -60vw;
  }
  .title_not {
    font-size: 13px;
    margin-left: 1.6em;
    margin-top: -1em;
    margin-bottom: -0.6em;
  }
  .title_not-i {
    font-size: 13px;
  }
  .image_stu {
    margin-left: -4%;
    margin-right: 2%;
    margin-top: 2%;
  }
  .not {
    font-size: 14px;
  }
  .des-not {
    line-height: 18px;
    margin-left: 2.7em;
    font-size: 0.97em;
  }
  .date_not {
    line-height: 20px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-right: 1em;
    font-size: 0.97em;
  }
  .voun {
    margin-bottom: 2em;
  }
  .text__noti,
  .time_send {
    padding-left: 0.5rem;
    font-size: 0.75rem;
  }
}

@media (min-width: 400px) and (max-width: 499px) {
  .before {
    display: none;
  }
  .d-after {
    margin-left: 20vw;
  }
  .not {
    font-size: 14px;
  }
  .d-m-after {
    width: 22em;
    left: -16em;
  }
  .title_not {
    font-size: 13px;
    margin-left: 1.6em;
    margin-top: -1em;
    margin-bottom: -0.6em;
  }
  .title_not-i {
    font-size: 13px;
  }
  .image_stu {
    margin-left: -4%;
    margin-right: 2%;
    margin-top: 2%;
  }
  .des-not {
    line-height: 18px;
    margin-left: 2.7em;
    font-size: 0.97em;
  }
  .date_not {
    line-height: 20px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-right: 2em;
    font-size: 0.97em;
  }
  .voun {
    margin-bottom: 2em;
  }
  .text__noti,
  .time_send {
    padding-left: 0.5rem;
    font-size: 0.75rem;
  }
}

@media (min-width: 500px) and (max-width: 599px) {
  .before {
    display: none;
  }
  .d-after {
    margin-left: 10vw;
  }
  .not {
    font-size: 15px;
  }
  .d-m-after {
    width: 24em;
    left: -21em;
  }
  .title_not {
    font-size: 13px;
    margin-left: 1.6em;
    margin-top: -1em;
    margin-bottom: -0.6em;
  }
  .title_not-i {
    font-size: 13px;
  }
  .image_stu {
    margin-left: -4%;
    margin-right: 2%;
    margin-top: 2%;
  }
  .des-not {
    line-height: 18px;
    margin-left: 2.7em;
    font-size: 0.97em;
  }
  .date_not {
    line-height: 20px;
    margin-top: 0em;
    margin-bottom: 1em;
    margin-right: 2em;
    font-size: 0.97em;
  }
  .voun {
    margin-bottom: 2em;
  }
  .text__noti,
  .time_send {
    padding-left: 0.5rem;
    font-size: 0.75rem;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .zoom-p {
    margin-left: 5%;
  }
  .before {
    display: none;
  }
  .d-after {
    margin-left: 25vw;
  }
  .not {
    font-size: 15px;
  }
  .d-m-after {
    width: 25.5em;
    left: -22em;
  }
  .title_not {
    font-size: 13px;
    margin-left: 1.6em;
    margin-top: -1em;
    margin-bottom: -0.6em;
  }
  .title_not-i {
    font-size: 13px;
  }
  .image_stu {
    margin-left: -4%;
    margin-right: 2%;
    margin-top: 2%;
  }
  .des-not {
    line-height: 18px;
    margin-left: 2.7em;
    font-size: 0.97em;
  }
  .date_not {
    line-height: 20px;
    margin-top: 0em;
    margin-bottom: 1em;
    margin-right: 2em;
    font-size: 0.97em;
  }
  .voun {
    margin-bottom: 2em;
  }
  .text__noti,
  .time_send {
    padding-left: 0rem;
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .dropdown {
    margin-left: 5em;
  }
  .after {
    display: none;
  }
  .d-before {
    margin-left: 1em;
    margin-top: -0.5em;
  }
  .d-m-before {
    width: 25em;
    left: -22em;
    margin-top: 2%;
  }
  .not {
    font-size: 15px;
  }
  .title_not {
    font-size: 13px;
    margin-top: 0em;
    margin-bottom: 0em;
  }
  .title_not-i {
    font-size: 14px;
  }
  .horizontal-line {
    margin-top: 0%;
    margin-bottom: 4%;
  }
  .horizontal-line-i {
    margin-bottom: 3%;
  }
  .dropdown-menu {
    margin: 0;
    padding: 0;
  }
  .des-not {
    font-size: 14px;
    line-height: 14px;
    padding-right: 2em;
    line-height: 18px;
    margin-left: 2.5em;
  }
  .date_not {
    font-size: 14px;
    line-height: 25px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    float: left;
  }
  .d-m-before {
    width: 30em;
    left: -27em;
  }
}

@media (min-width: 900px) {
  .after {
    display: none;
  }
  .horizontal-line {
    margin-top: 0%;
    margin-bottom: 4%;
  }
  .not {
    font-size: 15px;
  }
  .title_not {
    font-size: 13px;
    padding: 0;
    margin: 0;
    margin-left: 1.6em;
    margin-top: -0.2em;
  }
  .title_not-i {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  .horizontal-line-i {
    margin-bottom: 3%;
  }
  .profile {
    margin-top: -20px;
  }
  .d-before {
    margin-left: 1em;
    margin-top: -0.2em;
  }
  .des-not {
    line-height: 14px;
    padding-right: 2em;
    line-height: 18px;
    margin-left: 2.5em;
  }
  .date_not {
    line-height: 25px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    float: left;
  }
  .d-m-before {
    width: 30em;
    left: -27em;
  }
}
@media (min-width: 992px) and (max-width: 1920px) {
  .d-m-before {
    width: 30em;
    left: -27.5em;
    margin-top: 2%;
  }
  .not {
    font-size: 15px;
  }
  .d-before {
    margin-left: 2em;
  }
  .des-not {
    padding-right: 2em;
  }
}
@media (min-width: 1000px) {
  .d-before {
    margin-left: 2em;
  }
  .date_not {
    line-height: 20px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-right: 0.3em;
  }
  .des-not {
    line-height: 18px;
    padding-right: 2em;
    line-height: 18px;
    margin-left: 2.5em;
  }
  .date_not {
    line-height: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    float: left;
  }
  .d-m-before {
    width: 30em;
    left: -27em;
  }
}
@media (min-width: 1200px) {
  .d-before {
    margin-left: 2em;
  }
  .title_not {
    font-size: 13px;
    padding: 0;
    margin: 0;
    margin-left: 1.6em;
    margin-top: -0.2em;
  }
  .title_not-i {
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  .not {
    font-size: 15px;
  }
  .des-not {
    padding-right: 2em;
    line-height: 18px;
    margin-left: 2.5em;
  }
  .date_not {
    line-height: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    float: left;
  }
  .d-m-before {
    width: 30em;
    left: -27em;
  }
}
@media (min-width: 1420px) {
  .title_not {
    font-size: 13px;
    padding-left: 1em;
    margin: 0;
    margin-left: 0.6em;
  }
  .title_not-i {
    font-size: 14px;
    padding-left: 1em;
    margin: 0;
  }
  .not {
    font-size: 14px;
    line-height: 15px;
  }
  .des-not {
    padding-right: 2em;
    line-height: 18px;
    margin-left: 2.5em;
  }
  .date_not {
    line-height: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    float: left;
  }
  .d-m-before {
    width: 31em;
    left: -28em;
  }
}
@media (min-width: 1420px) and (max-width: 1500px) {
  .head {
    margin-left: -12em;
  }
  .d-before {
    margin-top: -0.2em;
  }
}
@media (min-width: 1500px) {
  .log {
    margin-top: -0.2em;
  }
  .d-before {
    margin-left: 2em;
  }
  .title_not {
    margin-left: 0.2em;
    font-size: 14px;
  }
  .date_not {
    float: left;
  }
  .d-m-before {
    width: 31em;
    left: -28em;
  }
}
@media (min-width: 1600px) {
  .title_not {
    font-size: 13px;
  }
}
@media (min-width: 1600px) and (max-width: 1699px) {
  .title_not {
    font-size: 14px;
    margin-bottom: 0.5em;
  }
  .title_not-i {
    font-size: 15px;
  }
  .d-before {
    margin-left: 2em;
  }
  .d-m-before {
    width: 32em;
    left: -29em;
  }
  .date_not {
    float: left;
  }
}
@media (min-width: 1600px) {
  .d-before {
    margin-left: 2em;
  }
  .title_not {
    font-size: 14px;
    margin-bottom: 0.5em;
  }
  .title_not-i {
    font-size: 15px;
  }
}
@media (min-width: 1700px) and (max-width: 1799px) {
  .title_not {
    font-size: 13px;
    margin-bottom: 0.5em;
  }
  .title_not-i {
    font-size: 15px;
  }
  .d-before {
    margin-left: 2em;
  }
  .d-m-before {
    width: 32em;
    left: -30em;
  }
}
@media (min-width: 1800px) and (max-width: 1899px) {
  .title_not {
    font-size: 14px;
    margin-bottom: 0.5em;
  }
  .title_not-i {
    font-size: 15px;
  }
  .d-before {
    margin-left: 2em;
  }
  .d-m-before {
    width: 32em;
    left: -30em;
  }
}
@media (min-width: 1900px) and (max-width: 1999px) {
  .d-before {
    margin-left: 2em;
  }
  .d-m-before {
    width: 32em;
    left: -30em;
  }
}
@media (min-width: 2000px) {
  .title_not {
    font-size: 15px;
  }
  .title_not-i {
    font-size: 15px;
  }
  .des-not {
    font-size: 15px;
  }
  .date_not {
    font-size: 15px;
  }
  .d-before {
    margin-left: 2em;
  }
  .d-m-before {
    width: 32em;
    left: -30em;
  }
}

.div_panel_noti {
  margin: 0;
  width: 100%;
  position: relative;
}

.button_trash {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  z-index: 100;
  border: none;
  background-color: transparent;
  color: #342359;
}

.notification_panel {
  margin: 0;
  width: 100%;
  position: relative;
  display: flex;
  padding: 2rem 1rem;
  padding-bottom: 1rem;
  background-color: #f3f8fc;
  border-top: 1px solid #ececec;
}

.view {
  background-color: transparent;
}

.new {
  background-color: #f3f8fc;
}

.text_wview {
  color: #000;
  margin: 0;
  margin-top: 0rem;
  font-size: 0.95rem;
}

.font_view {
  font-size: 0.95rem;
  margin: 0;
  color: rgb(97, 97, 97);
}

.view_confirm {
  background-color: var(--room7) !important;
}

.view_confirm:hover {
  background-color: var(--room2) !important;
}

.view_reject {
  background-color: var(--room3) !important;
}

.view_reject:hover {
  background-color: var(--room1) !important;
}

.text_time {
  color: #342359;
  font-weight: bold;
  margin-right: auto;
  font-size: 0.95rem;
}

.time2 {
  margin-top: 0rem !important;
}
.time {
  margin-top: 0.5rem !important;
}

.new_date {
  margin: 0;
}

.ban {
  position: absolute;
  z-index: 100;
  left: 1rem;
  top: 0.5rem;
  font-size: 0.8rem;
}

.btns_acept {
  float: right;
  margin: 0;
  margin-top: 1rem;
}

.date_reserve {
  display: flex;
  justify-content: space-between;
}

.notification_panel:hover {
  background-color: #f8f8f8;
  border-radius: 6px;
  text-decoration: none;
}

.photo {
  margin-left: 0em;
  width: 4rem;
  height: 4rem;
  max-width: 4rem;
  border-radius: 30px;
}

.btn_confirm {
  width: 5.5rem;
  background-color: var(--room2);
  color: #fff;
  margin-right: 0.5rem;
  font-size: 0.85rem;
}

.btn_confirm:hover {
  background-color: var(--room7);
  color: #fff;
}

.btn_reject {
  width: 5.5rem;
  background-color: var(--room1);
  color: #fff;
  font-size: 0.85rem;
}

.btn_reject:hover {
  background-color: var(--room3);
  color: #fff;
}

@media (min-width: 320px) and (max-width: 575px) {
  .photo {
    width: 3rem;
    height: 3rem;
  }

  .btn_confirm {
    margin-right: 0;
  }

  .date_res {
    width: 12rem;
  }

  .btns_acept {
    margin-top: 0;
  }
}
