a.btn-link {
  color: #982a72;
}
a.btn-link:hover {
  color: #982a72;
}
button.btn {
  background-color: #5d418d;
  border: 2px solid #5d418d;
}
button.btn:hover {
  background-color: #5d418d;
  border: 2px solid #5d418d;
}
#map {
  width: 320px;
  height: 300px;
}
/*Buttons*/
button#submit {
  width: 130px;
  font-size: 14px;
}
a#contact {
  width: 130px;
  font-size: 14px;
}
a#edit {
  width: 150px;
  font-size: 14px;
  background-color: #982a72;
  color: white;
  border-color: #982a72;
}

/* MEDIA EXTRA SMALL PHONES*/
@media screen and (max-width: 600px) {
  /*Location*/
  #map {
    width: 300px;
    height: 200px;
    margin-left: 15px;
  }

  #disa {
    margin-top: 150px;
    margin-left: -340px;
  }
  #roominfo1 {
    margin-top: -70px;
  }
  #disb {
    margin-top: 150px;
    margin-left: -310px;
  }
  #roominfo2 {
    margin-top: -70px;
  }
  #disc {
    margin-top: 150px;
    margin-left: -310px;
  }
  #roominfo3 {
    margin-top: -70px;
  }
  #disd {
    margin-top: 150px;
    margin-left: -310px;
  }
  #roominfo4 {
    margin-top: -70px;
  }
  #dise {
    margin-top: 150px;
    margin-left: -310px;
  }
  #roominfo5 {
    margin-top: -70px;
  }
  #disf {
    margin-top: 150px;
    margin-left: -310px;
  }
  #roominfo6 {
    margin-top: -70px;
  }
  #disg {
    margin-top: 150px;
    margin-left: -310px;
  }
  #roominfo7 {
    margin-top: -70px;
  }
  #dish {
    margin-top: 150px;
    margin-left: -310px;
  }
  #roominfo8 {
    margin-top: -70px;
  }
  #gena {
    margin-top: 150px;
    margin-left: -265px;
  }
  #datea {
    margin-top: 150px;
    margin-left: -180px;
  }
  #faminfo1 {
    margin-top: -70px;
  }
  #genb {
    margin-top: 150px;
    margin-left: -265px;
  }
  #dateb {
    margin-top: 150px;
    margin-left: -180px;
  }
  #faminfo2 {
    margin-top: -70px;
  }
  #genc {
    margin-top: 150px;
    margin-left: -265px;
  }
  #datec {
    margin-top: 150px;
    margin-left: -180px;
  }
  #faminfo3 {
    margin-top: -70px;
  }
  #gend {
    margin-top: 150px;
    margin-left: -265px;
  }
  #dated {
    margin-top: 150px;
    margin-left: -180px;
  }
  #faminfo4 {
    margin-top: -70px;
  }
  #gene {
    margin-top: 150px;
    margin-left: -265px;
  }
  #datee {
    margin-top: 150px;
    margin-left: -180px;
  }
  #faminfo5 {
    margin-top: -70px;
  }
  #genf {
    margin-top: 150px;
    margin-left: -265px;
  }
  #datef {
    margin-top: 150px;
    margin-left: -180px;
  }
  #faminfo6 {
    margin-top: -70px;
  }
  #geng {
    margin-top: 150px;
    margin-left: -265px;
  }
  #dateg {
    margin-top: 150px;
    margin-left: -180px;
  }
  #faminfo7 {
    margin-top: -70px;
  }
  #genh {
    margin-top: 150px;
    margin-left: -285px;
  }
  #dateh {
    margin-top: 150px;
    margin-left: -180px;
  }
  #faminfo8 {
    margin-top: -70px;
  }
  #nav-footer {
    display: none;
  }
  #con-footer {
    display: none;
  }
  #white-logo {
    display: none;
  }
  #edit {
    font-size: 13px;
  }
  #submit {
    font-size: 13px;
  }

  /*Buttons*/
  button#submit {
    width: 130px;
    font-size: 12px;
  }
  a#contact {
    width: 130px;
    font-size: 12px;
  }
  a#edit {
    width: 150px;
    font-size: 12px;
  }
}
#house {
  background-image: url("../student/assets/images/house1.png");
  background-size: cover;
  width: 27px;
  height: 49px;
  cursor: pointer;
}
.page-link {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  color: #191919;
  margin: 0 0.125rem;
  padding: 0.75rem 1rem;
  position: relative;
}

.page-link:hover {
  background-color: #815391;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  color: #191919;
}

.page-link:after {
  border-style: solid;
  border-color: transparent transparent transparent transparent;
  bottom: -0.4375rem;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
  transition: 0.3s ease;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0;
}

.page-item.active .page-link {
  background-color: #342359;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

.page-item.active .page-link:after {
  border-color: white transparent transparent transparent;
}

.wrap-div {
  width: 30%;
  margin-top: -3.8%;
  margin-right: 2%;
}

.wrap-div-i {
  width: 31%;
  margin-top: -5%;
  margin-right: 2%;
}

.wrap-div-ii {
  width: 31%;
  margin-top: -2%;
  margin-right: 2%;
}

.wrap-div-iii {
  margin-top: -1.6%;
}

.area-iii,
.bath-iv,
.bed-v,
.bed-iv,
.bed-vi,
.bed-vii,
.bed-viii {
  margin-top: -2%;
}

.init {
  margin: 0;
  width: 80%;
  margin: auto auto;
}

.init_price {
  width: 70% !important;
}

.details {
  width: 37%;
  display: flex;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.label {
  padding: 5px 10px;
  background: #4f177d;
  font-weight: normal;
  color: white;
  border-radius: 8px;
}

.label:hover {
  cursor: pointer;
  background: white;
  border: 1px solid #4f177d;
  transition: all 0.5s;
  color: #4f177d;
}

.icon-type {
  display: flex;
  margin-top: 1em;
  margin-bottom: -2.1em;
}

.type-img {
  width: 1.9em;
  height: 1.9em;
}

.img-room {
  width: 80%;
  height: 9.5em;
}

.tex-bed {
  padding-top: 0.2rem;
  color: black;
  font-size: 14px;
  margin-left: 0.4rem;
  font-weight: 500;
}

.aprox {
  margin-left: 2%;
}

:root {
  --room1: #342359;
  --room2: #982a72;
  --room3: #394893;
  --room4: #a54483;
  --room5: #5d418d;
  --room6: #392b84;
  --room7: #b15391;
  --room8: #4f177d;
  --ff: #f8f8f8;
}

body {
  background-color: #f3f8fc;
  font-family: Arial, Helvetica, sans-serif;
}

.container__title {
  width: 70%;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.title__edit {
  font-size: 3rem;
}

.card-main {
  max-width: 1100px;
  border: none;
  margin: auto;
  display: flex;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 2rem;
  border: 1px solid var(--room1);
  box-shadow: 0px 9px 14px -5px var(--room1);
  -webkit-box-shadow: 0px 9px 14px -5px var(--room1);
  -moz-box-shadow: 0px 9px 14px -5px var(--room1);
}

.form__group-house_in {
  width: 100%;
}

.form__target-header {
  top: 0;
  width: 100%;
  margin: 0;
  background-color: var(--room1);
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffffff;
  margin-bottom: 4rem;
  padding: 5px 0;
}

.title_target {
  padding-left: 3rem;
  vertical-align: middle;
  margin: 0;
  padding-bottom: 0;
}

.title__group-section {
  width: 90%;
  color: var(--room1);
  margin: 0 auto;
  border-bottom: 2px solid #e8e8e8;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 4rem;
  font-weight: normal !important;
}

.form__group-row {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.form__group-h_name {
  position: relative;
  border: none;
  display: block;
}

.form__group-hinf {
  display: flex;
  position: relative;
  justify-content: center;
}

.form__group-input {
  padding: 10px 5px;
  padding-bottom: 2px;
  border: none;
  border-bottom: 1px solid var(--room1);
  outline: none;
  font-size: 0.95rem;
  position: relative;
  background-color: transparent;
  color: #000;
  font-weight: 500;
}

.mname,
.lmname,
.dateb {
  width: 100%;
}

.form__group-input::placeholder {
  color: #69688a;
}

.form__group-city,
.form__group-state,
.form__group-pcode {
  margin-top: 2rem;
}

.end_div {
  margin-bottom: 5rem;
}

.tarjet,
.tarjet3,
.wrap-div {
  width: 15rem;
}

.form__group-description_div {
  width: 100%;
  margin: 0 auto;
  margin-top: -2rem;
  margin-bottom: 5rem;
}

.form__group-description {
  width: 80%;
  margin: 0 auto;
}

.description {
  width: 100%;
  background-color: rgb(231, 231, 231);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 5px 10px;
  border-bottom: 2px solid #4f177d;
}

.form__group-preferences {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.form__group-preferences {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.form__group-academy {
  position: relative;
}

.form__group-gender {
  position: relative;
}

.form__group-age {
  position: relative;
}

.form__group {
  position: relative;
}

.form__group-diet,
.form__group-pets {
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 0px 5px -8px var(--room1);
  -webkit-box-shadow: 0px 0px 8px -5px var(--room1);
  -moz-box-shadow: 0px 0px 8px -5px var(--room1);
}

.title__group-preference {
  width: 90%;
  color: var(--room1);
  margin: 0 auto;
  border-bottom: 2px solid var(--room3);
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
  font-weight: normal !important;
}

.form__group-diet-in,
.form__group-pets-in {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.custom-checkbox-none {
  margin: 0 auto;
}

.custom-checkbox-pets {
  left: 3rem;
}

.form__group-ypets {
  flex: 0 0 calc(40% - 30px);
  position: relative;
}

.form__group-npets {
  flex: 0 0 calc(40% - 30px);
  position: relative;
}

.custom-checkbox {
  flex: 0 0 calc(48% - 30px);
}

.custom-checkbox-none {
  flex: 0 0 calc(30% - 30px);
}

.custom-checkbox-dog {
  flex: 0 0 calc(10% - 30px);
}

.custom-checkbox-pets {
  left: 3rem;
}

.form__group-others {
  flex: 0 0 calc(40% - 7px);
}

.form__group-row {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.mgender,
.alter_phone,
.db_law {
  width: 100%;
}

.margin-t {
  margin-top: -2rem !important;
}

.form__group-row2 {
  display: block;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.add__family {
  border: none;
  color: var(--room1);
  background-color: transparent;
}

.member1 {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form__group-save {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-top: 6rem;
  padding-top: 2rem;
  border-top: 2px solid #e8e8e8;
}

.form__message {
  width: 100%;
}

.message_error {
  background-color: rgb(255, 173, 173);
  border: 2px solid red;
  padding: 10px 10px;
  height: 5rem;
  border-radius: 14px;
  width: 20%;
  margin-left: auto;
  margin-right: 2rem;
  display: none;
}

.aprobe {
  background-color: #00913f !important;
  border: 2px solid #01632b !important;
}

.error {
  width: 50%;
  margin: 0 auto;
}

.message_error_active {
  display: block !important;
}

.error-m {
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  line-height: 3.5rem;
  color: black;
}

.location_error {
  padding-left: 0.5rem !important;
}

.loc {
  margin: 0 !important;
}

.bedrooms {
  width: 85%;
  margin: auto auto;
}

.family__members {
  width: 90%;
  margin: 0 auto;
  margin-top: -4rem;
}

.title__register {
  padding-left: 1rem;
  margin-top: -1rem;
  margin-bottom: 3rem;
}

.required {
  color: #000;
  font-size: 16px;
  margin-top: 2rem;
}

/* Labels */

.label__name {
  position: absolute;
  top: -0.5rem;
  left: 2rem;
  font-weight: 400 !important;
  color: #342359;
  width: 100%;
}

.house_info {
  margin-left: 0.8rem !important;
}

.hi_room {
  margin-left: 2rem;
}

.location {
  left: 1.5rem !important;
}

.preference {
  left: 0.5rem !important;
}

.form__group-diet,
.form__group-pets {
  padding: 1rem 0.5rem !important;
}

.form__group-hinf,
.form__group-hinf2,
.form__group-hinf3 {
  display: flex;
  position: relative;
  justify-content: center;
}

.label__family {
  left: 3rem;
}

.pets_label {
  left: 0.2rem;
  top: -0.2rem;
}

/* Icons */

.l_icon {
  cursor: pointer;
}

.icon {
  position: relative;
  width: 2rem;
  height: 2rem;
  top: 0.7rem;
}

.icon_hname {
  content: url("../../../assets/icon/basic\ information\ 64.png");
  width: 1.5rem !important;
  height: 1.5rem !important;
  top: 0.9rem;
}

.icon_pnumber {
  content: url("../../../assets/icon/main\ contact\ 64.png");
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.icon_rooms {
  content: url("../../../assets/icon/habitacion.png");
  width: 1.3rem !important;
  height: 1.3rem !important;
  margin-left: -1.5rem !important;
  top: 1rem !important;
}

.icon_location {
  content: url("../../../student/assets/images/house1.png");
  width: 0.9rem !important;
  height: 1.6rem !important;
  margin-left: -1rem !important;
  top: 0.6rem !important;
}

.icon_location2 {
  content: url("../../../assets/icon/location\ 64.png");
  margin-left: -1.4rem !important;
  width: 1.7rem;
  height: 1.7rem;
}

.icon_description {
  content: url("../../../assets/icon/basic\ information\ 64.png");
  left: -2rem;
  top: 2.5rem;
}

.icon_p_academy {
  content: url("../../../assets/icon/academy\ preference.png");
  left: -1.5rem;
  top: 0.5rem;
  width: 1.4rem;
  height: 1.4rem;
}

.icon_gender {
  content: url("../../../assets/icon/gender.png");
  width: 1.3rem;
  height: 1.3rem;
  left: -1.5rem;
  bottom: 0;
}

.icon_age {
  content: url("../../../assets/icon/profile.png");
  width: 1.5rem;
  height: 1.5rem;
  left: -1.5rem;
}

.icon_status {
  content: url("../../../assets/icon/available.png");
  left: -1.6rem;
  width: 1.9rem;
  height: 1.9rem;
  top: 0.5rem;
}

.icon_smokers {
  content: url("../../../assets/icon/smokers.png");
  width: 1rem;
  height: 1.2rem;
  left: -1.3rem;
  top: 1.2rem;
}

.icon-diet {
  content: url("../../../assets/icon/diet.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.3rem;
}

.icon-pets {
  content: url("../../../assets/icon/pets\ 64.png");
  top: 0.2rem;
}

.icon_name_h {
  content: url("../../../assets/icon/profile2.png");
  width: 1.5rem;
  height: 1.5rem;
  left: -0.5rem;
}

.icon_db {
  content: url("../../../assets/icon/calendar.png");
  width: 1.2rem;
  height: 1.2rem;
  left: 0.1rem;
  top: 0.8rem;
}

.icon_gender2 {
  content: url("../../../assets/icon/gender.png");
  width: 1.3rem;
  height: 1.3rem;
  left: 0rem;
  top: 0.9rem;
}

.icon_bcheck {
  content: url("../../../assets/icon/user\ profile.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.7rem;
}

.icon_family {
  content: url("../../../assets/icon/family.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.5rem;
}

.icon_mname {
  content: url("../../../assets/icon/profile.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.7rem;
}

.icon_mail {
  content: url("../../../assets/icon/email.png");
  width: 1.3rem;
  height: 1.4rem;
  top: 0.8rem;
}

.icon_pass {
  content: url("../../../assets/icon/password.png");
  width: 1.6rem;
  height: 1.6rem;
  top: 0.6rem;
  left: 0.2rem;
}

.icon_meals {
  content: url("../../../assets/icon/food2\ 64.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 1.1rem;
  left: -1.5rem;
}

.icon_years {
  content: url("../../../assets/icon/dueño\ 64.png");
  width: 1.6rem;
  height: 1.6rem;
  top: 1.2rem;
  left: -1.5rem;
}

.hname {
  width: 80%;
}

.pnumber {
  width: 80%;
  padding-left: 5px;
}

.rooms {
  width: 50% !important;
  text-align: center;
}

.address,
.city {
  width: 90% !important;
}

.state,
.pcode {
  width: 90% !important;
}

.academy {
  width: 100%;
  top: -2.1rem;
}

.gender {
  width: 100%;
  top: -2.1rem;
}

.age {
  top: -2.1rem;
}

.status {
  top: -2.3rem;
  width: 100%;
}

.smoke {
  top: -1.5rem;
}

.since {
  width: 100%;
  top: -1.8rem;
}

.npets,
.background,
.background_l,
.nmembers,
.gender1,
.name1,
.lname1,
.dbirth1,
.gender1,
.relation1,
.name2,
.lname2,
.db2,
.gender2,
.relation2,
.db_lawf2,
.name3,
.lname3,
.db3,
.gender3,
.relation3,
.db_lawf3,
.name4,
.lname4,
.db4,
.gender4,
.relation4,
.db_lawf4,
.name5,
.lname5,
.db5,
.gender5,
.relation5,
.db_lawf5,
.name6,
.lname6,
.db6,
.gender6,
.relation6,
.db_lawf6,
.name7,
.lname7,
.db7,
.gender7,
.relation7,
.db_lawf7,
.name8,
.lname8,
.db8,
.gender8,
.relation8,
.db_lawf8 {
  width: 100%;
}

.mail,
.pass {
  width: 80%;
}

.ypets {
  top: -0.2rem;
}

.others {
  width: 100%;
  top: -1rem;
}

/* -------------------- END ---------------------------*/

/* inputs true and false */

.message__input_error {
  display: none;
  color: red;
  font-size: 12px;
  line-height: 17px;
  padding-left: 3rem;
  padding-top: 0.5rem;
}

.room_error {
  padding-left: 0 !important;
}

.family_error {
  padding-left: 1.5rem;
}

.number_error {
  padding-left: 2rem;
}

.disabled {
  display: none;
}

.message__input_error_active {
  display: block;
}

.input_true .form__group-input {
  border-bottom: 2px solid #00913f !important;
}

.input_false .form__group-input {
  border-bottom: 2px solid #cc0000 !important;
}

/* -------------------- END ---------------------------*/

@media (min-width: 300px) and (max-width: 1200px) {
  .form__group-preferences1 {
    width: 70%;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .house_info__div {
    width: 100% !important;
  }

  .house_info {
    margin-left: 1.2rem !important;
  }

  .hi_room {
    margin-left: -0.5rem;
  }

  .tarjet,
  .tarjet3,
  .wrap-div {
    width: 15rem;
  }
}

@media (min-width: 300px) and (max-width: 575px) {
  .title__group-section {
    margin-bottom: 2rem;
  }

  .rooms {
    width: 85% !important;
    text-align: left;
  }

  .title__edit {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .form__group-hinf2,
  .form__group-hinf3 {
    margin-top: 2rem;
  }

  .init {
    width: 90%;
  }

  .tex-bed {
    font-size: 13px;
  }

  .init_price {
    width: 80% !important;
  }
}

@media (min-width: 300px) and (max-width: 992px) {
  .form__group-num,
  .form__group-room,
  .form__group-mail,
  .form__group-pass {
    margin-top: 2rem;
  }

  .form__group-room {
    margin-left: 1.7rem;
  }

  .form__group-row {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .form__group-adress {
    width: 90%;
    margin-left: auto !important;
  }

  .form__group-pets {
    margin-top: 2rem;
  }
}

@media (min-width: 400px) and (max-width: 1100px) {
  .card-main {
    width: 95%;
  }

  .message__input_error {
    width: 100%;
    padding-left: 2rem;
  }

  .house_info__div {
    width: 95% !important;
  }

  .house_info {
    margin-left: 2rem !important;
  }

  .hi_room {
    margin-left: 0.2rem;
  }
}

@media (min-width: 400px) and (max-width: 575px) {
  .house_info {
    margin-left: 2rem !important;
  }

  .hi_room {
    margin-left: 0.2rem;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .form__group-row {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .rooms {
    width: 84% !important;
    text-align: left;
  }

  .house_info {
    margin-left: 3.3rem !important;
  }

  .hi_room {
    margin-left: 1.5rem;
  }

  .mname,
  .lmname,
  .dateb {
    width: 100% !important;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .house_info {
    margin-left: 3.5rem !important;
  }

  .rooms {
    width: 84% !important;
    text-align: left;
  }

  .hi_room {
    margin-left: 1.6rem;
  }

  .form__group-hinf2 {
    margin-top: 4rem;
  }
  .form__group-hinf3 {
    margin-top: 2rem;
  }

  .init {
    width: 90%;
  }

  .init_price {
    width: 80% !important;
  }

  .tex-bed {
    font-size: 13px;
  }

  .aprox_label {
    font-size: 13px !important;
  }
}

@media (min-width: 992px) and (max-width: 1100px) {
  .rooms {
    width: 83% !important;
    text-align: left;
  }

  .house_info {
    margin-left: 1rem !important;
  }

  .hi_room {
    margin-left: -0.2rem;
  }
}

@media (min-width: 992px) {
  .tarjet,
  .tarjet3,
  .wrap-div {
    width: 18rem;
  }

  .form__group-hinf {
    margin-top: 4rem;
  }
  .form__group-hinf3 {
    margin-top: 4rem;
  }

  .form__group-hinf2 {
    margin-top: 4rem;
  }

  .icon_hname {
    width: 1.7rem !important;
    height: 1.7rem !important;
    top: 0.7rem;
  }

  .icon_pnumber {
    width: 1.7rem !important;
    height: 1.7rem !important;
  }

  .icon_rooms {
    width: 1.5rem !important;
    height: 1.5rem !important;
    top: 0.8rem !important;
  }
}

@media (min-width: 1200px) {
  .icon_location {
    width: 1rem !important;
    height: 1.7rem !important;
    margin-left: -1.2rem !important;
  }

  .icon_location2 {
    margin-left: -1.6rem !important;
    width: 1.9rem;
    height: 1.9rem;
  }

  .icon_p_academy {
    width: 1.5rem;
    height: 1.5rem;
  }

  .icon_gender {
    width: 1.4rem;
    height: 1.4rem;
  }

  .icon_age {
    width: 1.6rem;
    height: 1.6rem;
  }

  .icon_status {
    left: -1.6rem;
    width: 2.1rem;
    height: 2.1rem;
    top: 0.6rem;
  }

  .icon_smokers {
    width: 1.1rem;
    height: 1.3rem;
    left: -1.3rem;
    top: 1.2rem;
  }
}

@media (max-width: 600px) {
  div#map {
    margin-left: 0px;
    margin-top: 1rem;
    width: 100%;
    height: 12rem;
  }
}

/* MEDIA MEDIUM DEVICE TABLETS*/

@media (min-width: 600px) {
  /*REPONSIVE LOCATION*/
  div#map {
    margin-left: 0px;
    width: 100%;
    height: 12rem !important;
  }
}

/* MEDIA LARGE DEVICE DESKTOP AND LAPTOPS*/

@media (min-width: 800px) {
  /*REPONSIVE LOCATION*/
  div#map {
    margin-left: 0px;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  div#map {
    width: 100%;
    height: 100%;
  }
}

.zoom {
  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s, -o-transform 0.5s;
}

.zoom:hover {
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
}

#house {
  background-image: url("../../../student/assets/images/house1.png");
  background-size: cover;
  width: 27px;
  height: 49px;
  cursor: pointer;
}

.logo_white {
  width: 200px;
}

@media (max-width: 767px) {
  .navbar {
    height: 6rem !important;
  }
  .logo_white {
    width: 110px;
    margin-top: 0rem;
  }

  .navbar-nav {
    margin-top: -2rem !important;
  }
}

@media (min-width: 767px) {
  .logo_white {
    margin-top: 0rem;
    width: 110px;
  }
}

@media (min-width: 1000px) {
  .logo_white {
    width: 140px;
  }
}

@media (min-width: 1200px) {
  .logo_white {
    width: 160px;
  }
}

@media (min-width: 1400px) {
  .logo_white {
    width: 160px;
  }
}
