:root {
  --room1: #342359;
  --room2: #982a72;
  --room3: #394893;
  --room4: #a54483;
  --room5: #5d418d;
  --room6: #392b84;
  --room7: #b15391;
  --room8: #4f177d;
  --ff: #f8f8f8;
}

.rep-title {
  width: 85%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.target {
  margin-top: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.thead_rep {
  color: white;
  background: #342359;
}

.stu_info {
  background: #982a72;
  border-radius: 6px;
  color: white;
  border: none;
}

.stu_info:hover {
  color: white;
  box-shadow: 0px 2px 6px 0px black;
  transition: all 0.2s;
}

.input-borderless {
  width: 100%;
  border-top: 0px;
  border-bottom: 2px solid #4f177d;
  border-right: 0px;
  border-left: 0px;
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-decoration: none;
  outline: none;
  display: block;
  padding: 10px 5px;
  margin: 0px 0;
  font-size: 1em;
}

.option {
  color: black;
}

.title-rep {
  padding: 5px;
  color: black;
  border-radius: 8px;
  border-bottom: 2px solid #4f177d;
}

.tittle_rep {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.hover_ref:hover {
  color: #342359;
}

.manager_img {
  cursor: default;
}

.manager_img:hover {
  color: black;
}

.stu_img {
  width: 70px;
  height: 70px;
}

.man_img {
  width: 70px;
  height: 70px;
}

.btn_feedback {
  background-color: #342359;
  color: #fff;
}

.btn_feedback:hover {
  color: white;
  -webkit-box-shadow: 0px 2px 6px 0px black;
  box-shadow: 0px 2px 6px 0px black;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.id_not {
  width: 10% !important;
}

.photo2 {
  width: 20% !important;
}

.title {
  width: 30% !important;
}

.status {
  width: 15% !important;
}

.action {
  width: 25% !important;
}

/* Notification */

@media (min-width: 1000px) {
  .d-m-before {
    width: 31em !important;
    left: -28em !important;
  }
}

.title__noti_div {
  font-size: 0.7rem !important;
}

.text_time {
  font-size: 0.75rem !important;
}

.photo {
  width: 3.5rem !important;
  height: 3.5rem !important;
  max-width: 3.5rem !important;
}

.text_wview {
  font-size: 0.85rem !important;
}

.font_view {
  font-size: 0.85rem !important;
}

.btn_confirm {
  width: 5rem !important;
  font-size: 0.75rem !important;
  padding: 0.3rem 0.5rem !important;
}

.btn_reject {
  width: 5rem !important;
  font-size: 0.75rem !important;
  padding: 0.3rem 0.5rem !important;
}

/* New Version */

:root {
  --room1: #342359;
  --room2: #982a72;
  --room3: #394893;
  --room4: #a54483;
  --room5: #5d418d;
  --room6: #392b84;
  --room7: #b15391;
  --room8: #4f177d;
  --ff: #f8f8f8;
}

.line__top {
  background-color: #4d177d;
  height: 12rem;
}

.main__div {
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: -5rem;
}

.form__group__reports__div {
  margin: 0;
  width: 80%;
  max-width: 1200px;
  height: 40rem;
  display: flex;
  margin: auto auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 13px -3px #342359;
  -webkit-box-shadow: 0px 0px 13px -3px #342359;
  -moz-box-shadow: 0px 0px 13px -3px #342359;
}

.form__group__reports__details {
  border-right: 1px solid rgb(230, 230, 230);
}

.form__group__reports__details,
.form__group__reports__description {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.form__group__reports__titles {
  padding: 0rem 2rem;
}

.form__group__reports__titles {
  padding-bottom: 0rem;
  display: flex;
  background-color: #394893;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 4rem;
}

.form__group__reports__title {
  margin: auto 0;
  margin-right: auto;
  color: #fff;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.form__group_reports_add {
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
  background-color: transparent;
  margin: auto 0;
  margin-left: auto;
  font-weight: 500;
}

.form__group_reports_add:hover {
  text-decoration: none;
  color: #000;
}

/* Input Search */

.form__goup__div__search__report {
  padding: 1rem;
  position: relative;
}

.input__search {
  border-radius: 30px;
  width: 100%;
  background-color: #ececec;
  padding: 0.4rem 1rem;
  padding-left: 2rem;
}

.input__search::placeholder {
  color: #000;
}

.label__search {
  position: absolute;
  top: 1.6rem;
  color: #4f177d;
  left: 1.6rem;
}

/* Details Reports */

.form__group__reports__div2 {
  margin: 0;
  padding: 0;
  margin-top: 0rem;
  border-top: 0.1rem solid rgb(211, 211, 211);
}

.form__group__reports__content,
.form__group__reports__content2 {
  margin-top: 0rem;
  padding: 0rem 0rem;

  overflow: auto;
  overflow-x: hidden;
  height: 31.5rem;
}

.reports {
  padding: 1rem 0.8rem;
  padding-top: 1.7rem;
  display: flex;
  z-index: 100;
  border: 0;
  background-color: transparent;
  position: relative;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.reports:hover {
  background-color: rgb(247, 245, 245);
  color: #000;
  cursor: pointer;
}

.reports:active {
  background-color: #f3f8fc;
  color: #000;
}

.reports:focus {
  background-color: #f3f8fc;
  color: #000;
}

.photo {
  margin: auto auto;
  width: 90px;
  height: 90px;
  border-radius: 30px;
}

.photo_stu_rep {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin-left: -2rem;
  margin-top: 1.6rem;
}

.photo__description {
  margin: auto 0;
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.reports__content__title {
  font-size: 1.1rem;
  margin: 0;
  color: #000;
}

.reports__content {
  margin: auto 0;
}

.reports__description__title {
  font-size: 1.1rem;
  margin: 0;
  padding-left: 1rem;
  color: #fff;
  font-weight: 500;
}
.reports__description__content {
  font-size: 0.9rem;
  margin: 0;
  padding-left: 1rem;
  color: #fff;
  font-weight: 500;
}

.form__group__reports__description__content {
  width: 100%;
  padding: 1rem 0.5rem;

  background-color: #fcfcfc;
}

.date_report {
  margin: 0;
  color: #000;
  position: absolute;
  left: 1rem;
  top: 0;
  font-weight: 300;
  font-size: 0.8rem;
}

.content__div {
  padding: 0.5rem 0.2rem;
  padding-top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  opacity: 1 !important;
}

.open_rep {
  max-height: 31.5rem;
}

.close_rep {
  max-height: 35rem;
}

.div__message {
  margin-bottom: 1rem;
  position: relative;
}

.message {
  padding: 0.3rem 1rem;
}

.message__iss {
  background-color: #e1bffd;
  margin-left: auto;
  margin-right: 0.5rem;
  vertical-align: top;
  width: max-content;
  max-width: 50%;
  word-wrap: break-word;
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

.message__rec {
  background-color: #fcdef2;
  width: max-content;
  max-width: 50%;
  word-wrap: break-word;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

.message__content {
  margin: 0;
  width: auto;
  color: #000;
}

.name_issue {
  font-weight: bold;
  color: #342359;
}

.w_seeing {
  content: url("../../../assets/icon/check_no.png");
  width: 1rem !important;
  position: absolute;
  right: 0.7rem;
}

.viewed {
  content: url("../../../assets/icon/check_yes.png");
  width: 1rem !important;
  position: absolute;
  right: 0.7rem;
}

.issue {
  text-align: right;
  width: 100%;
}

.img__issue {
  margin-left: auto;
  width: 120px;
  margin-right: 2rem;
}

.img__recep {
  width: 120px;
}

.photo__report {
  width: 120px;
  height: 120px;
}

.footer {
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: rgb(233, 233, 233);
}

.inputs__footer {
  display: flex;
  position: relative;
}

.form__group__report__input {
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding: 0.4rem 1rem;
  border-radius: 20px;
  border: none;
  resize: vertical;
}

.form__group__report__input::placeholder {
  color: #000;
}

.fa-paperclip {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 30px;
  margin-right: 0.5rem;
  color: #4d177d;

  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s, -o-transform 0.5s;
}

.fa-paperclip:hover {
  background-color: #f3f8fc;
  cursor: pointer;

  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.button__close__div {
  position: relative;
  margin-left: auto;
  width: 1rem;
}

.close_img {
  border: none;
  background-color: var(--room7);
  padding: 0.3rem 0.6rem;
  border-radius: 30px;
  color: #fff;
  margin-left: auto;
  position: absolute;
  top: -1.3rem;
  right: 0rem;
  font-size: 0.8rem;
}

.preview__report {
  width: 120px;
  height: 120px;
  margin-bottom: 1rem;
}

.div__btn__icon {
  position: relative;
}

.btn__icon {
  position: absolute;
  right: 0.5rem;
  top: 0.3rem;
  background-color: transparent;
  border: none;
  padding: 0;
}

.icon__send {
  width: 25px;
  height: 25px;
}

textarea {
  display: block;
  max-height: 10rem;
  border-radius: 10px;
}

.user {
  font-weight: bold;
}

/* modal New Report */

.modal-dialog {
  max-width: 1200px !important;
}

.report_div {
  background-color: #4f177d;
  z-index: 99;
  margin-top: 10%;
  border-radius: 12px;
}

.header-report {
  padding: 0.6rem;
  border: none;
}

.title_new_report {
  color: #fff;
  font-weight: bold;
}

.close {
  margin-right: -0.5rem !important;
}

.content_report {
  background-color: #f4f4f4;
  width: 100%;
  padding-bottom: 1rem;
}

.student_reported {
  border-bottom: 1px solid #4f177d;
}

.title_student_reported,
.title_student_report {
  font-weight: normal !important;
  font-size: 1rem !important;
}

.input_stu_rep {
  background-color: transparent;
  font-size: 1rem;
}

.stu-rep {
  color: black;
  background-color: rgb(230, 230, 230);
  width: 78%;
  border: none;
  margin-top: -0.5rem;
}

.title-rep {
  color: black;
  background-color: rgb(230, 230, 230);
  width: 85%;
  border: none;
  margin-top: -0.5rem;
  padding-top: 0.6rem;
}

.carousel-item {
  position: relative !important;
}

.add-photo {
  height: 10em;
  width: 11em;
  margin-top: 5.5rem;
  margin-left: auto;
  margin-right: auto;
  border: 2px dashed #c2c2c2;
}

.add-photo:hover {
  transition: all 0.5s;
  background: #c2c2c2;
  cursor: pointer;
  color: #4f177d;
}

.add-photo-i {
  border-radius: 18px;
  height: 2.5em;
  width: 2.5em;
  z-index: 10;
  background: #982a72;
  padding: 9px 10px;
  color: white;
  margin-top: -22%;
  float: right;
  margin-right: 1%;
  position: relative;
}

.add-photo-i:hover {
  background: white;
  transition: all 0.5s;
  cursor: pointer;
  color: #4f177d;
}

.photo-add {
  top: -9.6rem;
  margin-bottom: -18rem;
  height: 10.7em;
  width: 11.8em;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 10;
  padding-top: 15%;
  color: #4f177d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-add:hover {
  cursor: pointer;
  transition: all 0.5s;
  background-color: #999;
}

.div_button {
  padding: 0.8rem 1.5rem;
}

.button_send_report {
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  background-color: #982a72;
  color: #fff;
  transition: all 0.2s;
  border: none;
}

.button_send_report:hover {
  background-color: #b94791;
}

.input-borderless {
  width: 100%;
  height: 40rem;
  border-top: 0px;
  border-bottom: 2px solid #4f177d;
  border-right: 0px;
  border-left: 0px;
  background-color: #fff;
  text-decoration: none;
  outline: none;
  display: block;
  margin: 0px 0;
  font-size: 1em;
  padding: 0.5rem 0.8rem;
}

.description_rep {
  position: relative;
}

.status {
  width: 20% !important;
  position: absolute;
  right: 2%;
  top: 30%;
}

.status_active {
  color: green;
}

.status_close {
  color: red;
}

.delete_rep {
  position: absolute;
  right: 0;
  top: 0;
}

.button_delete_rep {
  margin-left: auto;
  color: #000;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

.button_delete_rep:hover {
  color: #000;
}

.read {
  color: #000 !important;
}

.img_profile_photo {
  position: relative;
  display: flex;
}

.read_report {
  font-weight: normal;
}

.new_report {
  font-weight: 600;
}

.div_new_report {
  background-color: rgb(252, 249, 255);
}

.div_new_report:hover {
  background-color: rgb(249, 245, 255);
}

.div_read_report {
  background-color: transparent;
}

.new__report {
  padding: 0.4rem 0.4rem;
  height: 0.5rem;
  border-radius: 30px;
  background-color: #4640f0;
  position: absolute;
  right: 1rem;
}

.div__icon {
  float: right;
}

.link__close {
  z-index: 100;
}

.icon__report__close {
  content: url("../../../assets/icon/reports.png");
  width: 30px;
  height: 30px;
  margin: auto auto;
  border-radius: 30px;
  z-index: 99;
}

.icon__report__close:hover {
  cursor: pointer;
}

.report_content {
  font-weight: 300 !important;
  background-color: transparent;
}

@media (min-width: 320px) {
  .title_student_reported {
    font-size: 1rem !important;
  }

  .input_stu_rep {
    font-size: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  .stu-rep {
    width: 80%;
  }
  .title-rep {
    width: 80%;
  }
}

@media (min-width: 400px) and (max-width: 840px) {
  .stu-rep {
    width: 70%;
  }
  .title-rep {
    width: 70%;
  }
}

@media (min-width: 320px) and (max-width: 430px) {
  .report_div {
    max-width: 300px !important;
  }

  .content_report {
    height: 600px !important;
  }
}

@media (min-width: 430px) and (max-width: 575px) {
  .report_div {
    max-width: 400px !important;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .report_div {
    max-width: 700px !important;
  }

  .cont_report {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .report_div {
    max-width: 600px !important;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .report_div {
    max-width: 700px !important;
  }
}

@media (min-width: 840px) and (max-width: 1200px) {
  .stu-rep {
    width: 80%;
  }
  .title-rep {
    width: 80%;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .form__group__reports__div {
    width: 98%;
    height: auto;
    display: block;
  }

  .form__group__reports__details {
    margin-bottom: 2rem;
  }

  .photo {
    margin-right: 0;
  }

  .photo_stu_rep {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    margin-left: -1.5rem;
    margin-top: 1.6rem;
  }

  .status {
    width: 25% !important;
  }
}

@media (min-width: 300px) and (max-width: 575px) {
  .form__group__reports__div {
    display: block;
  }

  .reports__content__title {
    font-size: 1rem;
  }
  .reports__content {
    font-size: 0.9rem;
  }

  .status_content {
    font-size: 0.8rem;
  }

  .photo__report {
    width: 100px;
    height: 100px;
  }

  .form__group__reports__description__content {
    height: 39rem;
  }

  .open_rep {
    height: 35rem;
    max-height: 35rem;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .reports_right {
    padding: 1.78rem 2rem;
  }

  .form__group__reports__content,
  .form__group__reports__content2 {
    padding-left: 0rem;
  }

  .img_profile_photo {
    margin-left: 0;
  }

  .form__group__reports__description__content {
    height: 32rem;
  }

  .open_rep {
    height: 28rem;
    max-height: 28rem;
  }
}

@media (min-width: 575px) {
  .reports_right {
    border-top-right-radius: 0px;
  }
  .reports_left {
    border-top-left-radius: 0px;
  }
  .photo__report {
    width: 140px;
    height: 140px;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .img_profile_photo {
    margin-left: 0.5rem;
  }

  .description_rep {
    padding-left: 0;
  }

  .reports {
    width: 100%;
    margin: auto auto;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .photo {
    width: 45px !important;
    height: 45px !important;
  }
  .photo_stu_rep {
    width: 22px;
    height: 22px;
    border-radius: 30px;
    margin-left: -1.5rem;
    margin-top: 1.5rem;
  }

  .form__group__reports__content,
  .form__group__reports__content2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    height: 26rem;
  }

  .reports__content__title {
    font-size: 0.95rem;
  }
  .reports__content {
    font-size: 0.85rem;
  }

  .status {
    width: 25% !important;
  }
  .status_content {
    font-size: 0.8rem;
  }

  .form__group__reports__div {
    width: 98%;
    height: 35rem;
  }
  .open_rep {
    max-height: 26rem;
  }
  .form__group__reports__description__content {
    height: 88%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .form__group__reports__div {
    width: 98%;
    height: 40rem;
  }
}

@media (min-width: 900px) {
  .status {
    width: 30% !important;
  }
}

@media (min-width: 992px) {
  .form__group__reports__description__content {
    height: 90%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .photo_stu_rep {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    margin-left: -1.5rem;
    margin-top: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .photo {
    width: 50px !important;
    height: 50px !important;
  }

  .reports__content__title {
    font-size: 1rem;
  }
  .reports__content {
    font-size: 0.9rem;
  }
  .status_content {
    font-size: 0.9rem;
  }
}

@media (min-width: 1401px) {
  .photo_stu_rep {
    width: 25px;
    height: 25px;
    border-radius: 30px;
    margin-right: 0.5rem;
    margin-top: 1.5rem;
  }
}

/* Galery */

@media (min-width: 320px) and (max-width: 430px) {
  .add-photo {
    margin-left: 16%;
    height: 11em;
    width: 12em;
    margin-bottom: 5rem;
  }

  .photo-add {
    left: 3rem;
    top: -10.6rem;
    height: 11.7em;
    width: 13em;
    padding-top: 25%;
  }
  .add-photo-i {
    margin-left: -12%;
    margin-top: 49%;
    position: absolute;
  }
  .input-borderless {
    width: 95%;
  }
  .comment_report {
    padding: 0;
  }
  .content_report {
    height: 600px !important;
  }
}
@media (min-width: 430px) and (max-width: 575px) {
  .report_div {
    max-width: 400px !important;
  }

  .add-photo {
    margin-left: 25%;
    height: 11em;
    width: 12em;
    margin-bottom: 5rem;
  }

  .photo-add {
    left: 6rem;
    top: -10.8rem;
    height: 11.7em;
    width: 13em;
    padding-top: 18%;
  }
  .add-photo-i {
    margin-left: -9%;
    margin-top: 38%;
    position: absolute;
  }
  .input-borderless {
    width: 95%;
  }
  .comment_report {
    padding: 0;
  }
  .content_report {
    height: 500px !important;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .add-photo-i {
    margin-right: -2%;
    margin-top: -24%;
  }

  .report_div {
    max-width: 700px !important;
  }
}
