.page-link {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  color: #191919;
  margin: 0 0.125rem;
  padding: 0.75rem 1rem;
  position: relative;
}

.page-link:hover {
  background-color: #815391;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  color: #191919;
}

.page-link:after {
  border-style: solid;
  border-color: transparent transparent transparent transparent;
  bottom: -0.4375rem;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
  transition: 0.3s ease;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0;
}

.page-item.active .page-link {
  background-color: #342359;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

.page-item.active .page-link:after {
  border-color: white transparent transparent transparent;
}
@media screen and (max-width: 800px) {
  #white-logo {
    display: none;
  }
  #nav-footer {
    display: none;
  }
  #con-footer {
    display: none;
  }
}

.bar-ii:hover {
  background-color: transparent;
  color: #454293;
}

li {
  text-decoration: none;
  list-style: none;
}

.thead-color {
  background-color: #342359;
  color: white;
}

/* Notification */

@media (min-width: 1000px) {
  .d-m-before {
    width: 27em !important;
    left: -24.5em !important;
  }
}

.badge {
  font-size: 9px !important;
  margin: auto auto;
  padding: 0.2rem 0.7em !important;
}

.title__noti_div {
  font-size: 0.7rem !important;
}

.text_time {
  font-size: 0.75rem !important;
}

.photo {
  width: 3.5rem !important;
  height: 3.5rem !important;
  max-width: 3.5rem !important;
}

.text_wview {
  font-size: 0.8rem !important;
}

.font_view {
  font-size: 0.8rem !important;
}

.btn_confirm {
  width: 5rem !important;
  font-size: 0.75rem !important;
  padding: 0.3rem 0.5rem !important;
}

.btn_reject {
  width: 5rem !important;
  font-size: 0.75rem !important;
  padding: 0.3rem 0.5rem !important;
}
