a#button{ 
	color: #5D418D; 
	border: 2px solid #5D418D;
}

a#button:hover{ 
	background-color: #982A72; 
	border: 2px solid #982A72; 
	color: white; 
}

button#button{ 
	color: #5D418D; 
	border: 2px solid #5D418D;
}

button#button:hover{ 
	background-color: #982A72; 
	border: 2px solid #982A72; 
	color: white; 
}

img#proom {
	border: 2px solid black; 
	margin-bottom: 5px;
}

div#ribbon {
	background-color: #982A72; 
	border-color: transparent; 
}
    
@media screen and (max-width: 420px) {
        
        h1{
        	margin-top: 20px;
        }

        div.custom-control {
        	margin-top: 25px;
        }

        #white-logo{
        	display: none;
        }

        #nav-footer{
        	display: none;
        }

        #con-footer{
        	display: none;
        }

}