   a#button{ color: #5D418D; border: 2px solid #5D418D;}
    a#button:hover{ background-color: #982A72; border: 2px solid #982A72; color: white; }
    button#button{ color: #5D418D; border: 2px solid #5D418D;}
    button#button:hover{ background-color: #982A72; border: 2px solid #982A72; color: white; }

    .btn-light{ color: #5D418D; border: 2px solid #5D418D;}
    .btn-light:hover{ background-color: #982A72; border: 2px solid #982A72; color: white; }
    
    @media screen and (max-width: 420px) {
        h1{margin-top: 20px;}
        div.custom-control {margin-top: 25px;}
        #white-logo{display: none;}
        #nav-footer{display: none;}
        #con-footer{display: none;}
        }

    .zoom{

    transition: width .5s, height .5s, transform .5s;
    -moz-transition: width .5s, height .5s, -moz-transform .5s;
    -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
    -o-transition: width .5s, height .5s, -o-transform .5s;
}

.zoom:hover{
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.div-photo{ margin-top: -.8em; }

@media (min-width: 320px) and (max-width: 399px) {

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; color: #982A72;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; color: #454293;}

    .bar-iii{padding:3%; padding-left: 5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; padding-left: 7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-iv:hover{background-color: #4F177D; color: white;}
}

@media (min-width: 400px) and (max-width: 499px){

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; color: #982A72;}

    .bar-i:hover{color: white;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:3%; padding-left: 5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; padding-left: 7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-iv:hover{background-color: #4F177D; color: white;}

}

@media (min-width: 500px) and (max-width: 599px){

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; color: #982A72;}

    .bar-i:hover{color: white;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:3%; padding-left: 5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; padding-left: 7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-iv:hover{background-color: #4F177D; color: white;}

}

@media (min-width: 600px) and (max-width: 767px){

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; color: #982A72;}

    .bar-i:hover{color: white;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:3%; padding-left: 5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; padding-left: 7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-iv:hover{background-color: #4F177D; color: white;}

}

@media (min-width: 768px) and (max-width: 899px){

    .bar-i{color: #982A72;}

    .bar-ii{padding:5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293; width: auto;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D; width: auto;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293; width: auto;}

    .bar-iv:hover{background-color: #4F177D; color: white; }
}

@media (min-width: 900px){

    .bar-i{color: #982A72;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 13px; color: #454293; width: auto;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 13px; color: #4F177D; width: auto;}        

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 13px; color: #454293; width: auto;}

    .bar-iv:hover{background-color: #4F177D; color: white; }
}

@media (min-width: 992px){
    .div-photo{ margin-top: -.8em; }
}

@media (min-width: 992px) and (max-width: 1920px){

    .bar-ii{padding: 5%; width: auto;}

    .bar-iii{padding: 5%; width: auto;}

    .bar-iv{padding: 5%; width: auto;}
}


@media (min-width: 1420px){

    .bar-ii{height: auto; width: auto;}

    .bar-iii{height: auto; width: auto;}

    .bar-iv{height: auto; width: auto;}
}

@media (min-width: 1420px) and (max-width: 1600px){

    .bar-i{font-size: 15px}

    .bar-ii{font-size: 13px}

    .bar-iii{font-size: 13px}

    .bar-iv{font-size: 13px}
}

@media (min-width: 1600px) {
    .bar-i{font-size: 18px}

    .bar-ii{font-size: 15px}

    .bar-iii{font-size: 15px}

    .bar-iv{font-size: 15px}
}


.dateY{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
.dateT{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}


@media (max-width: 575px){

    .margin-b{
        margin-bottom: 1rem !important;
    }
  
  }


  .color-price, .color-price2, .color-price3, .color-price4, .color-price5, .color-price6, .color-price7,
.color-price8{
  float:right;
  padding-top: 9%;
  padding-right: 7%;
  font-size: 15px;
  color: green;
}

.div__edit_profile{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.btn__edit_profile{
    outline: none;
    border: none;
    color: #fff;
    background-color: #982A72;
}

.btn__edit_profile:hover{
    outline: none;
    border: none;
    color: #fff;
    background-color: #A54483;
}

.active__div{
    padding: 1rem .5rem !important;
}

.img__div, .content__div{
    display:table-cell;
    padding: 0;
    margin: auto auto;
}

.div__img, .date__reservation{
    vertical-align: middle;
}


.img{
    width: 4rem;
    height: 4rem;
    border-radius: 30px;
}

.div__active__res{
    display: flex;
    justify-content: center;
    padding: 0rem 0rem;
}

.title__reservation{
    width: 90%;
    font-weight: 300;
    color: #000;
    border-bottom: 2px solid #4f177d;
    padding-bottom: .3rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
}

.link__profile{
    color: #000;
}

.link__profile:hover{
    color: #000;
}

.name__student{
    text-align: center;
    width: 100%;
    color: #000;
    font-size: .95rem;
}

.date__reservation{
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin: auto auto;
}

.title__date{
    font-weight: 500;
    font-size: .95rem;
}


.text_reservation{
    color: #232159;
}

.date__content{
    font-weight: 300;
    color: #000;
    font-size: .8rem;
}

.title__date, .date__content{
    margin: 0;
}

.arrive_date, .leave_date{
    text-align: center;
    margin: 0;
    vertical-align: middle;
    margin: auto auto;
}