a.btn-link{
    color:  #982A72;
}

a.btn-link:hover{
    color:  #982A72;
}

i#map {
    color: #982A72;
}

a#map {
    background-color: #982A72 !important; 
    border-color: #982A72;
}

div#home-info {
    margin-left: 5%;
}

span#circle {
    background-color: #982A72;
}

img#service-image {
    width: 227px; 
    height: 227px;
}

div#ribbon {
    background-color: #982A72; 
    border-color: transparent;
}

img#app {
    width: 100%; 
    height: 500px;
}

section#service {
    background-image: url(../../../assets/img/bg-pattern-dot.png);
}

@media screen and (max-width: 420px) {
            
            #white-logo{
                display: none;
            }
            div.ts-copyright { 
                margin-left: -120px; 
                margin-top: 10px;
                 }

            nav.nav { 
                margin-left: -20px;
                 }

            #nav-footer{
                display: none;
            }

            #con-footer{
                display: none;
            }

            div.container {
                height: -1000px;
            }

            #ts-footer-secondary{
                height: 150px;
            }

            a.fa-youtube{
                display: none;
            }

            div.ts-feature {
                margin-left: 20px;
            }

            #student2{
                margin-left: 20px;
            }

            #academy2{
                margin-left: 20px;
            }

    
        }