:root {
  --banner-color: #4f177d;
  --provider-color: #394893;
  --provider-color-alpha: #e9e8ff;
  --provider-color-2: #232159;
}

.main__report-container {
  margin-top: 5.5rem;
}

/* * BANNER PAGE */
.main__report-container .banner__provider {
  padding: 3rem;
  background-color: var(--banner-color);
}

/* * REPORTS CONTAINER */
.main__report-container .reports__container {
  width: 80% !important;
  height: 600px;
  background-color: #fff;
  margin: -4rem auto 0rem auto;
  border-radius: 10px;
  box-shadow: 0px 0px 13px -3px #232159;
  -webkit-box-shadow: 0px 0px 13px -3px #232159;
}

/* TODO SHARE STYLES */
.reports__container article .container__header {
  background-color: var(--provider-color);
  width: 100% !important;
}

/* TODO ADD NEW REPORT */

.add_new_report .modal-dialog {
  top: 25%;
  width: 40rem;
  max-width: 50% !important;
}

.add_new_report .modal-dialog .modal-header {
  background-color: var(--provider-color);
}

.add_new_report .modal-dialog .modal-header h4,
.add_new_report .modal-dialog .modal-header button {
  color: #fff;
}

.add_new_report .modal-dialog .modal-body section:first-child {
  margin-top: 0.5rem;
}

.add_new_report .modal-dialog .modal-body section {
  margin-bottom: 1rem;
}

.add_new_report .modal-dialog .modal-body section article {
  position: relative;
  width: 100%;
}

.add_new_report .modal-dialog .modal-body section select,
.add_new_report .modal-dialog .modal-body section textarea {
  border: 1px solid var(--provider-color);
  border-radius: 10px !important;
  outline: none;
}

.add_new_report .modal-dialog .modal-body section label {
  position: absolute;
  background-color: #fff;
  color: #232159;
  top: -0.6rem;
  left: 0.5rem;
  font-weight: normal;
  padding: 0 0.3rem;
}

.add_new_report .modal-dialog .modal-body section textarea {
  width: 100%;
  padding: 0.5rem 0.5rem;
}

.add_new_report .modal-dialog .modal-body .section__reason #container_image {
  width: 0%;
  transition: all 0.5s;
}

.add_new_report .modal-dialog .modal-body .section__reason #container_image > span {
  display: none;
}

.add_new_report .modal-dialog .modal-body .section__reason #container_image > img {
  display: none;
}

.add_new_report .modal-dialog .modal-body .section__reason #container_image.show {
  width: 45%;
  height: 8rem;
  max-height: 8rem;
  margin-right: 1rem;
}

.add_new_report .modal-dialog .modal-body .section__reason #container_image.show img {
  display: inline;
  width: 100%;
  height: 100%;
}

.add_new_report .modal-dialog .modal-body .section__reason #container_image.show > span {
  display: inline;
  position: absolute;
  background-color: #bb2929;
  color: #fff;
  top: -0.5rem;
  left: 90%;
  padding: 0.05rem 0.45rem;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
}

.add_new_report .modal-dialog .modal-footer label {
  width: auto;
  padding: 0.5rem 0.5rem;
  color: #232159;
  font-size: 16px;
  border-radius: 30px;
  background-color: #dddddd;
}

.add_new_report .modal-dialog .modal-footer label:hover {
  opacity: 0.8;
  cursor: pointer;
}

.add_new_report .modal-dialog .modal-footer button {
  width: 7rem;
  border: none;
  font-weight: 600;
  transition: all 0.5s;
  background-color: #a70000;
}

.add_new_report .modal-dialog .modal-footer button:hover {
  opacity: 0.6;
}

.add_new_report .modal-dialog .modal-footer button:last-child {
  background-color: var(--provider-color);
}

/* * REPORTS CONTAINER: FIRST COLUMN */

.reports__container .container__report-list div:last-child > article {
  width: 100%;
}

.reports__container .container__report-list div:last-child > hr {
  width: 78%;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

/* TODO REPORTS CONTAINER: FIRST COLUMN ====> REPORT LIST */
.reports__container > .container__report-list {
  width: 35%;
  height: 100%;
  border-right: 1px solid #eee;
}

/* * HEADER */
.container__report-list .container__header {
  border-top-left-radius: 10px;
  padding: 1rem 0rem;
}

.container__report-list .container__header h3 {
  margin: 0;
  padding: 0 0 0 2rem;
  color: #fff;
  font-weight: 500;
}

.container__report-list .container__header button {
  margin: 0 2rem 0 0;
  font-weight: 500;
  background-color: transparent;
  border: none;
}

.container__report-list .container__header button * {
  pointer-events: none;
}

.container__report-list .container__header i {
  content: url("../../../assets/icon/add-message.png");
  width: 20px;
}

/* * CONTENT */
.container__report-list div:last-child {
  background-color: #fff;
}

/* * SEARCH INPUT */
.container__report-list .container__search-report {
  position: relative;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 0.5rem;
}

.container__report-list .container__search-report label {
  position: absolute;
  color: var(--provider-color-2);
  left: 2.6rem;
  top: 1rem;
}

.container__report-list .container__search-report input {
  width: 100%;
  border: none;
  background-color: rgb(226, 226, 226);
  border-radius: 8px;
  padding: 0.2rem 0.8rem 0.2rem 2rem;
  outline: none;
}

/* * REPORT LIST */
.container__report-list > div:last-child {
  overflow-y: auto;
  height: 80%;
}

.container__report-list > div:last-child h4 {
  font-size: 15px;
  margin-bottom: 0;
  color: #7f7f7f;
}

.container__report-list > div:last-child p {
  font-size: 14px;
  margin-bottom: 0;
  color: #7f7f7f;
}

.container__report-list div:last-child .report {
  padding: 0.4rem 0rem;
  cursor: pointer;
}

.container__report-list div:last-child .report:hover {
  background-color: rgb(226, 226, 226);
}

.container__report-list div:last-child .report.active {
  background-color: rgb(226, 226, 226);
}

.container__report-list div:last-child .report.unread {
  background-color: #e0f1ff;
}

.container__report-list div:last-child .report * {
  pointer-events: none;
}
.container__report-list div:last-child .report img {
  width: 3.5rem;
  height: 3.5rem;
  max-width: 25%;
  border-radius: 30px;
}

.container__report-list div:last-child .report > div {
  width: 75%;
  padding-left: 1rem;
  position: relative;
  background-color: transparent;
}

.container__report-list div:last-child .report div {
  background-color: transparent;
}

.container__report-list div:last-child .report > div > div:first-child {
  width: 75%;
}

.container__report-list div:last-child .report > div > div:last-child {
  width: 25%;
}

.container__report-list div:last-child .report > div > div h4,
.container__report-list div:last-child .report > div > div p {
  margin: 0;
}

.container__report-list div:last-child .report.unread > div > div h4,
.container__report-list div:last-child .report.unread > div > div p,
.container__report-list div:last-child .report.unread > div > div .date__report {
  font-weight: 600;
  color: #000;
}

.container__report-list div:last-child .report > div > div span {
  font-size: 13px;
  text-align: end;
  margin-top: 0.2rem;
}

.container__report-list div:last-child .report > div > div span:first-child {
  font-weight: 600;
}

.container__report-list div:last-child .report > div > div span:first-child.active {
  color: #1ca827;
}

.container__report-list div:last-child .report > div > div span:first-child.closed {
  color: #bb2929;
}

.container__report-list div:last-child .report > div > div span:last-child {
  padding: 0.5rem 0rem;
  background-color: aquamarine;
  width: 1rem;
  margin-left: auto;
  border-radius: 30px;
}

/* .container__report-list div:last-child .report > div > div span:nth-child(1) {
  top: 1rem;
  right: 0;
} */

/* TODO REPORTS CONTAINER: SECOND COLUMN ====> CONTENT REPORT */
.main__report-container .reports__container article:last-child {
  width: 65%;
}

/* * HEADER */

.container__report-content .container__header {
  border-top-right-radius: 10px;
  padding: 0.5rem 2rem;
}

.container__report-content .container__header img {
  width: 3rem;
  height: 3rem;
  border-radius: 30px;
}

.container__report-content .container__header h4 {
  color: #fff;
  padding-left: 0.5rem;
  margin: 0;
}

/* * CONTENT */
.container__report-content .container__report-messages {
  height: 80%;
  overflow: auto;
  background-color: rgb(224, 224, 224);
}

/* ? MESSAGE: GENERAL STYLES */
.container__report-content .container__report-messages article {
  padding: 0.5rem 3rem;
  position: relative;
  width: 100% !important;
}

.container__report-content .container__report-messages article img {
  width: 2rem;
  height: 2rem;
  border-radius: 30px;
}
.container__report-content .container__report-messages article p {
  max-width: 70%;
  background-color: #fff;
  padding: 0.5rem 2.5rem 1rem 0.5rem;
  color: #000;
  box-shadow: 0 1px 0.5px #999;
  -webkit-box-shadow: 0 1px 0.5px #999;
  -moz-box-shadow: 0 1px 0.5px #999;
  margin-bottom: 0;
  position: relative;
  font-weight: 400;
}

.container__report-content .container__report-messages article p .time__message {
  position: absolute;
  right: 0;
  font-size: 12px;
  right: 0.5rem;
  bottom: 0;
  font-weight: 300;
}

.container__report-content .container__report-messages article p .time__message i {
  padding-top: 6rem;
  width: 15px;
}

.container__report-content .container__report-messages article p .time__message i.no-view {
  content: url("../../../assets/icon/check_no.png");
}

.container__report-content .container__report-messages article p .time__message i.view {
  content: url("../../../assets/icon/check_yes.png");
}

/* ? MESSAGE ISSUE */
.container__report-content .container__report-messages .issue img {
  margin-right: 1rem;
}

.container__report-content .container__report-messages .issue p {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.container__report-content .container__report-messages .issue p::before {
  content: "";
  position: absolute;
  background-color: transparent;
  left: -0.4rem;
  top: -0.35rem;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
  border-left: 12px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 6px solid transparent;
}

.container__report-content .container__report-messages .issue p .title__message {
  color: #232159;
  font-weight: 600;
}

/* ? MESSAGE RECEPTOR */
.container__report-content .container__report-messages .receptor img {
  margin-left: 1rem;
  width: 1rem;
  height: 1rem;
  margin-top: auto;
  margin-left: 0.5rem;
}

.container__report-content .container__report-messages .receptor p {
  background-color: var(--provider-color-alpha);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}

.container__report-content .container__report-messages .receptor p::after {
  content: "";
  position: absolute;
  background-color: transparent;
  right: -0.3rem;
  top: -0.4rem;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  border-right: 12px solid var(--provider-color-alpha);
  border-top: 14px solid transparent;
  border-bottom: 10px solid transparent;
}

/* * FOOTER */

.container__report-content .container__report-messages.attach {
  height: 60%;
}
.container__report-content .container__attach_file {
  width: 100%;
  height: 20%;
  padding: 0.5rem 2rem;
}

.container__report-content .container__attach_file article {
  position: relative;
}

.container__report-content .container__attach_file article img {
  width: 8rem;
  height: 7rem;
}

.container__report-content .container__attach_file article span {
  position: absolute;
  background-color: #bb2929;
  color: #fff;
  top: -0.5rem;
  left: 7.2rem;
  padding: 0.05rem 0.45rem;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
}

.container__report-content .container__footer {
  width: 100%;
  height: 9.5%;
  border-bottom-right-radius: 10px;
  padding: 0rem 1rem;
}

.container__report-content .container__footer .attach__image {
  background-color: rgb(236, 236, 236);
  color: #4f177d;
  padding: 0.5rem 0.5rem;
  border-radius: 30px;
  margin-bottom: 0;
  margin-right: 0.5rem;
  border: 1px solid rgb(206, 206, 206);
  cursor: pointer;
}

.container__report-content .container__footer input {
  width: 100%;
  border-radius: 30px;
  border: none;
  border: 1px solid rgb(206, 206, 206);
  background-color: rgb(236, 236, 236);
  padding: 0.2rem 1rem;
  outline: none;
}
