.logo_white {
    width: 200px;
}

.ts-main {
    margin-top: 160px;
}

.border_bottom {
    width: 100%;
    border-bottom: 2px solid #4f177d;
}

.btn_save {
    background-color: #232159;
    color: #fff;
    width: 6rem;
}

.btn_skip {
    background-color: #982a72;
    color: #fff;
}

.btn_save:hover,
.btn_skip:hover {
    color: #fff;
}

.right {
    float: right;
}

.input__bordeless {
    border: none;
    border-bottom: 2px solid #4f177d;
    font-size: 1rem;
    transition: all .2s;
}

.input__bordeless:hover {
    border-bottom: 3px solid #4f177d;
    transition: all .2s;
}

.logout {
    font-size: 1.2rem
}

.add-photo {
    height: 13.7em;
    width: 22em;
    border: 2px dashed #C2C2C2;
}

.add-photo:hover {
    transition: all .5s;
    background: #c2c2c2;
    cursor: pointer;
    color: #4f177d;
}

.add-photo-i {
    height: 14.8em;
    width: 23.5em;
    left: 2rem;
    top: 1.2rem;
    padding-top: 5.5rem;
    position: absolute;
    z-index: 10;
    color: #4F177D;
}

.add-photo-i:hover {
    background: rgba(0, 0, 0, 0.2);
    transition: all .5s;
    cursor: pointer;
    color: #4f177d;
    content: "Change Photo";
}

.photo-add {
    height: 14.8em;
    width: 23.5em;
    left: 2rem;
    top: 1.2rem;
    position: absolute;
    z-index: 10;
    color: #4F177D;
}

.photo-add:hover {
    cursor: pointer;
    transition: all .5s;
    background: rgba(0, 0, 0, 0.2);
}

.form__group-l_title {
    margin: auto auto;
    color: #000;
    font-weight: normal;
    font-size: 1rem;
}

.ticket__label {
    cursor: pointer;
}

.div_ticket {
    margin-top: -5rem;
}

.div_payment {
    margin-top: 1.6rem !important;
}

.input_label1 {
    margin-bottom: .2rem;
}

.input_label,
.input_label1 {
    color: #232159;
}

.saved {
    color: rgb(175, 116, 5);
}


/* -----------------------------------------------GALLERY STYLE ------------------------------------------ */

.carousel-item {
    position: relative;
    padding: 0;
    width: 21rem;
    height: 10.5rem;
}

.add-photo {
    height: 10.5rem;
    width: 21rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed #C2C2C2;
}

.add-photo:hover {
    transition: all .5s;
    background: #c2c2c2;
    cursor: pointer;
    color: #4f177d;
}

.add-photo-i {
    border-radius: 40px;
    height: 2.5em;
    width: 2.5em;
    z-index: 10;
    background: #982a72;
    padding: 10px 5px;
    color: white;
    position: absolute;
    top: 8.3rem;
    left: 18.7rem;
}

.add-photo-i:hover {
    background: white;
    transition: all .5s;
    cursor: pointer;
    color: #4f177d;
}

.photo-add {
    top: 0rem;
    left: 0rem;
    height: 10.5rem;
    width: 23.8em;
    position: absolute;
    z-index: 10;
    padding: auto auto;
    padding-top: 21%;
    color: #4F177D;
}

.photo-add:hover {
    cursor: pointer;
    transition: all .5s;
}

.form__group-l_title {
    font-size: 14px;
    width: 70%;
    margin: 0 auto;
    padding-bottom: .3rem;
    font-weight: bold;
    margin-top: 0%;
    color: #232159;
}

@media (max-width: 400px) {
    .carousel-item {
        width: 12rem;
        height: 11.5rem;
    }
    .add-photo {
        height: 11.5rem;
        width: 12rem;
    }
    .photo-add {
        height: 11.5rem;
        width: 13.8em;
    }
}


/* ------------------------------------------------ END GALLERY STYLE --------------------------------------- */

@media(min-width: 300px) {
    .logo_white {
        width: 110px;
        margin-top: 1rem;
    }
    .navbar-nav {
        margin-top: -2rem;
    }
    #ts-primary-navigation {
        height: 5rem;
    }
    #ts-primary-navigation>.container {
        margin-top: -1.2rem;
    }
    .nav-item {
        margin-top: -1.8rem;
    }
    .logout {
        font-size: 1rem
    }
    .ts-main {
        margin-top: 100px;
    }
    .p-5 {
        padding: 1.5rem !important;
    }
    .card>h2 {
        font-size: 1.5rem !important;
        text-align: center;
        padding: 0 !important;
        padding-bottom: .5rem !important;
    }
    .card>h4 {
        font-size: 1rem !important;
        text-align: center;
    }
    .col-md-6 {
        margin-bottom: 2rem !important;
    }
}

@media(min-width: 600px) {
    .row {
        display: block;
    }
    .col-sm-5 {
        width: 55rem !important;
    }
}

@media(min-width: 767px) {
    #ts-primary-navigation {
        height: auto;
    }
    #ts-primary-navigation>.container {
        margin-top: 0rem;
    }
    .nav-item {
        margin-top: 0rem;
    }
    .logo_white {
        margin-top: 0rem;
    }
    .card>h2 {
        font-size: 1.5rem !important;
        text-align: justify;
        padding-left: 1rem !important;
        padding-bottom: .5rem !important;
    }
}

@media(max-width: 992px) {
    .res_row {
        margin: auto auto;
    }
}

@media(max-width: 1000px) {
    .res_row {
        margin: auto auto;
    }
}

@media(min-width: 1000px) {
    .logo_white {
        width: 140px;
    }
    .row {
        display: flex;
    }
    .ts-main {
        margin-top: 120px;
    }
    .border_bottom {
        width: 90%;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}

@media(min-width: 1200px) {
    .logo_white {
        width: 160px;
    }
}

@media(min-width: 1400px) {
    .logo_white {
        width: 180px;
    }
    .div_payment {
        margin-top: 1.6rem !important;
    }
}