/* TODO WINYERSON */
/**-------------CUSTOM PROPERTIES-------------**/
:root {
  --first-color: #232159;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: #d51d95;
  --title-color: #333;
  --text-color: #222;
}

.header-container a {
  color: #000 !important;
  font-family: sans-serif !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  text-decoration: none !important;
}

.header-container {
  z-index: 5000 !important;
  width: 100vw !important;
  top: 0 !important;
  left: 0 !important;
  position: fixed !important;
  border-bottom: 1px solid #222 !important;
  background-color: white !important;
}
.header-navbar {
  padding: 1.5rem 0.5rem !important;
}
.header-logo {
  width: 10% !important;
  height: 100% !important;
}
.header-links {
  width: max-content !important;
}
.header-links a {
  font-weight: 500 !important;
  padding: 0 1rem !important;
  transition: ease all 300ms !important;
}
.header-links a:hover {
  color: var(--link-color) !important;
}
.header-logout {
  color: #000 !important;
  padding: 0.5rem 1rem !important;
  border-radius: 0.5rem !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.header-logout:hover {
  background-color: rgba(0, 0, 0, 0.135) !important;
}
.header-logout:hover span {
  color: #000 !important;
}
.header-logout figure {
  width: 24px !important;
  height: 24px !important;
}
