:root {
    --room1: #232159;
    --room2: #982a72;
    --room3: #394893;
    --room4: #A54483;
    --room5: #5D418D;
    --room6: #392B84;
    --room7: #B15391;
    --room8: #4F177D;
    --ff: #f8f8f8;
}

.container__notification {
    margin: 0;
    padding: 0;
    width: 100%;
}

.title__noti_div {
    color: var(--room1);
    font-size: .71rem;
    padding-left: .8rem;
    padding-bottom: 0rem;
    border-bottom: 1px solid rgb(189, 189, 189);
    font-weight: bold;
    margin-bottom: 0;
}

.content__noti {
    padding: 0;
    margin: 0;
    padding-bottom: 1rem;
    position: relative;
    width: 100%;
}

.noti__information {
    text-decoration: none;
    padding: .5rem 1rem;
    position: relative;
    color: #000;
    z-index: 0;
    border-top: 1px solid #ececec;
}

.noti__information:hover {
    background-color: rgb(248, 248, 248);
}

.noti__information_nview {
    text-decoration: none;
    padding: .5rem 1rem;
    position: relative;
    color: #000;
    z-index: 0;
    border-top: 1px solid #ececec;
    background-color: #F3F8FC;
}

.noti__information_nview:hover {
    background-color: rgb(248, 248, 248);
}

.des_noti, .img_noti{
    margin-left: -.5rem;
}

.noti_a{
    padding: 0rem;
    margin: 0;
    width: 100%;
}


.trash{
    margin-right: -.7rem;
    margin-top: -4rem;
    z-index: 100;
    background-color: transparent;
    border: none;
    float: right;
    color: #232159;
}

.trash2{
    margin-top: -5.5rem;
}

.trash:hover{
    cursor:grab;
}

.button_delete_all{
    border: none;
    background-color: transparent;
    color: #232159;
    margin-right: 0;
    font-weight: bold;
    float: right;
    margin-right: 1rem;
}

.button_delete_all:hover{
    text-decoration: underline;
}



.text__noti {
    font-size: .8rem;
    color: #000;
    margin-bottom: 0;
}

.margin_r {
    margin-right: -1rem;
}

.d-m-before {
    border-radius: 8px;
}

.time_send{
    padding: 0;
    margin: 0;
    padding-left: 0rem;
    color: var(--room1);
    font-weight: bold;
    font-size: .8rem;
}

@media (min-width:320px) and (max-width: 575px) {
    .title__noti_div {
        margin-top: -.5rem;
    }
    .margin_r {
        margin-right: 0rem;
    }
    .content__noti {
        padding-bottom: 0rem;
    }
}

@media (min-width:575px) and (max-width: 767px) {
    .content__noti {
        padding-bottom: .2rem;
    }
    .margin_r {
        margin-right: -.5rem;
    }
}


/* Notifications */

.title_not {
    font-size: 16px;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 0%;
    color: #232159;
    margin-left: 1.6em;
}

.title_not-i {
    font-size: 16px;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 0%;
    color: #232159;
}

.menu {
    background-image: url(../../images/homestay/homebor-not.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
    padding-bottom: .5em;
    margin: 0;
}

.horizontal-line {
    height: 2%;
    width: 100%;
    margin-bottom: 0%;
}

.div-photo {
    padding-top: 2%;
    padding-bottom: 2%;
}

.photo {
    margin-left: -2.4em;
    width: 5em;
    max-width: 5em;
    border-radius: 30px;
}

.not {
    width: auto;
    list-style: none;
    margin-left: 0%;
    line-height: 20px;
    font-size: 16px;
    list-style: none;
    border-top: 1px solid #ACACAC;
    padding-top: .4em;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
}

.not:hover {
    background: #F3F8FC;
}

.not-i {
    color: black;
    list-style: none;
}

.not-i:hover {
    text-decoration: none;
    color: black;
}

.btns {
    padding-right: 1em;
}

.confirm {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 15px;
    color: white;
    background-color: #982A72;
}

.cancel {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 15px;
    color: white;
    background-color: #232159;
}

.confirm:hover {
    background-color: #7D0C56;
    text-decoration: none;
    color: white;
}

.cancel:hover {
    background-color: #39357E;
    text-decoration: none;
    color: white;
}

.horizontal-line {
    border-top: 2px solid #232159;
}

.horizontal-line-i {
    width: 100%;
    margin-bottom: -2%;
    margin-top: 0%;
    float: left;
    margin-left: -8%;
    border-top: 1px solid #BEBEBE;
}

.photo {
    margin-left: 1%;
}

.d-before {
    position: relative;
}

.badge {
    color: white;
    border-radius: 30px;
    background: #B15391;
    position: absolute;
    padding: .25rem .45rem;
    font-size: .55rem;
    left: 1rem;
    bottom: .5rem;
}

.des-not {
    margin-top: 5%;
    margin-left: 4%;
}

.scrollbar {
    margin-right: 0px;
    width: 100%;
    padding:0;
    margin: 0;
    float: right;
    max-height: 300px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 5px;
    z-index: 100;
}

#style-1::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e2e2e2;
}

#style-1::-webkit-scrollbar {
    width: 10px;
    background-color: #e2e2e2;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2d3977;
}

@media (min-width: 320px) and (max-width: 399px) {
    .before {
        display: none;
    }
    .d-after {
        margin-left: 15%;
    }
    .d-m-after {
        width: 22em;
        margin-left: -60vw;
    }
    .title_not {
        font-size: .78em;
        margin: 0;
        padding-left: .8em;
        margin-top: -1.5em;
        margin-bottom: -1em;
    }
    .title_not-i {
        font-size: .8em;
        margin-top: -2em;
    }
    .notify {
        width: 95%;
        padding-left: 1.7em;
        margin-top: -3%;
    }
    .photo {
        width: 3.2em;
        height: 3em;
        margin-top: 25%;
    }
    .des-not {
        font-size: .6em;
        line-height: 15px;
    }
    .text__noti, .time_send{
        padding-left: .5rem;
        font-size: .75rem;
    }

    .trash{
        margin-top: -5.5rem;
    }
}

@media (min-width: 400px) and (max-width: 499px) {
    .before {
        display: none;
    }
    .d-after {
        margin-left: 30vw;
    }
    .d-m-after {
        width: 23.5em;
        left: -20.5em;
    }
    .title_not {
        font-size: .78em;
        margin-left: 1em;
        margin-top: -6%;
        margin-bottom: -1em;
    }
    .title_not-i {
        font-size: .8em;
        margin-top: -.4em;
    }
    .photo {
        width: 3.2em;
        height: 3em;
        margin-top: 15%;
    }
    .des-not {
        font-size: .6em;
        line-height: 15px;
    }
    .text__noti, .time_send{
        padding-left: .5rem;
        font-size: .75rem;
    }

    .trash{
        margin-top: -5.5rem;
    }
}

@media (min-width: 500px) and (max-width: 575px) {
    .before {
        display: none;
    }
    .d-after {
        margin-left: 40vw;
    }
    .d-m-after {
        width: 24em;
        left: -21em;
    }
    .title_not {
        font-size: .78em;
        margin-left: 1em;
        margin-top: -5%;
        margin-bottom: -1em;
    }
    .title_not-i {
        font-size: .8em;
        margin-top: -.4em;
    }
    .photo {
        width: 3.2em;
        height: 3em;
        margin-top: 15%;
    }
    .des-not {
        font-size: .6em;
        line-height: 15px;
    }
    .text__noti, .time_send{
        padding-left: .5rem;
        font-size: .75rem;
    }

    .trash{
        margin-top: -5.5rem;
    }
}

@media (min-width: 576px) and (max-width: 599px) {
    .before {
        display: none;
    }
    .d-after {
        margin-left: 40vw;
    }
    .d-m-after {
        width: 25em;
        left: -22em;
    }
    .title_not {
        font-size: .79em;
        margin-left: 1em;
        margin-top: -4%;
        margin-bottom: -1em;
    }
    .title_not-i {
        font-size: .8em;
        margin-top: -.4em;
    }
    .photo {
        width: 3.2em;
        height: 3em;
        margin-top: 20%;
    }
    .des-not {
        font-size: .6em;
        line-height: 15px;
    }
    
    .text__noti, .time_send{
        padding-left: 0rem;
    }

    .trash{
        margin-top: -5.5rem;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .before {
        display: none;
    }
    .d-after {
        margin-left: 38vw;
    }
    .d-m-after {
        width: 27em;
        left: -23.5em;
    }
    .title_not {
        font-size: .79em;
        margin-left: 1em;
        margin-top: -4%;
        margin-bottom: -1em;
    }
    .title_not-i {
        font-size: 12px;
        margin-top: -.4em;
    }
    .photo {
        width: 3.2em;
        height: 3em;
        margin-top: 30%;
    }
    .des-not {
        font-size: .7em;
        line-height: 15px;
    }

    .text__noti, .time_send{
        padding-left: 0rem;
    }

    .trash{
        margin-top: -5.5rem;
    }

    .trash2{
        margin-top: -4.5rem !important;
    }
}

@media (min-width: 768px) and (max-width: 899px) {
    .dropdown {
        margin-left: 5em;
    }
    .after {
        display: none;
    }
    .d-before {
        margin-left: 2em;
    }
    .d-m-before {
        width: 25em;
        left: -22em;
        margin-top: 2%;
    }
    .title_not {
        font-size: 10px;
        margin-top: -1%;
        margin-bottom: -1em
    }
    .title_not-i {
        font-size: 12px;
        margin-top: -.3em;
    }
    .dropdown-menu {
        margin: 0;
        padding: 0;
        height: flex;
    }
    .photo {
        width: 3.2em;
        height: 3em;
    }
    .d-m-before {
        width: 30em;
        left: -27em;
    }
    .des-not {
        font-size: 11px;
        line-height: 15px;
    }
}

@media (min-width: 900px) {
    .after {
        display: none;
    }
    .dropdown {
        margin-left: 5em;
    }
    .after {
        display: none;
    }
    .d-before {
        margin-left: 2em;
    }
    .d-m-before {
        width: 25em;
        left: -22em;
        margin-top: 2%;
    }
    .title_not {
        font-size: 10px;
        margin-top: -1%;
        margin-bottom: -1em
    }
    .title_not-i {
        font-size: 11px;
        margin-top: -.3em;
    }
    .dropdown-menu {
        margin: 0;
        padding: 0;
        height: flex;
    }
    .photo {
        width: 3.2em;
        height: 3em;
    }
    .d-m-before {
        width: 30em;
        left: -27em;
    }
    .des-not {
        font-size: 11px;
        line-height: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1920px) {
    .dropdown {
        margin-left: 5em;
    }
    .after {
        display: none;
    }
    .d-before {
        margin-left: 2em;
    }
    .d-m-before {
        width: 25em;
        left: -22em;
        margin-top: 2%;
    }
    .title_not-i {
        font-size: 12px;
        margin-top: -.3em;
    }
    .dropdown-menu {
        margin: 0;
        padding: 0;
        height: flex;
    }
    .photo {
        width: 3.2em;
        height: 3em;
    }
    .d-m-before {
        width: 30em;
        left: -27em;
    }
    .des-not {
        font-size: 12px;
        line-height: 15px;
    }
}

@media (min-width: 1000px) {
    .not {
        display: flex;
    }
    .d-before {
        margin-left: 2em;
    }
    .photo {
        width: 3.2em;
        height: 3em;
    }
    .title_not {
        font-size: 10px;
        margin-top: -2%;
        margin-left: .8em;
    }
}

@media (min-width: 1200px) {
    .dropdown {
        margin-left: 5em;
    }
    .after {
        display: none;
    }
    .d-before {
        margin-left: 2em;
    }
    .d-m-before {
        width: 25em;
        left: -22em;
        margin-top: 2%;
    }
    .title_not {
        font-size: 11px;
        margin-top: -1.5%;
        margin-bottom: -1em
    }
    .title_not-i {
        font-size: 12px
    }
    .dropdown-menu {
        margin: 0;
        padding: 0;
        height: flex;
    }
    .photo {
        width: 3.2em;
        height: 3.3em;
    }
    .d-m-before {
        width: 30em;
        left: -27em;
    }
    .des-not {
        margin-bottom: 2%;
    }
}

@media (min-width: 1420px) {
    .dropdown {
        margin-left: 5em;
    }
    .after {
        display: none;
    }
    .d-before {
        margin-left: 2em;
    }
    .d-m-before {
        width: 25em;
        left: -22em;
        margin-top: 2%;
    }
    .title_not {
        font-size: .8em;
        margin-top: -2%;
        margin-bottom: -1em
    }
    .title_not-i {
        font-size: 11px
    }
    .dropdown-menu {
        margin: 0;
        padding: 0;
        height: flex;
    }
    .d-m-before {
        width: 30em;
        left: -27em;
    }
}

@media (min-width: 1500px) {
    .dropdown {
        margin-left: 5em;
    }
    .after {
        display: none;
    }
    .d-before {
        margin-left: 2em;
    }
    .d-m-before {
        width: 25em;
        left: -22em;
        margin-top: 2%;
    }
    .title_not {
        font-size: .8em;
        margin-top: -1%;
        margin-bottom: -1em
    }
    .title_not-i {
        font-size: 12px
    }
    .dropdown-menu {
        margin: 0;
        padding: 0;
        height: flex;
    }
    .d-m-before {
        width: 30em;
        left: -27em;
    }
    .des-not {
        font-size: 13px;
    }
}

@media (min-width: 1600px) and (max-width: 1699px) {
    .title_not {
        font-size: .78em;
        margin-top: -1.7%;
    }
    .title_not-i {
        font-size: 13px;
    }
    .d-before {
        margin-left: 3em;
    }
    .d-m-before {
        width: 32em;
        left: -29em;
    }
    .des-not {
        font-size: 13px;
    }
}

@media (min-width: 1700px) and (max-width: 1799px) {
    .title_not {
        font-size: .78em;
        margin-top: -1.7%;
    }
    .title_not-i {
        font-size: 13px;
    }
    .d-before {
        margin-left: 3em;
    }
    .d-m-before {
        width: 32em;
        left: -29em;
    }
    .des-not {
        font-size: 13px;
    }
}

@media (min-width: 1800px) and (max-width: 1899px) {
    .title_not {
        font-size: .81em;
        margin-top: -1.7%;
    }
    .title_not-i {
        font-size: .84em;
    }
    .d-before {
        margin-left: 3em;
    }
    .d-m-before {
        width: 32em;
        left: -30em;
    }
    .des-not {
        font-size: .84em;
    }
}

@media (min-width: 2000px) {
    .title_not {
        font-size: .81em;
        margin-top: -1.7%;
    }
    .title_not-i {
        font-size: 14px;
    }
    .des-not {
        font-size: .84em;
    }
}











.div_panel_noti{
    margin: 0;
    width: 100%;
    position: relative;
}

.button_trash{
    position: absolute;
    right: 1rem;
    top: .5rem;
    z-index: 100;
    border: none;
    background-color: transparent;
    color: #232159;
}

.notification_panel{
    margin: 0;
    width: 100%;
    position: relative;
    display: flex;
    padding: 1.5rem 1rem;
    margin-top: -1rem;
    padding-bottom: 1rem;
    background-color: #F3F8FC;
    border-top: 1px solid #ececec;
}

.notification_panel:hover{
    cursor: pointer;
}


.view{
    background-color: transparent;
}

.new{
    background-color: #F3F8FC;
}

.text_wview{
    color: #000;
    margin: 0;
    margin-top: 0rem;
    font-size: .75rem;
}

.font_view{
    font-size: .75rem;
    margin: 0;
    color: rgb(97, 97, 97);
}

.view_confirm{
    background-color: var(--room7) !important;
}

.view_confirm:hover{
    background-color: var(--room2) !important;
}

.view_reject{
    background-color: var(--room3) !important;
}

.view_reject:hover{
    background-color: var(--room1) !important;
}

.text_time{
    color: #232159;
    font-weight: bold;
    margin-right: auto;
    font-size: .7rem !important;
}

.time2{
    margin-top: 0rem !important;
}
.time{
    margin-top: .5rem !important;
}

.new_date{
    margin: 0;
}

.ban{
    position: absolute;
    z-index: 100;
    left: 1rem;
    top: .2rem;
    font-size: .8rem;
}


.btns_acept{
    float: right;
    margin: 0;
    margin-top: 1rem;
}

.date_reserve{
    display: flex;
    justify-content: space-between;
}

.notification_panel:hover{
    background-color: #f8f8f8;
    border-radius: 6px;
    text-decoration: none;
}

.photo {
    margin-left: 0em;
    width: 3.5rem;
    height: 3.5rem;
    max-width: 3.5rem;
    border-radius: 30px;
}

.btn_confirm{
    width: 5.5rem;
    background-color: var(--room2);
    color: #fff;
    margin-right: .5rem;
    font-size: .85rem;
}

.btn_confirm:hover{
    background-color: var(--room7);
    color: #fff;
}

.btn_reject{
    width: 5.5rem;
    background-color: var(--room1);
    color: #fff;
    font-size: .85rem;
}

.btn_reject:hover{
    background-color: var(--room3);
    color: #fff;
}


@media (min-width:320px) and (max-width:575px){
    .photo {
        width: 3rem;
        height: 3rem;
    }

    .btn_confirm{
        margin-right: 0;
    }

    .date_res{
        width: 12rem;
    }

    .btns_acept{
        margin-top: 0;
    }
}