/* TODO WINYERSON */
/**-------------CUSTOM PROPERTIES-------------**/
:root {
  --first-color: #232159;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: #d51d95;
  --title-color: #333;
  --text-color: #222;
}
html {
  scroll-behavior: smooth;
}

h1 {
  color: #222;
}

dt {
  color: var(--first-color);
}

.owl-carousel .owl-item {
  width: 450px !important;
  position: relative;
}
.owl-carousel figure {
  width: 100% !important;
  height: 380px !important;
  cursor: grab;
}
.owl-carousel figure img {
  width: 100%;
  height: 100%;
}
#modal-zoom-image {
  top: 0;
  left: 0;
  width: 100vw;
  display: none;
  height: 100vh;
  z-index: 5001;
  position: fixed;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.25);
}
#modal-zoom-image.show {
  display: flex;
}
#modal-zoom-image span {
  position: absolute;
  top: 1rem;
  right: 3rem;
  color: #fff;
  font-size: 200%;
  text-shadow: 2px 2px 4px #000;
  cursor: pointer;
  transition: 200ms ease all;
}
#modal-zoom-image span:hover {
  text-shadow: 1px 1px 2px #000;
}
#modal-zoom-image figure {
  width: 900px;
  height: 568px;
  background-color: rgb(62, 62, 62);
  overflow: hidden;
}
#modal-zoom-image img {
  width: 100%;
  height: 100%;
}
.owl-carousel .zoom-image {
  left: 1rem;
  bottom: 2rem;
  padding: 0.5rem 1rem;
  position: absolute;
  color: #000;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
  transition: 300ms ease all;
}
.owl-carousel .zoom-image:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.owl-carousel .zoom-image i {
  content: url("../../../assets/icon/+zoom.png");
  width: 20px;
  height: 20px;
  pointer-events: none;
  margin-right: 0.3rem;
}
.owl-carousel .owl-nav {
  bottom: 2rem !important;
  height: 3rem !important;
  display: flex !important;
  align-items: center !important;
  pointer-events: none;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  pointer-events: all;
  border: 0;
  font-size: 120% !important;
  height: 2.75rem !important;
  color: #fff !important;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--six-alpha-color) !important;
}
.owl-carousel .owl-next span,
.owl-carousel .owl-prev span {
  display: none;
}
.owl-carousel .owl-dot {
  border: none;
  background-color: transparent;
}
.owl-carousel .owl-dot span {
  margin: 0 0.25rem;
  opacity: 0.35 !important;
  background-color: var(--six-color) !important;
}
.owl-carousel .owl-dot.active span {
  opacity: 1 !important;
}
.send-message {
  background-color: var(--six-color);
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}

.quick-info-1,
.quick-info-2 {
  position: relative;
}
.quick-info-1 h6,
.quick-info-2 h6 {
  font-size: 90%;
  z-index: 999;
}
.quick-info-1 b,
.quick-info-2 b {
  z-index: 999;
  font-size: 140%;
  text-align: center;
  font-weight: 500;
}
.quick-info-1 img,
.quick-info-2 img {
  right: 0.25rem;
  bottom: 0.25rem;
  position: absolute;
}
.quick-info-1 img#room-icon {
  width: 40px !important;
  height: 40px !important;
  bottom: 0;
}
.quick-info-1 img#years-icon {
  width: 100px !important;
  height: 100px !important;
  bottom: 0;
}
.quick-info-1 img#language-icon {
  width: 40px !important;
  height: 35px !important;
  z-index: 998;
}
.quick-info-1 img#pets-icon {
  width: 100px !important;
  height: 110px !important;
}
.quick-info-2 img#age-icon {
  width: 35px !important;
  height: 35px !important;
}
.quick-info-2 img#gender-icon {
  width: 100px !important;
  height: 110px !important;
}
.quick-info-2 img#food-icon {
  width: 42px !important;
  height: 42px !important;
}
.quick-info-2 img#diet-icon {
  width: 50px !important;
  height: 50px !important;
  bottom: 0;
}

@media screen and (min-width: 992px) {
  .owl-carousel .owl-next,
  .owl-carousel .owl-prev {
    top: unset;
    bottom: 0;
  }

  .quick-info-1 h6,
  .quick-info-2 h6 {
    font-size: 95%;
  }
  .quick-info-1 img,
  .quick-info-2 img {
    bottom: 0.25rem !important;
  }
  .quick-info-1 img#room-icon {
    width: 50px !important;
    height: 50px !important;
    right: 0.5rem !important;
  }
  .quick-info-1 img#years-icon {
    width: 140px !important;
    height: 140px !important;
  }
  .quick-info-1 img#language-icon {
    width: 45px !important;
    height: 45px !important;
  }
  .quick-info-1 img#pets-icon {
    width: 140px !important;
    height: 140px !important;
    right: 0.5rem !important;
    bottom: 0.5rem !important;
  }
  .quick-info-2 img#age-icon {
    width: 45px !important;
    height: 45px !important;
    bottom: 0.5rem !important;
  }
  .quick-info-2 img#gender-icon {
    width: 140px !important;
    height: 140px !important;
    bottom: 0.5rem !important;
  }
  .quick-info-2 img#food-icon {
    width: 50px !important;
    height: 50px !important;
    bottom: 0.5rem !important;
  }
  .quick-info-2 img#diet-icon {
    width: 60px !important;
    height: 60px !important;
    bottom: 0 !important;
  }
}
