/* TODO WINYERSON */
/**-------------CUSTOM PROPERTIES-------------**/
:root {
  --first-color: #232159;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: #d51d95;
  --title-color: #333;
  --text-color: #222;
}

/** DEFAULT **/
html {
  scroll-behavior: smooth;
}
h1 {
  color: #222;
}
main {
  margin-top: 82px !important;
}
#map {
  height: 500px;
  width: 40px;
}

.owl-carousel .owl-item {
  width: 450px !important;
}
.owl-carousel .owl-stage,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-item {
  height: 50% !important;
}
.owl-carousel .ts-image {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 45vh !important;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  border: 0;
  top: -10rem;
  font-size: 120% !important;
  height: 2.75rem !important;
  color: #fff !important;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--six-alpha-color) !important;
}
.owl-carousel .owl-next span,
.owl-carousel .owl-prev span {
  display: none;
}
.owl-carousel .owl-dot {
  border: none;
  background-color: transparent;
}
.owl-carousel .owl-dot span {
  opacity: 0.35 !important;
  background-color: var(--six-color) !important;
}
.owl-carousel .owl-dot.active span {
  opacity: 1 !important;
}

.loading-houses {
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
}
.loading-houses svg {
  stroke: var(--four-color);
}

.house-container {
  width: 100%;
  min-height: 40vh;
  position: relative;
  transition: 300ms ease all;
}

.card-house {
  position: relative;
  width: 20rem;
  margin-right: 1.5rem;
  height: inherit;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: 250ms ease all !important;
}
.card-house:last-child {
  margin-right: 0rem;
}
.card-house:hover {
  color: unset;
  transform: scale(1.025);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-house .card-header {
  width: 100% !important;
  cursor: pointer;
  position: relative;
}
.card-house .card-header > img {
  width: 100%;
  height: 16rem;
  overflow: hidden;
  object-fit: fill;
  position: relative;
  pointer-events: none;
}

.house-container .house-information p {
  color: #222;
  font-size: 100%;
  padding: 0;
  margin: 0;
  width: 14rem;
  text-align: center;
  position: relative;
}
.house-container .house-information p::before {
  content: "Email";
  position: absolute;
  top: -2rem;
  left: 50%;
  width: max-content;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  transform: translateX(-50%);
}
.house-container .house-information p#house-phone::before {
  content: "Phone Number";
}
.house-container .house-information p#house-postal-code::before {
  content: "Postal Code";
}
.house-container .house-information p#house-residence-type::before {
  content: "Type";
}
.house-container .house-information p#house-family-members::before {
  content: "Family Members";
}
.house-container .house-information p#house-nationality::before {
  content: "Nationality";
}
.house-container .house-information p#house-smoke::before {
  content: "Smoke";
}
.house-container .house-information p#house-food::before {
  content: "Meal Service";
}
.house-container .house-information p#house-diet::before {
  content: "Special Diet";
}
.house-container .house-information p#house-pets::before {
  content: "Pets";
}
.house-container .house-information p#house-description::before {
  content: "Description";
}
.house-container .house-information p span {
  color: #fff;
  margin: 0 0.5rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--six-color);
}

.btn-more-info {
  opacity: 0.75;
  text-decoration: none;
  color: #fff;
  font-size: 120%;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--six-color);
  transition: 300ms ease all;
}
.btn-more-info:hover {
  opacity: 1;
  color: #fff;
  transform: scale(1.1);
}

@media screen and (min-width: 992px) {
  .owl-carousel .owl-next,
  .owl-carousel .owl-prev {
    bottom: 0;
    top: unset;
  }
  .house-container .house-information p#house-residence-type::before {
    content: "Residence Type";
  }
}
