body#body {
    background-color: #F3F8FC;
}

td#center {
	text-align: center;
}

a#preview{
	color: black; 
	border: 2px solid #232159; 
	font-size: 14px;
}
a#preview:hover{
	color: white; 
	border: 2px solid #232159; 
	background-color: #232159; 
	font-size: 14px;
}
 

button#edit {
	color: white; 
	background-color: #982A72; 
	border: 2px solid #982A72; 
	font-size: 14px;
} 

button#edit2 {
	color: white; 
	background-color: #232159;
	border: 2px solid #232159;
	font-size: 14px;
} 
/*AJAX*/
a.page-link {
    background-color: transparent;
    border: none;
    border-radius: 50px;
    color: #191919;
    margin: 0 .125rem;
    padding: .75rem 1rem;
    position: relative;
}

a.page-link:hover {
    background-color: #815391;
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
    color: #191919;
}

a.page-link:after {
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    bottom: -0.4375rem;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
    transition: .3s ease;
}

li.page-item:first-child a.page-link, li.page-item:last-child a.page-link {
    border-radius: 0;
}

li.page-item.active a.page-link {
    background-color: #232159;
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
}

li.page-item.active a.page-link:after {
    border-color: white transparent transparent transparent;
}

@media screen and (max-width: 800px) {
        #white-logo{display: none;}
        #nav-footer{display: none;}
            #con-footer{display: none;}
    }