body {
    background: white;
}

a.btn-link{
    color:  #982A72;
}

a.btn-link:hover{
    color:  #982A72;
}

table#table{
    margin-left: 15%;
}

#table-mobile{
    display: none;
}

img#homestay {
    width: 227px; 
    height: 227px;
}

span#circle {
    background-color: #982A72;
}

h3#homestay2 {
    margin-left: 45px; 
    margin-bottom: -12px;
}

img#student {
    width: 227px; 
    height: 227px;
}

h3#stu2 {
    margin-left: 45px; 
    margin-bottom: -12px;
}

img#academy {
    width: 227px; 
    height: 227px;
}

h3#aca2 {
    margin-left: 45px; 
    margin-bottom: -12px;
}


@media screen and (max-width: 800px) {
            #white-logo{display: none;}
            div.ts-copyright { margin-left: -120px; margin-top: 10px; }
            nav.nav { margin-left: -20px }
            #nav-footer{display: none;}
            #con-footer{display: none;}
            div.container {height: -1000px;}
            #ts-footer-secondary{height: 150px}
            a.fa-youtube{display: none;}
            div.ts-feature {margin-left: 20px;}
            #student2{margin-left: 20px;}
            #academy2{margin-left: 20px;}
             th#info{display: none;}
            #table{display: none;}
            #table-mobile{display: block;}}
    
        }