img#homestay {
    width: 227px;
    height: 227px;
}

img#student {
    width: 227px;
    height: 227px;
}

span#circle {
    background-color: #982A72;
}

h3#homestay {
    margin-left: 45px;
    margin-bottom: -12px;
}

img#agency {
    width: 227px;
    height: 227px;
}

h3#stu2 {
    margin-left: 45px;
    margin-bottom: -12px;
}

h3#aca2 {
    margin-left: 45px;
    margin-bottom: -12px;
}

button.btn {
    background-color: #fff;
    border: 2px solid #5D418D;
    color: #5D418D;
}

button.btn:hover {
    background-color: #982A72;
    border: 2px solid #982A72;
}

a.btn {
    color: #5D418D;
    border: 2px solid #5D418D;
}

a.btn:hover {
    background-color: #982A72;
    border: 2px solid #982A72;
}

p#good {
    color: green;
}

b#bad {
    color: red;
}

a.btn-link {
    color: #982A72;
}

a.btn-link:hover {
    color: #982A72;
}

table#table {
    margin-left: 20%;
}

div#container {
    padding: 40px;
}

div#table {
    margin: auto;
}

table#table2 {
    margin-left: 150px;
    width: 900px;
    border-spacing: 0px;
    color: #6d6c6c;
    font-size: 20px;
}

td#table2 {
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
}

.table-hover th {
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
    background: #d9d9d9;
    text-align: left;
}

#inner-container {
    width: 1000px;
    max-width: 100%;
    padding: 20px 0 70px 0;
    height: 100%;
}

#container {
    min-height: 100%;
    padding: 300px;
    border-radius: 2px;
}

.pages {
    padding: 10px 14px;
    color: #000000;
    border-radius: 50%;
    background: #CCC;
    text-decoration: none;
    margin: 0px 6px;
    font-size: 0.9em;
}

.pages:hover {
    color: #ffffff;
    background: #982A72;
}

.current {
    padding: 10px 14px;
    color: #ffffff;
    background: #5D418D;
    text-decoration: none;
    border-radius: 50%;
    margin: 0px 6px;
}

#table-mobile {
    display: none;
}

@media screen and (max-width: 800px) {
    #white-logo {
        display: none;
    }
    div.ts-copyright {
        margin-left: -120px;
        margin-top: 10px;
    }
    nav.nav {
        margin-left: -20px
    }
    #nav-footer {
        display: none;
    }
    #con-footer {
        display: none;
    }
    div.container {
        height: -1000px;
    }
    #ts-footer-secondary {
        height: 150px
    }
    a.fa-youtube {
        display: none;
    }
    div.ts-feature {
        margin-left: 20px;
    }
    #student2 {
        margin-left: 20px;
    }
    #academy2 {
        margin-left: 20px;
    }
    th#info {
        display: none;
    }
    #table {
        display: none;
    }
    #table-mobile {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    div#table {
        margin-left: 0px;
    }
}


/* Ediciones */

body{
    background-color: #fff;
}

#ts-main>.container{
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.margin-t{
    margin-top: 7rem;
}

.ref:hover{
    color: #232159;
    text-decoration: none;
    background-color: transparent;
}

.list-group-item{
    border-bottom: 1px solid #e6e3e3 !important;
    text-align: left;
    font-weight: bold;
    width: 100%;
}

.list-group-item:hover{
    color: #232159;
}

.flex{
    justify-content: space-between;
}

.homestay{
    border-right: 1px solid #000000;
}

.providers{
    border-top: 1px solid #000;
}

.img-mirror{
    transform: scaleX(-1);
}

.img-size{
    width: 300px;
    height: 300px;
}

.span-circle{
    float: right;
    width: 100%;
    margin-top: 2rem;
}

.circle{
    width: 2rem;
    height: 2rem;
    margin-right: .8rem;
    color: #fff;
    padding-top: .35rem;
    padding-left: .55rem;
    border-radius: 30px;
}


@media (min-width: 300px) and (max-width: 400px){
    .margin-t{
        margin-top: 5rem;
    }
    .img-size{
        width: 250px;
        height: 250px;
        display: block;
        margin: auto auto;
    }
}
@media (min-width: 300px) and (max-width: 575px){
    .margin-t{
        margin-top: 5rem;
    }
    .img-size{
        width: 250px;
        height: 250px;
        display: block;
        margin: auto auto;
    }
}

@media (min-width: 300px) and (max-width: 1200px){
    .margin-b{
        margin-bottom: 4rem;
    }
}