:root {
  --room1: #7628bf;
  --room2: #982a72;
  --room3: #394893;
  --room4: #a54483;
  --room5: #5d418d;
  --room6: #392b84;
  --room7: #b15391;
  --room8: #4f177d;
  --ff: #f8f8f8;

  --bg-1: #7628bf;
}

body {
  background-color: #f3f8fc;
  font-family: Arial, Helvetica, sans-serif !important;
}
html {
  scroll-behavior: smooth;
}
.container__title {
  width: 70%;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.title__edit {
  font-size: 3rem;
}

.card-main {
  max-width: 1100px;
  border: none;
  margin: auto;
  display: flex;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 2rem;
  border: 1px solid var(--room1);
  box-shadow: 0px 9px 14px -5px var(--room1);
  -webkit-box-shadow: 0px 9px 14px -5px var(--room1);
  -moz-box-shadow: 0px 9px 14px -5px var(--room1);
}

.form__group-house_in {
  width: 100%;
}

.form__target-header {
  top: 0;
  width: 100%;
  margin: 0;
  background-color: var(--room1);
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffffff;
  margin-bottom: 4rem;
  padding: 5px 0;
}

.title_target {
  padding-left: 3rem;
  vertical-align: middle;
  margin: 0;
  padding-bottom: 0;
  font-weight: 500;
}

.form__group__row_box {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
}

.form__group-h_name {
  position: relative;
  border: none;
  display: block;
}

.form__group-hinf {
  display: flex;
  position: relative;
  justify-content: center;
}

.form__group-input {
  padding: 15px 30px;
  padding-bottom: 2px;
  border: none;
  border-bottom: 1px solid var(--room1);
  outline: none;
  font-size: 0.95rem;
  position: relative;
  background-color: transparent;
  color: #000;
  width: 100%;
}

.mname,
.lmname,
.dateb,
.rooms {
  width: 100% !important;
}

.form__group-input::placeholder {
  color: #363636;
}

.end_div {
  margin-bottom: 5rem;
}

.tarjet,
.tarjet3,
.wrap-div {
  width: 15rem;
}

.form__group-description_div {
  width: 100%;
  margin: 0 auto;
  margin-top: -2rem;
  margin-bottom: 5rem;
}

.form__group-description {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.form__group-preferences {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
}

.form__group-academy {
  position: relative;
}

.form__group-gender {
  position: relative;
}

.form__group-age {
  position: relative;
}

.form__group-diet,
.form__group-pets {
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 0px 5px -8px var(--room1);
  -webkit-box-shadow: 0px 0px 8px -5px var(--room1);
  -moz-box-shadow: 0px 0px 8px -5px var(--room1);
}

.form__group-diet-in,
.form__group-pets-in {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.custom-checkbox-none {
  margin: 0 auto;
}

.custom-checkbox-pets {
  left: 3rem;
}

.form__group-ypets {
  flex: 0 0 calc(40% - 30px);
}

.form__group-npets {
  flex: 0 0 calc(40% - 30px);
}

.custom-checkbox {
  flex: 0 0 calc(48% - 30px);
}

.custom-checkbox-none {
  flex: 0 0 calc(30% - 30px);
}

.custom-checkbox-dog {
  flex: 0 0 calc(10% - 30px);
}

.custom-checkbox-pets {
  left: 3rem;
}

.form__group-others {
  flex: 0 0 calc(40% - 7px);
}

.form__group-row {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.form__location {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5rem;
  justify-content: space-around;
}

.mgender,
.alter_phone,
.db_law {
  width: 100%;
}

.margin-t {
  margin-top: -2rem !important;
}

.form__group-row2 {
  display: block;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.add__family {
  border: none;
  color: var(--room1);
  background-color: transparent;
}

.member1 {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form__group-save {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-top: 6rem;
  padding-top: 2rem;
  border-top: 2px solid #e8e8e8;
}

.form__message {
  width: 100%;
}

.message_error {
  background-color: rgb(255, 173, 173);
  border: 2px solid red;
  padding: 10px 10px;
  height: 5rem;
  border-radius: 14px;
  width: 20%;
  margin-left: auto;
  margin-right: 2rem;
  display: none;
}

.aprobe {
  background-color: #00913f !important;
  border: 2px solid #01632b !important;
}

.error {
  width: 50%;
  margin: 0 auto;
}

.message_error_active {
  display: block !important;
}

.error-m {
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  line-height: 3.5rem;
  color: black;
}

.input__other_city {
  border: none;
  border-bottom: 2px solid #4f177d;
  outline: none;
  padding-left: 0.5rem;
  margin-top: 0.8rem;
  padding-bottom: 0.2rem;
  width: 100%;
}

.type__pets {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Labels */

.label__name {
  position: absolute;
  top: -0.5rem;
  left: 2rem;
  font-weight: 400 !important;
  color: #232159;
  width: 100%;
}

.house_info {
  left: 2rem !important;
}

.location {
  left: 3rem !important;
  top: -0.3rem;
}

.preference {
  left: 3rem !important;
  top: -2.2rem;
}

.form__group-diet,
.form__group-pets {
  padding: 1rem 0.5rem !important;
}

.form__group-hinf,
.form__group-hinf2,
.form__group-hinf3 {
  display: flex;
  position: relative;
  justify-content: center;
}

.label__family {
  left: 3rem;
}

.label__other__city {
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #232159;
  position: absolute;
  text-align: left !important;
  top: -0.4rem;
  left: 1.5rem;
}

.hi_room {
  left: 2rem;
}

/* Icons */

.l_icon {
  cursor: pointer;
}

.icon {
  position: absolute;
}

.icon_rooms {
  content: url("../../../assets/icon/habitacion.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.8rem;
  left: 0.2rem;
}

.icon_mail {
  content: url("../../../assets/icon/email.png");
  width: 1.3rem;
  height: 1.4rem;
  top: 0.9rem;
  left: 0.2rem;
}

.icon_pass {
  content: url("../../../assets/icon/password.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.7rem;
  left: 0rem;
}

.icon-pets {
  content: url("../../../assets/icon/pets\ 64.png");
  width: 1.9rem;
  height: 1.9rem;
  top: 0.8rem;
  left: 2rem;
}

.icon_name_h {
  content: url("../../../assets/icon/profile2.png");
  width: 1.5rem;
  height: 1.5rem;
  left: -0.5rem;
}

.icon_gender2 {
  content: url("../../../assets/icon/gender.png");
  width: 1.3rem;
  height: 1.3rem;
  left: 1.3rem;
  top: 0.9rem;
}

.icon_pnumber2 {
  content: url("../../../assets/icon/main\ contact\ 64.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.7rem;
  left: 1rem;
}

.address,
.city {
  width: 90% !important;
}

.state,
.pcode {
  width: 90% !important;
}
.y_service {
  top: -1.8rem;
}

.y_service {
  top: -2.2rem;
}

.npets {
  top: -2.2rem;
}

.specify_pets {
  top: -2.2rem;
}

.type__pets {
  margin-top: -0.5rem;
}

.type__pets label {
  font-weight: 500 !important;
}

.npets,
.background,
.background_l,
.nmembers,
.gender1,
.name1,
.lname1,
.dbirth1,
.gender1,
.relation1,
.name2,
.lname2,
.db2,
.gender2,
.relation2,
.db_lawf2,
.name3,
.lname3,
.db3,
.gender3,
.relation3,
.db_lawf3,
.name4,
.lname4,
.db4,
.gender4,
.relation4,
.db_lawf4,
.name5,
.lname5,
.db5,
.gender5,
.relation5,
.db_lawf5,
.name6,
.lname6,
.db6,
.gender6,
.relation6,
.db_lawf6,
.name7,
.lname7,
.db7,
.gender7,
.relation7,
.db_lawf7,
.name8,
.lname8,
.db8,
.gender8,
.relation8,
.db_lawf8 {
  width: 100%;
}

.others {
  width: 100%;
  top: -1rem;
}

/* -------------------- END ---------------------------*/

@media (min-width: 300px) and (max-width: 1200px) {
  .form__group-preferences1 {
    width: 70%;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .house_info__div {
    width: 100% !important;
  }

  .tarjet,
  .tarjet3,
  .wrap-div {
    width: 15rem;
  }
}

@media (min-width: 300px) and (max-width: 575px) {
  .title__group-section {
    margin-bottom: 2rem;
  }

  .title__edit {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .form__group-hinf2,
  .form__group-hinf3 {
    margin-top: 2rem;
  }
}

@media (min-width: 300px) and (max-width: 992px) {
  .form__group-row {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .form__group-adress {
    width: 90%;
    margin-left: auto !important;
  }

  .form__group-pets {
    margin-top: 2rem;
  }
}

@media (min-width: 400px) and (max-width: 1100px) {
  .card-main {
    width: 95%;
  }

  .message__input_error {
    width: 100%;
    padding-left: 2rem;
  }

  .house_info__div {
    width: 95% !important;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .form__group-row {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .mname,
  .lmname,
  .dateb {
    width: 100% !important;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .form__group-hinf2 {
    margin-top: 4rem;
  }
  .form__group-hinf3 {
    margin-top: 2rem;
  }
}
@media (min-width: 992px) {
  .tarjet,
  .tarjet3,
  .wrap-div {
    width: 18rem;
  }

  .form__group-hinf {
    margin-top: 4rem;
  }
  .form__group-hinf3 {
    margin-top: 4rem;
  }

  .form__group-hinf2 {
    margin-top: 4rem;
  }
}

@media (max-width: 1200px) {
  .form__group-preferences {
    width: 90%;
  }
}

@media (max-width: 600px) {
  div#map {
    margin-left: 0px;
    margin-top: 1rem;
    width: 100%;
    height: 12rem;
  }
}

/* MEDIA MEDIUM DEVICE TABLETS*/

@media (min-width: 600px) {
  /*REPONSIVE LOCATION*/
  div#map {
    margin-left: 0px;
    width: 100%;
    height: 20rem;
    margin-top: -2rem;
  }
}

/* MEDIA LARGE DEVICE DESKTOP AND LAPTOPS*/

@media (min-width: 800px) {
  /*REPONSIVE LOCATION*/
  div#map {
    margin-left: 0px;
    height: 20rem;
    margin-top: -2rem;
  }
}

@media (max-width: 992px) {
  .form__group-map {
    margin-top: 3rem;
    width: 80%;
  }
}

@media (min-width: 1200px) {
  div#map {
    width: 100%;
    height: 20rem;
    margin-top: -2rem;
  }
}

.zoom {
  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s, -o-transform 0.5s;
}

.zoom:hover {
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
}

#house {
  background-image: url("../../../student/assets/images/house1.png");
  background-size: cover;
  width: 27px;
  height: 49px;
  cursor: pointer;
}

.logo_white {
  width: 200px;
}

@media (max-width: 767px) {
  .navbar {
    height: 6rem !important;
  }
  .logo_white {
    width: 110px;
    margin-top: 0rem;
  }

  .navbar-nav {
    margin-top: -2rem !important;
  }
}

@media (min-width: 767px) {
  .logo_white {
    margin-top: 0rem;
    width: 110px;
  }
}

@media (min-width: 1000px) {
  .logo_white {
    width: 140px;
  }
}

@media (min-width: 1200px) {
  .logo_white {
    width: 160px;
  }
}

@media (min-width: 1400px) {
  .logo_white {
    width: 160px;
  }
}

/* ! -------------------------------------------------------- Step Version ------------------------------------ */

/* New Version */

/* Father Container */

.container_register {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 8rem;
}

.root {
  display: flex;
  justify-content: center;
  min-height: 99vh;
  overflow-x: hidden;
}

/* Title Register */

.title__register__s {
  padding-left: 5rem;
  font-size: 44px;
  font-weight: 500;
}

/* Form Register */

.form__register {
  padding: 26px 15px;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* Form Header */

.form-register__header {
  margin-bottom: 5rem;
}

/* Progressabar */

.progressbar {
  display: flex;
  list-style: none;
  margin-bottom: 15px;
  counter-reset: step;
}

.progressbar__option {
  width: 100%;
  text-align: center;
  position: relative;
  font-size: 17px;
  color: transparent;
  line-height: 22px;
}

.color {
  color: #000;
}

.progressbar__option:before {
  display: flex;
  content: counter(step);
  counter-increment: step;
  width: 35px;
  height: 35px;
  background-color: white;
  margin: 0 auto 5px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.progressbar__option:after {
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 15px;
  left: -50%;
  z-index: 1;
}

.progressbar__option:first-child:after {
  content: none;
}

.progressbar__option.active::before,
.progressbar__option.active::after {
  background-color: #5d418d;
  color: #fff;
}

/* Form Register body */

.form-register__body {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

/* Step */

.step {
  min-width: 100%;
  display: none;
  transition: all 0.2s linear;
}

.step.active {
  display: inline;
}

.step.to-left {
  margin-left: -100%;
}

.step.inactive {
  animation-name: scale;
  animation-duration: 0.2s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes scale {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.row_step {
  display: flex;
}

.card_step {
  border: 1px solid var(--bg-1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Header Step */

.step__header {
  padding: 10px 15px;
  background-color: var(--bg-1);
  border-radius: 8px 8px 0 0;
  width: 100%;
}

.title__card {
  margin: 0;
  color: #fff;
  font-weight: 300;
  font-size: 24px;
}

/* ? ------------------------------------------ STEP BODY ------------------------------------------------------- */

.step__body {
  padding: 50px 35px;
}

.step__body > article {
  margin-bottom: 4rem;
}

.title__group-section {
  width: 90%;
  color: var(--room8);
  margin: 0 auto;
  border-bottom: 2px solid #e8e8e8;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 4rem;
  font-weight: normal !important;
}

.subtitle__group-section {
  width: 100%;
  color: #232159;
  margin: 0 auto;
  border-bottom: 2px solid #e8e8e8;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 4rem;
  font-weight: normal !important;
}

.calc__weeks {
  width: 100%;
  text-align: center;
  color: #232159;
}

.accom {
  justify-content: space-between !important;
  margin-left: auto;
  margin-right: auto;
}

.payment_proc {
  justify-content: space-between !important;
  width: 80%;
  margin: auto;
}

.row_flex {
  display: flex;
  justify-content: center;
}

.row_flex2 {
  display: flex;
}

/* Inputs */

.address,
.age,
.gender,
.m_service,
.academy,
.status,
.smoke,
.ypets,
.allergies_select,
.medic_f,
.health_f,
.mgender,
.num,
.nmembers,
.backg,
.backl,
.religion,
.f_name1 {
  padding-left: 1.8rem !important;
  width: 100% !important;
}

.form__group-kpets label {
  font-weight: 500;
  color: #232159;
}

/* inputs true and false */

.message__input_error {
  display: none;
  color: red;
  font-size: 12px;
  line-height: 17px;
  padding-left: 0rem;
  padding-top: 0.5rem;
}

.room_error {
  padding-left: 0 !important;
}

.family_error {
  padding-left: 1.5rem;
}

.number_error {
  padding-left: 2rem;
}

.disabled {
  display: none;
}

.message__input_error_active {
  display: block;
}

.input_true .form__group-input {
  border-bottom: 2px solid #00913f !important;
}

.input_false .form__group-input {
  border-bottom: 2px solid #cc0000 !important;
}

/* -------------------- END ---------------------------*/

/* ------------------------ BTN EYE -------------------- */

.btn__eye {
  position: absolute;
  right: -0.2rem;
  top: 1rem;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #232159;
}

/* TODO -------------------- STEP 1  ---------------------------- */

.kind_meal {
  border-radius: 8px;
  padding: 10px 10px;
  background-color: #f0f0f0;
  box-shadow: 0px 7px 14px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 7px 14px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 14px -4px rgba(0, 0, 0, 0.75);
}

.content__meals {
  font-weight: 500 !important;
}

.meal_div-parents {
  width: 100%;
}

.meal_div {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.label__meals {
  text-transform: uppercase;
  margin-left: 1rem;
}

.label__meals:before {
  content: "";
  border: 1px solid #9e9e9e9e;
  border-radius: 3px;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 0px;
  transition: all 0.2s;
  transform: rotate(0deg);
}

.check__meals:checked + .label__meals:before {
  border-color: #4f177d;
  color: #4f177d;
  content: "\f00c";
  transform: rotate(360deg);
}

.title_tm {
  max-width: 20% !important;
  width: 40%;
}

/* TODO -------------------- ----  ---------------------------- */
/* TODO -------------------- STEP 2  ---------------------------- */

.bedrooms {
  margin-top: 5rem;
}

.body__gellery {
  width: 85%;
}

.gallery-photo {
  height: 250px !important;
}

.body__gellery > section {
  display: grid;
  grid-template-columns: repeat(3, 32%) !important;
  justify-content: space-between;
}

.body__gellery > section > article {
  width: 100%;
}

.parent__modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999 !important;
  background-color: rgb(0, 0, 0, 0.4);
}

.modal__div {
  border: 1px solid var(--bg-1);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 7px 14px -4px var(--bg-1);
  -webkit-box-shadow: 0px 7px 14px -4px var(--bg-1);
  -moz-box-shadow: 0px 7px 14px -4px var(--bg-1);
  position: fixed;
  opacity: 1 !important;
}

.modal__header {
  border-bottom: 1px solid #dddddd !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px 10px;
}

.img__middle__step {
  width: 25rem;
}

.text__modal {
  color: #000;
  font-size: 18px;
  text-align: center;
  margin-top: -1rem;
}

.modal__footer {
  width: 100% !important;
  border-top: 1px solid #dddddd !important;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btn_modal-close {
  background-color: #232159;
  color: #fff;
  font-size: 16px;
  width: 12rem !important;
}

.btn__modal {
  background-color: #232159 !important;
  width: 12rem;
}

.div__footer {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.close__modal {
  background-color: transparent;
  border: none;
  font-weight: 600;
  color: #000;
}

/* TODO --------------------------------------------------------- */

.add-photo-i {
  position: absolute;
  display: none;
  width: 100%;
  height: 220px;
  margin: 0 auto;
  color: #4f177d;
  cursor: pointer;
  transition: all 300ms ease;
}
.add-photo-i:hover {
  background: #c2c2c223;
  background-color: rgb(150, 150, 150, 0.5);
}
.add-photo-i:hover .icon-edit {
  opacity: 1;
}
.add-photo-i img {
  transition: all 300ms ease;
}
.add-photo-i:hover img {
  opacity: 0.6;
}

.icon-edit {
  font-size: 30px !important;
  text-align: center;
  margin: auto auto;
  opacity: 0;
  transition: all 0.3s;
  color: #f8f8f8;
}

@media (max-width: 992px) {
  .bed-info-homestay {
    margin-bottom: 2rem;
  }
}

@media (max-width: 1200px) {
  .room-card-container-homestay {
    width: 90% !important;
  }
}

@media (min-width: 1200px) {
  .room-card-container-homestay {
    width: 70% !important;
  }
}

/* TODO ---------------- STEP 3 --------------------------------- */
/* Inputs */
.description {
  width: 100%;
  background-color: rgb(231, 231, 231);
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  padding: 5px 10px;
  border-bottom: 2px solid #4f177d;
}

/* ----------------------------------------------- */

.title__group-preference {
  width: 90%;
  color: #232159;
  margin: 0 auto;
  border-bottom: 2px solid var(--room3);
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  padding-left: 2.5rem;
  margin-bottom: 2rem;
  font-weight: normal !important;
}

.body_card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.card__special_diet {
  background-color: #f8f8f8;
  border-radius: 12px;
  box-shadow: 0px 0px 5px -8px var(--room1);
  -webkit-box-shadow: 0px 0px 8px -5px var(--room1);
  -moz-box-shadow: 0px 0px 8px -5px var(--room1);
}

/* TODO ---------------------------------------------------------- */

/* TODO ---------------- STEP 4 --------------------------------- */

.contact_main {
  width: 95% !important;
}

/* TODO ---------------------------------------------------------- */

/* Step Footer */

.step__footer {
  padding: 20px 15px;
  text-align: center;
  margin-top: 4rem;
}

/* Step buttons */

.step__button--back,
.btn_modal-close {
  background-color: #392b84;
  font-size: 16px;
  color: #fff;
  width: 8rem;
  margin-right: 1rem;
}

.step__button--next {
  background-color: #5d418d;
  font-size: 16px;
  color: #fff;
}

.btn__open-modal {
  background-color: #5d418d;
  font-size: 16px;
  color: #fff;
}

.btn__next {
  width: 8rem;
}

.step__button--register {
  background-color: #4f177d;
  font-size: 16px;
  color: #fff;
  width: 25%;
}

.btn__close {
  background-color: #394893 !important;
  color: #fff;
  width: 25%;
}

/* Old version */

body {
  background-color: #f3f8fc;
}

.card__register {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
}

.form__group {
  margin-bottom: 1.5rem;
  position: relative;
}

.form__group__div__photo {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 10rem;
  height: 10rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.form__group__div__photo__visa {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  height: 10rem;
  justify-content: center;
}

.form__group__photo__visa {
  width: 100%;
  height: 100%;
  align-content: center !important;
}

.visa-add {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  padding-left: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #000;
  border-radius: 8px;
}

.photo-add:hover,
.visa-add:hover {
  cursor: pointer;
  transition: all 0.2s;
  background-color: #e0e0e0;
}

.form__group__photo {
  width: 100%;
  height: 100%;
  border-radius: 80px;
  border: 1px dashed #000;
}

.cont_name,
.cont_lname,
.num_conts,
.cell_s {
  width: 95%;
}

.form__group-input {
  border: none;
  padding: 10px 5px;
  padding-bottom: 6px;
  outline: none;
  border-bottom: 2px solid #4f177d;
  border-radius: 0 !important;
}

.form__group-input:focus {
  border-bottom: 2px solid #4f177d;
}

.form__group-input:active {
  border-bottom: 2px solid #4f177d;
}

.form__group__name {
  margin-top: 1rem !important;
}

.form__group-dates__flight {
  display: flex;
  margin-top: 2rem;
}

.form__group__div-special__diet {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  padding: 0.7rem 1.5rem;
}

.form__group__row-diet {
  display: flex;
  width: 25rem;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.custom-checkbox {
  flex: 0 0 calc(48% - 30px);
}

.custom-checkbox-none {
  flex: 0 0 calc(30% - 30px) !important;
}

.title__special-diet {
  border-bottom: 2px solid #232159;
  padding-bottom: 0.4rem;
  padding-left: 2.5rem;
  width: 100%;
}

.mail,
.password,
.names,
.db,
.bl,
.nacionality,
.lang_s,
.type_s,
.firstd,
.lastd,
.n_airline,
.n_flight,
.allergies,
.num_s,
.f_date,
.h_date,
.country,
.dir,
.city2,
.state,
.p_code,
.price {
  width: 100% !important;
}

.allergies {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  background-color: rgb(238, 238, 238);
  padding: 0.5rem 0.5rem;
}

.form__group-title {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.form__group-title__col-4 {
  padding: 0.5rem 1rem;
  background-color: #232159;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.information__content {
  padding: 1rem 1.5rem;
  padding-bottom: 2rem;
}

.subtitle__section-card {
  width: 90%;
  margin: auto auto;
  color: #232159;
  border-bottom: 2px solid #e8e8e8;
  font-weight: 500;
  font-size: 1.4rem;
  padding-left: 1rem;
  display: flex;
  position: relative;
}

.additional__text {
  font-size: 0.95rem;
  margin-left: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
  color: #444;
}

.suboption {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.div__sign {
  border: 1px solid #232159;
  border-radius: 8px;
}

.div__sign:hover {
  cursor: pointer;
}

.btn__div {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.btn_clean {
  margin-left: auto;
  color: #fff;
  font-size: 14px;
  background-color: #394893;
  outline: none;
  padding: 0.5rem 0.8rem;
}

.form__group-basic-content {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.form__group__btn-send {
  margin-right: 1rem;
}

.form__btn {
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  background-color: #232159;
  border: none;
  color: #fff;
  font-size: 1.05rem;
  transition: all 0.25s;
}

.form__btn:hover {
  background-color: #4f177d;
}

/* ------------------------------- */

.form__group__input-error {
  margin-bottom: 0;
  font-size: 12px;
  display: none;
  line-height: 15px;
  color: #bb2929;
  width: 85%;
}

.form__group__input-error-active {
  display: block;
}

.form__message {
  display: none;
}

.form__message p {
  margin: 0;
}

.form__message-active {
  display: block;
}

.form__message-sucess {
  color: green;
  font-size: 14px;
  display: none;
}

.form__message-sucess-active {
  display: block;
}

.form__group-correct .form__validate-state {
  color: #1ed12d;
  opacity: 1;
}

.form__group-correct .form__group-input {
  border-bottom: 2px solid #1ed12d;
}

.form__group-correct .form__label {
  color: #1ed12d;
}

.form__group-incorrect .form__label {
  color: #bb2929;
}

.form__group-incorrect .form__validate-state {
  color: #bb2929;
  opacity: 1;
}

.form__group-incorrect .form__group-input {
  border-bottom: 2px solid #bb2929;
}

/* -----------------------------------------*/

/*-------------- Gallery --------------------*/

.form__group-l_title {
  margin: 0;
  color: #4f177d;
}

.form__group-l_title_files {
  margin: 0;
  color: #4f177d;
  position: absolute;
  top: 58.5%;
  opacity: 0.8;
}

.photo-add:hover {
  cursor: pointer;
  transition: all 0.2s;
  background-color: #e0e0e0;
}

.vegetarians {
  justify-content: justify !important;
}

.price {
  padding-bottom: 2px !important;
}

.card_information__title {
  color: #232159;
  border-bottom: 2px solid rgb(212, 212, 212);
  width: 100%;
  padding-left: 1rem;
  font-weight: 500 !important;
}

.div__card__information {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: auto auto;
}

.check__div {
  display: flex;
  justify-content: space-around;
}

.check__div2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.form__group__preference {
  margin-bottom: 3rem;
}

.form__group__disease,
.form__group__treatment,
.form__group__treatment_p,
.form__group__allergies,
.form__group__surgery {
  text-align: center;
}

.form__group__allergies {
  margin-top: 0 !important;
}

.textarea__div-desease {
  margin-top: 1rem;
  display: none;
  transition: all 0.5s;
}

.textarea__div-desease-active {
  margin-top: 1rem;
  display: inline;
  transition: all 0.5s;
}

.label__specify {
  color: #232159;
}

.healt {
  background-color: rgb(238, 238, 238);
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  padding-top: 2px !important;
  padding-left: 8px !important;
}

.detail__lodging {
  color: #232159;
  margin: 0;
  width: 100%;
  text-align: center;
  margin-top: 0.2rem;
}

.input__other_city {
  border: none;
  border-bottom: 2px solid #4f177d;
  outline: none;
  padding-left: 0.5rem;
  margin-top: 0.8rem;
  padding-bottom: 0.2rem;
  width: 100%;
}

.input__specify {
  border: none;
  border-bottom: 2px solid #4f177d;
  outline: none;
  margin-top: 1.5rem;
  padding-left: 0.5rem;
  width: 100%;
  padding-bottom: 0.4rem;
}

.calc__weeks {
  width: 100%;
  text-align: center;
  color: #232159;
}

.text_diet {
  width: 100%;
  text-align: center;
  font-size: 0.95rem;
  margin-top: 0.2rem;
  margin-bottom: 0;
  color: #333;
  font-weight: 600;
}

.div__price {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.price__div {
  position: relative;
}

.label__price {
  position: absolute;
  left: 1rem;
  top: -1rem;
  font-size: 0.75rem !important;
  font-weight: 500 !important;
  color: #232159;
}

.input__pricet {
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  border-bottom: 2px solid #232159;
  padding-right: 0.5rem;
}

.message__aut {
  text-align: center;
  color: #000;
  width: 90%;
  margin: auto auto;
}

.message__booking_fee {
  text-align: center;
  color: #232159;
  width: 95%;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.div__btn_payments {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.btn__booking_fee {
  background-color: #394893;
  color: #fff;
  margin-right: 1rem;
  outline: none;
}

/* table Payment */

.t_head_pay {
  background-color: #232159;
  color: #fff;
}

.name__invoice {
  text-align: right;
}

.price__invoice {
  font-weight: 500 !important;
  text-align: right;
}

.modal-header {
  background-color: #faf2ff;
}

.modal-content {
  width: 100%;
}

/*---------------- Labels ------------------*/

.form__label {
  position: absolute;
  left: 2rem;
  top: -0.3rem;
  font-size: 13px !important;
  color: #232159;
  font-weight: 500 !important;
  line-height: 15px;
}

.visa {
  top: -0.6rem !important;
  left: 0.2rem;
}

.b_price {
  top: -0.5rem;
}

.allergies_l {
  top: -1.2rem !important;
  left: 2.5rem !important;
  font-size: 14px !important;
  color: #232159;
}

.label__specify2 {
  position: absolute;
  font-size: 13px !important;
  font-weight: 500 !important;
  padding-left: 0.5rem;
  top: 0.5rem;
  color: #232159;
}

.label__other__city {
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #232159;
  position: absolute;
  top: -0.5rem;
}

/* --------------- Icons -----------------*/

.icon {
  position: absolute;
}

.names,
.mail,
.password,
.num_s,
.n_airline,
.n_flight,
.f_date,
.h_date,
.cont_name,
.cont_lname,
.num_conts,
.cell_s,
.db,
.gender,
.nacionality,
.city,
.pass,
.bl,
.visa,
.n_a,
.lang_s,
.type_s,
.firstd,
.lastd,
.smoke_s,
.pets,
.country,
.dir,
.city2,
.state,
.p_code,
.price {
  padding-left: 2rem !important;
}

.allergies {
  margin-left: 2.5rem !important;
}

.form__group__icon-input {
  display: flex;
  position: relative;
}

.f_date,
.h_date,
.bl,
.db {
  padding-right: 0;
}

.icon_hname {
  content: url("../../../assets/icon/basic\ information\ 64.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.7rem;
  left: 0.1rem;
}

.icon__names {
  content: url("../../../assets/icon/profile.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.5rem;
  bottom: 0;
  left: 0rem;
}

.icon_age {
  content: url("../../../assets/icon/profile.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.7rem;
  left: 0.2rem;
}

.icon_gender {
  content: url("../../../assets/icon/gender.png");
  width: 1.3rem;
  height: 1.2rem;
  top: 0.9rem;
  left: 0.2rem;
}

.icon_meals {
  content: url("../../../assets/icon/food2\ 64.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.6rem;
  left: 0.2rem;
}

.icon_description {
  content: url("../../../assets/icon/basic\ information\ 64.png");
  width: 2.2rem;
  height: 2.2rem;
  left: -2.5rem;
  top: 0.5rem;
}

.icon_p_academy {
  content: url("../../../assets/icon/academy\ preference.png");
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  top: 0.7rem;
  left: 0.2rem;
}

.icon_status {
  content: url("../../../assets/icon/available.png");
  position: absolute;
  width: 1.9rem;
  height: 1.9rem;
  top: 0.4rem;
  left: -0.2rem;
}

.icon_smokers {
  content: url("../../../assets/icon/smokers.png");
  width: 1.9rem;
  height: 1.9rem;
  top: 0.5rem;
  left: 0rem;
  transform: scaleX(-1);
}

.icon_years {
  content: url("../../../assets/icon/exp_year.png");
  width: 1.6rem;
  height: 1.6rem;
  top: 0.5rem;
  left: 0.2rem;
}

.icon_pets {
  content: url("../../../assets/icon/pets\ 64.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.6rem;
  left: 0.2rem;
}

.icon_diet {
  content: url("../../../assets/icon/diet.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 1.5rem;
  left: 2.2rem;
}

.icon_allergies2 {
  content: url("../../../assets/icon/allergies2.png");
  width: 1.6rem;
  height: 1.6rem;
  top: 0.7rem;
  left: 0rem;
}

.icon_allergies {
  content: url("../../../assets/icon/allergies.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.7rem;
  left: 0rem;
}

.icon_mname {
  content: url("../../../assets/icon/profile.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.7rem;
  left: 0.2rem;
}

.icon_db {
  content: url("../../../assets/icon/calendar.png");
  width: 1.2rem;
  height: 1.2rem;
  left: 0.4rem;
  top: 0.8rem;
}

.icon_pnumber {
  content: url("../../../assets/icon/main\ contact\ 64.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.6rem;
  left: 0.1rem;
}

.icon_bcheck {
  content: url("../../../assets/icon/user\ profile.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.8rem;
  left: 0.2rem;
}

.icon_family {
  content: url("../../../assets/icon/family.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.6rem;
}

.icon_location {
  content: url("../../../assets/icon/location\ 64.png");
  width: 1.7rem;
  height: 1.7rem;
  left: 0.1rem;
  top: 0.8rem;
}

.icon__city {
  content: url("../../../assets/icon/city.png");
  width: 1.6rem;
  height: 1.6rem;
  top: 0.6rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__mail {
  content: url("../../../assets/icon/email.png");
  width: 1.3rem;
  height: 1.4rem;
  top: 0.9rem;
  left: 0.2rem;
}

.icon__password {
  content: url("../../../assets/icon/password.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.4rem;
  bottom: 0;
  left: 0rem;
}

/*------------------ POP UP -----------------*/

#house_much,
#house_ass {
  color: rgb(179, 40, 40);
  width: 20%;
  background-color: #f8f7f7;

  border-radius: 8px;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 100;
  box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
}

.content_popup {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  line-height: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
}

#close,
#close2 {
  font-size: 12px;
  font-weight: bold;
}

#close:hover {
  color: #232159;
}

.close_div {
  float: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.btn-divs {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.back_panel {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 50px;
  background-color: #394893;
  color: #fff;
  border-radius: 4px;
  font-size: 17px;
  width: 28%;
}

.back_panel:hover {
  color: #fff;
}

.logo_white {
  width: 200px;
}

@media (min-width: 320px) and (max-width: 400px) {
  .body__gellery > section {
    grid-template-columns: repeat(1, 70%) !important;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }
}

@media (min-width: 400px) and (max-width: 575px) {
  .body__gellery > section {
    grid-template-columns: repeat(1, 60%) !important;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1200px) {
  .step__body > article {
    margin-bottom: 2rem;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  #house_much,
  #house_ass {
    width: 90%;
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  #house_much,
  #house_ass {
    width: 55%;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  #house_much,
  #house_ass {
    width: 45%;
  }
}

@media (min-width: 767px) and (max-width: 900px) {
  #house_much,
  #house_ass {
    width: 35%;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  #house_much,
  #house_ass {
    width: 30%;
  }
}

@media (min-width: 1100px) and (max-width: 1300px) {
  #house_much,
  #house_ass {
    width: 25%;
  }
}

@media (min-width: 575px) and (max-width: 1200px) {
  .body__gellery > section {
    grid-template-columns: repeat(2, 40%) !important;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }

  .body__gellery > .section__first > article:last-child {
    grid-column: span 2;
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .navbar {
    height: 6rem !important;
  }
  .logo_white {
    width: 110px;
    margin-top: 0rem;
  }

  .navbar-nav {
    margin-top: -2rem !important;
  }
}

@media (min-width: 767px) {
  .logo_white {
    margin-top: 0rem;
    width: 110px;
  }
}

@media (min-width: 1000px) {
  .logo_white {
    width: 140px;
  }
}

@media (min-width: 1200px) {
  .logo_white {
    width: 160px;
  }
}

@media (max-width: 1300px) {
  .body__gellery {
    width: 95%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1400px) {
  .logo_white {
    width: 160px;
  }
}

@media (min-width: 300px) and (max-width: 575px) {
  .title__group-section {
    margin-bottom: 2rem;
  }

  .step__body {
    padding: 30px 8px;
  }
}

@media (max-width: 342px) {
  .years_experience {
    top: -1.3rem;
  }
}

/*-------------------------------------------*/
@media (min-width: 320px) {
  .img__middle__step {
    width: 15rem;
  }

  .modal__div {
    width: 80%;
  }

  .title__middle-modal {
    font-size: 17px;
  }

  .text__modal {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .div__footer {
    width: 100%;
    display: block;
    align-items: center;
  }

  .btn_modal-close {
    margin-bottom: 1rem;
    width: 100% !important;
  }

  .btn__modal {
    width: 100%;
  }
}

@media (min-width: 575px) {
  .btn_modal-close,
  .btn__modal {
    width: 14rem !important;
    margin-bottom: 0;
  }

  .div__footer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 767px) {
  .modal__div {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .modal__div {
    width: 40%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .column-2 {
    padding-right: 0;
  }
  .column-1 {
    padding-right: 0;
  }

  .form__label {
    font-size: 11px !important;
  }

  .container_register {
    margin-top: 10rem;
  }

  .title__register__s {
    font-size: 34px;
    width: 90%;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .progressbar {
    padding-left: 0;
  }

  .progressbar__option:before {
    width: 30px;
    height: 30px;
  }

  .progressbar__option {
    font-size: 15px;
  }

  .message__booking_fee {
    font-size: 16px;
  }

  .div__card__information {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .form__group__row-diet {
    width: 19rem;
  }

  .custom-control-label {
    font-size: 13px !important;
  }

  .custom-checkbox {
    flex: 0 calc(50% - 2px);
  }

  .form__group__div-special__diet {
    padding: 0.7rem 0.5rem;
  }
}

@media (min-width: 500px) and (max-width: 575px) {
  .form__group__row-diet {
    width: 19rem;
  }

  .custom-control-label {
    font-size: 13px !important;
  }

  .custom-checkbox {
    flex: 0 0 calc(48% - 2px);
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .visa {
    left: 0;
  }

  .information__content-col-8 {
    padding: 1rem 0rem;
  }
}

@media (min-width: 300px) {
  .city,
  .pass,
  .bl {
    margin-top: 1rem;
    width: 100%;
  }

  .visa {
    margin-top: 1rem;
  }

  .form__group__allergies,
  .form__group__healt_s {
    margin-top: 2rem;
  }

  .form__group__lang_s,
  .form__group__type_s,
  .form__group__english_l,
  .form__group__prog_selec,
  .form__group__schedule,
  .form__group__firstd,
  .form__group__lastd,
  .form__group__allergies,
  .form__group__div-special__diet,
  .form__group-h_date,
  .form__group-f_date,
  .form__group__num_conts,
  .form__group__cell_s {
    margin-top: 1rem;
  }

  .form__group__c_number2,
  .form__group__exp_card2,
  .form__group__ow_name2,
  .form__group__c_type2,
  .form__group__cvv2 {
    margin-bottom: 2rem !important;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form__label {
    font-size: 12px !important;
  }

  .icon__date {
    width: 1.2rem;
    height: 1.2rem;
    top: 0.8rem;
  }

  .f_date,
  .h_date {
    padding-left: 1.7rem !important;
  }
}

@media (min-width: 767px) and (max-width: 1300px) {
  .card__register {
    width: 100%;
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  .card__register {
    width: 95%;
  }
}
