/* TODO WINYERSON */
/**-------------CUSTOM PROPERTIES-------------**/
:root {
  --first-color: #232159;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: rgba(57, 43, 132);
  --title-color: #333;
  --text-color: #222;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: #222;
}
/* ? MAP */
#map {
  height: 300px !important;
  border: 4px solid var(--six-color);
  border-radius: 2.5px;
}
#house-area-4-container {
  margin-top: 5rem;
}
#bathroom-4-container {
  margin-top: 0;
}
#iframe-pdf {
  width: 400px;
  height: 300px;
}
/* ? PHOTO GALLERY */
.gallery-photo-container {
  width: 250px;
  height: 220px !important;
  border-radius: 3%;
  position: relative;
  pointer-events: all;
  opacity: 1;
  transition: 300ms ease all;
  overflow: visible;
}
.gallery-photo-container.hide {
  pointer-events: none;
  height: 10px;
  margin: 0 !important;
  overflow: hidden;
  opacity: 0;
  position: absolute;
}
.gallery-photo-container * {
  transition: 300ms ease all;
}
.gallery-photo-container > h4 {
  position: absolute;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  bottom: 100%;
  overflow: unset;
  text-shadow: 2px 2px 6px #000;
  background: var(--six-color);
}
.gallery-photo-container > label {
  position: relative;
  cursor: pointer;
}

.gallery-photo-container > label * {
  pointer-events: none;
}
.gallery-photo-container > label i {
  width: 100%;
  position: absolute;
  top: 50%;
  color: #fff;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 6px #000;
  backdrop-filter: blur(10px);
  opacity: 0;
}
.gallery-photo-container > label:hover i {
  color: #fff;
  opacity: 1;
}
.gallery-photo-container > label:hover .gallery-photo {
  opacity: 0.2;
}
.gallery-photo-container > label:hover .no-image {
  opacity: 0.35;
}
.no-image,
.gallery-photo {
  border-radius: 3%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
  height: 220px !important;
}

.add-photo-btn {
  width: 50px;
  height: 50px;
  outline: none;
  margin-left: 9.5rem;
  margin-right: auto;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  border: 2.5px dashed var(--five-color);
  transition: 300ms ease all;
  background: transparent;
}
.add-photo-btn:hover {
  transform: scale(1.2);
}

/* ? ADDITIONAL INFORMATION */
.special-diet {
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5%;
  background: #f8f8f8 !important;
}
.special-diet :is(input, label) {
  cursor: pointer;
}
.special-diet label {
  border-radius: 6px;
  padding: 0.25rem 0.5rem !important;
  width: 150px;
  margin-left: 0.25rem !important;
  transition: 300ms ease all;
}
.special-diet label:hover {
  background-color: rgba(0, 0, 0, 0.025);
}

.responses {
  overflow: hidden;
  height: 1rem;
  opacity: 0;
}
.responses,
.responses * {
  transition: 300ms ease all;
}
.responses.show {
  height: 100%;
  opacity: 1;
}
.responses > div:nth-of-type(1),
.responses > div:nth-of-type(2),
.responses > div:nth-of-type(3) {
  opacity: 0;
}
.responses.show.response-1 > div:nth-of-type(1),
.responses.show.response-2 > div:nth-of-type(2),
.responses.show.response-3 > div:nth-of-type(3) {
  opacity: 1;
}

.pet-response {
  overflow: hidden;
  height: 1rem;
  opacity: 0;
}
.pet-response,
.pet-response * {
  transition: 300ms ease all;
}
.pet-response.show {
  height: 100%;
  opacity: 1;
}
.pet-response .total-pets,
.pet-response .type-of-pet,
.pet-response .specify-type-pet {
  opacity: 0;
}
.pet-response.show.response-1 .total-pets,
.pet-response.show.response-2 .type-of-pet,
.pet-response.show.response-3 .specify-type-pet {
  opacity: 1;
}

.btn-add-family-member {
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000;
  box-shadow: none !important;
  background-color: var(--five-color);
  transition: 300ms ease all;
}
.btn-add-family-member:hover {
  opacity: 0.75;
}
.btn-add-family-member:active {
  opacity: 0.55;
}

.delete-member {
  bottom: 5rem;
  right: 7rem;
  position: absolute;
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
  padding: 5px 1rem !important;
  border-radius: 0.5rem !important;
  cursor: pointer;
  color: #222;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 55, 55, 0.4);
  transition: 300ms ease all;
}
.delete-member:hover {
  box-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 55, 55, 0.3);
}

@media screen and (min-width: 992px) {
  /* ? MAP */
  #map {
    height: 100% !important;
  }
  #house-area-4-container,
  #bathroom-4-container {
    margin-top: 5rem;
    transform: translateX(1.5rem);
  }
  #iframe-pdf {
    width: 500px;
  }
  .add-photo-btn {
    margin-left: 6rem;
  }
}
