body#body {
  background-color: #f3f8fc;
}

a#preview {
  color: black;
  font-size: 14px;
}

a#preview:hover {
  color: white;
}

a#edit {
  color: white;
  background-color: #342359;
  border: 2px solid #342359;
  font-size: 14px;
}
.thead-header {
  background-color: #342359 !important;
}
/*AJAX*/
a.page-link {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  color: #191919;
  margin: 0 0.125rem;
  padding: 0.75rem 1rem;
  position: relative;
}

a.page-link:hover {
  background-color: #815391;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  color: #191919;
}

a.page-link:after {
  border-style: solid;
  border-color: transparent transparent transparent transparent;
  bottom: -0.4375rem;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
  transition: 0.3s ease;
}

li.page-item:first-child a.page-link,
li.page-item:last-child a.page-link {
  border-radius: 0;
}

li.page-item.active a.page-link {
  background-color: #342359;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

li.page-item.active a.page-link:after {
  border-color: white transparent transparent transparent;
}

/* TODO SEARCH STYLES */

.div__search_box {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 2rem;
}

.div__search_box .label__search {
  position: absolute;
  top: 0.7rem;
  color: #342359;
  left: 0.8rem;
}

.div__search_box .input__search {
  width: 100%;
  border-radius: 30px;
  border: 2px solid #dbdbdb;
  padding: 0.3rem 0.5rem 0.3rem 2rem;
  outline: none;
  transition: all 0.2s;
}

.div__search_box .input__search:focus {
  border: 2px solid #342359;
}

/* * IF THE LIST IS EMPTY */
.btn-back-directory {
  background-color: #394893;
  color: #fff;
  outline: none;
}

/* Notifications */

@media (min-width: 1000px) {
  .d-m-before {
    width: 27em !important;
    left: -24em !important;
  }
}
