/* TODO HOMEPAGE STYLES */

/* * ROOT VARIABLES */
:root {
  --first-color: #342359;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: rgba(57, 43, 132);
  --title-color: #333;
  --text-color: #222;
}

body {
  background-color: #fff;
}

.main__homepage {
  margin-top: 9rem;
  width: 75%;
}

/* * -------SHARED CLASSES ------------ */

/* ? ROWS IMAGES */
.image {
}

/* ? TEXT ABOVE ROW */
.text__above {
  color: var(--title-color);
  font-size: 13px;
  margin-top: 1rem;
  padding-left: 0.5rem;
  margin-bottom: 0;
}

.main__homepage > .div__border {
  border-radius: 16px;
}

/* ? TITLES */

.div__border .title_fourth_row,
.div__border .title_fifth_row {
  text-align: left;
  margin-top: 1rem;
  padding-left: 0.5rem;
  font-weight: 600;
}

/* ? MORE DETAILS -> ARROWS */

.arrow__view {
  margin-left: 0.5rem;
  transition: all 0.5s;
}

.arrow__view-active {
  margin-left: 1rem;
  transition: all 0.5s;
}

/* ? CAROUSEL */

.div__border #container__houses_for_certify,
.div__border #student_for_confirm {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  margin: 0 50px;
  scroll-behavior: smooth;
  transition: all 0.5s;
  width: 100%;
}

.div__border .arrow__carousel {
  position: absolute;
  top: 50%;
  background-color: #394893;
  padding: 0.8rem;
  color: #fff;
  border-radius: 30px;
  border: none;
  transition: all 0.5s;
}

.div__border .arrow__carousel:hover {
  background-color: #9eaefa;
}

.div__border .arrow__carousel#button__prev {
  left: 0.5rem;
}

.div__border .arrow__carousel#button__next {
  right: 0.5rem;
}

/* ? EMPTYS IMAGES */
.image-empty {
  width: 350px;
}

.text_empty {
  font-size: 20px;
  color: #000;
  margin-top: -1rem;
}

/* * -------- FIRST ROW ---------------*/

.main__homepage > div:first-child {
  width: 100%;
  background-color: #eff8ff;
}

.div__first-row {
  padding-top: 2rem;
  padding-left: 2rem;
  position: relative;
}

.div__first-row h2 {
  margin-bottom: 1rem;
}

.div__first-row .container__news {
  margin-top: 1.5rem;
  position: relative;
}

.div__first-row .container__news span {
  position: absolute;
  left: 4.5rem;
  top: 0.3rem;
  padding: 0rem 0.15rem;
  width: 0.5rem;
  height: 0.5rem;
  font-size: 8px;
  border-radius: 30px;
  background-color: #9eaefa;
}

.div__first-row .container__news span p {
  width: 100%;
  opacity: 0;
}

.div__first-row .container__news .news_notification a {
  background-color: #dae0ff;
  border-radius: 12px;
  margin-bottom: 1rem;
  transition: all 0.5s;
  cursor: pointer;
}

.div__first-row .container__news .news_notification a * {
  pointer-events: none;
}

.div__first-row .container__news .news_notification a:hover {
  transform: scale(1.05);
}

.div__first-row .container__news .news_notification a > p {
  margin-bottom: 0;
  color: rgb(92, 92, 92);
}

.div__first-row .container__news .news_notification a > p:first-child {
  font-weight: 600;
  color: #000;
}

.div__first-row h2 {
  top: 30%;
  font-weight: 600;
}

.div__first-row h5 {
  top: 55%;
  font-weight: 500;
}

.first_row {
  width: 700px;
  height: 300px;
}

/* * -------- SECOND ROW -------------- */

.main__homepage > div:nth-child(3) {
  background-color: #f5f5f5;
}

.div__border .container__statistics-left,
.div__border .container__statistics-right {
  border-radius: 16px;
  background-color: #c6a6df;
}

/* ? STATISTICS LEFT */

.container__statistics-left .second_row {
  width: 200px;
  height: 150px;
  border-radius: 16%;
  padding: 1rem;
}

.container__statistics-left > div:nth-child(2) h3 {
  /* margin-top: 15%; */
  font-weight: bold;
  font-size: 26px;
}

.container__statistics-left > div:nth-child(2) h3,
.container__statistics-left > div:nth-child(2) p {
  line-height: 30px;
  color: #fff;
}

.container__statistics-left > div:nth-child(2) p {
  top: 5rem;
  left: 3rem;
  font-size: 14px;
}

/* ? STATISTICS RIGHT*/

.container__statistics-right .title__statistics-right {
  font-weight: bold;
  color: var(--white-color);
}

.container__statistics-right .statistics-cake {
  width: 250px;
  height: 250px;
}

/* * -------- THIRD ROW -------------- */

.main__homepage > div:nth-child(5) {
  background-color: #cdc1ec;
}

.div__border .container__provider_overview {
  width: 85%;
}

.div__border .container__provider_overview h1 {
  margin: 0;
}

.div__border .container__provider_overview .overview * {
  color: #010101;
  margin-bottom: 0;
}

.div__border .container__provider_overview .overview p {
  font-weight: 600;
}

.div__border .container__provider_overview .overview h3 {
  font-weight: 700;
}

/** ----- FOURTH ROW ---------------- */

.main__homepage > div:nth-child(7) {
  background-color: #f6f8fc;
}

.div__border > div {
  margin-top: 2rem;
}

.div__border .student_for_confirm .card__student {
  border-radius: 16px;
  background-color: #bed3f3;
  position: relative;

  /* width: 500px !important; */

  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.div__border .card__student .card__body {
  height: 12rem;
  max-height: 12rem;
}

.div__border .card__student .img__student_profile {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 16%;
}

.div__border .card__student dd,
.div__border .card__student dt {
  padding-left: 1.5rem;
  font-size: 14px;
}
.div__border .card__student dt {
  margin-bottom: 0.4rem;
}

.div__border .card__student .card__footer {
  position: absolute;
  bottom: 0;
  background-color: #f1f1f1;
  width: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.div__border .card__student .card__footer button,
.div__border .article__footer button {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
}

.div__border .card__student .card__footer span,
.div__border .article__footer span {
  font-size: 13px;
}

.card__footer #button__more_details:hover {
  background-color: #e4e4e4;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

/* * FIFTH ROW */
.main__homepage > div:nth-child(8) {
  margin-top: 3rem;
  background-color: #f6f8fc;
}

.div__border #container__houses_for_certify article {
  background-color: #ededed;
  width: 100%;
  transition: all 0.5s;
  border-radius: 16px;

  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.div__border #container__houses_for_certify article .article__header {
  padding: 0;
}

.div__border #container__houses_for_certify article img {
  width: 100%;
  height: 250px;
  max-height: 250px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.div__border .article__footer button {
  background-color: #fff;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

/* * ------------------ RESPONSIVE ---------------------------------*/

@media (min-width: 320px) and (max-width: 575px) {
  .main__homepage {
    width: 85%;
  }

  /* * SHARED CLASES */

  .div__border .title_fourth_row,
  .div__border .title_fifth_row {
    font-size: 22px;
  }

  .div__border #container__houses_for_certify,
  .div__border #student_for_confirm {
    margin: 0 20px;
  }

  /* ? ----------- SECOND ROW ----------------- */

  .container__statistics-left .second_row {
    width: 120px;
    height: 100px;
  }

  .container__statistics-left > div:nth-child(2) {
    width: 90%;
    margin-right: auto;
  }

  /* .container__statistics-left > div:nth-child(2) h3 {
    margin-top: 1rem;
    font-size: 22px;
  } */

  .container__statistics-left > div:nth-child(2) p {
    font-size: 14px;
    line-height: normal;
  }

  .container__statistics-right .title__statistics-right {
    font-size: 22px;
  }

  /* ? ---------------- THIRD ROW ------------------*/
  .div__border .container__provider_overview .overview h3 {
    margin-bottom: 1rem;
  }

  /* ? --------------- FIFTH ROW ------------------*/
  .div__border .student_for_confirm .card__student {
    width: 440px !important;
  }

  .div__border .container__houses_for_certify .card_house {
    width: 300px !important;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .div__border .student_for_confirm,
  .div__border .container__houses_for_certify {
    margin: auto !important;
    width: 90%;
    overflow-x: scroll !important;
  }

  /* ? ----------- SECOND ROW ----------------- */

  .container__statistics-right .statistics-cake {
    width: 200px;
    height: 200px;
    margin: auto auto;
  }

  .div__first-row h2 {
    font-size: 22px;
    top: 15%;
    left: 8%;
  }
  .div__first-row h5 {
    font-size: 14px;
    top: 35%;
    left: 8%;
  }
}

@media (min-width: 320px) and (max-width: 992px) {
  /* ? -------------- FIRST ROW --------------- */
  .div__first-row ~ article {
    display: none;
  }

  .div__first-row h2 {
    font-size: 22px;
    top: 20%;
    left: 5%;
  }
  .div__first-row h5 {
    font-size: 14px;
    top: 40%;
    left: 5%;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  /* ? ----------- SECOND ROW ----------------- */

  .container__statistics-left .second_row {
    width: 150px;
    height: 120px;
  }

  /* .container__statistics-left > div:nth-child(2) h3 {
    margin-top: 1.5rem;
  } */
}

@media (min-width: 500px) and (max-width: 767px) {
  /* ? ----------- SECOND ROW ----------------- */

  /* .container__statistics-left > div:nth-child(2) h3 {
    margin-top: 1.7rem;
  }
 */
  .container__statistics-left .second_row {
    width: 170px;
    height: 140px;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  /* ? ----------- FOURTH ROW ----------------- */

  .div__border .student_for_confirm .card__student {
    max-width: 400px !important;
  }

  /* ? ----------- FIFTH ROW ----------------- */

  .div__border .container__houses_for_certify .card_house {
    max-width: 250px !important;
  }
}

@media (min-width: 575px) and (max-width: 992px) {
  /* ? ----------- FIFTH ROW ----------------- */

  .div__border .container__houses_for_certify .card_house {
    max-width: 250px !important;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .main__homepage {
    width: 80%;
  }

  /* ? ----------- SECOND ROW ----------------- */

  .container__statistics-left .second_row {
    width: 140px;
    height: 120px;
  }

  .container__statistics-right .statistics-cake {
    width: 180px;
    height: 180px;
    /* margin: auto auto; */
  }

  /* .container__statistics-left > div:nth-child(2) h3 {
    margin-top: 0.5rem;
  } */
}

@media (min-width: 767px) {
  .div__border .student_for_confirm,
  .div__border .container__houses_for_certify {
    margin: auto !important;
    width: 90% !important;
  }
}

@media (min-width: 992px) {
  .main__homepage {
    width: 90%;
  }

  /* ? -------------- FIRST ROW --------------- */

  .div__first-row h2 {
    top: 20%;
    left: 5%;
  }
  .div__first-row h5 {
    top: 40%;
    left: 5%;
  }

  .container__statistics-right .statistics-cake {
    width: 240px;
    height: 240px;
    /* margin: auto auto; */
  }

  /* ? ----------- SECOND ROW ----------------- */

  /*  .container__statistics-left > div:nth-child(2) h3 {
    margin-top: 2.2rem;
  } */

  /* ? ----------- FOURTH ROW ----------------- */

  .div__border .student_for_confirm .card__student {
    max-width: 400px !important;
  }

  .div__border .container__houses_for_certify .card_house {
    max-width: 280px !important;
  }
}

@media (min-width: 1400px) {
  .main__homepage {
    width: 75rem;
  }

  .container__statistics-right .statistics-cake {
    width: 260px;
    height: 260px;
    /* margin: auto auto; */
  }
}

/* @media (min-width: 1500px) {
  .container__statistics-left > div:nth-child(2) {
    margin-left: -5rem;
  }
  .container__statistics-left > div:nth-child(2) h3 {
    margin-top: 2.2rem;
  }
} */

/* @media (min-width: 320px) {
  .main__homepage {
    width: 85%;
  }

  .main__homepage > div:first-child {
    height: 600px;
  }
} */

/* * PARA BORRAR */ ;
