:root {
  --first-color: #232159;
  --second-color: #982a72;
  --third-color: #394893;
  --fourth-color: #a54483;
  --fifth-color: #5d418d;
  --sixth-color: #392b84;
  --seventh-color: #b15391;
  --eighth-color: #4f177d;
}

body {
  background-color: #eeeeee;
}

.main__directory {
  background-color: transparent;
  margin-top: 6rem;
  width: 90%;
}

/* TODO SECTION SERACH FIELD */

.section__search_container {
  width: 80%;
  margin: 10.5rem auto 4rem auto;
  padding: 0.2rem 1rem;
}

.section__search_container .container_input,
.section__search_container .container_input .div__button_filter {
  position: relative;
}

.section__search_container .container_input .input__search {
  width: 100%;
  padding: 0.5rem;
  padding-left: 2.5rem;
  border-radius: 5rem !important;
  border: thin solid #ccc;
  outline: none;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.05);
  transition: 300ms ease all;
}

.section__search_container .container_input .input__search:focus {
  border: 1px solid #999;
}

.section__search_container::before {
  top: -2.5rem;
  left: 2.5rem;
  width: 100%;
  font-size: 150%;
  font-weight: bold;
  font-family: sans-serif;
  position: absolute;
  content: "Search Homestay";
}
.section__search_container .container_input .label__search {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.section__search_container .container_input .div__button_filter button {
  display: flex;
  justify-content: space-between;
  width: 7rem;
  background-color: var(--third-color);
  color: #fff;
  outline: none;
  transition: all 0.5s;
}

.section__search_container .container_input .div__button_filter button:hover {
  background-color: var(--first-color);
}

.section__search_container .container_input .div__button_filter button:focus {
  outline: none;
}

.section__search_container .container_input .div__button_filter button:active {
  outline: none;
}

.section__search_container .container_input .div__button_filter button .icon__filter {
  content: url("../../../assets/icon/filter.png");
  width: 20px;
  height: 20px;
  pointer-events: none;
}

/* TODO SECTION DIRECTORY */

.section__directory {
  margin: 0 auto;
  width: 80%;
}

/* TODO SECTION FILTERS */

.section__filters {
  width: 25%;
  transition: all 0.3s;
}

.section__filters > h3 {
  font-size: 140%;
  font-weight: bold;
}

.section__filters > article {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 2rem;
  position: relative;
}

.section__filters article > label {
  position: absolute;
  left: 0;
  font-size: 14px;
  font-weight: 600 !important;
}

.section__filters > article > .label__filtered {
  top: -2rem !important;
  font-size: 100%;
}

.section__filters article > input {
  margin-top: 3rem;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #999;
  outline: none;
}

.section__filters article > select {
  border-radius: 8px;
  border: 1px solid #999 !important;
  outline: none;
  color: #000 !important;
}

.section__filters article > #input__date_filter {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.section__filters > article > .input__filter_type {
  margin-top: 3rem !important;
}

/* ? CALENDAR */

.applyBtn {
  background-color: var(--first-color) !important;
  border: var(--first-color) !important;
  transition: all 0.3s;
}

.start-date,
.end-date {
  background-color: var(--first-color) !important;
}

.applyBtn:hover {
  background-color: var(--third-color) !important;
  border: var(--third-color) !important;
}

/* ? CHECKBOX */

.section__filters .checkbox__filter {
  position: absolute !important;
  opacity: 0 !important;
  cursor: pointer !important;
  pointer-events: none !important;
}

.parent__check {
  position: relative;
  margin-top: 3rem;
  width: 100%;
}

.parent__pets {
  margin-top: 2rem;
}

.parent__check label {
  cursor: pointer;
  font-weight: 500;
  width: max-content;
}

.section__filters .checkbox__filter ~ label svg {
  fill: none;
  padding: 5px;
  border-radius: 0.5rem;
  border: 1px solid #999;
  color: #eee;
  height: 24px;
  width: 24px;
  stroke: currentcolor;
  stroke-width: 4px;
  overflow: visible;
  margin-top: 0.15rem;
}

.section__filters .checkbox__filter:checked ~ label svg {
  background: var(--second-color);
  border: 1px solid var(--second-color);
}

.section__filters .checkbox__filter ~ label p {
  color: #000;
}

.section__filters .div__button_close_filter button {
  background-color: #fff;
  border: 1px solid #9999;
  padding: 0.5rem;
  border-radius: 18px;
  color: var(--first-color);
  font-weight: bold;
  font-size: 16px;
  transition: 300ms ease all;
}

.section__filters .div__button_close_filter button:hover {
  background-color: var(--third-color);
  color: #fff;
  border: 1px solid var(--third-color);
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.75);
}

/* TODO SECTION HOUSE LIST */

.houses {
  width: 72%;
}

.section__houses_list {
  opacity: 1;
  width: 100%;
  min-height: 50vh;
  transition: 300ms ease all;
}

.card-house {
  position: relative;
  width: 100%;
  height: max-content;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: 300ms ease all;
}
.card-house:hover {
  transform: scale(1.01);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-house .card-header {
  width: 100%;
  position: relative;
}
.card-house .card-header > label {
  color: #fff;
  font-weight: lighter;
  font-size: 120%;
  background-color: var(--third-color);
}
.card-house .card-header > img {
  width: 100%;
  height: 18rem;
  overflow: hidden;
  object-fit: fill;
  position: relative;
}
.card-house .card-header::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: 999;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
}
.card-house .card-header > div {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 999;
  font-size: 80%;
  padding: 2px 1rem;
  border-radius: 5px;
  backdrop-filter: blur(1.5px);
  box-shadow: 0px 0px 4px 2px rgba(34, 34, 34, 0.25);
  background-color: rgba(255, 255, 255, 0.85);
}
.card-house .card-body {
  font-size: 90%;
  position: unset;
  transition: ease all 300ms;
}
.card-house .main-information {
  width: 100%;
  transition: ease all 300ms;
}
.card-house .main-information label {
  cursor: pointer;
  border-radius: 5px;
  transition: ease all 300ms;
}
.card-house .main-information label:hover {
  background-color: rgba(0, 0, 0, 0.025);
}
.card-house .main-information label span svg {
  width: 24px;
  height: 24px;
  fill: none;
  padding: 5px;
  border-radius: 0.5rem;
  border: 1px solid #999;
  color: #eee;
  stroke: currentcolor;
  stroke-width: 4px;
  overflow: visible;
}

.card-house .main-information label input:checked ~ span svg {
  background: rgb(34, 180, 78);
  border: 1px solid rgb(34, 180, 78);
}

.card-house .div__buttons_actions {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
}

.card-house .div__buttons_actions a {
  margin: 0;
  border: none;
  width: 50%;
  padding: 0.5rem 0;
  color: #fff;
  transition: all 0.3s;
  text-align: center;
}

.card-house .div__buttons_actions a:first-child {
  background-color: var(--first-color);
}

.card-house .div__buttons_actions a:first-child:hover {
  background-color: var(--third-color);
}

.card-house .div__buttons_actions a:last-child {
  background-color: var(--eighth-color);
}

.card-house .div__buttons_actions a:last-child:hover {
  background-color: var(--fifth-color);
}

/* TODO PAGINATION */

.pagination {
  width: 50%;
  margin: 0 auto 3rem auto;
}

.pagination > button {
  background-color: transparent;
  color: var(--third-color);
  border: 2px solid var(--third-color);
  border-radius: 18px;
  padding: 0.5rem 0.7rem;
}

.pagination > button:hover {
  background-color: var(--third-color);
  color: #fff;
}

/* 
.pagination > button:hover span {
  color: #fff;
}

.pagination > button span {
  transition: all 0.3s;
  pointer-events: none;
}

.pagination .arrow__next {
  margin-left: 0.2rem;
}

.pagination .arrow__next-active {
  margin-left: 0.5rem;
}

.pagination .arrow__prev {
  margin-right: 0.2rem;
}

.pagination .arrow__prev-active {
  margin-right: 0.5rem;
}

.btn__pagination {
  border: none;
  margin: 0;
  padding: 0.5rem 0.7rem;
}

#div__buttons_links {
  margin: 0;
  padding: 0;
}

#div__buttons_links button {
  margin-right: 0.5rem;
  border-radius: 18px;
  padding: 0.5rem 0.9rem;
}

#div__buttons_links button:hover {
  background-color: #a8a8a8;
}

#div__buttons_links button.active {
  background-color: var(--first-color);
  color: #fff;
}

#div__buttons_links button:last-child {
  margin-right: 0;
} */

.filter__tags {
  width: 100% !important;
}

.filter__tags-search {
  text-transform: capitalize;
  color: #fff;
  cursor: default;
  padding: 0.25rem 1rem;
  line-height: normal !important;
  text-align: center;
  border-radius: 1.5rem;
  margin-right: 0.5rem !important;
  margin-bottom: 0.25rem !important;
  text-shadow: 2px 2px 4px #000;
  background-color: rgba(80, 22, 127, 0.75);
}

.filter__tags-search button {
  font-size: 100%;
  font-family: sans-serif;
  cursor: pointer;
  text-shadow: 2px 2px 4px #000;
  padding-left: 0.75rem;
  transition: 300ms ease all;
  color: #fff;
  opacity: 0.85;
  background-color: transparent;
  border: none;
}

/* TODO DIRECTORY HOUSE EMPTY */

.house_empty_container {
  background-color: transparent;
  padding: 1rem;
  border-radius: 4px;
}

.house_empty_container img {
  width: 15rem;
}

.house_empty_container h4 {
  font-weight: 600;
  width: 50%;
  margin-top: 2rem;
  text-align: center;
}

/* TODO RESPONSIVE */

/* ! MODAL FILTER */

@media (min-width: 320px) and (max-width: 575px) {
  .modal-dynamic .modal-content {
    width: 320px;
  }

  .section__filter_panel > div > article .sub_title_filter_all {
    line-height: 18px;
  }

  .section__filter_panel > div > article {
    white-space: normal !important;
  }

  .section__filter_panel > div > article > div {
    margin-top: 3.5rem;
    width: 90%;
  }

  .section__filter_panel div .filter__food_fiet .container__special_diet {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 1rem;
  }

  .section__filter_panel div .input__filter {
    width: 90%;
    padding: 0.7rem;
    border-radius: 8px;
    border: 1px solid #999;
    outline: none;
  }
}

@media (min-width: 575px) {
  .modal-dynamic .modal-content {
    width: 500px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .section__search_container {
    width: 100%;
  }

  .div__button_filter {
    position: absolute !important;
    right: 1rem;
    top: 0.2rem;
  }

  .btn__filter {
    width: auto !important;
    padding: 0.5rem !important;
    border-radius: 18px !important;
  }

  .section__search_container .container_input .div__button_filter button .icon__filter {
    content: url("../../../assets/icon/filter.png");
    width: 15px;
    height: 15px;
    pointer-events: none;
  }

  .section__houses_list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 450px) and (max-width: 575px) {
  .section__houses_list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .section__search_container {
    width: 100%;
  }
}

@media (min-width: 575px) and (max-width: 900px) {
  .section__houses_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 992px) {
  /* .section__filters {
    width: 100%;
  }

  .houses {
    width: 100%;
  } */
}

@media screen and (min-width: 320px) {
  .card-house {
    height: 34rem;
  }
  .section__directory {
    width: 100%;
  }
  .section__filters {
    width: 70%;
    margin: 0 auto 3rem;
  }

  .houses {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 575px) {
  .section__directory {
    width: 100%;
  }
  .section__filters {
    width: 30%;
  }

  .houses {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 767px) {
  .card-house {
    height: 15rem;
  }
  .card-house .card-header {
    width: 20rem;
  }
  .card-house .card-header > img {
    height: 20rem;
  }
  .card-house .card-body {
    position: relative;
  }

  .section__directory {
    width: 100%;
  }

  .section__filters {
    width: 25%;
  }

  .houses {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .card-house {
    max-width: 50rem;
    height: 15rem;
  }
  .card-house .card-header {
    width: 25rem;
  }
  .card-house .card-header > img {
    height: 100%;
  }
  .card-house .card-body {
    position: relative;
  }

  .section__directory {
    width: 90%;
  }
}
