/* * HOMESTAY CALENDAR STYLES  */
:root {
  --main-color: #232159;
  --second-color: #982a72;
}

.main__calendar {
  width: 90%;
  margin: auto auto;
  margin-top: 9rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  height: 30rem !important;
}

/* ! EVENT'S CALENDAR HEADER */
#calendar #header_calendar #months {
  background-color: #f8f8f8;
  margin-right: 0.3rem;
  padding: 0.2rem 0.7rem;
  cursor: pointer;
  border-radius: 10px;
}

#calendar #header_calendar #months:hover {
  background-color: #eae9ff;
}

/* ! HOMESTAY CALENDAR */
#calendar .homestay_calendar .calendar_header {
  background-color: #f8f8f8;
}

#calendar .homestay_calendar .calendar_header #days {
  font-weight: normal;
}

#calendar .homestay_calendar .calendar_header #days span {
  font-size: 11px;
}

#calendar .homestay_calendar .calendar_header #header th:first-child {
  width: 70%;
}
