:root {
  /* * GENERAL COLORS */
  --white: #fff;
  --black: #000;

  /* * COLOR FONTS */
  --subtitle: #bb0f72;

  /* * BACKGROUNDS */
  --back-buble: #ffbce3;

  /* * BUTTONS */
  --edit-button: #3bb54a;
  --book-button: #1877b8;
  --invoice-button: #797dd4;

  /* * LINE */
  --bg-hr: #e7e7e7;
}

/*! EACH SECTION IS DIVIDED BY SUBTITLE NAME */

main.main-container {
  width: 85%;
  margin: 0 auto;
  margin-top: 9rem;
}

/* ! GENERAL STYLES */
.purple {
  color: var(--subtitle);
}

.dark {
  color: var(--black);
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-8 {
  opacity: 0.8;
}

.font-bold {
  font-weight: 600;
}

.section {
  margin-bottom: 2rem;
}

.subtitle__container {
  width: 100%;
}

.subtitle__container p {
  margin-bottom: 0 !important;
  margin-right: 0.3rem;
}

.subtitle__container hr {
  margin: 0;
  border: none;
  height: 3px; /* Set the hr color */
}

p.main-subtitle {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.inputs-container,
.image-container {
  padding-top: 1rem;
}

.inputs-container > aside,
.image-container > aside {
  margin-bottom: 3rem;
}

.inputs-container .label__input,
.image-container .label__input {
  margin-bottom: 0;
}

.inputs-container .inputs,
.image-container .inputs {
  background-color: transparent;
  border: none;
  outline: none;
}

.label__subtitle {
  font-size: 18px;
  font-weight: bold;
}

.button__info {
  padding: 0.1rem 0.51rem;
  border-radius: 100%;
  color: red;
  border: 2px solid red;
  font-size: 14px;
  margin-right: 1rem;
}

.button__info:hover {
  cursor: help;
}

/* ! FIRST SECTION */

main.main-container .section__main-information > article > img {
  width: 100%;
  height: 250px;
  max-width: 100%;
  max-height: 250px;
}

.section__main-information > article {
  position: relative;
}

.section__main-information > article > h2 {
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.section__main-information > article .btn_download {
  background-color: transparent;
  border: none;
  padding: 0.2rem 0.4rem;
  position: absolute;
  right: 3rem;
  top: 0;
}

.section__main-information > article .btn_download > #icon_download {
  content: url("../../../assets/icon/download-icon.png");
  width: 30px;
}

.section__main-information > article > p.icon_container span {
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
  opacity: 0.6;
}

.section__main-information > article > p.icon_container span.icon__location {
  content: url("../../../assets/icon/location.png");
}

.section__main-information > article > p.icon_container span.icon__status {
  content: url("../../../assets/icon/status2.png");
}

/* ? ABOUT US */

.section__main-information > article > p.text-container {
  width: 95%;
  text-align: justify;
  margin: 0 auto;
}

/* ! SECOND SECTION */

/* ? BOOKING PANEL */
.section__second-information .subtitle__container .booking_panel ~ hr {
  width: 12vw;
  background-color: #d9d9d9;
}

.section__second-information .buttons-container {
  position: relative;
}

.section__second-information .buttons-container button {
  width: 90%;
  border-radius: 10px;
  padding: 1rem 0;
  border: none;
  font-weight: 600;
  color: var(--white);
  transition: all 0.2s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section__second-information .buttons-container button.disabled-button,
.section__second-information .buttons-container button.disabled-button:hover {
  opacity: 0.4;
}

.section__second-information .buttons-container button:hover {
  opacity: 0.8;
}

.section__second-information .buttons-container button:first-child {
  background-color: var(--edit-button);
}

.section__second-information .buttons-container button:nth-child(2) {
  background-color: var(--book-button);
}

.section__second-information .buttons-container button > i {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
}

.section__second-information .buttons-container button > i.icon__exit {
  content: url("../../../assets/icon/pencil-edit.png");
}

.section__second-information .buttons-container button > i.icon__booking {
  content: url("../../../assets/icon/house-icon.png");
}

/* ? ACCOMODATION REQUEST */
.section__second-information .subtitle__container .accom_request ~ hr {
  width: 40%;
  background-color: #d9d9d9;
}

/* ? ACTIVE RESERVATION */
.section__second-information .subtitle__container .active_reservation ~ hr,
.section__second-information .subtitle__container .next_reservation ~ hr,
.section__second-information .subtitle__container .last_reservation ~ hr {
  width: 50%;
  background-color: #d9d9d9;
}

.section__second-information .house-container {
  background-color: var(--white);
  width: 100%;
  margin: auto auto;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section__second-information .house-container > p {
  font-weight: bold;
}

.section__second-information .house-container div {
  position: relative;
}

.section__second-information .house-container div > img {
  width: 100%;
  height: 200px;
  max-height: 200px;
  border-radius: 20px;
}

.section__second-information .house-container div > span {
  position: absolute;
  background-color: var(--subtitle);
  border-radius: 20px;
}

.section__second-information .house-container div > .room_select {
  padding: 0.1rem 0.8rem;
  font-size: 13px;
  background-color: #fff3cd;
  color: var(--black);
  left: 2rem;
  bottom: 2rem;
}

.section__second-information .house-container div > .room_select.catalog {
  left: 1rem;
  bottom: 1.5rem;
}

.section__second-information .house-container div > .icon__exit {
  content: url("../../../assets/icon/exit.png");
  width: 40px;
  padding: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  transition: all 0.5s;
}

.section__second-information .house-container div > .icon__exit:hover {
  background-color: #e442a0;
  cursor: pointer;
}

.section__second-information .house-container div > aside > span {
  width: 25px;
  height: 25px;
}

.section__second-information .house-container div .icon_accommodation {
  content: url("../../../assets/icon/acomodacion\ 64.png");
}

.section__second-information .house-container div .icon_food {
  content: url("../../../assets/icon/food\ 64.png");
}

.section__second-information .house-container div > aside > p {
  font-size: 14px;
  margin-left: 0.3rem;
}

/* * BUTOTN => CHANGE HOUSE */
.section__second-information .house-container .btn_change-house {
  background-color: #4f177d;
  color: var(--white);
  padding: 0.4rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  transition: all 0.5s;
}

.section__second-information .house-container .btn_change-house:disabled {
  opacity: 0.7;
}

.section__second-information .house-container .btn_change-house:hover {
  opacity: 0.7;
}

/* ? BASIC INFORMATION */

.section__second-information .subtitle__container .basic_information ~ hr {
  width: 85%;
  background-color: #999;
}

/* ? PERSONAL STUDENT ADDREES */
.section__second-information .subtitle__container .student_address ~ hr {
  width: 80%;
  background-color: #999;
}

/* ? PROFESSIONAL INFORMATION */
.section__second-information .subtitle__container .professional_information ~ hr {
  width: 80%;
  background-color: #999;
}

/* ! THIRD / FOURTH / FIFTH SECTION */

.section__third-information .subtitle__container hr,
.section__fourth-information .subtitle__container hr,
.section__fifth-information .subtitle__container hr,
.section__sixth-information .subtitle__container hr,
.section__seventh-information .subtitle__container hr {
  width: 40%;
  background-color: #999;
}

/* ! FOURTH SECTION */
/* ? SUPPLEMENTS BUBLE */

.parent_article {
  position: relative;
}
.section__second-information .info_hide {
  width: 80%;
  top: 9rem;
  left: 14rem;
}
.info_hide {
  position: absolute;
  background-color: #d9d9d9;
  padding: 1rem;
  border-radius: 10px;
  z-index: 1000;
}

.section__fourth-information .info_hide {
  width: 30%;
  top: 0.5rem;
  left: 9rem;
}

/* ! SEVENTH SECTION */

.section__seventh-information .image-container .image_attached {
  width: 250px;
  height: 250px;
  max-width: 250px;
  max-height: 250px;
}

/* ! RESPONSIVE */

@media (min-width: 320px) and (max-width: 575px) {
  .section__second-information .buttons-container button {
    font-size: 12px;
  }
  .section__second-information .buttons-container button {
    width: 45%;
  }
  .section__second-information .subtitle__container .booking_panel ~ hr,
  .section__second-information .subtitle__container .accom_request ~ hr,
  .section__second-information .subtitle__container .basic_information ~ hr,
  .section__second-information .subtitle__container .student_address ~ hr,
  .section__second-information .subtitle__container .professional_information {
    width: 60%;
  }

  .section__third-information .subtitle__container hr,
  .section__fourth-information .subtitle__container hr,
  .section__fifth-information .subtitle__container hr,
  .section__sixth-information .subtitle__container hr,
  .section__seventh-information .subtitle__container hr {
    width: 25%;
  }

  .section__second-information .house-selected {
    width: 80%;
  }

  .section__second-information .info_hide {
    width: 60%;
    top: -4rem;
    left: 8rem;
  }
}

/* * MODAL => CHANGE HOUSE */

/* TODO: MODAL OF THE RESERVATION */

.modal__reserve {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999 !important;
  background-color: rgb(0, 0, 0, 0.4);
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.modal__div {
  border: 1px solid var(--bg-1);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 7px 14px -4px var(--bg-1);
  -webkit-box-shadow: 0px 7px 14px -4px var(--bg-1);
  -moz-box-shadow: 0px 7px 14px -4px var(--bg-1);
  position: fixed;
  opacity: 1 !important;
}

.modal__div__reservation {
  width: 50rem;
  height: 38rem;
}

.modal__header {
  padding: 0.8rem;
  padding-right: 1rem;
}

.modal__footer {
  padding: 0.2rem;
  padding-right: 1rem;
}

/* TODO ----------------------------------- MODAL HEADER -------------------------------------- */

.modal__header {
  border-bottom: 1px solid var(--bg-hr);
}

.title__modal-header {
  margin-bottom: 0;
  padding-left: 0.5rem;
  font-weight: 500;
  font-size: 18px;
}

.btn__close-modal {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
}

.btn__close-modal:hover {
  color: #342359;
}

/* TODO ----------------------------------- MODAL BODY ------------------------------------------ */

.modal__body {
  height: 31.5rem;
}

/* TODO SECTION DATE / REASON TO CHANGE */

.change-details {
  scroll-behavior: smooth;
  border-bottom: 1px solid #e7e7e7;
  height: 37%;
  transition: all 0.5s;
}

.change-details div {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.change-details .date-change-container article {
  position: relative;
  display: block;
}

.change-details .date-change-container .input-date-change {
  width: 65%;
  padding: 0.5rem;
  padding-left: 2.5rem;
  margin-top: 2rem;
}

.change-details .date-change-container label {
  position: absolute;
  top: 0.2rem;
}

.change-details .reason-date-change .textarea-change-reserve {
  width: 100%;
  padding: 0.5rem;
  resize: none;
}
.change-details .date-change-container .input-date-change,
.change-details .reason-date-change .textarea-change-reserve {
  border-radius: 8px;
  background-color: #eee;
  border: 1px solid #999;
  outline: none;
}
.change-details .date-change-container .input-date-change:focus,
.change-details .reason-date-change .textarea-change-reserve:focus {
  border: 1px solid #4f177d;
}

/* TODO FIELD SEARCH */

.div__search-input {
  width: 100%;
  height: 10%;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid var(--bg-hr);
  position: relative;
  transition: all 0.5s;
}

.search__input {
  background-color: var(--bg-hr);
  width: 100%;
  border-radius: 12px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.7rem;
  border: none;
  outline: none;
}

/* TODO LIST HOUSES */

.modal__body ul {
  list-style: none;
  padding: 1rem 1rem 0rem 1rem;
  margin-bottom: 0;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #f3f8fc;
  height: 53%;
  transition: all 0.5s;
}

/* .modal__body ul.list_houses-scroll-0 {
  height: 17rem;
}

.modal__body ul.list_houses-scroll-1 {
  height: 28.3rem;
} */

/* .change-details-show {
  height: 12rem;
}

.change-details-hide {
  height: 0rem;
} */

/* TODO STUDENT LIST */

.students__details {
  border-bottom: 1px solid var(--bg-hr);
  padding: 0;
}

.students__details label {
  font-weight: 500;
  font-size: 15px !important;
}

.header__list-students {
  background-color: #e9e9e9;
  border-bottom: 1px solid #e7e7e7;
}

.title__list-student {
  color: #000;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.label__select-student * {
  pointer-events: none;
}

.label__select-student {
  padding: 10px 30px;
  margin-bottom: 0;
  cursor: pointer;
}

.students__details:hover {
  background-color: #f3f8fc;
}

/* TODO STUDENT IMAGE */

.div_img_student {
  width: 70px;
  height: 70px;
  max-width: 70px;
  max-height: 70px;
}

.img__student {
  width: 100%;
  height: 100%;
}

.names__students {
  padding-left: 1rem;
}

.names__students,
.dates__students {
  margin-bottom: 0;
  color: #000;
}

.div__no_student {
  position: relative;
  padding: 1rem 0rem;
}

.img__no_student {
  width: 50%;
  height: 250px;
  margin-bottom: 2rem;
}

.house-beds {
  height: 10rem;
  overflow-y: auto;
  margin: auto auto;
}

.text__no_student {
  position: absolute;
  width: 50%;
  bottom: 0rem;
  font-size: 18px;
  font-weight: bold;
  color: #342359;
  text-align: center;
  line-height: 25px;
}

.img-empty {
  width: 9rem;
}

.text-not-room {
  font-size: 1rem !important;
  color: #000;
  font-weight: 500;
  margin-top: 0.5rem;
}

/* TODO BUTTON ROOM */

.rooms-container {
  border: none;
  width: 100%;
  padding: 0.1rem 0.4rem;
  background-color: transparent;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.rooms-container:last-child {
  border-bottom: none;
}

.rooms-container span {
  margin-left: 0.2rem;
  transition: all 0.5s;
}

.rooms-container:hover span {
  margin-left: 0.8rem;
}

#beds {
  transition: all 0.5s;
}

/* ? CHECKBOX */

.checkbox__filter {
  position: absolute !important;
  opacity: 0 !important;
  cursor: pointer !important;
  pointer-events: none !important;
}

.checkbox__filter ~ label svg {
  fill: none;
  padding: 5px;
  border-radius: 0.5rem;
  border: 1px solid #999;
  color: #fff;
  height: 24px;
  width: 24px;
  stroke: currentcolor;
  stroke-width: 4px;
  overflow: visible;
  margin-top: 0.15rem;
}

.checkbox__filter:checked ~ label svg {
  background: var(--third-color);
  border: 1px solid var(--third-color);
}

.checkbox__filter ~ label p {
  color: #000;
}

/* TODO SECTION HOUSE LIST */

.houses {
  width: 72%;
}

.section__houses_list {
  opacity: 1;
  width: 100%;
  min-height: 50vh;
  transition: 300ms ease all;
}

.card-house {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 15rem;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: 300ms ease all;
}
.card-house:hover {
  transform: scale(1.01);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-house .card-header {
  width: 50%;
  position: relative;
}
.card-house .card-header > label {
  color: #fff;
  font-weight: lighter;
  font-size: 120%;
  background-color: var(--third-color);
}
.card-house .card-header > img {
  width: 100%;
  height: 18rem;
  overflow: hidden;
  object-fit: fill;
  position: relative;
}
.card-house .card-header::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: 999;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
}
.card-house .card-header > div {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 999;
  font-size: 80%;
  padding: 0px 0.5rem;
  border-radius: 5px;
  backdrop-filter: blur(1.5px);
  box-shadow: 0px 0px 4px 2px rgba(34, 34, 34, 0.25);
  background-color: rgba(255, 255, 255, 0.85);
}
.card-house .card-body {
  font-size: 90%;
  position: unset;
  transition: ease all 300ms;
}
.card-house .main-information {
  width: 100%;
  transition: ease all 300ms;
}
.card-house .main-information label {
  cursor: pointer;
  border-radius: 5px;
  transition: ease all 300ms;
}
.card-house .main-information label:hover {
  background-color: rgba(0, 0, 0, 0.025);
}
.card-house .main-information label span svg {
  width: 24px;
  height: 24px;
  fill: none;
  padding: 5px;
  border-radius: 0.5rem;
  border: 1px solid #999;
  color: #eee;
  stroke: currentcolor;
  stroke-width: 4px;
  overflow: visible;
}

.card-house .main-information label input:checked ~ span svg {
  background: rgb(34, 180, 78);
  border: 1px solid rgb(34, 180, 78);
}

.card-house .div__buttons_actions {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
}

.card-house .div__buttons_actions a {
  margin: 0;
  border: none;
  width: 50%;
  padding: 0.5rem 0;
  color: #fff;
  transition: all 0.3s;
  text-align: center;
}

.card-house .div__buttons_actions a:first-child {
  background-color: var(--first-color);
}

.card-house .div__buttons_actions a:first-child:hover {
  background-color: var(--third-color);
}

.card-house .div__buttons_actions a:last-child {
  background-color: var(--eighth-color);
}

.card-house .div__buttons_actions a:last-child:hover {
  background-color: var(--fifth-color);
}

/* TODO COLOR STYLE P */

.type-bed {
  padding: 0rem 0.4rem !important;
  border-radius: 4px;
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.type-bed-available {
  background-color: #1ca827 !important;
  color: #fff !important;
}

.type-bed-occupied {
  background-color: #bb2929 !important;
  color: #fff !important;
}

/* TODO DATERANGE PICKER */

.cancelBtn {
  width: 25% !important;
  background-color: #982a72;
}

.applyBtn {
  width: 25% !important;
  background-color: #342359;
  border: 1px solid #342359;
}

.applyBtn:hover {
  background-color: #394893;
  border: 1px solid #394893;
}

/* TODO INPUT ERROR */
.input-error {
  border: 1px solid #bb2929 !important;
}
.input-error::placeholder {
  color: #bb2929 !important;
  font-weight: 500;
  opacity: 1;
}
.input-error ~ label {
  color: #bb2929 !important;
}

/* TODO ------------------------------------ MODAL FOOTER --------------------------------------- */

.modal__footer {
  border-top: 1px solid var(--bg-hr);
}

.btn__add-reservation {
  background-color: #232159;
  color: #fff;
  width: 9rem;
  margin-right: 1rem;
}

/* TODO LABELS */

.label__search {
  color: var(--room3);
  position: absolute;
  top: 1.2rem;
  left: 1.7rem;
}

/* TODO SPIN */

.style__child * {
  display: none;
}

.btn_none {
  display: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 1s all;
  opacity: 0;
}
.loading.show {
  opacity: 1;
}
.loading,
.spin {
  border: 3px solid #d4bbff;
  border-top-color: #4f177d;
  border-radius: 60px;
  width: 2em;
  height: 2em;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.icon__calendar {
  content: url("../../../assets/icon/calendar.png");
  width: 1.5rem;
  height: 1.4rem;
  top: 2.5rem !important;
  bottom: 0;
  left: 4.8rem;
}

/* ! RESPONSIVE CHANGE HOUSE */
/* TODO RESPONSIVE CARDS */

@media (min-width: 320px) and (max-width: 575px) {
  .section__houses_list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 450px) and (max-width: 575px) {
  .section__houses_list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 575px) and (max-width: 900px) {
  .section__houses_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 320px) {
  /* .card-house {
    height: 34rem;
  } */

  .houses {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 575px) {
  .houses {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 767px) {
  .card-house {
    height: 15rem;
  }
  .card-house .card-header {
    width: 20rem;
  }
  .card-house .card-header > img {
    height: 40rem !important;
  }
  .card-house .card-body {
    position: relative;
  }

  .houses {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 320px) and (max-width: 410px) {
  .modal__div__reservation {
    width: 310px;
    height: auto;
  }
  .modal__body {
    max-height: 28rem;
  }
  .icon__calendar {
    left: 1.5rem;
  }
  .label__search {
    top: 1.35rem;
    left: 2.5rem;
  }
}

@media (min-width: 410px) and (max-width: 575px) {
  .modal__div__reservation {
    width: 400px;
  }
  .icon__calendar {
    left: 2rem;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .modal__div__reservation {
    margin-top: 4rem;
  }
  .modal__body {
    overflow: auto;
  }
  .change-details {
    height: 58%;
  }

  .input-date-change {
    width: 90% !important;
  }
  .reason-date-change article {
    margin: auto auto;
    width: 90%;
  }
  .div__search-input {
    text-align: center;
    height: 13%;
  }

  .search__input {
    width: 94%;
    font-size: 14px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 1.7rem;
    border: 1px solid #999;
  }

  .modal__body ul {
    height: 80%;
  }

  /* ----------------- */
  .ul__list-students {
    margin-top: 1rem;
  }
  .card-house {
    height: 35rem;
  }
  .card-house .card-header {
    width: 100% !important;
  }
  .card-house .card-header > img {
    height: 18rem;
  }
  .card-house .card-header > div {
    font-size: 12px;
  }

  .card-house .name_house {
    font-size: 14px;
  }
  .type-bed-occupied {
    margin-left: 31px;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .modal__div__reservation {
    width: 40rem;
  }
  .modal__body {
    overflow: auto;
  }
  .change-details {
    height: 35%;
  }

  .icon__calendar {
    left: 3.2rem;
  }
  .label__search {
    left: 2rem;
  }
  .div__search-input {
    height: 11%;
  }
  .modal__body ul {
    height: 70%;
  }
  .card-house {
    width: 75%;
    height: 35rem;
  }
  .card-house .card-header {
    width: 100%;
  }
  .card-house .card-header > img {
  }

  .card-house .card-header > div {
    font-size: 12px;
  }

  .card-house .name_house {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  .modal__div__reservation {
    margin-top: 5rem;
  }
  .card-house {
    max-width: 50rem;
    height: 15rem;
  }
  .card-house .card-header {
    width: 25rem;
  }
  .card-house .card-header > img {
    height: 30rem;
  }
  .card-house .card-body {
    position: relative;
  }

  .section__directory {
    width: 90%;
  }
}

/* * ------------------------------- */

@media (min-width: 320px) and (max-width: 767px) {
  .section__fourth-information .info_hide {
    width: 90%;
    top: 2.5rem;
    left: 1rem;
  }
}

@media (min-width: 400px) and (max-width: 575px) {
  .section__second-information .house-selected {
    width: 70%;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .section__fourth-information .info_hide {
    width: 40%;
    top: 2.5rem;
    left: 5rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .section__fourth-information .info_hide {
    width: 30%;
    top: 2rem;
    left: 8rem;
  }
}

@media (min-width: 1200px) {
  .section__fourth-information .info_hide {
    width: 20rem;
    top: 0.5rem;
    left: 5rem;
  }
}

@media (min-width: 1400px) {
  .section__fourth-information .info_hide {
    width: 30%;
    max-width: 20rem;
    top: 0.5rem;
    left: 12rem;
  }
}

@media (min-width: 767px) and (max-width: 900px) {
  .section__seventh-information .image-container .image_attached {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 1200px) {
  main.main-container {
    width: 95%;
  }
} ;
