#calendar {
    max-width: 800px;
    float: right;
}


/*COLOR OF MONTH NAME*/

h2 {
    color: #232159;
}


/*COLOR OF DAY EXTRAS*/

.dropdown:hover .dropbtn {
    background-color: grey;
}


/*COLOR OF HEADER DAY OF WEEK*/

th.fc-day-header {
    background-color: #232159;
}

.dropdown:hover .dropbtn span {
    color: white
}


/*COLOR OF DAY NUMBER IN CALENDAR*/

td.fc-other-month .fc-day-number {
    color: #D3D3D3;
}


/*COLOR TITLE OF ADD HOMESTAY*/

a.btn {
    color: #5D418D;
    border: 2px solid #5D418D;
}

a.btn:hover {
    background-color: #982A72;
    border: 2px solid #982A72;
}

span.fc-title {
    color: white;
}

#mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    #mobile {
        display: block;
    }
    a.btn-outline-primary {
        display: none;
    }
    #nav-footer {
        display: none;
    }
    #con-footer {
        display: none;
    }
    #white-logo {
        display: none;
    }
    div#copyrigth {
        margin-left: -50%;
    }
}

body {
    padding-top: 120px;
    font-size: 14px;
}


/*info btn*/

.dropbtn {
    background-color: #EEE;
    margin: 10px;
    padding: 8px 16px 8px 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content p {
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

td.fc-day.fc-today.fc-state-highlight {
    background-color: grey !important;
}

th.fc-day-header.fc-widget-header.fc-today {
    background-color: grey !important;
}


/*BUTTON COLORS*/

button.fc-prev-button:hover {
    background-color: #080086;
}

button.fc-next-button:hover {
    background-color: #080086;
}

button.fc-state-active {
    color: white;
    background-color: #080086;
}

button.fc-today-button:hover {
    background-color: #080086;
}

button.fc-today-button.fc-button.fc-state-default.fc-state-disabled {
    color: white;
    background-color: #080086;
}

.modal-content {
    background: #693792;
}

.modal-title {
    color: white;
    margin-top: .5em;
}

.modal-header {
    margin-top: -.5em;
}

.modal-body {
    background-color: white;
    padding-top: 1.8em;
    -ms-flex-line-pack: center;
        align-content: center;
}

.close-x {
    stroke: #DFDDDD;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 5;
}

.modalcss-button {
    /* Structure */
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pagination {
    margin-top: 4rem;
}

.page-link {
    background-color: transparent;
    border: none;
    border-radius: 50px;
    color: #191919;
    margin: 0 .125rem;
    padding: .75rem 1rem;
    position: relative;
}

.page-link:hover {
    background-color: #815391;
    -webkit-box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
            box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
    color: #191919;
}

.page-link:after {
    border-style: solid;
    border-color: none;
    bottom: -0.4375rem;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 0;
    background-color: transparent;
    border: none;
}

.page-item:hover .page-link,
.page-item:hover .page-link {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.page-item.active .page-link {
    background-color: #232159;
    border: none;
    -webkit-box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
            box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
}

.page-item.active .page-link:after {
    border: none;
}

.page-item.active .page-link:hover {
    background: #232159;
}


.title-bloc {
    width: 100%;
}

.input-borderless {
    width: 100%;
    border-top: 0px;
    border-bottom: 2px solid #4f177d;
    border-right: 0px;
    border-left: 0px;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-decoration: none;
    outline: none;
    display: block;
    padding: 10px 5px;
    margin: 0px 0;
    font-size: 1em;
  }

.war-report{
    font-size: 13px;
    color: #717171;
}

.cal-div{
    width: 60em;
}

.table_calendar{
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.thead_calendar{
    background-color: #232159;
}

.reserve_title{
    font-size: 20px;
    color: white;
    font-weight: bold;
}

#dynamic_content{
    border: none;
    overflow: hidden;
}

.div-note{
    margin-top: 0rem;
}

.greet{
    color: #232159;
    margin-bottom: 3rem;
}

.div-img-s {
    margin-top: -8px;
    float: right;
    padding-right: .5rem;
    width: 10%;
    margin-bottom: -30px;
}

/* Responsive */

@media (min-width: 320px) {
    .modal-body {
        width: auto;
        padding-top: 1.2em;
    }
    .custom-select {
        font-size: 12px;
    }
    .text-imp-i {
        font-size: 12px;
    }
    .btn-del {
        margin-left: 1em;
    }
    .div-his-name {
        font-size: 12px;
    }
    .his-name {
        font-size: 12px;
    }
    .div-bloc {
        margin-left: -1%;
        width: 90%;
        margin-top: 8%;
    }
    .nota {
        width: 95%;
        margin-bottom: 5%;
    }
    .div-img-s {
        margin-top: -20px;
    }
    .title-bloc {
        margin-left: 0%;
    }
    .greet,
    .date- {
        font-size: 16px;
        line-height: 25px;
        ;
    }
    .row-bloc {
        width: 120%;
    }
    .content {
        font-size: 10px;
    }

    .row-cal {
        width: 88%;
        margin-left: 6%;
        height: auto;
    }
    .icon-help {
        width: 30%;
        height: auto;
        float: right;
    }
    button.fc-prev-button,
    button.fc-next-button,
    button.fc-today-button,
    button.fc-basicWeek-button,
    button.fc-month-button {
        font-size: 9px;
        margin-bottom: 2%;
    }
    div.fc-center {
        font-size: 12px;
    }
    .his-res {
        font-size: 16px;
        font-weight: bold;
    }
    .reserve_title{
        font-size: 12px;
    }

    .div_row_cal{
        margin-left: 1%;
    }

}

@media (min-width: 440px) {
    .custom-select {
        font-size: 13px;
    }
}

@media (min-width: 480px) {
    .custom-select {
        font-size: 14px;
    }
    .text-imp-i {
        font-size: 13px
    }
}

@media (min-width: 400px) {
    .div-bloc {
        margin-left: -30%;
        width: 80%;
        margin-top: 5%;
    }
    .nota {
        width: 95%;
        margin-bottom: 5%;
    }
    .div-img-s {
        margin-top: -20px;
    }
    .title-bloc {
        margin-left: 0%;
    }
    .greet,
    .date- {
        font-size: 20px;
        line-height: 25px;
        ;
    }
    .row-bloc {
        width: 120%;
    }
    .content {
        font-size: 11px;
    }

    .reserve_title{
        font-size: 15px;
    }
}

@media (min-width: 500px) {
    .div-bloc {
        margin-left: -30%;
        width: 70%;
        margin-top: 5%;
    }
    .row-bloc {
        width: 120%;
    }
    .content {
        font-size: 11px;
    }
    .title-cal {
        font-size: 16px;
        margin-top: 2%;
        margin-left: 5%;
    }
    .div-title-cal {
        height: 2.2em;
    }
    button.fc-prev-button,
    button.fc-next-button,
    button.fc-today-button,
    button.fc-basicWeek-button,
    button.fc-month-button {
        font-size: 11px;
    }
    .nota {
        width: 95%;
        margin-bottom: 5%;
    }
    .div-img-s {
        margin-top: -20px;
    }
    .title-bloc {
        margin-left: 0%;
    }
    .greet,
    .date- {
        font-size: 20px;
        line-height: 25px;
        ;
    }
    .div_row_cal{
        margin-left: 0%;
    }
}

@media (min-width: 600px) {
    .div-bloc {
        margin-left: -30%;
        width: 60%;
        margin-top: 5%;
    }
    .nota {
        width: 90%;
        margin-bottom: 5%;
    }
    .div-img-s {
        margin-top: -20px;
    }
    .title-bloc {
        margin-left: 0%;
    }
    .greet,
    .date- {
        font-size: 20px;
        line-height: 25px;
        ;
    }
    .row-bloc {
        width: 120%;
    }
    .content {
        font-size: 11px;
    }
    .greet,
    .date- {
        font-size: 13px;
        line-height: 10px
    }
    .title-cal {
        font-size: 17px;
    }
    .his-res {
        font-size: 20px;
    }

    .reserve_title{
        font-size: 17px;
    }
}

@media (min-width: 700px) {
    .div-bloc {
        margin-left: -30%;
        width: 60%;
        margin-top: 5%;
    }
    .nota {
        width: 90%;
        margin-bottom: 5%;
    }
    .div-img-s {
        margin-top: -20px;
    }
    .title-bloc {
        margin-left: 0%;
    }
    .greet,
    .date- {
        font-size: 20px;
        line-height: 25px;
        ;
    }
    .row-bloc {
        width: 120%;
    }
    .content {
        font-size: 12px;
    }
    .icon-help {
        width: 35%;
    }
}

@media (min-width: 800px) {
    .div-bloc {
        margin-left: -30%;
        width: 60%;
        margin-top: 5%;
    }
    .nota {
        width: 80%;
        margin-bottom: 5%;
    }
    .div-img-s {
        margin-top: -20px;
    }
    .title-bloc {
        margin-left: 20%;
    }
    .greet,
    .date- {
        font-size: 20px;
        line-height: 25px;
        ;
    }
    .row-bloc {
        width: 120%;
    }
    .content {
        font-size: 13px;
    }
    button.fc-prev-button,
    button.fc-next-button,
    button.fc-today-button,
    button.fc-basicWeek-button,
    button.fc-month-button {
        font-size: 13px;
    }
    .div-title-cal {
        height: 2.7em;
    }

    .reserve_title{
        font-size: 19px;
    }

    #dynamic_content{
        width: 110%;
    }
}

@media (min-width: 900px) {
    .div-bloc {
        margin-left: -30%;
        width: 50%;
        margin-top: 5%;
    }
    .nota {
        width: 95%;
        margin-bottom: 5%;
    }
    .div-img-s {
        margin-top: -20px;
    }
    .title-bloc {
        margin-left: 0%;
    }
    .greet,
    .date- {
        font-size: 20px;
        line-height: 25px;
        ;
    }
    .div-note {
        padding-top: 0px;
    }
    .row-bloc {
        width: 120%;
    }
    .content {
        font-size: 13px;
    }

    #dynamic_content{
        width: 110%;
    }
}

@media (min-width: 1000px) {
    .container {
        margin-left: -4em;
    }
    .row-cal {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .div-his-name {
        font-size: 13px;
    }
    .his-name {
        font-size: 13px;
    }
    .content {
        font-size: 10px;
    }
    .row-bloc {
        width: 125%;
    }
    .div-bloc {
        margin-left: 0%;
        width: 38%;
        margin-top: 1%;
    }
    .sp {
        display: none;
    }
    .title-cal {
        margin-left: 5%;
        margin-top: 2%
    }
    .greet,
    .date- {
        font-size: 16px;
    }
    .his-res {
        font-size: 24px;
        margin-top: 4%;
    }

    .div-title-cal {
        height: 3.2em;
    }
    .icon-help {
        width: 40%;
    }
}

@media (min-width: 1100px) {
    .container {
        margin-left: 6em;
    }
    .row-cal {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .content {
        font-size: 11px;
    }
}

@media (min-width: 1200px) {
    .container {
        margin-left: -1em;
    }
    .row-cal {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .div-his-name {
        font-size: 14px;
    }
    .his-name {
        font-size: 14px;
    }
    .content {
        font-size: 12px;
    }
    .div-title-cal {
        height: 3.5em;
    }
    .title-cal {
        font-size: 20px;
        margin-top: 2%;
    }
    .greet,
    .date- {
        line-height: 15px
    }
}

@media (min-width: 1300px) {
    .row-cal {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .container {
        margin-left: 15em;
        padding: 0;
    }
    .title-bloc {
        font-size: 16px;
    }
    .nota {
        width: 80%;
    }
    .row-bloc {
        width: 80%;
    }
    .div-block {
        margin-left: 2%;
    }

}

@media (min-width: 1420px) {
    .row-cal {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .container {
        margin-left: 15em;
        padding: 0;
    }
    .title-bloc {
        font-size: 16px;
    }
    .nota {
        width: 80%;
    }
    .row-bloc {
        width: 80%;
    }

    .greet,
    .date- {
        line-height: 25px;
        font-size: 20px;
    }

}

@media (min-width: 1520px) {
    .row-cal {
        margin-left: auto;
        margin-right: auto;
    }
}



/* new styles */

.new-event{
    padding: 2rem 4rem !important;
    
  }
  
  .new-event>.row{
    justify-content: space-between;
  }
  
  .label-event{
    color: #232159;
    margin-bottom: 0rem;
    padding-left: .2rem;
    font-weight: normal !important;
    font-size: 11px !important;
  }
  
  .input-bordeless{
    width: 100% !important;
    padding-left: .5rem !important;
    border-bottom: 2px solid #4f177d !important;
  }
  
  .input-bordeless::placeholder{
    color: #000;
  }
  
  .select{
    margin-top: -.7rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #4f177d;
    padding-bottom: 0;
  }
  
  .select:hover{
    border-bottom: 2px solid #4f177d;
  }

#circle{
    width: 20px;
    height: 20px;
}
