a.btn-link{color:  #982A72;}
                                    a.btn-link:hover{color:  #982A72;}
                                    button.btn{  background-color: #5D418D; border: 2px solid #5D418D;}
                                    button.btn:hover{  background-color: #5D418D; border: 2px solid #5D418D;}
                                    #map {width: 320px; height: 300px;}
                                     /*Buttons*/
                                        button#submit{width: 130px; font-size: 14px;}
                                        a#contact{width: 130px; font-size: 14px;}
                                        a#edit{width: 150px; font-size: 14px;}

                                    /* MEDIA EXTRA SMALL PHONES*/
                                    @media screen and (max-width: 600px) { 

                                        /*Location*/
                                        #map{width: 300px; height: 200px; margin-left: 15px;}
                                        #nav-footer{display: none;}
                                        #con-footer{display: none;}
                                        #white-logo{display: none;}
                                        #edit{font-size: 13px;}
                                        #submit{font-size: 13px;}

                                         /*Buttons*/
                                        button#submit{width: 130px; font-size: 12px;}
                                        a#contact{width: 130px; font-size: 12px;}
                                        a#edit{width: 150px; font-size: 12px;}
                                       


                                    }
                                    #house { 
      background-image: url('../student/assets/images/house1.png');
      background-size: cover;
      width: 27px;
      height: 49px;
      cursor: pointer;}

      .tarjet{ margin-right: 2%; width: 30%; margin-bottom: 2%; background: white; box-shadow: 1px 1px 5px 0px #4f177d;}

    .add-photo{ border: 2px dashed #C2C2C2; height: 10.7em; width: 15em; display: table-cell; vertical-align: middle; }

    .add-photo:hover{ transition: all .5s; cursor: pointer; color: #4f177d; }

    .add-photo-i{ border-radius: 18px; height: 2.2em; width: 2.2em; z-index: 100; margin-left: -12%; background: #4f177d; padding: 7px 5px; color: white; position: fixed; bottom: -.5em;}

    .add-photo-i:hover{ background: white; transition: all .5s; cursor: pointer; color: #4f177d;}

    .icon-type{
  display: flex;
  margin-top: 1em;
  margin-left: -2.3em;
  margin-bottom: -2.1em;
}

.type-img{
  width: 1.9em;
}

.wrap-div{ width: 30%; margin-top: -3.8%; margin-right: 2%;}

.wrap-div-i{ width: 31%; margin-top: -3.8%; margin-right: 2%; }

.wrap-div-ii{ margin-top: -4.5%; }

.wrap-div-iii{ margin-top: -1.6%; }

.area-iii, .bath-iv, .bed-iv, .bed-v, .bed-vi, .bed-vii, .bed-viii{margin-top: 0%;}

.init{margin-left: 15%;}

.details{ width: 37% }

.in-d{ margin-right: 15%; }

    .carousel-indicators .active{ background: #982a72; }

    .carousel-indicators li { background: white; }

    .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 60px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
  margin-top: 10%;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: #4f177d;
  margin-left: 30%;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: #360062;
  margin-left: -30%;
}

.img-room{
  width: 80%;
  height: 10em;

}


.photo-add{ margin-top: 0%; height: 11.5em; width: 16em; margin-right: auto; margin-left: auto; position: relative; z-index: 10; padding-top:25%; color: #4F177D; border: 2px dashed #c2c2c2;}

.photo-add:hover{ cursor: pointer; transition: all .5s;}

@media (max-width: 1200px){
    .add-photo{ width: 14em; }
}

@media (max-width: 1100px){
    .add-photo{ width: 13em; }
}

@media (max-width: 767px){
    .add-photo{ width: 13em; } .title-room{ font-size: 13px; } .tarjet{ width: 40%; }
}

@media (max-width: 575px){
    .add-photo{ width: 12em; } .title-room{ font-size: 13px; } .tarjet{ width: 50%; }
}

@media (max-width: 400px){
    .tarjet{ width: 60%; }
}


/* Notification */

:root {
  --room1: #232159;
  --room2: #982a72;
  --room3: #394893;
  --room4: #A54483;
  --room5: #5D418D;
  --room6: #392B84;
  --room7: #B15391;
  --room8: #4F177D;
  --ff: #f8f8f8;
}


@media (min-width: 1000px) {
  
  .d-m-before {
    width: 31em !important;
    left: -28em !important;
  }
}

.title__noti_div{
  font-size: .7rem !important;
}

.text_time{
  font-size: .75rem !important;
}

.photo {
  width: 3.5rem !important;
  height: 3.5rem !important;
  max-width: 3.5rem !important;
}


.text_wview{
  font-size: .85rem !important;
}

.font_view{
  font-size: .85rem !important;
}

.btn_confirm{
  width: 5rem !important;
    font-size: .75rem !important;
    padding: .3rem .5rem !important;
  background-color: var(--room2) !important;
  color: #fff !important;
  border: none !important;
}

.btn_confirm:hover{
  background-color: var(--room7) !important;
  color: #fff !important;
}


.btn_reject{
  width: 5rem !important;
    font-size: .75rem !important;
    padding: .3rem .5rem !important;
  background-color: var(--room1) !important;
  color: #fff !important;
  border: none !important;
}

.btn_reject:hover{
  background-color: var(--room3) !important;
  color: #fff !important;
}