body{
  background: #F3F8FC;
}

input {
  outline: none;
  border: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

.title-r{
  margin-left: 3.2em;
  width: 92%;
  margin-top: 10em;
  border-bottom: 2px solid #C1C1C1; 
  display: flex;
}

.icon-type{
  margin-top: 1em;
  margin-left: -2.3em;
  margin-bottom: -2.1em;
}

.type-img{
  width: 1.9em;
}

.title-room{
  margin: .4em .9em;
  padding: .5em .3em;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 1em;
}


.limiter{
  width: 91%;
  background: none;
  margin-top: 2%;
  margin-left: 4.1%;
  padding: .5em .5em;
}


.wrap-login100{
  width: 32%;
  background: white;
  padding-bottom: 0;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 5px 0px #232159;
  float: left;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login100:hover{
  box-shadow: 0px 12px 6px -6px #232159;
  transition: all .5s;
  border: 1px solid #232159;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login100-i{
  width: 32%;
  background: white;
  padding-bottom: 0;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 5px 0px #232159;
  float: left;
}

.wrap-login200{
  width: 32%;
  background: white;
  margin-left: 1.5em;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 5px 0px #232159;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login200:hover{
  box-shadow: 0px 12px 6px -6px #982a72;
  transition: all .5s;
  border: 1px solid #982A72;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login200-i{
  width: 32%;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 5px 0px #982a72;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login200-i:hover{
  box-shadow: 0px 12px 6px -6px #982a72;
  transition: all .5s;
  border: 1px solid #394893;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}


.wrap-login300{
  width: 32%;
  background: white;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 5px 0px #394893;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login300:hover{
  box-shadow: 0px 12px 6px -6px;
  transition: all .5s;
  border: 1px solid #394893;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login300-i{
  width: 32%;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 5px 0px #394893;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login300-i:hover{
  box-shadow: 0px 12px 6px -6px #394893;
  transition: all .5s;
  border: 1px solid #394893;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login400{
  width: 32%;
  background: white;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 5px 0px #A54483;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login400:hover{
  box-shadow: 0px 12px 6px -6px #A54483;
  transition: all .5s;
  border: 1px solid #A54483;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login400-i{
  width: 32%;
  background: white;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 5px 0px #A54483;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login400-i:hover{
  box-shadow: 0px 12px 6px -6px #A54483;
  transition: all .5s;
  border: 1px solid #A54483;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login500{
  width: 32%;
  background: white;
  border: 1px solid #DDDDDD;
  margin-left: 1.5em;
  box-shadow: 1px 1px 5px 0px #5D418D;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login500:hover{
  box-shadow: 0px 12px 6px -6px #5D418D;
  transition: all .5s;
  border: 1px solid #5D418D;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login500-i{
  width: 32%;
  background: white;
  border: 1px solid #DDDDDD;
  margin-left: 1.5em;
  box-shadow: 1px 1px 5px 0px #5D418D;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login500-i:hover{
  box-shadow: 0px 12px 6px -6px #5D418D;
  transition: all .5s;
  border: 1px solid #5D418D;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login600{
  width: 32%;
  background: white;
  margin-left: 1.5em;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 5px 0px #392B84;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login600:hover{
  box-shadow: 0px 12px 6px -6px #392B84;
  transition: all .5s;
  border: 1px solid #392B84;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login600-i{
  width: 32%;
  background: white;
  margin-left: 1.5em;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 5px 0px #392B84;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login600-i:hover{
  box-shadow: 0px 12px 6px -6px;
  transition: all .5s;
  border: 1px solid #392B84;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login700{
  width: 32%;
  background: white;
  border: 1px solid #DDDDDD;
  margin-left: 14em;
  box-shadow: 1px 1px 5px 0px #B15391;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login700:hover{
  box-shadow: 0px 12px 6px -6px #B15391;
  transition: all .5s;
  border: 1px solid #B15391;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login700-i{
  width: 32%;
  background: white;
  border: 1px solid #DDDDDD;
  margin-left: 14em;
  box-shadow: 1px 1px 5px 0px #B15391;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login700-i:hover{
 box-shadow: 0px 12px 6px -6px #B15391;
  transition: all .5s;
  border: 2px solid #B15391;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}


.wrap-login800{
  width: 32%;
  background: white;
  border: 1px solid #DDDDDD;
  margin-left: 1.5em;
  box-shadow: 1px 1px 5px 0px #4F177D;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login800:hover{
  box-shadow: 0px 12px 6px -6px #4F177D;
  transition: all .5s;
  border: 2px solid #4F177D;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login800-i{
  width: 32%;
  background: white;
  border: 1px solid #DDDDDD;
  margin-left: 1.5em;
  box-shadow: 1px 1px 5px 0px #4F177D;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login800-i:hover{
  box-shadow: 0px 12px 6px -6px #4F177D;
  transition: all .5s;
  border: 2px solid #4F177D;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.div-img-r{
  margin-top: 2em;
  height: 10em;
}

.img-room{
  width: 90%;
  height: 10em;
}

.img-alt{
  width: 90%;
}

/* Wrap input */

.wrap-input100 {
  width: 9.6em;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
}


.wrap-input200 {
  width: 9em; 
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
}

.wrap-input200-ii {
  width: 25%;
  position: relative;
  margin-bottom: 37px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 0em;
}

.wrap-input300 {
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  width: 9.6em;
}


.wrap-input300-i {
  position: relative;
  margin-bottom: 37px;
  width: 48%;
  left: 4%;
}


.wrap-input400 {
  position: relative;
  border-bottom: 2px solid #4F177D;
  width: 9em;
}


.wrap-input400-i {
  position: relative;
  width: 32%;
  left: 16%;

}



.wrap-input500 {
  position: relative;
  background: none;

}



.wrap-input500-i {
  position: relative;
  padding-bottom: -2em;
  background: none;
  left: 0%; 
  width: 55%; 
  top: 0em; 
  border-bottom:none;
  background-color: #4F177D; 
  text-align: center; 
  border-radius: 8px;
  margin-bottom: 2em;
}


.wrap-input500-i:hover{
  box-shadow: 10px 10px 6px -6px #5D418D;
  transition: all .5s;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.input100 {
  font-size: 14px;
  color: #555555;
  line-height: 1.2;
  margin-bottom: -.7em;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.input200 {
  font-size: 14px;
  color: #555555;
  line-height: 1.2;
  margin-bottom: -1.3em;

  display: block;
  width: 100%;
  height: 60px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #982A72, #4F177D);
  background: -o-linear-gradient(left, #982A72, #4F177D);
  background: -moz-linear-gradient(left, #982A72, #4F177D);
  background: linear-gradient(left, #982A72, #4F177D);
}



.focus-input100::after {
  font-size: 14px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.input100:focus + .focus-input100::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.has-val.input100 + .focus-input100::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}


.focus-input200 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input200::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #982A72, #4F177D);
  background: -o-linear-gradient(left, #982A72, #4F177D);
  background: -moz-linear-gradient(left, #982A72, #4F177D);
  background: linear-gradient(left, #982A72, #4F177D);
}



.focus-input200::after {
  font-size: 11px;
  color: #232159;
  line-height: -1.2;
  height: 5px;

  content: attr(data-placeholder);
}


.input200:focus + .focus-input200::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.input200:focus + .focus-input200::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.has-val.input200 + .focus-input200::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.has-val.input200 + .focus-input00::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.btn-can{
  color: white;
  left: -.5em;
}

.btn-can:hover{
  color: white;
  box-shadow: 3px 6px 10px black;
}

.btn-ace{
  color: white;
}

.btn-ace:hover{
  color: white;
  box-shadow: 3px 6px 10px black;
}

.btn-del{
  color: white;
  background: #392B84;
}

.btn-del:hover{
  color: white;
  box-shadow: 3px 6px 10px black;
}

.student-oc{
  margin-top: -2em;
  margin-bottom: 3em;
  line-height: 30px;
}

.text-oc{
  font-size: 14px;
}

.name-student{
  color: #232159;
  background-color: white;
  border:none;
}

.name-student:hover{
  cursor: pointer;
}

.rooms-btns{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 6rem;
}

.btn-save{
  padding: .6em 1.2em;
  border-radius: 10px;
  font-size: 18px;
  background: -webkit-linear-gradient(left, #232159, #4F177D );
  color: white;
  transition: all .5s;
  border: none;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.btn-save:hover{
  box-shadow: 10px 10px 6px -6px black;
  background: -webkit-linear-gradient(left, #4F177D, #232159 );
  cursor: pointer;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);

}





/* modal */


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgba(0,0,0,0.6);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  width: 30em;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: #4F177D;
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: var(--lightgray);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1.6em;
}

.modal-header .close-modal {
  font-size: 1.5rem;
}

.close-modal{
  background: transparent;
  border: none;
  color: white;
}

.modal p + p {
  margin-top: 1rem;
}

.modal-content{
  width: 97%;

}

.wrap{ width: auto; margin-top: 3.5em; display: flex;}

.wrap-input100-i {
  width: 10em;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  left: 2em;
}

.wrap-input100-ii {
  width: 9em;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  top: -4em;
  left: 6em;
}

.wrap-input100-iii {
  width: 45%;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  top: 0em;
}

.wrap-input100-iv {
  width: 48%;
  position: relative;
  margin-bottom: 37px;
  display: flex;
  left: 13%; 
  top: 0em;
  border-bottom: none;
}



.wrap-input200-i {
  width: 7.5em;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  left: 22em;
  top: -5em;
}

.wrap-input200-ii {
  width: 45%;
  position: relative;
  margin-bottom: 37px;
  left: 0em;
  top: 0em;
}

.wrap-input200-iii {
  width: 32%; 
  left: 25%;
  position: relative;
  margin-bottom: 37px;


  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.focus-input200 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input200::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #982A72, #4F177D);
  background: -o-linear-gradient(left, #982A72, #4F177D);
  background: -moz-linear-gradient(left, #982A72, #4F177D);
  background: linear-gradient(left, #982A72, #4F177D);
}



.focus-input200::after {
  font-size: 11px;
  color: #232159;
  line-height: -1.2;
  height: 5px;

  content: attr(data-placeholder);
}


.input200:focus + .focus-input200::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.input200:focus + .focus-input200::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.has-val.input200 + .focus-input200::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.has-val.input200 + .focus-input00::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}



/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
  animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}



/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.page-footer span {
  color: #e31b23;
}

.container-login100{
  -webkit-clip-path: polygon(0,0, 100%, 83%, 0, 100%);
  clip-path: polygon(0,0, 100%, 83%, 0, 100%);
  width: 100%;
}

.c-log{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

.wrap-login100, .wrap-login100-i, .wrap-login200, .wrap-login200-i, .wrap-login300, .wrap-login300-i, .wrap-login300-ii, .wrap-login400, .wrap-login400-i, .wrap-login500, .wrap-login500-i, .wrap-login600, .wrap-login600-i, .wrap-login700, .wrap-login700-i, .wrap-login800, .wrap-login800-i{
  display: inline-block;
  width: 50%;
  border-radius: 8px;
}

@media (max-width: 480px){
  .wrap-login100, .wrap-login100-i, .wrap-login200, .wrap-login200-i, .wrap-login300, .wrap-login300-i, .wrap-login300-ii, .wrap-login400, .wrap-login400-i, .wrap-login500, .wrap-login500-i, .wrap-login600, .wrap-login600-i, .wrap-login700, .wrap-login700-i, .wrap-login800, .wrap-login800-i{
    display: block;
    width: calc(100%-80px);
  }
}

.items-i{ display: flex; }

.div-btn-add{
  margin-left: 75%;
}

.btn-add{  
  padding: .5em .8em;
  border-radius: 8px;
  background: transparent;
  border: none;
  color: #4F177D;
}

.btn-add:hover{
  background: #4F177D;
  color: white;
  box-shadow: 10px 10px 6px -6px #5D418D;

  transition: all .5s;
  transform: scale(1.03);
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -o-transform: scale(1.05);
}

/* Modal 1 */

.modal1 {
    left: 0em;
    margin: -250px 0 0 -32%;
    opacity: 0;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    z-index: 20;
    position: fixed;
    visibility: hidden;
    box-sizing: border-box;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}
.modal1:target {
    opacity: 1;
    top: 50%;
    visibility: visible;
}

.modal1 .header1, .modal1 .footer {
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px 5px 0 0;
}
.modal1 .footer {
    border: none;
    border-top: 1px solid #e7e7e7;
    border-radius: 0 0 5px 5px;
}
.modal1 h2 {
    margin: 0;
    color: #333333;
    padding-top: 1%;
    padding-bottom: 1%;
}
.modal1 .btn {
    float: right;
}

.modal1 .copy, .modal1 .header1, .modal1 .footer {
    padding: 5px;
    color: #333333;
}


.modal-content1 {
    background: transparent;
    position: relative;
    z-index: 20;
    border-radius: 5px;
    color: #333333;
    padding: 1%;
}

.modal1 .copy{
    background: #fff;
    padding-bottom: 2%;
    padding-top: -4%;
}

.copy-i{
  padding-bottom: 2%;
  padding-top: -4%;
  background: #b7187f;
}

.copy-ii{
  padding-bottom: 2%;
  padding-top: 2%;
  background: #b7187f;
}

.modal1 .overlay {
    background-color: #000;
    background: rgba(0,0,0,.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

/* Close Button */
.box3 { 
    width: 30px;
    right: 0px;
    position: absolute;
    margin: 10px;
    margin-top: 0%;
}
svg {
    display: block;
}


.close-x {
  stroke: #DFDDDD;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}

.upload-img:hover{ 
  cursor: pointer;
}

.subir{
  padding: 5px 10px;
  background: #4F177D;
  color: #fff;
  border: 0px solid #fff;
}

.subir:hover{
  color: #fff;
  background: #4F177D;
}

.add{
  background: #4F177D; 
  border-radius: 4px; 
  color: white; 
  padding: .3em .7em; 
  cursor: pointer;
  font-weight: normal;
}

.add-photo{ height: 10em; width: 15em; display: table-cell; vertical-align: middle; margin-right: auto; margin-left: auto; display: none;}

    .add-photo:hover{ background: #DCDCDC; transition: all .5s; cursor: pointer; color: #4f177d; }

    .add-photo-i{ border-radius: 18px; height: 2.2em; width: 2.2em; z-index: 10; background: #982a72; padding: 7px 5px; color: white; margin-top: -12%; margin-right: 0; float: right; margin-right: 5%; position: relative;}

    .add-photo-i:hover{ background: white; transition: all .5s; cursor: pointer; color: #4f177d;}

    .photo-add{ margin-top: 0%; border: 2px dashed #C2C2C2; height: 10.5em; width: 16em; margin-right: auto; margin-left: auto; position: relative; z-index: 10; padding-top:25%; color: #4F177D;}

    .photo-add:hover{ cursor: pointer; background: #c2c2c2; transition: all .5s;}

    .bar-ii:hover{background-color: transparent; color: #454293;}

/* Resposive */

@media (min-width: 320px){
  
  .title-r{width: 90%; margin-left: 5%; margin-right: 5%; margin-top: 7em; margin-bottom: 2em; padding-left: 1em;}

  .title-{font-size: 23px;}

  .title-room{ font-size: 16px; }

  .div-img-r{ width: 100%; margin-right: auto; margin-left: auto; display: block;}

  .img-room{width: 90%; max-height: 10em; max-width: 13em;}

  .img-alt{width: 90%; max-height: 10em; max-width: 11em;}

  .icon-type{margin-left: -1.7em;}

  .type-img{width: 1.5em}

  .items-ro{margin-top: .5em;}

  .wrap-input100{width: 35%; left: 13%; border-bottom: none;}

  .wrap-input200{width: 35%; left: 26%;  border-bottom: none;}

  .wrap-input300{width: 35%; left: 13%;  border-bottom: none;}

  .wrap-input400{width: 35%; left: 26%;  border-bottom: none;}

  .wrap-input500{left: 5%; width: 90%; top: 0em; margin-bottom: 0%; border-bottom:none; text-align: center; border-radius: 8px; padding: 0;}

  .upload-img{ color: white; padding-top: .4em;}

  .input-up{display: none; font-size: 1px;}

  .student-oc{margin-top: -5em; margin-bottom: .5em;}

  .text-oc{font-size: 12px;}

  .wrap-login100-i{width: 18.5em;}

  .wrap-login100{width: 18.5em; margin-left: 2.5%;}

  .wrap-login200{width: 18.5em; margin-top: 2em; margin-left: 2.5%;}

  .wrap-login200-i{width: 18.5em; margin-top: 2em; margin-left: 2.5%;}

  .wrap-login300{width: 18.5em; margin-top: 2em; margin-left: 2.5%;}

  .wrap-login300-i{width: 18.5em; margin-top: 0em; margin-left: 2.5%;}

  .wrap-login300-ii{width: 18.5em; margin-top: 0em; margin-left: 2.5%;}


  .wrap-login400{width: 18.5em; margin-left: 2.5%; margin-top: 2em;}

  .wrap-login400-i{width: 18.5em; margin-left: 2.5%; margin-top: 0em;}


  .wrap-login500{width: 18.5em; margin-top: 2em; margin-left: 2.5%;}

  .wrap-login500-i{width: 18.5em; margin-top: 2em; margin-left: 2.5%;}


  .wrap-login600{width: 18.5em; margin-top: 2em; margin-left: 2.5%;}

  .wrap-login600-i{width: 18.5em; margin-top: 2em; margin-left: 2.5%;}


  .wrap-login700{width: 18.5em; margin-top: 2em; margin-left: 2.5%;}

  .wrap-login700-i{width: 18.5em; margin-top: 2em; margin-left: 2.5%;}


  .wrap-login800{width: 18.5em; margin-top: 2em; margin-left: 2.5%;}

  .wrap-login800-i{width: 18.5em; margin-top: 2em; margin-left: 2.5%;}


  .btn-save{ font-size: 14px; }
}



@media (min-width: 576px){
  
  .wrap-login200{ margin-top: 0; }

  .img-room{max-width: 15em;}

  .img-alt{max-width: 12em; height: 15em;}

  .wrap-input100{width: 38%; }

  .wrap-input200{width: 31%;  }

  .wrap-input300{width: 38%; left: 2.4em; }

  .wrap-input400{width: 31%; }

  .student-oc{margin-bottom: 1.8em;}
}

@media(min-width: 597px){
  .wrap-login100, .wrap-login100-i, .wrap-login200, .wrap-login200-i, .wrap-login300, .wrap-login300-i, .wrap-login300-ii, .wrap-login400, .wrap-login400-i, 
  .wrap-login500, .wrap-login500-i, .wrap-login600, .wrap-login600-i, .wrap-login700, .wrap-login700-i, .wrap-login800, .wrap-login800-i{
    width: 17.5em;
  }
}

@media (min-width: 768px){ 
  .wrap-login100, .wrap-login100-i, .wrap-login200, .wrap-login200-i, .wrap-login300, .wrap-login300-i, .wrap-login300-ii, .wrap-login400, .wrap-login400-i, 
  .wrap-login500, .wrap-login500-i, .wrap-login600, .wrap-login600-i, .wrap-login700, .wrap-login700-i, .wrap-login800, .wrap-login800-i{
    width: 18.5em;
  } 
}

@media (min-width: 800px){ .title-{ font-size: 25px; } .title-r{margin-top: 8em;} }

@media (min-width: 889px){
  .wrap-login300{margin-top: 0;}
}

@media (min-width: 905px){ .wrap-login300{margin-top: 0;} .title-room{font-size: 18px;} }

@media (min-width: 1420px){ 
  .title-{ font-size: 30px; } 
  .title-r{margin-top: 10em;} 
  .title-room{font-size: 20px;} 
  .wrap-login400{ margin-top: 0; } 

  .wrap-input200{ margin-top: 0em; }

  .wrap-input500{ margin-top: 0em; }

}

@media (min-width: 1759px){.wrap-login500{ margin-top: 0; } }

@media (min-width: 2170px){.wrap-login600{ margin-top: 0; } }

@media (min-width: 2604px){.wrap-login700{ margin-top: 0; } }

@media (min-width: 3066px){.wrap-login800{ margin-top: 0; } }




/* Notification */

@media (min-width: 1000px) {
  
  .d-m-before {
    width: 31em !important;
    left: -28em !important;
  }
}

.title__noti_div{
  font-size: .7rem !important;
}

.text_time{
  font-size: .75rem !important;
}

.photo {
  width: 3.5rem !important;
  height: 3.5rem !important;
  max-width: 3.5rem !important;
}


.text_wview{
  font-size: .85rem !important;
}

.font_view{
  font-size: .85rem !important;
}

.btn_confirm{
  width: 5rem !important;
    font-size: .75rem !important;
    padding: .3rem .5rem !important;
}


.btn_reject{
  width: 5rem !important;
    font-size: .75rem !important;
    padding: .3rem .5rem !important;
}