@media (min-width: 320px) and (max-width: 399px) {

    .navbar-brand{margin-left: 5vw;}

    .navbar-toggler{margin-left: -1vw;}

    .navbar-nav{padding-left: 5%; padding-right: 5%;}

    .bar{height: 25em;}

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; font-size: 14px; color: #982A72;}

    .bar-i:hover{background-color: #454293; color: white;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 12px; color: #454293;}

    .bar-ii:hover{background-color: #982A72; color: white;}
}

@media (min-width: 400px) and (max-width: 499px){

    .navbar-brand{margin-left: 6vw;}

    .navbar-toggler{margin-left: 2vw;}

    .bar{width: 96%; padding-left: 3em;}

    .bar-i{padding-left: 2%; padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; font-size: 14px; color: #982A72;}

    .bar-i:hover{background-color: #454293; color: white;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 12px; color: #454293;}

    .bar-ii:hover{background-color: #982A72; color: white;}

}

@media (min-width: 500px) and (max-width: 599px){

    .navbar-brand{margin-left: 10vw;}

    .navbar-toggler{margin-left: -3vw;}

    .navbar-nav{padding-left: 2%; padding-right: 4%;}

    .bar{width: 98%; padding-left: 5em;}

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; padding-left: 4%; margin-left: 2%; margin-bottom: 0%; font-size: 14px; color: #982A72;}

    .bar-i:hover{background-color: #454293; color: white;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 12px; color: #454293;}

    .bar-ii:hover{background-color: #982A72; color: white;}
}

@media (min-width: 600px) and (max-width: 767px){

    .navbar-brand{margin-left: 3.5em;}

    .navbar-toggler{margin-left: 1vw;}

    .navbar-nav{padding-left: -5%; padding-right: 2%;}

    .bar{width: 100%; padding-left: 5em;}

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; font-size: 14px; color: #982A72;}

    .bar-i:hover{background-color: #454293; color: white;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 12px; color: #454293;}

    .bar-ii:hover{background-color: #982A72; color: white;}
}

@media (min-width: 768px) and (max-width: 899px){

    .navbar-brand{padding-top: -5%;}

    .log{margin-left: 2em; margin-right: -3em; margin-top: -.4em}

    .bar-i{padding-top:2.5%; padding-bottom: 2.5%; margin-left: 0%; margin-bottom: -15%; font-size: 1.7em; color: #982A72; margin-top: 2%;}

    .bar-ii{padding:5%; padding-top:7%; padding-bottom:7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 1.4em; color: #454293; width: 12em;}

}

@media (min-width: 900px){

    .log{ margin-right: -2em; margin-top: -.6em}

    .bar-i{padding-top:2.5%; padding-bottom: 2.5%; margin-left: 0%; margin-bottom: 0%; font-size: 1.7em; color: #982A72; margin-top: 2%;}

    .bar-ii{padding:5%; padding-top:7%; padding-bottom:7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 1.4em; color: #454293; width: 12em;}

}

@media (min-width: 992px) and (max-width: 1920px){

    .log{margin-left: 2em; margin-right: 1em; margin-top: -.4em;}

    .bar-ii{padding: 5%; width: 10.5em; padding-top:7%; padding-bottom:7%; font-size: 1.4em;}

    .bar-i{font-size: 1.9em; margin-left: 5%;}

    .ts-child-i{margin-top: -3em;}
}

@media (min-width: 1200px){

    .log{margin-left: 7em;}

    .bar-ii{font-size: 1.5em;}

}

@media (min-width: 1420px){

    .log{width: 7em; margin-left: 3em; margin-top: -.4em;}

}

@media (min-width: 1420px) and (max-width: 1500px){

    .bar-i{font-size: 16px; padding-left: .6em}

    .bar-i-i{margin-bottom: 0em;}

    .top-i{margin-top: -.00em;}

    .top-ii{margin-top: .1em}

    .bar-ii{font-size: 13px; width: 12em; padding-top: 8%; padding-bottom: 8%; }

    .ts-child-i{margin-top: -1.2em; margin-left: 2em}

    .img-help{margin-top: -.5em;}
}

@media (min-width: 1501px) and (max-width: 1600px){


    .bar-i{font-size: 16px}

    .bar-ii{font-size: 13px}  
}

@media (min-width: 1600px) {


    .bar-i{font-size: 17px}

    .bar-ii{font-size: 13px}
}

@media (min-width: 1800px) {


    .bar-i{font-size: 19px}

    .bar-ii{font-size: 14px}
}

@media (min-width: 1900px) {

    .bar-i{font-size: 18px}

    .bar-ii{font-size: 15px; padding-bottom: 8%; padding-top: 8%; width: 12em;}
}
