:root {
    --room1: #232159;
    --room2: #982a72;
    --room3: #394893;
    --room4: #A54483;
    --room5: #5D418D;
    --room6: #392B84;
    --room7: #B15391;
    --room8: #4F177D;
    --ff: #f8f8f8;
}

body{
    background-color: #fbf7fd;
}

.main__payments{
    width: 100%;
    margin-top: 200px;
}

table{
    overflow: hidden;
}

.payments__title_div{
    width: 80%;
    margin: auto auto;
    margin-top: 5rem;
    margin-bottom: 4rem;
    font-weight: 500;
}

tbody tr th{
    font-weight: 500 !important;
}

.link_stu{
    color: #000;
}

.link_stu:hover{
    color: #232159;
}

.text_table{
    font-weight: 500;
  }
  
  .text_table1{
    color: #232159;
  }

.payable{
    color: rgb(146, 9, 9) !important;
}

.budgeted{
    color: rgb(206, 137, 9) !important;
}

.paid{
    color: green !important;
}