input {
	outline: none;
	border: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 10.5em;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
}

.wrap-input100-i {
  width: 9em;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  top: -4em;
}

.wrap-input100-ii {
  width: 45%;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  top: 0em;
}

/* index.php */

.wrap-input100-iii {
  width: 6em;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  top: .5em;
  left: 1.2em;
}

.wrap-input100-iv {
  width: 10%;
  text-align: center;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  top: -1em;
  left: 4em;
}

.wrap-input100-v {
  width: 6em;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  top: .5em;
  left: 2.5em;
}

/* -------- end index.php --------*/

.wrap-input200 {
  width: 7.5em;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  left: 22em;
  top: -5em;
  padding-left: 1rem;
}

.wrap-input200-i {
  width: 9em;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  left: 18em;
  top: -9.8em;
}


.input100 {
  font-size: 14px;
  color: #555555;
  line-height: 1.2;
  margin-bottom: -.7em;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.input200 {
  font-size: 14px;
  color: #555555;
  line-height: 1.2;
  margin-bottom: -1.3em;

  display: block;
  width: 100%;
  height: 60px;
  background: transparent;
  padding: 0 5px;
}

/* index.php */
.input300 {
  font-size: 14px;
  color: #555555;
  line-height: 1.2;
  margin-bottom: -1.3em;
  text-align: center;

  display: block;
  width: 100%;
  height: 60px;
  background: transparent;
  padding: 0 0px;
}
/* -------- end index.php --------*/


/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #982A72, #4F177D);
  background: -o-linear-gradient(left, #982A72, #4F177D);
  background: -moz-linear-gradient(left, #982A72, #4F177D);
  background: linear-gradient(left, #982A72, #4F177D);
}


/* index.php */
.focus-input100::after {
  font-size: 14px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
/* -------- end index.php --------*/

.input100:focus + .focus-input100::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.input100:focus + .focus-input100::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.has-val.input100 + .focus-input100::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}


.focus-input200 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input200::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #982A72, #4F177D);
  background: -o-linear-gradient(left, #982A72, #4F177D);
  background: -moz-linear-gradient(left, #982A72, #4F177D);
  background: linear-gradient(left, #982A72, #4F177D);
}



.focus-input200::after {
  font-size: 11px;
  color: #232159;
  line-height: -1.2;
  height: 5px;

  content: attr(data-placeholder);
}


.input200:focus + .focus-input200::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.input200:focus + .focus-input200::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.has-val.input200 + .focus-input200::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.has-val.input200 + .focus-input00::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.btn-can{
  color: white;
  left: -.5em;
}

.btn-can:hover{
  color: white;
  box-shadow: 3px 6px 10px black;
}

.btn-ace{
  color: white;
}

.btn-ace:hover{
  color: white;
  box-shadow: 3px 6px 10px black;
}

.btn-del{
  color: white;
  background: #392B84;
}

.btn-del:hover{
  color: white;
  box-shadow: 3px 6px 10px black;
}


@media (min-width: 320px){

  .focus-input100::after{ font-size: 12px; }

  .input100:focus + .focus-input100::after { font-size: 9px;}

  .input100:focus + .focus-input100::before { font-size: 9px;}

  .has-val.input100 + .focus-input100::after { font-size: 9px;}

  .has-val.input100 + .focus-input100::before {font-size: 9px;}

  .input100{font-size: 12px; margin-bottom: -.9em; }

  .focus-input200::after{ font-size: 9px; }

  .wrap-input100{ left: -.5em; width: 10.5em; }

  .wrap-input200{ left: 9.9em; width: 9em; top: -4.85em; }

  .wrap-input200{ margin-bottom: 1em; }

  .wrap-input100-i{ left: -.5em; width: 9em;}

  .input200{font-size: 12px; margin-bottom: -1.5em; }

  .wrap-input200-i{ left: 9.9em; width: 9em; margin-bottom: 1em; }

  .btn-del{left: -5em;}

  .input300{ font-size: 12px; margin-bottom: -1.8em; padding: 0px 2px;}

  /* index.php */

  .title-stu{ font-size: 12px; }

  .wrap-input100-iii{ margin-left: -.5em; width: 5.5em;}

  .wrap-input100-v{ width: 5.5em; }

  .wrap-input100-iv{ margin-left: -1.5em; }

}

@media (min-width: 330px){
  .wrap-input200{ left: 11em; }

  .wrap-input200-i{ left: 11em }

  .btn-del{left: -6em;}
}

@media (min-width: 350px){
  .wrap-input100{ left: .5em; }

  .wrap-input100-i{ left: .5em }

  .wrap-input200{ left: 11.7em; }

  .wrap-input200-i{ left: 11.7em }

  .btn-del{left: -7em;}
}

@media (min-width: 370px){
  .wrap-input100{ left: 1.2em; }

  .wrap-input100-i{ left: 1.2em }

  .wrap-input200{ left: 12.6em; }

  .wrap-input200-i{ left: 12.6em }

  .btn-del{left: -8em;}
}

@media (min-width: 390px){
  .wrap-input100{ left: 1.8em; }

  .wrap-input100-i{ left: 1.8em }

  .wrap-input200{ left: 13.2em; }

  .wrap-input200-i{ left: 13.2em }

  .btn-del{left: -9em;}
}

@media (min-width: 400px){
  .wrap-input100{ left: 2em; }

  .wrap-input100-i{ left: 2em; width: 9.2em; }

  .wrap-input200{ left: 14em; }

  .wrap-input200-i{ left: 14em; width: 9.2em; margin-bottom: 1.5em; }

  .focus-input100::after{ font-size: 13px; }

  .input100{ font-size: 13px; }

  .input200{ font-size: 13px; }

  .input300{ font-size: 13px; }

  .focus-input200::after{ font-size: 10px; }

  .input100:focus + .focus-input100::after { font-size: 10px;}

  .modal-body-i{ margin-left: 1em; }

  .btn-del{left: -11em;}

}

@media (min-width: 420px){
  .wrap-input100{ left: 2.8em; }

  .wrap-input100-i{ left: 2.8em; width: 9.2em; }

  .wrap-input200{ left: 14.6em; }

  .wrap-input200-i{ left: 14.6em; width: 9.2em; margin-bottom: 1.5em; }

  .btn-del{left: -12em;}
}

@media (min-width: 440px){  
  .wrap-input100{ left: 2.5em; }

  .wrap-input100-i{ left: 2.5em; width: 10.3em; }

  .wrap-input200{ left: 17.3em; width: 10.3em;}

  .wrap-input200-i{ left: 17.3em; width: 10.3em; }

  .input100{ font-size: 13px; }

  .input200{ font-size: 13px; }

  .input100:focus + .focus-input100::after { font-size: 11px;}

  .input100:focus + .focus-input100::before { font-size: 11px;}

  .has-val.input100 + .focus-input100::after { font-size: 11px;}

  .has-val.input100 + .focus-input100::before {font-size: 11px;}

  .btn-del{left: -13em;}
}

@media (min-width: 460px){
  .btn-del{left: -14em;}
}

@media (min-width: 480px){
  .wrap-input100{ left: 4em; }

  .wrap-input100-i{ left: 4em; width: 10.3em; }

  .wrap-input200{ left: 15.6em; width: 10.3em; top: -5.05em;}

  .wrap-input200-i{ left: 15.6em; width: 10.3em; top: -9.55em; }

  .focus-input100::after{ font-size: 14px; }

  .input100{ font-size: 14px; margin-bottom: -.5em; }

  .input200{ font-size: 14px; }

  .input300{ font-size: 14px; margin-bottom: -1.5em;}

  .input100:focus + .focus-input100::after { font-size: 11px;}

  .input100:focus + .focus-input100::before { font-size: 11px;}

  .has-val.input100 + .focus-input100::after { font-size: 11px;}

  .has-val.input100 + .focus-input100::before {font-size: 11px;}

  .btn-del{left: -15em;}

  .title-stu{font-size: 14px;}
}

@media (min-width: 500px){
  .wrap-input100{ left: 4.5em; }

  .wrap-input100-i{ left: 4.5em; width: 10.3em; }

  .wrap-input200{ left: 16.1em; width: 10.3em; top: -5.05em;}

  .wrap-input200-i{ left: 16.1em; width: 10.3em; top: -9.55em; }

  .modal-body-i{ margin-left: 3em; }

  .btn-del{left: -17em;}
}

@media (min-width: 520px){
  .btn-del{left: -19em;}
}

@media (min-width: 540px){
  .btn-del{left: -20em;}

  .modal-body-i{ margin-left: 4em; }
}

@media (min-width: 560px){
  .btn-del{left: -22em;}

   .modal-body-i{ margin-left: 5em; }
}

@media (min-width: 576px){
  .btn-del{left: -19em;}

  .modal-body-i{ margin-left: 4em; }
}

@media (min-width: 600px){
  .wrap-input100{ left: 4.5em; }

  .wrap-input100-i{ left: 4.5em; width: 10.3em; }

  .wrap-input200{ left: 18.2em; width: 10.3em; top: -5.05em;}

  .wrap-input200-i{ left: 18.2em; width: 10.3em; top: -9.55em; }

  .modal-body-i{ margin-left: 3em; }
}

/* index.php */

@media (min-width: 1100px){

  .div-flex{ width: 97%; margin-left: 5%; margin-right: 1.5%; }
}

@media (min-width: 1100px){

  .div-flex{ width: 97%; margin-left: 6.5%; margin-right: 1.5%; }
}