/**
* modal.css
* Author: Pedro Laxe
* Version: 1.0.6
* License: GPLv2
**/

html{
  font-size: 20px;
}

.help-i{
  width: 4em;
  height: 2.2em;
  text-decoration: none;
  font-size: 1em;
  border-radius: .4em;
  color: #982A72;
  margin-left: -27%;
  margin-top: -19.5%;
}

.help-i:hover{
  color: white;
  background-color: #982A72;
}


/* Modal 1 */

.modal1 {
    left: 0em;
    margin: -250px 0 0 -32%;
    opacity: 0;
    position: absolute;
    top: -2em;
    visibility: hidden;
    width: 30em;
    box-sizing: border-box;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}
.modal1:target {
    opacity: 1;
    top: 50%;
    visibility: visible;
}

.modal1 .header1, .modal1 .footer {
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px 5px 0 0;
}
.modal1 .footer, {
    border: none;
    border-top: 1px solid #e7e7e7;
    border-radius: 0 0 5px 5px;
}
.modal1 h2 {
    margin: 0;
    color: #333333;
    padding-top: 1%;
    padding-bottom: 1%;
}
.modal1 .btn {
    float: right;
}

.modal1 .copy, .modal1 .header1, .modal1 .footer {
    padding: 5px;
    color: #333333;
}


.modal-content1 {
    background: #232159;
    position: relative;
    z-index: 20;
    border-radius: 5px;
    color: #333333;
    margin-top: 38%;
    width: 74%;
    padding: 1%;
    margin-left: 34vw;
}

.modal1 .copy{
    background: #fff;
    padding-bottom: 2%;
    padding-top: -4%;
}

.copy-i{
  padding-bottom: 2%;
  padding-top: -4%;
  background: #b7187f;
}

.copy-ii{
  padding-bottom: 2%;
  padding-top: 2%;
  background: #b7187f;
}

.modal1 .overlay {
    background-color: #000;
    background: rgba(0,0,0,.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.i{
  font-size: 30px;
}

/* buttons modal and welcome */

.welcome-i{ color: #982A72; }


/* ------------- */

.modal2 {
    left: 0em;
    margin: -250px 0 0 -32%;
    opacity: 0;
    position: absolute;
    top: -2em;
    visibility: hidden;
    width: 30em;
    box-sizing: border-box;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}
.modal2:target {
    opacity: 1;
    top: 50%;
    visibility: visible;
}

.modal2 .header2, .modal2 .footer {
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px 5px 0 0;
}
.modal2 .footer, {
    border: none;
    border-top: 1px solid #e7e7e7;
    border-radius: 0 0 5px 5px;
}
.modal2 h2 {
    margin: 0;
    color: #333333;
    padding-top: 1%;
    padding-bottom: 1%;
}
.modal2 .btn {
    float: right;
}

.modal2 .copy, .modal2 .header2, .modal2 .footer {
    padding: 5px;
    color: #333333;
}


.modal-content2 {
    background: #232159;
    position: relative;
    z-index: 20;
    border-radius: 5px;
    color: #333333;
    margin-top: 38%;
    width: 74%;
    padding: 1%;
    margin-left: 34vw;
}

.modal2 .copy{
    background: #fff;
    padding-bottom: 2%;
    padding-top: -4%;
}

.modal2 .overlay {
    background-color: #000;
    background: rgba(0,0,0,.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}


/* Página 1 del Modal*/

.welcome{
  padding-top: 3%;
  width: 70%;
}

.hello{
  color: white;
  font-size: 16px;
}

.gif-i{
  width: 97%;
  height: 55vw;
  margin-top: 3%;

    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -12px -12px;
}

.space{
  margin-top: 8%;
}

.description{
  color: white;
  width: 80%;
  font-size: 14px;
  padding-bottom: 3%;
}




/* Página 2 Modal1 */

.title-i{
  font-size: 19px;
  color: white;
}

.gif-ii{
  width:97%; 
  height:100%;
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -12px -12px;
}

.space-ii{
  margin-top: 3%;
}

.content-1{
  width: 97%;
}

.char-1{
  margin-top: 8.5%;
}

h1.number-1{
  background: #6c68dc;
  border-radius: 15px;
  width: 10%;
  font-size: 20px;
  float: left;
  margin-top: -1.8%;
  margin-left: 6%;
  color: white;
  padding: 1%;
}

.text-1{
  color: white;
}

.char-2{
  margin-top: 8%;
}

h1.number-2{
  background: #6c68dc;
  border-radius: 15px;
  width: 10%;
  font-size: 20px;
  float: left;
  margin-top: -2.5%;
  margin-left: 6%;
  color: white;
  padding: 1%;
}

.text-2{
  color: white;
}


.char-3{
  margin-top: 8%;
}

h1.number-3{
  background: #6c68dc;
  border-radius: 15px;
  width: 10%;
  font-size: 20px;
  float: left;
  margin-top: -2.5%;
  margin-left: 6%;
  color: white;
  padding: 1%;
}

.text-3{
  color: white;
}



.btn-prev{
  border-radius: 4px;
  padding: 5px;
  width: 22%;
  background-color: #232159;
  margin: 2%;
}

.btn-prev:hover{
  text-decoration: none;
  background-color: #39357E;
}

.btn-prev-i{
  opacity: 0;
}

.btn-next{
  border-radius: 4px;
  padding: 5px;
  width: 22%;
  background-color: #982A72;
  margin: 2%;
}

.btn-next:hover{
  text-decoration: none;
  background-color: #7D0C56;
}

.space-i{
  margin-top: 2%;
}


.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -12px -12px;
}

[ripple] {
  z-index: 1;
  position: relative;
  overflow: hidden;
}
[ripple] .ripple {
  position: absolute;
  background: #FFFFFF;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: ripple 2s;
          animation: ripple 2s;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}




/* Close Button */
.box3 { 
    width: 30px;
    right: 0px;
    position: absolute;
    margin: 10px;
    margin-top: 0%;
}
svg {
    display: block;
}


.close-x {
  stroke: #DFDDDD;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}

.modalcss-button {
    /* Structure */
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */
.modalcss-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.modalcss-button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.modalcss-button-hover,
.modalcss-button:hover,
.modalcss-button:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.modalcss-button:focus {
    outline: 0;
}
.modalcss-button-active,
.modalcss-button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000\9;
}
.modalcss-button[disabled],
.modalcss-button-disabled,
.modalcss-button-disabled:hover,
.modalcss-button-disabled:focus,
.modalcss-button-disabled:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.modalcss-button-hidden {
    display: none;
}

/* Firefox: Get rid of the inner focus border */
.modalcss-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

.modalcss-button-primary,
.modalcss-button-selected,
a.modalcss-button-primary,
a.modalcss-button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}
.button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }
/* Responsive Video */
.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 320px){

  .welcome-i{ margin-left: 1.5em; margin-top: -1.3em;}

}

@media (min-width: 400px){

  .welcome-i{ margin-left: 3em; margin-top: -1.4em; }

  .grt{ margin-bottom: 2em; }
  
  /* Mddal1 */
  .modal-content1{width: 80vw; margin-left: 40vw}

  .modal-content2{width: 80vw; margin-left: 40vw}

  .i{ font-size: 40px; }

  .description{ font-size: 16px; }

  .btn-next{ font-size: 16px; }
  
  /* Modal2 */

  .title-i{ font-size: 22px; }

  h1.number-1{ margin-left: 16%;margin-top: -2.8%; margin-right: -10%; padding: 2%; border-radius: 35px; }

  h1.number-2{ margin-left: 16%;margin-top: -2.8%; margin-right: -11%; padding: 2%; border-radius: 35px; }

  h1.number-3{ margin-left: 16%;margin-top: -2.8%; margin-right: -12%; padding: 2%; border-radius: 35px; }

  .btn-prev{ font-size: 16px; width: 26%; margin-left: -16%;}

  .box3 { width: 32px; margin-top: 2%;}
}

@media (min-width: 500px){
  
  .welcome-i{ margin-left: 6.5em; margin-top: -1.2em; font-size: 16px;}

  .grt{ margin-bottom: 3em; }


  h1.number-1{ margin-left: 22%; margin-right: -20%; }

  h1.number-2{ margin-left: 22%; margin-right: -20%; }

  h1.number-3{ margin-left: 22%; margin-right: -20%; }

  .btn-prev{ margin-left: -5%; width: 22%; margin-left: -15%;}
}

@media (min-width: 600px) {

  .hello{ font-size: 20px; margin-bottom: 5%; line-height: 20px; width: 70%;}

  .help-i{ height: 2em; font-size: 20px; margin-top: -16.5%;}

  .greets{ font-size: 20px; }

  .i{ font-size: 50px; }

  .description{ font-size: 18px; line-height: 20px; width: 60%;}

  .btn-next{ font-size: 18px; border-radius: 8px;}

  /* Modal2 */

  .title-i{ font-size: 24px; }

  .text-1{ font-size: 16px; }

  .text-2{ font-size: 16px; }

  .text-3{ font-size: 16px; }

  .btn-prev{ font-size: 18px; border-radius: 8px;}

  .box3 { width: 34px;}
}

@media (min-width: 700px){
  .title-i{ font-size: 25px; }

  .text-1{ font-size: 17px; }

  .text-2{ font-size: 17px; }

  .text-3{ font-size: 17px; }
}

@media (min-width: 767px){
    .welcome-i{font-size: 18px; margin-left: 9em;}

    .grt{ margin-top: -2em; margin-bottom: 4em;}
}

@media (min-width: 800px) {
  .modal-content1{ margin-top: -10%; }

  .modal-content2{ margin-top: -10%; }

  .hello{ font-size: 23px; margin-bottom: 5%; line-height: 25px;}

  .i{ font-size: 47px; }

  .description{ font-size: 20px; }

  .btn-next{ font-size: 16px; width: 19%; height: 8%;}

  /* Modal 2*/

  .btn-prev{ font-size: 16px; width: 19%; height: 8%;}

  .box3 { width: 36px;}
}

@media (min-width: 1000px) {
  .modal-content1{ margin-top: -25%; }

  .modal-content2{ margin-top: -25%; }

  .hello{ font-size: 27px; margin-bottom: 5%; line-height: 28px;}

  .i{ font-size: 52px; }

  .description{ font-size: 22px; line-height: 28px;}

  .btn-next{ font-size: 22px; width: 17%}

  .space{ margin-top: 5% }

  /* Modal 2*/

  .title-i{ font-size: 32px; margin-bottom: 5%;}

  .space-ii{
    margin-top: 1%;
  }
  
  .char-1{ margin-bottom: -3% }

  h1.number-1{ margin-left: 25%; margin-right: -20%;margin-top: -1.3%; font-size: 23px; padding: 1%; width: 5%;}

  .text-1{ font-size: 21px; margin-top: -6%;}

  .char-2{ margin-bottom: -3% }

  h1.number-2{ margin-left: 25%; margin-right: -20%;margin-top: -1.5%; font-size: 23px; padding: 1%; width: 5%;}

  .text-2{ font-size: 21px; }

  h1.number-3{ margin-left: 25%; margin-right: -20%;margin-top: -1.5%; font-size: 23px; padding: 1%; width: 5%;}

  .text-3{ font-size: 21px; }

  .btn-next{ font-size: 18px; width: 17%; margin-left: 1%;}

  .btn-prev{ font-size: 18px; width: 17%; margin-left: 1%;}

  .box3 { width: 38px;}
}

@media(min-width: 1100px){
  .welcome-i{font-size: 18px; margin-left: 25em;}

  .grt{ margin-top: -2em; margin-bottom: 5em;}
}

@media (min-width: 1200px) {
  .modal-content1{width: 60em; height:auto; margin-left: 50vw; margin-top: 15%; line-height: 32px;}

  .modal-content2{width: 50em; height:auto; margin-left: 55vw; margin-top: 20%; line-height: 32px;}

  .hello{ font-size: 30px; margin-bottom: 5%; line-height: 28px;}

  .welcome-i{ font-size: 20px; margin-left: 25em;}

  .i{ font-size: 57px; }

  .description{ font-size: 24px; line-height: 28px;}

  .gif-i{ height: 34em; }

  h1.number-1{ font-size: 22px;}

  h1.number-2{ font-size: 22px;}

  h1.number-3{ font-size: 22px;}

  .btn-prev{ font-size: 20px; width: 15%}

  .btn-next{ font-size: 20px; width: 15%}

  .box3 { width: 40px;}
}

@media (min-width: 1400px) {
  .modal-content1{width: 60em; margin-left: 55vw; margin-top: 20%; line-height: 32px;}

  .modal-content2{width: 60em; margin-left: 55vw; margin-top: 20%; line-height: 32px;}

  .i{ font-size: 58px; }

  .gif-i{ height: 34em; }

  .gif-ii{ height: 34em; }

  .btn-prev{ font-size: 22px; width: 13%}

  .btn-next{ font-size: 22px; width: 13%}

  .box3 { width: 45px; margin-top: 3%;}
}

@media (min-width: 1500px){
  .modal-content1{margin-left: 60vw;}

  .modal-content2{margin-left: 60vw;}

  .grt{ margin-bottom: 8em; }
}

@media (min-width: 1600px) {
  .i{ font-size: 60px; }

  .btn-prev{ font-size: 24px; width: 14%}

  .btn-next{ font-size: 24px; width: 14%}

  .modal-content1{margin-left: 60vw; margin-top: 0%;}

  .modal-content2{margin-left: 60vw; margin-top: 0%;}
}


/*----------------------------- Modals Property -----------------------------------------------------*/

/* WIDTH */

@media (min-width: 1700px){.modal-content1{margin-left: 62vw;} .modal-content2{margin-left: 62vw;}}

@media (min-width: 1900px){.modal-content1{margin-left: 63vw;} .modal-content2{margin-left: 63vw;}}

@media (min-width: 2000px){.modal-content1{margin-left: 65vw;} .modal-content2{margin-left: 65vw;}}

@media (min-width: 2100px){.modal-content1{margin-left: 66vw;} .modal-content2{margin-left: 66vw;}}

@media (min-width: 2200px){.modal-content1{margin-left: 67vw;} .modal-content2{margin-left: 67vw;}}

@media (min-width: 2300px){.modal-content1{margin-left: 69vw;} .modal-content2{margin-left: 69vw;}}

@media (min-width: 2500px){.modal-content1{margin-left: 70vw;} .modal-content2{margin-left: 70vw;}}


/* HEIGHT */

@media (min-height: 1000px){.modal-content1{margin-top: 12%;} .modal-content2{margin-top: 12%;}}

@media (min-height: 1100px){.modal-content1{margin-top: 0%;} .modal-content2{margin-top: 0%;}}

@media (min-height: 1200px){.modal-content1{margin-top: -9%;} .modal-content2{margin-top: -9%;}}

@media (min-height: 1300px){.modal-content1{margin-top: -21%;} .modal-content2{margin-top: -21%;}}

@media (min-height: 1400px){.modal-content1{margin-top: -32%;} .modal-content2{margin-top: -32%;}}

@media (min-height: 1500px){.modal-content1{margin-top: -42%;} .modal-content2{margin-top: -42%;}}

@media (min-height: 1600px){.modal-content1{margin-top: -53%;} .modal-content2{margin-top: -53%;}}

@media (min-height: 1700px){.modal-content1{margin-top: -66%;} .modal-content2{margin-top: -66%;}}

@media (min-height: 1800px){.modal-content1{margin-top: -79%;} .modal-content2{margin-top: -79%;}}

@media (min-height: 1900px){.modal-content1{margin-top: -92%;} .modal-content2{margin-top: -92%;}}

@media (min-height: 2000px){.modal-content1{margin-top: -105%;} .modal-content2{margin-top: -105%;}}

@media (min-height: 2100px){.modal-content1{margin-top: -118%;} .modal-content2{margin-top: -118%;}}

@media (min-height: 2200px){.modal-content1{margin-top: -131%;} .modal-content2{margin-top: -131%;}}

@media (min-height: 2300px){.modal-content1{margin-top: -144%;} .modal-content2{margin-top: -144%;}}

@media (min-height: 2400px){.modal-content1{margin-top: -157%;} .modal-content2{margin-top: -157%;}}

@media (min-height: 2500px){.modal-content1{margin-top: -163%;} .modal-content2{margin-top: -163%;}}

@media (min-height: 2700px){.modal-content1{margin-top: -178%;} .modal-content2{margin-top: -178%;}}

@media (min-height: 2800px){.modal-content1{margin-top: -190%;} .modal-content2{margin-top: -190%;}}

@media (min-height: 3000px){.modal-content1{margin-top: -218%;} .modal-content2{margin-top: -218%;}}