body{
  background: #F3F8FC;
}

input {
  outline: none;
  border: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

.title-r{
  margin-left: 3.2em;
  width: 92%;
  margin-top: 10em;
  border-bottom: 2px solid #C1C1C1;
}

.icon-type{
  margin-top: 1em;
  margin-left: -2.3em;
  margin-bottom: -2.1em;
}

.type-img{
  width: 1.9em;
}

.title-room{
  margin: .4em .9em;
  padding: .5em .3em;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 1em;
}


.limiter{
  width: 91%;
  background: none;
  margin-top: 2%;
  margin-left: 4.1%;
  padding: .5em .5em;
}


.wrap-login100{
  width: 37%;
  background: white;
  padding-bottom: 0;
  box-shadow: 1px 1px 5px 0px #232159;
  border: 1px solid #DDDDDD;
  float: left;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login100:hover{
  box-shadow: 0px 12px 6px -6px #232159;
  transition: all .5s;
  border: 1px solid #232159;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login200{
  width: 32%;
  background: white;
  margin-left: 1.5em;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 5px 0px #232159;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login200:hover{
  box-shadow: 0px 12px 6px -6px #232159;
  transition: all .5s;
  border: 1px solid #232159;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login300{
  width: 32%;
  background: white;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 5px 0px #232159;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login300:hover{
  box-shadow: 0px 12px 6px -6px #232159;
  transition: all .5s;
  border: 1px solid #232159;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login300-i{
  width: 32%;
  background: white;
  border: 1px solid #DDDDDD;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login300-i:hover{
  box-shadow: 0px 12px 6px -6px;
  transition: all .5s;
  border: 2px solid #232159;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}


.wrap-login400{
  width: 32%;
  background: white;
  border: 1px solid #232159;
  box-shadow: 1px 1px 5px 0px #232159;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login400:hover{
  box-shadow: 0px 12px 6px -6px #232159;
  transition: all .5s;
  border: 1px solid #232159;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login500{
  width: 32%;
  background: white;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 5px 0px #232159;
  margin-left: 1.5em;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login500:hover{
  box-shadow: 0px 12px 6px -6px #232159;
  transition: all .5s;
  border: 1px solid #232159;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login600{
  width: 32%;
  background: white;
  margin-left: 1.5em;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 5px 0px #232159;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login600:hover{
  box-shadow: 0px 12px 6px -6px #232159;
  transition: all .5s;
  border: 1px solid #232159;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login700{
  width: 32%;
  background: white;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 5px 0px #232159;
  margin-left: 14em;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login700:hover{
 box-shadow: 0px 12px 6px -6px #232159;
  transition: all .5s;
  border: 1px solid #232159;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.wrap-login800{
  width: 32%;
  background: white;
  border: 1px solid #DDDDDD;
  box-shadow: 1px 1px 5px 0px #232159;
  margin-left: 1.5em;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-login800:hover{
  box-shadow: 0px 12px 6px -6px #232159;
  transition: all .5s;
  border: 1px solid #232159;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}

.items-ro{ width: 100%; height: 9em; margin-top: 1em; padding: 0; }

.img-room{
  width: 90%;
}

.img-alt{
  width: 90%;
}

/* Wrap input */

.wrap-input100 {
  width: 9.6em;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  left: 2.8em;
}


.wrap-input200 {
  width: 9em; 
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  left: 4.9em;
}

.wrap-input300 {
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  width: 9.6em;
  left: 2.8em;
  top: -1em;
}


.wrap-input400 {
  position: relative;
  border-bottom: 2px solid #4F177D;
  width: 9em;
  left: 4.9em;
  top: -1.2em;
}


.wrap-input500 {
  position: relative;
  border-bottom: 2px solid #4F177D;
  padding-bottom: -2em;
  width: 21em;
  top: -5em; 
  left: 2.5em;
  background: none;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.wrap-input500:hover{
  box-shadow: 10px 10px 6px -6px #5D418D;
  transition: all .5s;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
}


.wrap-input600 {
  position: relative;
  background: none;
  top: -.6em;
}



.input100 {
  font-size: 14px;
  color: #555555;
  line-height: 1.2;
  margin-bottom: -.7em;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

.input200 {
  font-size: 14px;
  color: #555555;
  line-height: 1.2;
  margin-bottom: -1.3em;

  display: block;
  width: 100%;
  height: 60px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #982A72, #4F177D);
  background: -o-linear-gradient(left, #982A72, #4F177D);
  background: -moz-linear-gradient(left, #982A72, #4F177D);
  background: linear-gradient(left, #982A72, #4F177D);
}



.focus-input100::after {
  font-size: 14px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.input100:focus + .focus-input100::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.has-val.input100 + .focus-input100::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}


.focus-input200 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input200::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #982A72, #4F177D);
  background: -o-linear-gradient(left, #982A72, #4F177D);
  background: -moz-linear-gradient(left, #982A72, #4F177D);
  background: linear-gradient(left, #982A72, #4F177D);
}



.focus-input200::after {
  font-size: 11px;
  color: #232159;
  line-height: -1.2;
  height: 5px;

  content: attr(data-placeholder);
}


.input200:focus + .focus-input200::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.input200:focus + .focus-input200::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.has-val.input200 + .focus-input200::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.has-val.input200 + .focus-input00::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.btn-can{
  color: white;
  left: -.5em;
}

.btn-can:hover{
  color: white;
  box-shadow: 3px 6px 10px black;
}

.btn-ace{
  color: white;
}

.btn-ace:hover{
  color: white;
  box-shadow: 3px 6px 10px black;
}

.btn-del{
  color: white;
  background: #392B84;
}

.btn-del:hover{
  color: white;
  box-shadow: 3px 6px 10px black;
}

.student-oc{
  margin-top: -2em;
  margin-bottom: 3em;
  line-height: 30px;
}

.text-oc{
  font-size: 14px;
}

.name-student{
  color: #232159;
  background-color: white;
  border:none;
}

.name-student:hover{
  cursor: pointer;
}

.rooms-btns{
  margin-top: 6em;
  float: right;
  margin-right: 5em;
  margin-bottom: 2em;
}

.btn-save{
  padding: .6em 1.2em;
  border-radius: 10px;
  font-size: 18px;
  background: -webkit-linear-gradient(left, #232159, #4F177D );
  color: white;
  transition: all .5s;
  border: none;

  transition: width .5s, height .5s, transform .5s;
  -moz-transition: width .5s, height .5s, -moz-transform .5s;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  -o-transition: width .5s, height .5s, -o-transform .5s;
}

.btn-save:hover{
  box-shadow: 10px 10px 6px -6px black;
  background: -webkit-linear-gradient(left, #4F177D, #232159 );
  cursor: pointer;

  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);

}





/* modal */


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgba(0,0,0,0.6);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  width: 30em;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: #4F177D;
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header,
.modal-footer {
  background: var(--lightgray);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1.6em;
}

.modal-header .close-modal {
  font-size: 1.5rem;
}

.close-modal{
  background: transparent;
  border: none;
  color: white;
}

.modal p + p {
  margin-top: 1rem;
}

.modal-content{
  width: 97%;

}

.wrap{ width: auto; margin-top: 3.5em; display: flex;}

.wrap-input100-i {
  width: 10em;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  left: 2em;
}

.wrap-input100-ii {
  width: 9em;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  top: -4em;
  left: 6em;
}

.wrap-input100-iii {
  width: 45%;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  top: 0em;
}

.wrap-input200-i {
  width: 7.5em;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  left: 22em;
  top: -5em;
}

.wrap-input200-ii {
  width: 9em;
  position: relative;
  border-bottom: 2px solid #4F177D;
  margin-bottom: 37px;
  left: 18em;
  top: -9.8em;
}

.focus-input200 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input200::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #982A72, #4F177D);
  background: -o-linear-gradient(left, #982A72, #4F177D);
  background: -moz-linear-gradient(left, #982A72, #4F177D);
  background: linear-gradient(left, #982A72, #4F177D);
}



.focus-input200::after {
  font-size: 11px;
  color: #232159;
  line-height: -1.2;
  height: 5px;

  content: attr(data-placeholder);
}


.input200:focus + .focus-input200::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.input200:focus + .focus-input200::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.has-val.input200 + .focus-input200::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.has-val.input200 + .focus-input00::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}



/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
  animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}



/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.page-footer span {
  color: #e31b23;
}

.container-login100{
  -webkit-clip-path: polygon(0,0, 100%, 83%, 0, 100%);
  clip-path: polygon(0,0, 100%, 83%, 0, 100%);
  width: 100%;
}

.c-log{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}

.item-i{
  display: flex;
}

.div-notice{margin-bottom: 1em;}

.text-imp-i{font-size: 13px;}

.wrap-login100, .wrap-login200, .wrap-login300, .wrap-login300-i, .wrap-login400, .wrap-login500, .wrap-login600, .wrap-login700, .wrap-login800{
  display: inline-block;
  width: 50%;
  border-radius: 8px;
  margin-bottom: 3%;
}

@media (max-width: 480px){
  .wrap-login100, .wrap-login200, .wrap-login300, .wrap-login300-i .wrap-login400, .wrap-login500, .wrap-login600, .wrap-login700, .wrap-login800{
    display: block;
    width: calc(100%-80px);
  }
}



/* Resposive */

@media (min-width: 320px){

  .margin-l{ margin-left: 3%;}
  
  .title-r{width: 90%; margin-left: auto; margin-right: auto; display: block; margin-top: 7em; margin-bottom: 2em; padding-left: 1em;}

  .title-{font-size: 23px;}

  .title-room{ font-size: 16px; }

  .div-img-r{ width: 100%; margin-right: auto; margin-left: auto; display: block;}

  .img-room{width: 90%; max-height: 10em; max-width: 13em;}

  .img-alt{width: 90%; max-height: 10em; max-width: 11em;}

  .icon-type{margin-left: -1.7em;}

  .type-img{width: 1.5em}

  .wrap-input100{width: 6.3em; border-bottom: none;}

  .wrap-input200{width: 5.6em;  border-bottom: none;}

  .wrap-input300{width: 6.3em; border-bottom: none;}

  .wrap-input400{width: 5.6em; border-bottom: none;}

  .wrap-input500{left: 22.5%; width: 55%; top: -6em; border-bottom:none; background-color: #4F177D; text-align: center; border-radius: 8px;}

  .upload-img{ color: white; padding-top: .4em;}

  .input-up{display: none; font-size: 1px;}

  .student-oc{margin-top: -5em; margin-bottom: .5em;}

  .text-oc{font-size: 12px;}

  .wrap-login100{width: 15.5em; margin-left: 0%;}

  .wrap-login200{width: 15.5em; margin-top: 2em; margin-left: 2.5%;}

  .wrap-login300{width: 15.5em; margin-top: 2em; margin-left: 2.5%;}

  .wrap-login300-i{width: 15.5em; margin-top: 2em; margin-left: 2.5%;}


  .wrap-login400{width: 15.5em; margin-left: 2.5%; margin-top: 2em;}


  .wrap-login500{width: 15.5em; margin-top: 2em; margin-left: 2.5%;}


  .wrap-login600{width: 15.5em; margin-top: 2em; margin-left: 2.5%;}


  .wrap-login700{width: 15.5em; margin-top: 2em; margin-left: 2.5%;}

  .wrap-login800{width: 15.5em; margin-top: 2em; margin-left: 2.5%;}

  .rooms-btns{ margin-left: auto; margin-right: auto; display: block; margin-top: 4em; }

  .btn-save{ font-size: 14px; }
}



@media (min-width: 576px){
  
  .wrap-login200{ margin-top: 0; }

  .img-room{max-width: 15em; height: 15em;}

  .img-alt{max-width: 12em; height: 15em;}

  .wrap-input100{width: 38%; }

  .wrap-input200{width: 31%;  }

  .wrap-input300{width: 38%; }

  .wrap-input400{width: 31%;  }

  .student-oc{margin-bottom: 1.8em;}
}

@media (min-width: 900px){ .img-bed{ width: 1.5em; margin-left: -3%;} .char{ width: 2.5em; } .hid{margin-right: 20%;}}

@media (min-width: 790px){ .wrap-login100{ margin-left: 2.5%; } }

@media (min-width: 800px){ .title-{ font-size: 25px; } .title-r{margin-top: 8em;} }

@media (min-width: 812px){ .wrap-login300{ margin-top: 0; }}

@media (min-width: 905px){ .wrap-login300{margin-top: 0;} .title-room{font-size: 18px;} }

@media (min-width: 1000px){.margin-l{ margin-left: 3%;}}

@media (min-width: 1168px){ .wrap-login400{ margin-top: 0; }}

@media (min-width: 1100px){.margin-l{ margin-left: 5%;}}

@media (min-width: 1200px){.margin-l{ margin-left: 5%;}}

@media (min-width: 1300px){.margin-l{ margin-left: 5%;}}

@media (min-width: 1420px){ 
  .title-{ font-size: 30px; } .title-r{margin-top: 10em;} .title-room{font-size: 20px;} .wrap-login400{ margin-top: 0; } 

  .wrap-login100, .wrap-login200, .wrap-login300, .wrap-login300-i, .wrap-login400, .wrap-login500, .wrap-login600, .wrap-login700, .wrap-login800{
    width: 18em;
  }

  .margin-l{ margin-left: 8%;}
}

@media (min-width: 1575px){.wrap-login500{ margin-top: 0; } }

@media (min-width: 1942px){.wrap-login600{ margin-top: 0; } }

@media (min-width: 2330px){.wrap-login700{ margin-top: 0; } }

@media (min-width: 2743px){.wrap-login800{ margin-top: 0; } }



/* Notification */

.title__noti_div{
  font-size: .7rem !important;
}

.text_time{
  font-size: .75rem !important;
}

.photo {
  width: 3.5rem !important;
    height: 3.5rem !important;
    max-width: 3.5rem !important;
}


.text_wview{
  font-size: .85rem !important;
}

.font_view{
  font-size: .85rem !important;
}


.btn_confirm{
  width: 5rem !important;
  padding: .3rem 0rem !important;
  font-size: .75rem !important;
}


.btn_reject{
  width: 5rem !important;
  padding: .3rem 0rem !important;
  font-size: .75rem !important;
}