body {
	background-color: #F3F8FC;
}

img#profile-image {
	width: 100px; 
	height: 100px; 
	float: right;
	
}

h1#student_title_name {
	width: 90%; 
	vertical-align:middle;
}

a.btn.btn-light{ color: #5D418D; border: 2px solid #5D418D;}
a.btn.btn-light:hover{ background-color: #982A72; border: 2px solid #982A72; color: white; }

hr#title {
	border-bottom: 2px solid #232159;
}

img#profile-image, h1#student_title_name {
	display: inline-block;

}


iframe#visa {
	width: 100%;
}

