:root {
  --background-page: #eeeeee;
  --black-color: #000;
  --provider-color: #232159;
}

html,
body {
  background-color: var(--background-page);
  overflow-y: scroll;
}

/* TODO STYLE CONTAINER */
.main-container {
  margin-top: 8rem !important;
  padding: 0rem 2.5rem;
  width: 75%;
  margin: auto auto;
}

/* TODO SEARCH CONTAINER */
.main-container .section__search-panel {
  width: 100%;
  font-weight: 600;
  padding-left: 1.5rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.main-container .section__search-panel h3 {
  margin-bottom: 0.7rem;
  font-weight: 600;
  padding-left: 1.5rem;
}

.main-container .section__search-panel article .input__search {
  width: 100%;
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  padding-left: 2.5rem;
  outline: none;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.05);
  margin-right: 1rem;
}

.main-container .section__search-panel .float_btn {
  width: 2.55rem;
  height: 2.55rem;
  padding: 0.2rem 0.9rem;
  z-index: 999;
  border: none;
  border-radius: 30px;
  background-color: #1ca827;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s;
}

.main-container .section__search-panel .float_btn * {
  pointer-events: none;
}

.main-container .section__search-panel .float_btn p {
  opacity: 0;
  transition: all 0.5s;
  color: #fff;
  font-size: 0px;
}

.main-container .section__search-panel .float_btn:hover p {
  opacity: 1;
  transition: all 0.5s;
  font-size: 18px;
}

.main-container .section__search-panel .float_btn:hover {
  width: 15rem;
}

.main-container .section__search-panel .fa-search {
  position: absolute;
  top: 3.9rem;
  left: 2.5rem;
}

/* TODO SCHOOL CONTAINER */
.main-container .section__school-panel .school_container {
  width: calc(25% - 20px);
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgb(192, 192, 192);
  margin-bottom: 2rem;
  transition: all 0.5s;
}

.main-container .section__school-panel .school_container:hover {
  transform: scale(1.05);
}

.main-container .section__school-panel .school_container img {
  width: 100%;
  height: 10rem;
  max-height: 10rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid #eee;
}

.main-container .section__school-panel .school_container div > p {
  color: #000;
  font-size: 15px;
  text-align: center;
}

.main-container .section__school-panel .school_container div > p:first-child {
  font-weight: 600;
  color: var(--provider-color);
}

/* ! RESPONSIVE */
@media (min-width: 320px) and (max-width: 575px) {
  .main-container {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  .main-container .section__school-panel .school_container {
    width: calc(100% - 20px);
  }
}

@media (min-width: 400px) and (max-width: 575px) {
  .main-container .section__school-panel .school_container {
    width: calc(70% - 20px);
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .main-container .section__school-panel .school_container {
    width: calc(45% - 20px);
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .main-container .section__school-panel .school_container {
    width: calc(30% - 20px);
  }
}

@media (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}
