/* TODO WINYERSON */
/**-------------CUSTOM PROPERTIES-------------**/
:root {
  --first-color: #232159;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: rgba(57, 43, 132);
  --title-color: #333;
  --text-color: #222;
}

/** DEFAULT **/
html {
  scroll-behavior: smooth;
}
body {
  background-color: #eee !important;
}
h1 {
  color: #222;
}
select {
  border-radius: 8px !important;
  border: 1px solid #999 !important;
  outline: none !important;
  color: #000 !important;
  cursor: pointer;
  padding: 0.5625rem 1.5rem 0.5625rem 0.75rem rem;
  height: auto;
}
.hide-anim {
  position: relative;
  height: 1rem;
  z-index: 999;
  border: none;
  background-color: #eee;
}
.hide-anim::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  border: 0.25pt solid rgba(0, 0, 0, 0.075);
}
.search-container {
  width: 92% !important;
  margin: 0 auto;
}
.search-container label {
  transform: translateX(2rem);
}
.search-container input {
  width: 100%;
  padding: 0.5rem;
  padding-left: 2.5rem;
  border-radius: 5rem !important;
  border: thin solid #ccc;
  outline: none;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.05);
  transition: 300ms ease all;
}
.search-container input:focus,
.search-container input:hover {
  border: thin solid rgb(172, 171, 171);
}
.btn-filter {
  width: max-content;
  background-color: var(--six-color);
}
.btn-filter .icon-filter {
  content: url("../../../assets/icon/filter.png");
  width: 25px;
  height: auto;
  pointer-events: none;
}
/** A **/
/* ? DATE RANGE PICKER */
.daterangepicker {
  z-index: 9999;
}
.daterangepicker .drp-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.daterangepicker .drp-buttons span {
  margin-left: 3rem;
  margin-right: 3rem;
}
.daterangepicker .drp-buttons .cancelBtn,
.daterangepicker .drp-buttons .applyBtn {
  width: 25%;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 300ms ease all;
}
.daterangepicker .drp-buttons .cancelBtn {
  background-color: var(--black-alpha-color) !important;
}
.daterangepicker .drp-buttons .cancelBtn:hover {
  opacity: 0.75;
}
.daterangepicker .drp-buttons .applyBtn {
  background-color: var(--third-color) !important;
  border: var(--third-color);
}
.daterangepicker .drp-buttons .applyBtn:hover {
  background-color: var(--third-alpha-color) !important;
}
.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.end-date.in-range {
  background-color: var(--four-color);
  border-color: transparent;
  color: #fff;
}
.daterangepicker td.in-range {
  background-color: var(--four-min-color);
  border-color: transparent;
  color: #000;
  border-radius: 0;
}

.icon-filter-button {
  display: flex;
  justify-content: space-between;
  width: 2.5rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--four-color);
  color: #fff;
  outline: none;
  transition: all 0.5s;
}

.icon-filter-button:hover {
  background-color: var(--four-alpha-color);
}

.icon-filter-button .icon-filter {
  content: url("../../../assets/icon/filter.png");
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* ? STUDENTS  */
.students-section {
  display: flex;
  justify-content: center;
}
.students-section #all-filters:nth-child(1) {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 100%;
  height: 100vh;
  z-index: 9998;
  color: #fff;
  overflow-y: scroll;
  transition: 300ms ease all;
  text-shadow: 2px 2px 4px #000;
  backdrop-filter: blur(5px);
  background-color: var(--six-alpha-color);
}
.students-section #all-filters:nth-child(1)::-webkit-scrollbar {
  width: 0.5rem;
  background: white;
}
.students-section #all-filters:nth-child(1) article h3 span {
  cursor: pointer;
  color: var(--gray-color);
  transition: 300ms ease all;
}
.students-section #all-filters:nth-child(1) article h3 span:hover {
  opacity: 0.75;
}
.students-section #all-filters:nth-child(1)::-webkit-scrollbar {
  width: 0.5rem;
  background: white;
}
.students-section #all-filters.show:nth-child(1) {
  transform: translateX(0%);
}
.students-section .filter-tags > h3 {
  font-size: 140%;
}
.students-section .filter-tags > span {
  text-transform: capitalize;
  color: #fff;
  cursor: default;
  padding: 0.25rem 1rem;
  text-align: center;
  border-radius: 1.5rem;
  text-shadow: 2px 2px 4px #000;
  background-color: rgba(80, 22, 127, 0.75);
}
.students-section .filter-tags > span span {
  font-size: 100%;
  font-family: sans-serif;
  cursor: pointer;
  padding-left: 0.75rem;
  transition: 300ms ease all;
  opacity: 0.85;
}
.students-section .filter-tags > span span:hover {
  opacity: 1;
}
.students-section .filter-tags .filter-scroll {
  cursor: pointer;
  opacity: 0.85;
  transition: 300ms ease all;
  background-color: var(--five-color);
}
.students-section .filter-tags .filter-scroll:hover {
  opacity: 1;
}
/* ? ALL FILTERS   */
.clear-all-filters {
  font-size: 105%;
  padding: 0.25rem auto;
  color: #fff;
  text-shadow: 2px 2px 4px #000000bf;
  transition: 300ms ease all;
  box-shadow: none !important;
  background-color: rgba(223, 51, 51, 0.733) !important;
}
.clear-all-filters:hover {
  transform: scale(1.1);
}

.search-container::before {
  top: -0.5rem;
  left: 4rem;
  width: 100%;
  font-size: 150%;
  font-weight: bold;
  font-family: sans-serif;
  position: absolute;
  content: "Search Student";
}

.search-student input,
.search-date input {
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: thin solid rgba(0, 0, 0, 0.15);
}

.search-date {
  position: relative;
}
.search-date input {
  outline: none !important;
  cursor: pointer !important;
  padding: 0.5rem !important;
  border: 1px solid #999 !important;
}
.search-date button {
  position: absolute;
  right: 5%;
  bottom: 18%;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.05rem 0.75rem;
  background-color: rgba(223, 51, 51, 0.65) !important;
  transition: 300ms ease all;
}
.search-date button:hover {
  transform: scale(1.1);
}

.search-gender,
.search-food-service {
  z-index: 999;
}

.search-special-diet {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  margin-bottom: -14rem;
  transform: translateY(-100%);
}
.search-special-diet.show {
  opacity: 1;
  z-index: 1;
  margin-bottom: 0rem;
  transform: translateY(0%);
  pointer-events: all;
}
.search-academy.highlight {
  border-radius: 0.5rem;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.75);
  background-color: var(--five-alpha-color);
}
.search-situation::before,
.search-destination-city::before,
.search-date::before,
.search-academy::before,
.search-language::before,
.search-another-language::before {
  left: 0rem !important;
  text-align: center !important;
}

.search-container,
.search-status,
.search-situation,
.search-destination-city,
.search-date-range,
.search-date,
.search-type-accommodation,
.search-gender,
.search-food-service,
.search-special-diet,
.search-age-range,
.search-pick-up-service,
.search-drop-off-service,
.search-academy,
.search-language,
.search-another-language,
.search-type-student,
.search-can-share-with {
  width: 100%;
  position: relative;
  padding: 2.5rem 0.5rem 0.5rem;
  overflow: hidden;
  transition: 300ms ease all;
}
:is(
    .search-status,
    .search-situation,
    .search-destination-city,
    .search-date-range,
    .search-date,
    .search-type-accommodation,
    .search-gender,
    .search-food-service,
    .search-special-diet,
    .search-age-range,
    .search-pick-up-service,
    .search-drop-off-service,
    .search-academy,
    .search-language,
    .search-another-language,
    .search-type-student,
    .search-can-share-with
  )
  label {
  width: max-content;
}
:is(
    .search-status,
    .search-situation,
    .search-destination-city,
    .search-date-range,
    .search-date,
    .search-type-accommodation,
    .search-gender,
    .search-food-service,
    .search-special-diet,
    .search-age-range,
    .search-pick-up-service,
    .search-drop-off-service,
    .search-academy,
    .search-language,
    .search-another-language,
    .search-type-student,
    .search-can-share-with
  )
  label,
:is(
    .search-status,
    .search-situation,
    .search-destination-city,
    .search-date-range,
    .search-date,
    .search-type-accommodation,
    .search-gender,
    .search-food-service,
    .search-special-diet,
    .search-age-range,
    .search-pick-up-service,
    .search-drop-off-service,
    .search-academy,
    .search-language,
    .search-another-language,
    .search-type-student,
    .search-can-share-with
  )
  input {
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  transition: 300ms ease all;
}
:is(
    .search-status,
    .search-situation,
    .search-destination-city,
    .search-date-range,
    .search-date,
    .search-type-accommodation,
    .search-gender,
    .search-food-service,
    .search-special-diet,
    .search-age-range,
    .search-pick-up-service,
    .search-drop-off-service,
    .search-academy,
    .search-language,
    .search-another-language,
    .search-type-student,
    .search-can-share-with
  )
  label:hover {
  background-color: rgba(0, 0, 0, 0.025);
}
:is(
    .search-status,
    .search-situation,
    .search-destination-city,
    .search-date-range,
    .search-date,
    .search-type-accommodation,
    .search-gender,
    .search-food-service,
    .search-special-diet,
    .search-age-range,
    .search-pick-up-service,
    .search-drop-off-service,
    .search-academy,
    .search-language,
    .search-another-language,
    .search-type-student,
    .search-can-share-with
  )
  label
  svg {
  width: 24px;
  height: 24px;
  fill: none;
  padding: 5px;
  border-radius: 0.5rem;
  border: 1px solid #999;
  color: #eee;
  stroke: currentcolor;
  stroke-width: 4px;
  overflow: visible;
}

:is(
    .search-status,
    .search-situation,
    .search-destination-city,
    .search-date-range,
    .search-date,
    .search-type-accommodation,
    .search-gender,
    .search-food-service,
    .search-special-diet,
    .search-age-range,
    .search-pick-up-service,
    .search-drop-off-service,
    .search-academy,
    .search-language,
    .search-another-language,
    .search-type-student,
    .search-can-share-with
  )
  label
  input:checked
  ~ svg {
  background: var(--four-color);
  border: 1px solid var(--four-color);
}

.search-status::before,
.search-situation::before,
.search-destination-city::before,
.search-date-range::before,
.search-date::before,
.search-type-accommodation::before,
.search-gender::before,
.search-food-service::before,
.search-special-diet::before,
.search-age-range::before,
.search-pick-up-service::before,
.search-drop-off-service::before,
.search-academy::before,
.search-language::before,
.search-another-language::before,
.search-type-student::before,
.search-can-share-with::before {
  width: 100%;
  font-weight: bold;
  content: "Status";
  position: absolute;
  top: 7px;
  left: 1rem;
}
.search-situation::before {
  content: "Situation";
}
.search-destination-city::before {
  content: "Destination City";
}
.search-date-range::before {
  content: "Date Range";
}
.search-date::before {
  content: "Date From - To";
}
.search-type-accommodation::before {
  content: "Type Accomodation";
}
.search-gender::before {
  content: "Gender";
}
.search-food-service::before {
  content: "Food Service";
}
.search-special-diet::before {
  content: "Special Diet";
}
.search-age-range::before {
  content: "Age Range";
}
.search-pick-up-service::before {
  content: "Pick Up Service";
}
.search-drop-off-service::before {
  content: "Drop off Service";
}
.search-academy::before {
  content: "Academy";
}
.search-language::before {
  content: "Language";
}
.search-another-language::before {
  content: "Another Language";
}
.search-type-student::before {
  content: "Type Student";
}
.search-can-share-with::before {
  content: "Can Share With";
}

.students-container .loading-students {
  position: absolute;
  top: 5rem;
  left: 70%;
  transform: translateX(-70%);
}
.students-container .loading-students svg {
  stroke: var(--four-color);
}

.students-container #all-students {
  opacity: 0;
  width: 100%;
  min-height: 50vh;
  transition: 300ms ease all;
  position: relative;
}
.students-container #all-students.not-found::before {
  content: "Not found results";
  position: absolute;
  border-bottom: thin solid var(--four-min-color);
  top: 0;
  font-size: 120%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 4rem;
}
.students-container #all-students.not-found .see-more,
.students-container #all-students.not-found .show-more {
  opacity: 0;
  transition: none;
}

.card-student {
  position: relative;
  width: 100%;
  height: max-content;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: 300ms ease all;
}
.card-student:hover {
  transform: scale(1.01);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-student .card-header {
  width: 100% !important;
  cursor: pointer;
  position: relative;
}
.card-student .card-header > label {
  color: #fff;
  font-weight: lighter;
  font-size: 120%;
  cursor: pointer;
  background-color: var(--third-color);
}
.card-student .card-header > img {
  width: 100%;
  height: 18rem;
  overflow: hidden;
  object-fit: fill;
  position: relative;
  pointer-events: none;
}
.card-student .card-header::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: 999;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
}
.card-student .card-body {
  font-size: 90%;
  position: unset;
  transition: ease all 300ms;
}
.card-student .main-information {
  width: 100%;
  transition: ease all 300ms;
}
.card-student .main-information label {
  cursor: pointer;
  border-radius: 5px;
  transition: ease all 300ms;
}
.card-student .main-information label:hover {
  background-color: rgba(0, 0, 0, 0.025);
}
.card-student .main-information label span svg {
  width: 24px;
  height: 24px;
  fill: none;
  padding: 5px;
  border-radius: 0.5rem;
  border: 1px solid #999;
  color: #eee;
  stroke: currentcolor;
  stroke-width: 4px;
  overflow: visible;
}

.card-student .main-information label input:checked ~ span svg {
  background: rgb(34, 180, 78);
  border: 1px solid rgb(34, 180, 78);
}
.card-student .more-info-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  z-index: 1000;
  padding-bottom: 5rem;
  top: 0;
  right: 0;
  opacity: 0;
  transform: translateY(-100%);
  background-color: white;
  transition: ease all 300ms;
}
.card-student .more-info-container::-webkit-scrollbar {
  width: 5px;
  background: var(--gray-light-color);
  border-radius: 0.5rem;
}
.card-student .more-info-container::-webkit-scrollbar-thumb {
  background: var(--gray-dark-color);
}
.card-student .more-info-container > dt {
  font-size: 125%;
  border-bottom: thin solid rgba(0, 0, 0, 0.25);
}
.card-student.show-more-info .more-info-container {
  opacity: 1;
  transform: translateY(0);
}
.card-student.show-more-info .more-info-container > div {
  font-size: 120%;
}
.card-student .btn-more-info {
  position: absolute;
  right: 1rem;
  width: 8rem;
  bottom: 15rem;
  z-index: 1001;
  color: white;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--gray-dark-color);
  transition: ease all 300ms;
}
.card-student .btn-more-info:hover,
.card-student.show-more-info .btn-more-info {
  background-color: rgb(133, 133, 133);
}
.card-student.show-more-info .btn-more-info {
  bottom: 1rem;
  background-color: var(--five-color);
}

.see-more,
.show-more {
  width: max-content;
  color: #000;
  border-radius: 2rem;
  border: 2px solid var(--six-color);
  text-shadow: 2px 2px 4px transparent;
  background-color: transparent;
  transition: ease all 200ms;
}
.see-more:hover,
.see-more:active,
.show-more:hover,
.show-more:active {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--six-color);
}

.back-to-panel,
.previous-step,
.next-step {
  width: 100%;
  background: var(--four-color);
  transition: ease all 300ms;
}
.back-to-panel:hover,
.previous-step:hover {
  background: var(--four-alpha-color);
}
.next-step {
  background-color: #4f177d;
}
.next-step:hover {
  background-color: rgba(79, 23, 125, 0.75);
}
.next-step:disabled,
.next-step:disabled:hover {
  background-color: #4f177d;
  opacity: 0.4 !important;
  cursor: default;
}

/* ! EMPTY SECTION */

.text-empty {
  font-weight: 500;
  font-size: 20px;
}

.btn-back-directory {
  background-color: #394893;
  color: #fff;
  outline: none;
}

.btn-back-directory:hover {
  background-color: #232159;
}

@media screen and (min-width: 992px) {
  /* ? STUDENTS  */
  .students-section {
    /* display: grid;
    justify-content: space-between;
    flex-direction: column;
    grid-template-columns: repeat(2, 26% 68%);
    gap: 6%; */
    width: 80%;
    margin: auto auto;
    max-width: 50rem;
  }
  .students-section #all-filters:nth-child(1) {
    position: relative;
    transform: unset;
    width: 100%;
    z-index: unset;
    height: auto;
    overflow-y: auto;
    color: #000;
    text-shadow: none;
    background-color: transparent;
  }
  .card-student {
    height: 13rem;
  }
  .card-student .card-header {
    width: 40% !important;
  }
  .card-student .card-header > img {
    height: 100%;
  }
  .card-student .card-body {
    position: relative;
  }
  .card-student .more-info-container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    padding-bottom: 2rem;
    top: 0;
    right: 0;
    opacity: 0;
    transform: translateY(-100%);
    background-color: white;
    transition: ease all 300ms;
  }
  .card-student .more-info-container > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    cursor: default;
    pointer-events: none;
  }
  .card-student.show-more-info .more-info-container {
    opacity: 1;
    transform: translateY(0);
  }
  .card-student .more-info-container > dt {
    font-size: 0.95rem;
    border-bottom: thin solid rgba(0, 0, 0, 0.25);
  }
  .card-student.show-more-info .more-info-container > div {
    font-size: 100%;
  }
  .card-student .btn-more-info {
    left: -20%;
    right: unset;
    bottom: 1rem;
    padding: 0.5rem 1rem;
    width: max-content;
  }
  .card-student .btn-more-info:hover,
  .card-student.show-more-info .btn-more-info {
    color: #000;
    text-shadow: none;
    bottom: 1rem;
    background-color: var(--gray-light-color);
  }

  /* ? ALL FILTERS   */
  .search-gender,
  .search-food-service {
    background-color: #eee;
  }
  .search-situation::before,
  .search-destination-city::before,
  .search-date::before,
  .search-academy::before,
  .search-language::before,
  .search-another-language::before {
    left: 1rem !important;
    text-align: left !important;
  }
}

@media screen and (min-width: 1200px) {
}
