/* TODO WINYERSON */
/**-------------CUSTOM PROPERTIES-------------**/
:root {
  --first-color: #0d468d;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: #d51d95;
  --title-color: #333;
  --text-color: #222;
}
html {
  scroll-behavior: smooth;
}

h1 {
  color: #222;
}

.cancelBtn,
.applyBtn {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 300ms ease all;
}

.cancelBtn {
  background-color: var(--black-alpha-color) !important;
}
.cancelBtn:hover {
  opacity: 0.75;
}
.applyBtn {
  background-color: var(--third-color) !important;
}
.applyBtn:hover {
  background-color: var(--third-alpha-color) !important;
}
.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.end-date.in-range {
  background-color: var(--four-color);
  border-color: transparent;
  color: #fff;
}
.daterangepicker td.in-range {
  background-color: var(--four-min-color);
  border-color: transparent;
  color: #000;
  border-radius: 0;
}
.btn-select-bed {
  color: #fff;
  position: absolute;
  top: 5pt;
  right: 4rem;
  padding: 0.2rem 1.5rem;
  background-color: #3a81d8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: 300ms ease all;
}
.btn-select-bed:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.hide-map {
  opacity: 0;
  height: 1px;
}
.hide-map.show {
  opacity: 1;
  height: 400px;
  margin-bottom: 5rem;
}

.student-card {
  height: max-content;
}
.student-card #student {
  width: 100%;
  height: 100%;
}
.student-card .student-card-header {
  position: relative;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  background-color: #0d468d;
}
.student-card div > h3:first-child {
  font-size: 125%;
}
.student-card .fd-ld *,
.student-card .g-d *,
.student-card .sa-s *,
.student-card .academy * {
  width: 100%;
  text-align: center;
  position: relative;
}
.student-card .fd-ld *::before,
.student-card .g-d *::before,
.student-card .sa-s *::before,
.student-card .academy *::before {
  width: 100%;
  content: "First day";
  position: absolute;
  top: -100%;
  left: 50%;
  color: rgb(134, 134, 134);
  transform: translateX(-50%);
}
.student-card .fd-ld :last-child::before {
  content: "Last day";
}
.student-card .g-d :first-child::before {
  content: "Gender";
}
.student-card .g-d :last-child::before {
  content: "Date of birth";
}
.student-card .sa-s :first-child::before {
  content: "Student Age";
}
.student-card .sa-s :last-child::before {
  content: attr(data-stay);
}
.student-card .academy :first-child::before {
  top: -68%;
  content: "School";
}
/* ? HOUSES SELECTED */
.current-houses-selected {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: -5rem !important;
}
.current-houses-selected::before {
  content: "Current Homestays Selected";
  width: 100%;
  position: absolute;
  top: -1rem;
  left: 0%;
  font-size: 140%;
  text-align: center;
}
.current-houses-selected .current-house {
  position: relative;
  opacity: 0;
  width: 80%;
  height: 1px;
  line-height: 0%;
  overflow: hidden;
  transition: 300ms ease all;
}
.current-houses-selected .current-house.show {
  opacity: 1;
  height: 240px;
}
.current-houses-selected .current-house label {
  cursor: pointer;
  position: absolute;
  top: 0.65rem;
  right: 0.65rem;
}
.current-houses-selected .current-house svg {
  width: 26px;
  height: 26px;
  fill: none;
  padding: 5px;
  border-radius: 0.5rem;
  border: 1px solid #999;
  color: #eee;
  stroke: currentcolor;
  stroke-width: 4px;
  overflow: visible;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
}

.current-houses-selected .current-house input:checked ~ svg {
  background: rgb(34, 180, 78);
  border: 1px solid rgb(34, 180, 78);
}
.current-houses-selected .current-house img {
  width: 100%;
  height: 180px;
  border-radius: 0.75rem;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25);
}
.current-houses-selected .current-house span {
  cursor: default;
  width: max-content;
  font-size: 90%;
  font-weight: bold;
}

/* ? TODO FINAL BUTTONS */
.final-buttons {
  opacity: 0;
  pointer-events: none;
  margin-bottom: -15rem !important;
  transition: 300ms ease all;
}
.final-buttons.show {
  opacity: 1;
  margin-top: 4rem;
  margin-bottom: -4rem !important;
  pointer-events: all;
}

/* ? SEARCH HOUSE AND DATE   */
.search-date {
  opacity: 0;
  pointer-events: none;
  transition: 300ms ease all;
}
.search-date.show {
  opacity: 1;
  pointer-events: all;
}
.search-house input,
.search-date input {
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: thin solid rgba(0, 0, 0, 0.15);
}
.icon-filter-button {
  display: flex;
  justify-content: space-between;
  width: 2.5rem;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--four-color);
  color: #fff;
  outline: none;
  transition: all 0.5s;
}

.icon-filter-button:hover {
  background-color: var(--four-alpha-color);
}

.icon-filter-button .icon-filter {
  content: url("../../../assets/icon/filter.png");
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* ? HOUSES  */
.houses-section {
  display: flex;
  justify-content: center;
}
.houses-section section:nth-child(1) {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 100%;
  height: 100vh;
  z-index: 9999;
  color: #fff;
  overflow-y: scroll;
  transition: 300ms ease all;
  text-shadow: 2px 2px 4px #000;
  backdrop-filter: blur(5px);
  background-color: var(--six-alpha-color);
}
.houses-section section:nth-child(1)::-webkit-scrollbar {
  width: 0.5rem;
  background: white;
}
.houses-section section:nth-child(1) article h3 span {
  cursor: pointer;
  color: var(--gray-color);
  transition: 300ms ease all;
}
.houses-section section:nth-child(1) article h3 span:hover {
  opacity: 0.75;
}
.houses-section section:nth-child(1)::-webkit-scrollbar {
  width: 0.5rem;
  background: white;
}
.houses-section section.show:nth-child(1) {
  transform: translateX(0%);
}
.houses-section .filter-tags > span {
  text-transform: capitalize;
  color: #fff;
  cursor: default;
  padding: 0.25rem 1rem;
  text-align: center;
  border-radius: 1.5rem;
  text-shadow: 2px 2px 4px #000;
  background-color: #0d468d;
}
.houses-section .filter-tags > span span {
  font-size: 100%;
  font-family: sans-serif;
  cursor: pointer;
  padding-left: 0.75rem;
  transition: 300ms ease all;
}
.houses-section .filter-tags > span span:hover {
  opacity: 0.75;
}

.search-house,
.search-date,
.search-status,
.search-type-room,
.search-type-bed,
.search-gender,
.search-age,
.search-pets,
.search-smokers,
.search-food-service,
.search-special-diet {
  width: 100%;
  position: relative;
  padding: 2.5rem 0.5rem 0.5rem;
  overflow: hidden;
}
.search-special-diet {
  opacity: 0;
  height: 0%;
  line-height: 0% !important;
  padding: 0 0 0 !important;
  overflow: hidden !important;
  transition: 300ms ease all;
}
.search-special-diet.show {
  opacity: 1;
  height: 17%;
  line-height: 100% !important;
  padding: 2.5rem 0.5rem 0.5rem !important;
  overflow: hidden !important;
}
:is(
    .search-status,
    .search-type-room,
    .search-type-bed,
    .search-gender,
    .search-age,
    .search-pets,
    .search-smokers,
    .search-food-service,
    .search-special-diet
  )
  label {
  width: max-content;
}
:is(
    .search-status,
    .search-type-room,
    .search-type-bed,
    .search-gender,
    .search-age,
    .search-pets,
    .search-smokers,
    .search-food-service,
    .search-special-diet
  )
  label,
:is(
    .search-status,
    .search-type-room,
    .search-type-bed,
    .search-gender,
    .search-age,
    .search-pets,
    .search-smokers,
    .search-food-service,
    .search-special-diet
  )
  input {
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  transition: 300ms ease all;
}
:is(
    .search-status,
    .search-type-room,
    .search-type-bed,
    .search-gender,
    .search-age,
    .search-pets,
    .search-smokers,
    .search-food-service,
    .search-special-diet
  )
  label:hover {
  background-color: rgba(0, 0, 0, 0.025);
}
:is(
    .search-status,
    .search-type-room,
    .search-type-bed,
    .search-gender,
    .search-age,
    .search-pets,
    .search-smokers,
    .search-food-service,
    .search-special-diet
  )
  label
  svg {
  width: 20px;
  height: 20px;
  fill: none;
  padding: 5px;
  border-radius: 0.5rem;
  border: 1px solid #999;
  color: #eee;
  stroke: currentcolor;
  stroke-width: 4px;
  overflow: visible;
}

:is(
    .search-status,
    .search-type-room,
    .search-type-bed,
    .search-gender,
    .search-age,
    .search-pets,
    .search-smokers,
    .search-food-service,
    .search-special-diet
  )
  label
  input:checked
  ~ svg {
  background: var(--five-color);
  border: 1px solid var(--five-color);
}

.search-house::before,
.search-date::before {
  width: 100%;
  font-weight: bold;
  content: "Search House";
  position: absolute;
  font-size: 120%;
  top: 7px;
  left: 1rem;
}
.search-date::before {
  left: 30%;
  content: "Date From - To";
}
.search-status::before,
.search-type-room::before,
.search-type-bed::before,
.search-gender::before,
.search-age::before,
.search-pets::before,
.search-smokers::before,
.search-food-service::before,
.search-special-diet::before {
  width: 100%;
  font-weight: bold;
  content: "Status";
  position: absolute;
  top: 7px;
  left: 1rem;
}
.search-type-room::before {
  content: "Type of Accommodation";
}
.search-type-bed::before {
  content: "Type of Bed";
}
.search-gender::before {
  content: "Gender";
}
.search-age::before {
  content: "Age";
}
.search-pets::before {
  content: "Pets";
}
.search-smokers::before {
  content: "Smoking Policys";
}
.search-food-service::before {
  content: "Food Service";
}
.search-special-diet::before {
  content: "Special Diet";
}
.search-destination-city::before {
  content: "City";
  width: 100%;
  font-weight: bold;
  margin-bottom: 7px;
  margin-left: 1rem;
}

.houses-container .loading-houses {
  position: absolute;
  top: 5rem;
  left: 70%;
  transform: translateX(-70%);
}
.houses-container .loading-houses svg {
  stroke: var(--four-color);
}

.houses-container #all-houses {
  opacity: 0;
  width: 100%;
  min-height: 50vh;
  transition: 300ms ease all;
  position: relative;
}
.houses-container #all-houses.not-found::before {
  content: "Not found results";
  position: absolute;
  border-bottom: thin solid var(--four-min-color);
  top: 0;
  font-size: 120%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 4rem;
}
.houses-container #all-houses.not-found .see-more,
.houses-container #all-houses.not-found .show-more {
  opacity: 0;
  transition: none;
}

.card-house {
  position: relative;
  width: 100%;
  height: max-content;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: 300ms ease all;
}
.card-house:hover {
  transform: scale(1.01);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-house .card-header {
  width: 100%;
  cursor: pointer;
  position: relative;
}
.card-house .card-header > label {
  color: #fff;
  font-weight: lighter;
  font-size: 120%;
  cursor: pointer;
  background-color: var(--third-color);
}
.card-house .card-header > img {
  width: 100%;
  height: 18rem;
  overflow: hidden;
  object-fit: fill;
  position: relative;
}
.card-house .card-header::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: 999;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
}
.card-house .card-header > div {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 999;
  font-size: 80%;
  padding: 2px 1rem;
  border-radius: 5px;
  backdrop-filter: blur(1.5px);
  box-shadow: 0px 0px 4px 2px rgba(34, 34, 34, 0.25);
  background-color: rgba(255, 255, 255, 0.85);
}
.card-house .card-body {
  font-size: 90%;
  position: unset;
  transition: ease all 300ms;
}
.card-house .main-information {
  width: 100%;
  transition: ease all 300ms;
}
.card-house .main-information label {
  cursor: pointer;
  border-radius: 5px;
  transition: ease all 300ms;
}
.card-house .main-information label:hover {
  background-color: rgba(0, 0, 0, 0.025);
}
.card-house .main-information label span svg {
  width: 24px;
  height: 24px;
  fill: none;
  padding: 5px;
  border-radius: 0.5rem;
  border: 1px solid #999;
  color: #eee;
  stroke: currentcolor;
  stroke-width: 4px;
  overflow: visible;
}

.card-house .main-information label input:checked ~ span svg {
  background: rgb(34, 180, 78);
  border: 1px solid rgb(34, 180, 78);
}
.card-house .bedrooms-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  z-index: 1000;
  padding-bottom: 5rem;
  top: 0;
  right: 0;
  opacity: 0;
  transform: translateY(-100%);
  background-color: white;
  transition: ease all 300ms;
}
.card-house .bedrooms-container::-webkit-scrollbar {
  width: 5px;
  background: var(--gray-light-color);
  border-radius: 0.5rem;
}
.card-house .bedrooms-container::-webkit-scrollbar-thumb {
  background: var(--gray-dark-color);
}
.card-house .bedrooms-container > dt {
  font-size: 0.95rem;
  border-bottom: thin solid rgba(0, 0, 0, 0.25);
}
.card-house .bedrooms-container > div {
  display: flex;
  flex-direction: column;
  cursor: default;
  pointer-events: none;
}
.card-house.show-more-info .bedrooms-container {
  opacity: 1;
  transform: translateY(0);
}
.card-house .bedrooms-container > div > div {
  width: 14rem;
}

.card-house .btn-more-info {
  position: absolute;
  right: 1rem;
  bottom: 13.5rem;
  z-index: 1001;
  color: white;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--gray-dark-color);
  transition: ease all 300ms;
}
.card-house .btn-more-info:hover,
.card-house.show-more-info .btn-more-info {
  background-color: rgb(133, 133, 133);
}
.card-house.show-more-info .btn-more-info {
  bottom: 1rem;
  background-color: var(--five-color);
}

.see-more,
.show-more {
  width: max-content;
  color: #000;
  border-radius: 2rem;
  border: 2px solid var(--six-color);
  text-shadow: 2px 2px 4px transparent;
  background-color: transparent;
  transition: ease all 200ms;
}
.see-more:hover,
.see-more:active,
.show-more:hover,
.show-more:active {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--six-color);
}

.select-bed-modal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
}
.select-bed-modal h3 {
  grid-column: span 2;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-bottom: thin solid var(--gray-color);
}
.select-bed-modal aside {
  margin-bottom: 1rem;
}
.select-bed-modal aside h4 {
  font-size: 100%;
  margin-bottom: 0.5rem;
}
.select-bed-modal aside div {
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.select-bed-modal aside div label {
  padding: 0.25rem 1rem;
  color: #fff;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  transition: 300ms ease all;
  background-color: #232159;
}
.select-bed-modal aside div label:hover {
  transform: scale(1.1);
}
.select-bed-modal aside div input:checked + label {
  transform: scale(1.2);
  background-color: #28a745 !important;
}
.select-bed-modal aside div label.bg-secondary,
.select-bed-modal aside div label.bg-secondary:hover {
  cursor: default;
  text-shadow: none;
  transform: scale(1);
}
.select-bed-modal button {
  width: max-content;
  padding: 0.5rem 2rem;
  margin: 2rem auto;
  font-size: 120%;
  color: #fff;
  grid-column: span 2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  transition: 300ms ease all;
  background-color: #0d468d;
}
.select-bed-modal button:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.back-to-panel,
.previous-step,
.next-step {
  width: 100%;
  background: #232159;
  transition: ease all 300ms;
}
.back-to-panel:hover,
.previous-step:hover {
  background: var(--first-alpha-color);
}
.next-step {
  background-color: #0d468d;
}
.next-step:hover {
  opacity: 0.8;
}
.next-step:disabled,
.next-step:disabled:hover {
  background-color: #4f177d;
  opacity: 0.4 !important;
  cursor: default;
}

@media screen and (min-width: 992px) {
  .student-card {
    height: 300px;
  }
  .student-card .fd-ld *::before,
  .student-card .g-d *::before,
  .student-card .academy *::before {
    top: -75%;
  }
  .student-card .academy :first-child::before {
    bottom: 100%;
  }
  /* ? HOUSES SELECTED */
  .current-houses-selected {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    gap: 2%;
    margin-bottom: 0 !important;
  }
  .current-houses-selected .current-house {
    width: auto;
  }
  .current-houses-selected .current-house label {
    cursor: pointer;
    position: absolute;
    top: 0.65rem;
    right: 0.65rem;
  }
  .current-houses-selected .current-house span {
    font-size: 80%;
  }
  /* ? TODO FINAL BUTTONS */
  .final-buttons {
    margin-bottom: -6rem !important;
  }
  .final-buttons.show {
    margin-top: 0rem;
    margin-bottom: 0rem !important;
  }
  /* ? HOUSES  */
  .houses-section {
    display: grid;
    justify-content: space-between;
    flex-direction: column;
    grid-template-columns: repeat(2, 26% 68%);
    gap: 6%;
  }
  .houses-section section:nth-child(1) {
    position: relative;
    transform: unset;
    width: 100%;
    z-index: unset;
    height: auto;
    overflow-y: auto;
    color: #000;
    text-shadow: none;
    background-color: transparent;
  }
  .card-house {
    height: 13rem;
  }
  .card-house .card-header {
    width: 30rem;
  }
  .card-house .card-header > img {
    height: 100%;
  }
  .card-house .card-body {
    position: relative;
  }
  .card-house .bedrooms-container {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    padding-bottom: 2rem;
    top: 0;
    right: 0;
    opacity: 0;
    transform: translateY(-100%);
    background-color: white;
    transition: ease all 300ms;
  }
  .card-house .bedrooms-container > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    cursor: default;
    pointer-events: none;
  }
  .card-house.show-more-info .bedrooms-container {
    opacity: 1;
    transform: translateY(0);
  }
  .card-house .btn-more-info {
    right: unset;
    left: -24%;
    bottom: 1rem;
  }
  .card-house .btn-more-info:hover,
  .card-house.show-more-info .btn-more-info {
    color: #000;
    text-shadow: none;
    bottom: 1rem;
    background-color: var(--gray-light-color);
  }
  .back-to-panel,
  .previous-step,
  .next-step {
    width: 300px;
  }
}

@media screen and (min-width: 1200px) {
}
