a.btn-link {
  color: #982a72;
}
a.btn-link:hover {
  color: #982a72;
}
#type1 {
  margin-top: -2px;
}
label.type1 {
  width: 200px;
}
label.food1 {
  width: 100px;
}
label.type2 {
  width: 200px;
}
label.food2 {
  width: 100px;
}
label.type3 {
  width: 200px;
}
label.food3 {
  width: 100px;
}
label.type4 {
  width: 200px;
}
label.food4 {
  width: 100px;
}
label.type5 {
  width: 200px;
}
label.food5 {
  width: 100px;
}
label.type6 {
  width: 200px;
}
label.food6 {
  width: 100px;
}
label.type7 {
  width: 200px;
}
label.food7 {
  width: 100px;
}
label.type8 {
  width: 200px;
}
label.food8 {
  width: 100px;
}
span.images-mobile {
  display: none;
}
#Living-mobile {
  display: none;
}
#common-mobile {
  display: none;
}
#bath-mobile {
  display: none;
}
span.phome-mobile {
  display: none;
}
span.proom-mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  /*REPONSIVE BASIC INFORMATION*/
  input#h_name {
    width: 240px;
  }
  div#phone {
    width: 170px;
  }
  input#room {
    width: 60px;
  }

  /*REPONSIVE LOCATION*/
  div#dir {
    width: 280px;
  }
  input#city {
    width: 280px;
  }
  input#state {
    width: 280px;
  }
  input#p_code {
    width: 280px;
  }
  div#map {
    margin-left: 20px;
    width: 280px;
    height: 200px;
  }

  /*REPONSIVE GALLERY*/
  #Living-pc {
    display: none;
  }
  #Living-mobile {
    display: block;
  }
  #common-mobile {
    display: block;
  }
  #common-pc {
    display: none;
  }
  #collapse18 {
    width: 250px;
  }
  #bath-mobile {
    display: block;
  }
  #bath-pc {
    display: none;
  }
  span.phome-pc {
    display: none;
  }
  span.phome-mobile {
    display: block;
  }
  span.proom-mobile {
    display: block;
    margin-left: 40px;
  }
  span.proom-pc {
    display: none;
  }

  /*ADDITIONAL INFORMATION*/
  textarea#des {
    width: 280px;
  }
  input#num_mem {
    width: 280px;
  }
  input#backg {
    width: 280px;
  }
  input#backl {
    width: 280px;
  }
  div#g_pre {
    width: 310px;
  }
  input#a_pre {
    width: 280px;
  }
  div#a_pre {
    margin-bottom: 20px;
  }
  div#ag_pre {
    width: 310px;
  }
  div#status {
    width: 310px;
  }
  input#cell {
    width: 280px;
  }
  div#cell {
    margin-top: -20px;
    margin-bottom: 20px;
  }
  div#smoke {
    width: 310px;
    margin-bottom: 20px;
  }

  /*footer*/
  i.fa-save {
    display: none;
  }
  i.fa-times {
    display: none;
  }
  #nav-footer {
    display: none;
  }
  #con-footer {
    display: none;
  }
  #white-logo {
    display: none;
  }
  span.images {
    display: none;
  }
  span.images-mobile {
    display: block;
    margin-left: 50px;
  }
  #discard {
    font-size: 12px;
  }
  #submit {
    font-size: 12px;
  }

  /*Buttons*/
  button#discard {
    width: 150px;
    font-size: 14px;
  }
  button#submit {
    width: 150px;
    font-size: 14px;
  }
  a#contact {
    width: 130px;
    font-size: 14px;
  }
}

/* MEDIA MEDIUM DEVICE TABLETS*/
@media screen and (min-width: 768px) {
  /*REPONSIVE BASIC INFORMATION*/
  input#h_name {
    width: 280px;
  }
  input#num {
    width: 100%;
  }
  input#room {
    width: 60px;
  }

  /*REPONSIVE LOCATION*/
  div#map {
    margin-left: 0px;
    width: 180px;
    height: 280px;
  }

  /*REPONSIVE GALLERY*/
  #Living-pc {
    display: none;
  }
  #Living-mobile {
    display: block;
  }
  #common-mobile {
    display: block;
  }
  #common-pc {
    display: none;
  }
  #bath-mobile {
    display: block;
  }
  #bath-pc {
    display: none;
  }
  span.phome-pc {
    display: none;
  }
  span.phome-mobile {
    display: block;
  }
  span.proom-mobile {
    display: block;
    margin-left: 40px;
  }
  span.proom-pc {
    display: none;
  }

  /*footer*/
  i.fa-save {
    display: none;
  }
  i.fa-times {
    display: none;
  }
  #nav-footer {
    display: none;
  }
  #con-footer {
    display: none;
  }
  #white-logo {
    display: none;
  }
  span.images {
    display: none;
  }
  span.images-mobile {
    display: block;
    margin-left: 50px;
  }
  #discard {
    font-size: 13px;
  }
  #submit {
    font-size: 13px;
  }

  /*Buttons*/
  button#discard {
    width: 150px;
    font-size: 14px;
  }
  button#submit {
    width: 150px;
    font-size: 14px;
  }
  a#contact {
    width: 130px;
    font-size: 14px;
  }
}

/* MEDIA LARGE DEVICE DESKTOP AND LAPTOPS*/
@media screen and (min-width: 800px) {
  /*REPONSIVE BASIC INFORMATION*/
  input#h_name {
    width: 280px;
  }
  input#num {
    width: 100%;
  }
  input#room {
    width: 60px;
  }

  /*REPONSIVE LOCATION*/
  div#map {
    margin-left: 0px;
    width: 340px;
    height: 320px;
  }

  /*REPONSIVE GALLERY*/
  #Living-pc {
    display: block;
  }
  #Living-mobile {
    display: none;
  }
  #common-mobile {
    display: none;
  }
  #common-pc {
    display: block;
  }
  #bath-mobile {
    display: none;
  }
  #bath-pc {
    display: block;
  }
  span.phome-pc {
    display: block;
  }
  span.phome-mobile {
    display: none;
  }
  span.proom-mobile {
    display: none;
    margin-left: 40px;
  }
  span.proom-pc {
    display: block;
  }

  /*footer*/
  i.fa-save {
    display: none;
  }
  i.fa-times {
    display: none;
  }
  #nav-footer {
    display: none;
  }
  #con-footer {
    display: none;
  }
  #white-logo {
    display: none;
  }
  span.images {
    display: none;
  }
  span.images-mobile {
    display: block;
    margin-left: 50px;
  }
  #discard {
    font-size: 13px;
  }
  #submit {
    font-size: 13px;
  }
  #nav-footer {
    display: block;
  }
  #con-footer {
    display: block;
  }
  #white-logo {
    display: block;
  }

  /*Buttons*/
  button#discard {
    width: 150px;
    font-size: 14px;
  }
  button#submit {
    width: 150px;
    font-size: 14px;
  }
  a#contact {
    width: 130px;
    font-size: 14px;
  }
}

.zoom {
  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s, -o-transform 0.5s;
}

.zoom:hover {
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
}

#house {
  background-image: url("../../../student/assets/images/house1.png");
  background-size: cover;
  width: 27px;
  height: 49px;
  cursor: pointer;
}

@media (min-width: 767px) {
  .bar-ii:hover {
    background-color: transparent;
    color: #454293;
  }
}

.tarjet {
  margin-right: 2%;
  width: 30%;
  margin-bottom: 4%;
  background: white;
  box-shadow: 1px 1px 5px 0px #4f177d;
  border-radius: 8px;
}

.add-photo {
  height: 10.7em;
  width: 15em;
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  border: 2px dashed #c2c2c2;
  margin-bottom: -11em;
}

.add-photo:hover {
  transition: all 0.5s;
  background: #c2c2c2;
  cursor: pointer;
  color: #4f177d;
}

.add-photo-i {
  border-radius: 18px;
  height: 2.2em;
  width: 2.2em;
  z-index: 10;
  background: #982a72;
  padding: 7px 5px;
  color: white;
  margin-top: -14%;
  margin-right: 0;
  float: right;
  margin-right: 10%;
  position: relative;
}

.add-photo-i:hover {
  background: white;
  transition: all 0.5s;
  cursor: pointer;
  color: #4f177d;
}

.add-photo-ii {
  border-radius: 18px;
  height: 2.2em;
  width: 2.2em;
  z-index: 10;
  background: #982a72;
  padding: 7px 5px;
  color: white;
  margin-top: -13%;
  margin-right: 0;
  float: right;
  margin-right: 5%;
  position: relative;
}

.add-photo-ii:hover {
  background: white;
  transition: all 0.5s;
  cursor: pointer;
  color: #4f177d;
}

.photo-add {
  height: 11.5em;
  width: 16em;
  position: absolute;
  z-index: 10;
  padding-top: 28%;
  color: #4f177d;
  top: 0%;
  left: 9%;
}

.photo-add:hover {
  cursor: pointer;
  transition: all 0.5s;
}

.tarjet-rooms {
  width: 31%;
  background: white;
}

.wrap-div {
  width: 30%;
  margin-top: -3.8%;
  margin-right: 2%;
}

.wrap-div-i {
  width: 31%;
  margin-top: -3.8%;
  margin-right: 2%;
}

.wrap-div-ii {
  margin-top: -5%;
  width: 30%;
}

.wrap-div-iii {
  margin-top: -1.6%;
}

.area-iii,
.bath-iv,
.bed-iv,
.bed-v,
.bed-vi,
.bed-vii,
.bed-viii {
  margin-top: -2%;
}

.add-room:hover {
  background: white;
  box-shadow: 0px 12px 6px -6px #342359;
  transition: all 0.5s;
  display: table-cell;
  vertical-align: middle;
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  z-index: 10;
}

.carousel-item {
  margin-bottom: 4%;
}

.img-room {
  width: 90%;
  height: 10.5em;
}

.title-room {
  padding-right: 0.6em;
  margin: 0.4em 0.4em;
  border-bottom: 2px solid #4f177d;
  margin-bottom: 1em;
  margin-left: 8%;
  font-size: 18px;
}

.label {
  padding: 5px 10px;
  background: #4f177d;
  font-weight: normal;
  color: white;
  border-radius: 8px;
}

.label:hover {
  cursor: pointer;
  background: white;
  border: 1px solid #4f177d;
  transition: all 0.5s;
  color: #4f177d;
}

.icon-type {
  display: flex;
  margin-top: 1em;
  margin-left: -2.3em;
  margin-bottom: -2.1em;
}

.type-img {
  width: 1.9em;
  height: 1.9em;
}

.init {
  margin-left: 15%;
}

.details {
  width: 37%;
}

.in-d {
  margin-right: 15%;
}

@media (max-width: 992px) {
  .add-photo {
    height: 10.2em;
    width: 11.5em;
    display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed #c2c2c2;
  }
  .photo-add {
    margin-top: -60%;
    height: 11em;
    width: 13em;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 10;
    padding-top: 22%;
    color: #4f177d;
    font-size: 12px;
  }

  .title-room {
    font-size: 15px;
  }

  .init {
    margin-left: 13%;
  }

  .type-img {
    width: 1.4em;
  }

  .icon-type {
    margin-left: -1.6em;
  }

  .fo {
    font-size: 11px;
  }
}

@media (max-width: 767px) {
  .tarjet {
    width: 37%;
  }

  .wrap-div {
    width: 37%;
  }

  .div-area {
    margin-top: 2%;
  }

  .area-3,
  .bath-3,
  .bed-3 {
    margin-top: 0%;
  }
  .area-iii,
  .bath-iv,
  .bed-iv {
    margin-top: 0%;
  }

  .bed-v,
  .bed-vi {
    margin-top: 2%;
  }

  .title-room {
    font-size: 14px;
  }

  .help-tarjet {
    padding: 0px 8px;
    margin-right: 0%;
  }

  .tarjet-rooms,
  .wrap-div-i {
    width: 42%;
    margin-right: 5%;
  }
}

@media (max-width: 500px) {
  .tarjet {
    width: 42%;
  }

  .wrap-div {
    width: 42%;
  }

  .tarjet-rooms,
  .wrap-div-i {
    width: 50%;
    margin-right: 5%;
  }

  .bed-ii {
    margin-top: -1%;
  }

  .bed-v,
  .bed-vi,
  .bed-viii {
    margin-top: 0;
  }

  .bed-vii {
    margin-top: -3%;
  }
}

@media (max-width: 400px) {
  .tarjet {
    width: 60%;
  }

  .wrap-div {
    width: 60%;
  }

  .tarjet-rooms,
  .wrap-div-i {
    width: 60%;
    margin-right: 5%;
  }

  .bath-ii {
    margin-top: 0%;
  }
}

.bar-ii:hover {
  background-color: transparent;
  color: #454293;
}

/* Notification */

@media (min-width: 1000px) {
  .d-m-before {
    width: 31em !important;
    left: -28em !important;
  }
}

.title__noti_div {
  font-size: 0.7rem !important;
}

.text_time {
  font-size: 0.75rem !important;
}

.photo {
  width: 3.5rem !important;
  height: 3.5rem !important;
  max-width: 3.5rem !important;
}

.text_wview {
  font-size: 0.85rem !important;
}

.font_view {
  font-size: 0.85rem !important;
}

.btn_confirm {
  width: 5rem !important;
  font-size: 0.75rem !important;
  padding: 0.3rem 0.5rem !important;
}

.btn_reject {
  width: 5rem !important;
  font-size: 0.75rem !important;
  padding: 0.3rem 0.5rem !important;
}
