:root {
  --room1: #342359;
  --room2: #982a72;
  --room3: #394893;
  --room4: #a54483;
  --room5: #5d418d;
  --room6: #392b84;
  --room7: #b15391;
  --room8: #4f177d;
  --ff: #f8f8f8;
}

.ts {
  margin-top: 100px;
  margin-bottom: 20rem;
}

.thead_rep {
  color: white;
  background: #342359;
}

.div_title {
  justify-content: space-between;
  margin-bottom: -5rem;
}

.btn-reply {
  background-color: var(--room6);
  color: #fff;
  margin-right: 1rem;
}

.btn-reply:hover {
  color: white;
  -webkit-box-shadow: 0px 2px 6px 0px black;
  box-shadow: 0px 2px 6px 0px black;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.btn_already {
  background-color: rgb(179, 40, 40);
  color: #fff;
  margin-right: 1rem;
}

.btn_already:hover {
  color: #fff;
  cursor: no-drop !important;
}

.close {
  color: #fff !important;
}

.report_div {
  background-color: #342359;
  z-index: 99;
  margin-top: 10%;
  border-radius: 12px;
}

.header-report {
  padding: 0.6rem;
  border: none;
}

.title_new_report {
  color: #fff;
  font-weight: bold;
}

.close {
  margin-right: -0.5rem !important;
}

.content_report {
  background-color: #f4f4f4;
  width: 100%;
  padding-bottom: 1rem;
}

.student_reported {
  border-bottom: 1px solid #4f177d;
}

.title_student_reported,
.title_student_report {
  font-weight: normal !important;
  font-size: 1rem !important;
}

.input_stu_rep {
  background-color: transparent;
  font-size: 1rem;
  border: none;
}

.image_report {
  display: block;
}

.add-photo {
  height: 9em;
  width: 11em;
  margin-top: 0rem;
  margin-left: auto;
  margin-right: auto;
  border: 2px dashed #c2c2c2;
}

.add-photo:hover {
  transition: all 0.5s;
  background: #c2c2c2;
  cursor: pointer;
  color: #4f177d;
}

.add-photo-i {
  border-radius: 18px;
  height: 2.5em;
  width: 2.5em;
  z-index: 10;
  background: #982a72;
  padding: 9px 10px;
  color: white;
  margin-top: -22%;
  float: right;
  margin-right: 1%;
  position: relative;
}

.add-photo-i:hover {
  background: white;
  transition: all 0.5s;
  cursor: pointer;
  color: #4f177d;
}

.photo-add {
  margin-top: -84%;
  height: 9.7em;
  width: 11.8em;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  z-index: 10;
  padding-top: 32%;
  color: #4f177d;
}

.photo-add:hover {
  cursor: pointer;
  transition: all 0.5s;
  background-color: #999;
}

.form__group-l_title {
  color: #000;
  font-weight: normal;
}

.button_send_report {
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  background-color: #982a72;
  color: #fff;
  transition: all 0.2s;
  border: none;
}

.button_send_report:hover {
  background-color: #b94791;
}

.div_button {
  padding: 0.8rem 1.5rem;
}

.modal-dialog {
  max-width: 1200px !important;
}

@media (min-width: 320px) and (max-width: 430px) {
  .report_div {
    max-width: 300px !important;
  }
  .add-photo {
    margin-left: 16%;
    height: 11em;
    width: 12em;
    margin-bottom: 5rem;
  }

  .photo-add {
    margin-top: 5%;
    margin-left: -62%;
    height: 11.7em;
    width: 13em;
    position: absolute;
    padding-top: 25%;
  }
  .add-photo-i {
    margin-left: -12%;
    margin-top: 49%;
    position: absolute;
  }
  .input-borderless {
    width: 95%;
    margin-top: 2rem;
  }
  .comment_report {
    padding: 0;
  }
}
@media (min-width: 430px) and (max-width: 575px) {
  .report_div {
    max-width: 400px !important;
  }

  .add-photo {
    margin-left: 25%;
    height: 11em;
    width: 12em;
    margin-bottom: 5rem;
  }

  .photo-add {
    margin-top: 5%;
    margin-left: -46%;
    height: 11.7em;
    width: 13em;
    position: absolute;
    padding-top: 18%;
  }
  .add-photo-i {
    margin-left: -9%;
    margin-top: 38%;
    position: absolute;
  }
  .input-borderless {
    width: 95%;
    margin-top: 2rem;
  }
  .comment_report {
    padding: 0;
  }

  .title_student_reported {
    font-size: 1rem !important;
  }

  .input_stu_rep {
    font-size: 1rem;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .photo-add {
    margin-top: -87%;
    margin-left: 0%;
    position: absolute;
  }

  .add-photo-i {
    margin-right: -2%;
    margin-top: -24%;
  }

  .cont_report {
    padding-left: 0;
    padding-right: 0;
  }

  .report_div {
    max-width: 700px !important;
  }

  .title_student_reported {
    font-size: 1rem !important;
  }

  .input_stu_rep {
    font-size: 1rem;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .photo-add {
    margin-top: 5%;
    margin-left: -90%;
    position: absolute;
  }

  .add-photo-i {
    margin-right: 10%;
    margin-top: -21%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .photo-add {
    margin-top: 5%;
    margin-left: -94%;
    position: absolute;
  }

  .add-photo-i {
    margin-right: 5%;
  }
}
@media (min-width: 767px) and (max-width: 1200px) {
  .report_div {
    max-width: 700px !important;
  }
}
@media (min-width: 840px) and (max-width: 1200px) {
  .title-rep {
    width: 80%;
  }
}
