/* TODO WINYERSON */
/**-------------CUSTOM PROPERTIES-------------**/
:root {
  --first-color: #342359;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: #d51d95;
  --title-color: #333;
  --text-color: #222;
}
* {
  margin: 0;
  padding: 0;
}
.header-container {
  z-index: 5000 !important;
  width: 100vw !important;
  top: 0 !important;
  left: 0 !important;
  position: fixed !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  background-color: white !important;
}
.header-navbar {
  position: relative;
  padding: 1.5rem 0 !important;
}
.header-logo {
  width: 150px !important;
  height: 100% !important;
}
.header-links {
  left: 0;
  top: 100%;
  width: 100vw;
  height: 90vh;
  z-index: 4999;
  overflow-y: scroll;
  position: absolute;
  transform: translateX(-100%);
  background-color: white;
  transition: 300ms ease all;
}
.header-links.show {
  transform: translateX(0);
}
.header-links a {
  width: 60%;
  margin: 0 auto;
  display: block !important;
  text-align: center;
  padding: 0 1.2rem !important;
  border-radius: 1rem !important;
  border: 0.15rem solid var(--four-color) !important;
  font-weight: 500 !important;
  font-size: 1.1rem !important;
  text-align: center !important;
  text-decoration: none !important;
  font-family: sans-serif !important;
  transition: ease all 300ms !important;
}
.header-links a:hover {
  color: var(--link-color) !important;
}
.header-links a:active {
  color: #fff !important;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--seven-color) !important;
}
.header-links .link-dropdown {
  width: 60%;
  margin: 0 auto !important;
  display: flex;
  z-index: 1;
  font-size: 1.1rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative !important;
  pointer-events: none !important;
  transition: 300ms ease all !important;
}
.header-links .link-dropdown > div:first-child {
  cursor: pointer !important;
  pointer-events: all !important;
  width: 100%;
  color: #000;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 1rem !important;
  text-shadow: 2px 2px 4px transparent;
  border: 0.15rem solid var(--four-color) !important;
  transition: 300ms ease all;
}
.header-links .link-dropdown > div:first-child:active {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  border: 0.15rem solid var(--four-color) !important;
  background-color: var(--second-min-color);
}
.header-links .link-dropdown > div:first-child * {
  pointer-events: none !important;
}
.header-links .link-dropdown.active > div:first-child {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  background: var(--four-color) !important;
}

.header-links .link-dropdown > div:first-child figure {
  top: 0 !important;
  right: 25% !important;
  width: 20px !important;
  height: 100% !important;
  position: absolute !important;
  transition: 200ms ease all;
}
.header-links .link-dropdown.active > div:first-child figure {
  transform: rotate(-180deg);
}

.header-links .link-dropdown > div:last-child {
  z-index: -1;
  width: 100%;
  height: max-content;
  opacity: 0;
  transition: 200ms ease all;
}
.header-links .link-dropdown.active > div:last-child {
  opacity: 1;
  margin-top: 0% !important;
}
.header-links .link-dropdown > div:last-child a {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 0.25rem;
  background-color: #dedede;
  border: none !important;
}
.header-links .link-dropdown.active > div:last-child a {
  pointer-events: all !important;
}

.header-links .header-logout {
  width: 60%;
  display: flex;
  position: relative;
  margin: 0 auto !important;
}
.header-links .header-logout:active {
  background-color: var(--seven-color);
}
.header-links .header-logout figure {
  top: 20%;
  right: 30%;
  position: absolute;
  width: 24px !important;
  height: 24px !important;
}

/* SHOW MENU BUTTON */
.show-menu {
  width: 2rem;
  height: 2rem;
  margin: 0 !important;
  border: none !important;
  padding: 0 !important;
  position: relative;
  background-color: transparent !important;
}
.show-menu * {
  pointer-events: none;
}
/* ICON BURGER */
.show-menu figure:first-child {
  width: inherit !important;
  height: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent;
  transition: 300ms ease all;
}
.show-menu.active figure:first-child {
  opacity: 0;
  transform: rotate(180deg);
}
/* ICON X */
.show-menu figure:last-child {
  top: 0;
  left: 0;
  opacity: 0;
  width: 2rem;
  height: 2rem;
  position: absolute;
  transition: 300ms ease all;
}
.show-menu.active figure:last-child {
  opacity: 1;
  transform: rotate(180deg);
}
.show-menu figure:last-child i::before,
.show-menu figure:last-child i::after {
  left: 0;
  top: 45%;
  width: 90%;
  content: "";
  position: absolute;
  border-bottom: 0.2rem solid #000;
  transform: rotate(45deg);
}
.show-menu figure:last-child i::after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 700px) {
  .header-logo {
    width: 180px !important;
  }
}

@media screen and (min-width: 992px) {
  .header-container {
    z-index: 5000 !important;
    width: 100vw !important;
    top: 0 !important;
    left: 0 !important;
    position: fixed !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    background-color: white !important;
  }
  .header-navbar {
    padding: 1.5rem 0.5rem !important;
  }
  .header-links {
    width: max-content !important;
    height: auto;
    position: relative;
    overflow: visible;
    transform: translateX(0);
  }
  .header-links a {
    width: 6rem;
    font-size: 1rem !important;
    border: none !important;
    border-radius: 0 !important;
    color: #000 !important;
  }
  .header-links a:hover {
    color: var(--link-color) !important;
  }
  .header-links a:active {
    color: var(--link-color) !important;
    text-shadow: unset;
    background-color: unset !important;
  }

  .header-links .link-dropdown {
    width: max-content;
    cursor: pointer !important;
    position: relative !important;
  }
  .header-links .link-dropdown > div:first-child {
    cursor: pointer !important;
    pointer-events: all !important;
    width: 100%;
    color: #000;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 1rem !important;
    text-shadow: 2px 2px 4px transparent;
    border: none !important;
    transition: 300ms ease all;
  }
  .header-links .link-dropdown > div:first-child:active {
    color: unset;
    text-shadow: unset;
    border: unset !important;
    background-color: unset !important;
  }
  .header-links .link-dropdown > div:first-child:hover {
    color: var(--link-color);
  }
  .header-links .link-dropdown > div:first-child * {
    pointer-events: none !important;
  }
  .header-links .link-dropdown.active > div:first-child {
    color: unset;
    text-shadow: unset;
    background: unset !important;
  }
  .header-links .link-dropdown > div:first-child span {
    font-size: 1rem;
  }

  .header-links .link-dropdown > div:first-child figure {
    top: 0 !important;
    right: -30% !important;
    width: 16px !important;
    height: 100% !important;
    position: absolute !important;
  }
  .header-links .link-dropdown.active > div:first-child figure {
    transform: unset;
  }
  .header-links .link-dropdown > div:last-child {
    top: 90% !important;
    left: 25% !important;
    opacity: 0 !important;
    width: 15rem !important;
    position: absolute !important;
    height: max-content !important;
    pointer-events: none !important;
    border-radius: 0.25rem !important;
    box-shadow: 0 0 1rem 0.25pt rgba(0, 0, 0, 0.18) !important;
    background-color: rgb(250, 250, 250) !important;
  }
  .header-links .link-dropdown.active > div:last-child {
    opacity: unset;
    margin-top: unset !important;
  }
  .header-links .link-dropdown:hover > div:last-child {
    opacity: 1 !important;
    pointer-events: all !important;
  }
  .header-links .link-dropdown:hover > div:last-child a {
    margin-bottom: 0.25rem;
    background-color: transparent;
    border-radius: 0.5rem !important;
    pointer-events: all !important;
  }
  .header-links .link-dropdown.active > div:last-child a {
    pointer-events: unset !important;
  }
  .header-links .link-dropdown > div:last-child a:hover {
    color: #000 !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  .header-links .notification-btn {
    transform: translateX(4rem);
  }
  .header-links .header-logout {
    display: none !important;
  }
  .header-logout {
    color: #000 !important;
    padding: 0.5rem 1rem !important;
    border-radius: 0.5rem !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  .header-logout:hover {
    background-color: rgba(0, 0, 0, 0.135) !important;
  }
  .header-logout:hover span {
    color: #000 !important;
  }
  .header-logout figure {
    width: 24px !important;
    height: 24px !important;
  }
}
