:root {
  --room1: #342359;
  --room2: #982a72;
  --room3: #394893;
  --room4: #a54483;
  --room5: #5d418d;
  --room6: #392b84;
  --room7: #b15391;
  --room8: #4f177d;
  --ff: #f8f8f8;
}

body {
  background-color: #fbf7fd;
}

.main__payments {
  width: 100%;
  margin-top: 200px;
}

table {
  overflow: hidden;
}

.payments__title_div {
  width: 80%;
  margin: auto auto;
  margin-top: 5rem;
  margin-bottom: 4rem;
  font-weight: 500;
}

tbody tr th {
  font-weight: 500 !important;
}

.link_stu {
  color: #000;
}

.link_stu:hover {
  color: #342359;
}

.text_table {
  font-weight: 500;
}

.text_table1 {
  color: #342359;
}

.payable {
  color: rgb(146, 9, 9) !important;
}

.budgeted {
  color: rgb(206, 137, 9) !important;
}

.paid {
  color: green !important;
}
