body {
  background-color: #f3f8fc;
}

img#profile-image {
  width: 100px;
  height: 100px;
  float: right;
}

h1#student_title_name {
  width: 90%;
  vertical-align: middle;
}

a.btn.btn-light {
  color: #5d418d;
  border: 2px solid #5d418d;
}
a.btn.btn-light:hover {
  background-color: #982a72;
  border: 2px solid #982a72;
  color: white;
}

hr#title {
  border-bottom: 2px solid #342359;
}

img#profile-image,
h1#student_title_name {
  display: inline-block;
}

iframe#visa {
  width: 100%;
}
