body {
  background-color: #f3f8fc;
}

.container_register {
  width: 100%;
  margin: 0;
  padding: 0;
}

.card__register {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
}

.form__group {
  margin-bottom: 1rem;
  position: relative;
}

.form__group__div__photo {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 10rem;
  height: 10rem;
}

.form__group__photo {
  width: 100%;
  height: 100%;
  border-radius: 80px;
  border: 1px dashed #000;
}

.cont_name,
.cont_lname,
.num_conts,
.cell_s {
  width: 95%;
}

.form__group-input {
  border: none;
  padding: 10px 5px;
  padding-bottom: 2px;
  color: #000;
  outline: none;
  border-bottom: 2px solid #982a72;
  border-radius: 0 !important;
}

.form__group-input:hover {
  cursor: auto;
}

.form__group-input:focus {
  border-bottom: 2px solid #bb2929;
}

.form__group-input:active {
  border-bottom: 2px solid #bb2929;
}

.form__group__name {
  margin-top: 1rem !important;
}

.form__group-dates__flight {
  display: flex;
  margin-top: 2rem;
}

.form__group__div-special__diet {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  padding: 0.7rem 1.5rem;
}

.form__group__row-diet {
  display: flex;
  width: 25rem;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.custom-checkbox {
  flex: 0 0 calc(48% - 30px);
}

.custom-checkbox-none {
  flex: 0 0 calc(30% - 30px) !important;
}

.title__special-diet {
  border-bottom: 2px solid #342359;
  padding-bottom: 0.4rem;
  padding-left: 2.5rem;
  width: 100%;
}

.mail,
.password,
.names,
.db,
.gender,
.bl,
.nacionality,
.lang_s,
.type_s,
.firstd,
.lastd,
.n_airline,
.n_flight,
.allergies,
.num_s,
.f_date,
.h_date,
.n_a,
.smoke_s,
.pets,
.food,
.mail_s,
.address_aca,
.age,
.room,
.start_date,
.end_date {
  width: 100% !important;
}

.allergies {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  background-color: rgb(238, 238, 238);
  padding: 0.5rem 0.5rem;
}

.form__group-title {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.form__group-title__col-4 {
  padding: 0.5rem 1rem;
  background-color: #342359;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.information__content {
  padding: 1rem 1.5rem;
  padding-bottom: 2rem;
}

.subtitle__section-card {
  width: 90%;
  margin: auto auto;
  color: #342359;
  border-bottom: 2px solid #e8e8e8;
  font-weight: 500;
  font-size: 1.4rem;
  padding-left: 1rem;
}

.form__group-basic-content {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.form__group__btn-send {
  margin-right: 1rem;
}

.form__btn {
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  background-color: #342359;
  border: none;
  color: #fff;
  font-size: 1.05rem;
  transition: all 0.25s;
}

.form__btn:hover {
  background-color: #4f177d;
}

.form__group-f_date {
  margin-top: 1.5rem;
}

.form__group__visa {
  margin-top: 2rem;
}

.btns__options {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.btn__op {
  width: 40%;
  text-align: center;
  color: #fff;
  padding: 0.5rem 0.1rem;
  border: none;
  border-radius: 6px;
}

.btn__op:hover {
  color: #fff;
}

.assignation__hom {
  background-color: #982a72;
}

.assignation__hom:hover {
  background-color: var(--room4);
}

.assignation__edit {
  background-color: #342359;
}

.assignation__edit:hover {
  background-color: var(--room3);
}

/* ------------------------------- */

.form__group__input-error {
  margin-bottom: 0;
  font-size: 12px;
  display: none;
  line-height: 15px;
  color: #bb2929;
  width: 85%;
}

.form__group__input-error-active {
  display: block;
}

.form__message {
  display: none;
}

.form__message p {
  margin: 0;
}

.form__message-active {
  display: block;
}

.form__message-sucess {
  color: green;
  font-size: 14px;
  display: none;
}

.form__message-sucess-active {
  display: block;
}

.form__group-correct .form__validate-state {
  color: #1ca827;
  opacity: 1;
}

.form__group-correct .form__group-input {
  border-bottom: 2px solid #1ca827;
}

.form__group-correct .form__label {
  color: #1ca827;
}

.form__group-incorrect .form__label {
  color: #bb2929;
}

.form__group-incorrect .form__validate-state {
  color: #bb2929;
  opacity: 1;
}

.form__group-incorrect .form__group-input {
  border-bottom: 2px solid #bb2929;
}

.label__name {
  position: absolute;
  top: -0.5rem;
  left: 2rem;
  font-weight: 400 !important;
  color: #342359;
}

/* -----------------------------------------*/

/*-------------- Gallery --------------------*/

.add-photo {
  height: 10.7em;
  width: 15em;
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  border: 2px dashed #c2c2c2;
}

.add-photo:hover {
  transition: all 0.5s;
  background: #c2c2c2;
  cursor: pointer;
  color: #4f177d;
}

.add-photo-i {
  position: absolute;
  margin: 0;
  right: 1.5rem;
  background-color: #982a72;
  color: #fff;
  border-radius: 60px;
  padding: 0.8rem 0.8rem;
  bottom: 0;
}

.add-photo-i:hover {
  background: white;
  transition: all 0.5s;
  cursor: pointer;
  color: #4f177d;
}

.photo-add {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  border-radius: 80px;
  padding-left: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__group-l_title {
  margin: 0;
  color: #4f177d;
}

.photo-add:hover {
  cursor: pointer;
  transition: all 0.2s;
  background-color: #e0e0e0;
}

.vegetarians {
  justify-content: justify !important;
}

.form__group__btn-send {
  margin-top: 1rem;
  padding: 0rem 0rem;
}

.form__btn {
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  background-color: #342359;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  transition: all 0.25s;
  width: 16rem;
}

.form__btn:hover {
  background-color: var(--room3);
}

.confirm_changes {
  background-color: #982a72;
}

.confirm_changes:hover {
  background-color: var(--room4);
}

.form__group-f_date {
  margin-top: 1.5rem;
}

/*---------------- Labels ------------------*/

.form__label {
  position: absolute;
  left: 2rem;
  top: -0.3rem;
  font-size: 13px !important;
  color: #342359;
  font-weight: 500 !important;
  line-height: 15px;
}

.allergies_l {
  top: -1.2rem !important;
  left: 2.5rem !important;
}

.smoker,
.pets_l {
  left: 2.3rem !important;
}

.visa {
  top: -2.2rem !important;
  left: -1.5rem;
}

/* --------------- Icons -----------------*/

.icon {
  position: absolute;
}

.names,
.mail,
.password,
.num_s,
.n_airline,
.n_flight,
.f_date,
.h_date,
.cont_name,
.cont_lname,
.num_conts,
.cell_s,
.db,
.gender,
.nacionality,
.city,
.pass,
.bl,
.visa,
.lang_s,
.type_s,
.firstd,
.lastd,
.smoke_s,
.pets,
.food,
.mail_s,
.address_aca,
.age,
.room,
.start_date,
.end_date {
  padding-left: 2rem !important;
}

.n_a {
  padding-left: 1.8rem !important;
}

.allergies {
  margin-left: 2.5rem !important;
}

.form__group__icon-input {
  display: flex;
  position: relative;
}

.f_date,
.h_date,
.bl,
.db {
  padding-right: 0;
}

.icon__names {
  content: url("../../../assets/icon/profile.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.5rem;
  bottom: 0;
  left: 0rem;
}

.icon__mail {
  content: url("../../../assets/icon/email.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.6rem;
  bottom: 0;
  left: 0rem;
}

.icon__password {
  content: url("../../../assets/icon/password.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.4rem;
  bottom: 0;
  left: 0rem;
}

.icon__num_s {
  content: url("../../../assets/icon/main\ contact\ 64.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.4rem;
  bottom: 0;
  left: 0rem;
}

.icon__n_airline {
  content: url("../../../assets/icon/flight.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.5rem;
  bottom: 0;
  left: 0rem;
}

.icon__n_flight {
  content: url("../../../assets/icon/flight_number.png");
  width: 1.9rem;
  height: 1.9rem;
  top: 0.3rem;
  bottom: 0;
  left: 0rem;
}

.icon__date {
  content: url("../../../assets/icon/calendar.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__gender {
  content: url("../../../assets/icon/gender.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.7rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__nacionality {
  content: url("../../../assets/icon/user\ profile.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.7rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__city {
  content: url("../../../assets/icon/user\ profile.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.7rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__visa {
  content: url("../../../assets/icon/user\ profile.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.2rem;
  bottom: 0;
  left: -2rem;
}

.icon__pass {
  content: url("../../../assets/icon/passport.png");
  width: 1.9rem;
  height: 1.9rem;
  top: 0.3rem;
  bottom: 0;
  left: 0rem;
}

.icon__drinks_alc {
  content: url("../../../assets/icon/drink_al.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__drugs {
  content: url("../../../assets/icon/drugs.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__healt_s {
  content: url("../../../assets/icon/allergies2.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.2rem;
  bottom: 0;
  left: 0rem;
}

.icon__bl {
  content: url("../../../assets/icon/calendar.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__n_a {
  content: url("../../../assets/icon/academy\ preference.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.6rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__smoke_s {
  content: url("../../../assets/icon/smokers.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__pets {
  content: url("../../../assets/icon/pets\ 64.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.4rem;
  bottom: 0;
  left: 0.1rem;
}

.icon__food {
  content: url("../../../assets/icon/diet.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.4rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__allergies {
  content: url("../../../assets/icon/allergies.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.5rem;
  bottom: 0;
  left: 0rem;
}

.icon__diet {
  content: url("../../../assets/icon/diet.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0rem;
  bottom: 0;
  left: 0.3rem;
}

/*------------------ POP UP -----------------*/

#house_much,
#house_ass {
  color: rgb(179, 40, 40);
  width: 20%;
  background-color: #f8f7f7;

  border-radius: 8px;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 100;
  box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
}

.content_popup {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  line-height: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
}

#close,
#close2 {
  font-size: 12px;
  font-weight: bold;
}

#close:hover {
  color: #342359;
}

.close_div {
  float: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.btn-divs {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.back_panel {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 50px;
  background-color: #394893;
  color: #fff;
  border-radius: 4px;
  font-size: 17px;
  width: 28%;
}

.back_panel:hover {
  color: #fff;
}

/*-------------------------------------------*/

@media (min-width: 320px) and (max-width: 767px) {
  .column-2 {
    padding-right: 0;
  }
  .column-1 {
    padding-right: 0;
  }

  .form__label {
    font-size: 11px !important;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .form__group__row-diet {
    width: 19rem;
  }

  .custom-control-label {
    font-size: 13px !important;
  }

  .custom-checkbox {
    flex: 0 calc(50% - 2px);
  }

  .form__group__div-special__diet {
    padding: 0.7rem 0.5rem;
  }
}

@media (min-width: 500px) and (max-width: 575px) {
  .form__group__row-diet {
    width: 19rem;
  }

  .custom-control-label {
    font-size: 13px !important;
  }

  .custom-checkbox {
    flex: 0 0 calc(48% - 2px);
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .visa {
    left: 0;
  }

  .information__content-col-8 {
    padding: 1rem 0rem;
  }
}

@media (min-width: 300px) {
  .city,
  .pass,
  .bl {
    width: 100%;
  }

  .visa {
    margin-top: 1rem;
  }

  .form__group__allergies {
    margin-top: 2rem;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form__label {
    font-size: 12px !important;
  }

  .icon__date {
    width: 1.2rem;
    height: 1.2rem;
    top: 0.8rem;
  }

  .f_date,
  .h_date {
    padding-left: 1.7rem !important;
  }
}

@media (min-width: 767px) and (max-width: 1300px) {
  .card__register {
    width: 100%;
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  .card__register {
    width: 95%;
  }
}
