body {
	background-color: #F3F8FC;
}

img#academy {
	width: 100px; 
	height: 100px;
}

body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top:-1px;
  bottom: 0;
  width: 100%;
}

#marker {
  background-image: url('../../../student/assets/images/academy1.png');
  background-size: cover;
  width: 25px;
  height: 47px;
  cursor: pointer;
}



a.btn{ 
	color: #5D418D; 
	border: 2px solid #5D418D;
}

a.btn:hover{ 
	background-color: #982A72; 
	border: 2px solid #982A72; 
}

#Living-mobile{
	display: none;
}

#common-mobile{
	display: none;
}

#bath-mobile{
	display: none;
}

span.phome-mobile{
	display: none;
}

span.proom-mobile{
	display: none;
}

input#room{
	width: 30%;
}


/*Buttons*/
button#submit{
	width: 130px;
}

a#contact{
	width: 130px; 
	font-size: 14px;
}

div#full {
	height: 100px;
}

div#ts-map {
	height: 300px;
}

section#featured-properties {
	margin-top: -30%;
}

div#ribbon-ts {
	background-color: #982A72; 
	border-color: transparent; 
}

span#circle {
	background-color: #982A72;
}

img#size {
	width: 227px; 
	height: 227px;
}

div#home-service {
	margin-left: 5%;
}
