#map {width: 320px; height: 300px;}
        #marker { 
      background-image: url('../../../student/assets/images/academy1.png');
      background-size: cover;
      width: 27px;
      height: 49px;
      cursor: pointer;}
body {
	background-color: #F3F8FC;
}

h3#delete {
	color: red;
}

h4#delete {
	color: red;
}

button.btn.btn-info {
	color: white; 
	background-color: #982A72; 
	border: 2px solid #982A72;
}

div#body {
	background-color: #DFBABA;
}

div#background {
	background-color: white;
}

button.btn.btn-default {
	color: white; 
	background-color: #232159; 
	border: 2px solid #232159;
}

button#submit {
	color: white; 
	background-color: #982A72; 
	border: 2px solid #982A72;
}

img#image-profile {
	width: 200px; 
	height: 200px; 
	margin-bottom: 20px;
}

i#options {
	color: black;
}