body#body {
    background-color: #F3F8FC;
}

td#center{
    text-align: center;
}

a#edit{
    color: white; 
    background-color: #232159; 
    border: 2px solid #232159; 
    font-size: 14px;
}

table#table{
    padding: 5px;
}

h5#good{
    color: green;
}

h5#bad{
    color: red;
}

a#preview{
    color: black;
    }

a#preview:hover{
    color: white;
    }

a#edit {
    color: white; 
    background-color: #232159; 
    border: 2px solid #232159; 
    font-size: 14px;
}

/*AJAX*/
a.page-link {
    background-color: transparent;
    border: none;
    border-radius: 50px;
    color: #191919;
    margin: 0 .125rem;
    padding: .75rem 1rem;
    position: relative;
}

a.page-link:hover {
    background-color: #815391;
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
    color: #191919;
}

a.page-link:after {
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    bottom: -0.4375rem;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
    transition: .3s ease;
}

li.page-item:first-child a.page-link, li.page-item:last-child a.page-link {
    border-radius: 0;
}

li.page-item.active a.page-link {
    background-color: #232159;
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
}

li.page-item.active a.page-link:after {
    border-color: white transparent transparent transparent;
}
