body#body {
    background-color: #F3F8FC;
}

a#student-link {
    color: black;
  }

a#student-link:hover{
    color: purple;
  }

h5#good {
    color: green;
}

h5#bad {
    color: red;
}

a#previews{
    color: white; 
    background-color: #982A72; 
    border: 2px solid #982A72; 
    font-size: 14px;

}

a#edit2{
    color: white; 
    border: 2px solid #4F177D;
    background-color: #4F177D;
}

a#preview{
    color: black; 
    border: 2px solid #232159;
}


a#preview:hover{
    color: white; 
    border: 2px solid #232159; 
    background-color: #232159;
}

a#edit {
    color: white; 
    border: 2px solid #394893;
    background-color: #394893;
}

/*AJAX*/
a.page-link {
    background-color: transparent;
    border: none;
    border-radius: 50px;
    color: #191919;
    margin: 0 .125rem;
    padding: .75rem 1rem;
    position: relative;
}

a.page-link:hover {
    background-color: #815391;
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
    color: #191919;
}

a.page-link:after {
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    bottom: -0.4375rem;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
    transition: .3s ease;
}

li.page-item:first-child a.page-link, li.page-item:last-child a.page-link {
    border-radius: 0;
}

li.page-item.active a.page-link {
    background-color: #232159;
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
}

li.page-item.active a.page-link:after {
    border-color: white transparent transparent transparent;
}

.mail_reserve{
    color: #232159;
    line-height: 30px;
}

.mail_reserve:hover{
    text-decoration: none;
    color: #232159;
}

.btn__form__reserve {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: .5rem .3rem;
    width: 45%;
    color: white;
    cursor: pointer;
    transition: all .5s;
    box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
}

.btn:hover {
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.confirm__reserve {
    background-color: var(--room2);
}

.cancel__reserve {
    background-color: var(--room1);
}

.mheight__img {
    max-height: 15rem;
}

:root {
    --room1: #232159;
    --room2: #982a72;
    --room3: #394893;
    --room4: #A54483;
    --room5: #5D418D;
    --room6: #392B84;
    --room7: #B15391;
    --room8: #4F177D;
    --ff: #f8f8f8;
}

.bg-room1{
    background-color: var(--room1);
}
.bg-room8{
    background-color: var(--room8);
}

.del-btn {
    background: #982a72;
    color: white;
    margin-right: 2%;
}

.can-btn {
    background: #232159;
    color: white;
}

.rep-btn {
    background: #4f177d;
    color: white;
    margin-right: 2%;
}

dt {
    color: #232159;
}

.focus {
    color: #232159;
}

.input-borderless {
    width: 100%;
    border-top: 0px;
    border-bottom: 2px solid #4f177d;
    border-right: 0px;
    border-left: 0px;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-decoration: none;
    outline: none;
    display: block;
    padding: 10px 5px;
    margin: 0px 0;
    font-size: .9em;
}

.input-borderless::placeholder{
    font-size: .8rem;
}

.option {
    color: black;
}

.title-rep {
    padding: 5px;
    color: black;
    border-radius: 8px;
    border-bottom: 2px solid #4f177d;
}

.tittle_rep {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.title_reject{
    text-align: center;
    margin-bottom: 2rem;
}

.reject__div{
    margin: 0;
    width: 100%;
}

.reject__information{
    width: 70%;
    color: #000;
    font-size: .8rem;
    line-height: 15px;
    margin: 0 auto;
    text-align: center;
}

.inputs__information{
    display: flex;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    position: relative;
}

.label_reject{
    position: absolute;
    top: -.8rem;
    font-size: .7rem !important;
    font-weight: normal !important;
    color: var(--room1) !important;
}

.back_input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--room1);
    text-align: center;
}

.back_input:focus{
    border: none;
}

.back_input:active{
    border: none;
}

.btn-reject{
    width: 20%;
    padding: .2rem .1rem;
}

.img_house{
    max-height: 15rem;
}

table {
    table-layout: fixed;
}

.photo_s, .gend_s, .back_s{
    width: 120px;
}

.img_photo_s{
    width: 90px;
    height: 90px;
}

.situ_s{
    width: 130px;
}

.date_s{
    width: 140px;
}

.student_n, .mail_s{
    width: 200px;
}

.action_s{
    width: 200px;
}

.img_photo_s{
    width: 90px;
    height: 90px;
}


@media (max-width: 767px){
    .img_photo_s{
        width: 60px;
        height: 60px;
    }

    .photo_s, .back_s{
        width: 100px;
    }

    .student_n, .mail_s{
        width: 150px;
    }
}



@media (min-width: 1000px) {

    .d-m-before {
        width: 27em !important;
        left: -24em !important;
    }
  }



body {
	background-color: #F3F8FC;
}

.container_register{
	width: 100%;
	margin: 0;
	padding: 0;
}

.card__register{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8rem;
}

.form__group{
	margin-bottom: .5rem;
	position: relative;
}

.form__group__div__photo{
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 10rem;
	height: 10rem;
}

.form__group__photo{
	width: 100%;
	height: 100%;
	border-radius: 80px;
	border: 1px dashed #000;
}

.cont_name, .cont_lname, .num_conts, .cell_s{
	width: 95%;
}

.form__group-input{
	border: none;
	padding: 10px 5px;
    padding-bottom: 2px;
    color: #000;
	outline: none;
	border-bottom: 2px solid #982a72;
	border-radius: 0 !important;
}

.form__group-input:hover{
    cursor: not-allowed;
}

.form__group-input:focus{
	border-bottom: 2px solid #bb2929;
}

.form__group-input:active{
	border-bottom: 2px solid #bb2929;
}

.form__group__name{
	margin-top: 1rem !important;
}

.form__group-dates__flight{
	display: flex;
	margin-top: 2rem;
}

.form__group__div-special__diet{
	background-color: rgb(238, 238, 238);
	border-radius: 10px;
	padding: .7rem 1.5rem;
}

.form__group__row-diet{
	display: flex;
    width: 25rem;
    margin: 0 auto;
    justify-content: space-around;
    margin-bottom: .5rem;
}

.custom-checkbox {
    flex: 0 0 calc(48% - 30px);
}

.custom-checkbox-none {
    flex: 0 0 calc(30% - 30px) !important;
}

.title__special-diet{
	border-bottom: 2px solid #232159;
	padding-bottom: .4rem;
	padding-left: 2.5rem;
	width: 100%;
}



.mail, .password, .names, .db, .gender, .bl, .nacionality, 
.lang_s, .type_s, .firstd, .lastd, .n_airline, 
.n_flight, .allergies, .num_s, .f_date, .h_date, .n_a, 
.smoke_s, .pets, .food, .country, .dir, .city2, .state, .p_code, .pass{
	width: 100% !important;
}

.allergies{
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
	background-color: rgb(238, 238, 238);
	padding: .5rem .5rem;
}



.form__group-title{
	padding-left: 1rem;
	padding-top: .5rem;
}

.form__group-title__col-4{
	padding: .5rem 1rem;
	background-color: #232159;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


/* Active Res */

.active__res_card{
	position: relative;
}

.form__group-title__col-4{
	padding: .5rem 1rem;
	background-color: #232159;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.active_res{
	margin-bottom: 0;
}

.img__house{
	width: 100%;
	height: 17rem;
	max-height: 17rem;
}

.arrow__div{
	position: absolute;
	bottom: 4.1rem;
	left: 1.5rem;
	z-index: 100;
	width: 0;
     height: 0;
     border-right: 7px solid transparent;
     border-top: 10px solid transparent;
     border-left: 7px solid transparent;
     border-bottom: 10px solid #f8f8f8;
}

.details__res_div{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f8f8f8;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	padding: .8rem;
	padding-left: .5rem;
	padding-right: .5rem;
	padding-bottom: .5rem;
}


.details__row{
	display: flex;
	justify-content: space-around;
}

.detail{
	text-align: center;
}

.label__details{
	color: #232159;
	padding: 0;
	margin: 0;
}

.text{
	margin: 0;
}

/* ----------------------------- */

.information__content{
	padding: 1rem 1.5rem;
	padding-bottom: 2rem;
}

.subtitle__section-card{
	width: 90%;
	margin: auto auto;
	color: #232159;
	border-bottom: 2px solid #e8e8e8;
	font-weight: 500;
	font-size: 1.4rem;
	padding-left: 1rem;
	display: flex;
	position: relative;
}

.form__group-basic-content{
	display: flex;
	justify-content: space-between;
	justify-content: center;
}

.form__group__btn-send{
	margin-right: 1rem;
}

.form__btn{
	padding: .8rem 1.5rem;
	border-radius: 10px;
	background-color: #232159;
	border: none;
	color: #fff;
	font-size: 1.05rem;
	transition: all .25s;
}

.form__btn:hover{
	background-color: #4f177d;
}

.form__group-f_date{
	margin-top: 1.5rem;
}

.form__group__visa{
    margin-top: 2rem;
}

.btns__options{
    display: flex;
    justify-content: space-between;
}

.btn__op{
    width: 47%;
    text-align: center;
    color: #fff;
    padding: .5rem .1rem;
    border-radius: 6px;
}

.btn__op:hover{
    color: #fff;
}

.assignation__hom{
    background-color: #982a72;
}

.assignation__hom:hover{
    background-color: var(--room4);
}

.assignation__edit{
    background-color: #232159;
}

.assignation__edit:hover{
    background-color: var(--room3);
}



/* ------------------------------- */


.form__group__input-error{
	margin-bottom: 0;
	font-size: 12px;
	display: none;
	line-height: 15px;
	color: #bb2929;
	width: 85%;
}

.form__group__input-error-active{
	display: block;
}

.form__message{
	display: none;
}

.form__message p{
	margin: 0;
}

.form__message-active{
	display: block;
}

.form__message-sucess{
	color: green;
	font-size: 14px;
	display: none;
}

.form__message-sucess-active{
	display: block;
}

.form__group-correct .form__validate-state{
	color: #1ca827;
	opacity: 1;
}

.form__group-correct .form__group-input{
	border-bottom: 2px solid #1ca827;
}

.form__group-correct .form__label{
	color: #1ca827;
}


.form__group-incorrect .form__label{
	color: #bb2929;
}

.form__group-incorrect .form__validate-state{
	color: #bb2929;
	opacity: 1;
}

.form__group-incorrect .form__group-input{
	border-bottom: 2px solid #bb2929;
}


.label__name{
	position: absolute;
	top: -.5rem;
	left: 2rem;
	font-weight: 400 !important;
	color: #232159;
}



/* -----------------------------------------*/

/*-------------- Gallery --------------------*/

.add-photo {
    height: 10.7em;
    width: 15em;
    display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed #C2C2C2;
}

.add-photo:hover {
    transition: all .5s;
    background: #c2c2c2;
    cursor: pointer;
    color: #4f177d;
}

.add-photo-i {
    position: absolute;
	margin: 0;
	right: 1.5rem;
	background-color: #982a72;
	color: #fff;
	border-radius: 60px;
	padding: .8rem .8rem;
	bottom: 0;
}

.add-photo-i:hover {
    background: white;
    transition: all .5s;
    cursor: pointer;
    color: #4f177d;
}

.photo-add {
    position: absolute;
	width: 100%;
	height: 100%;
	top: 0rem;
	border-radius: 80px;
	padding-left: auto;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form__group-l_title{
	margin: 0;
	color: #4f177d;
}

.photo-add:hover {
    cursor: pointer;
    transition: all .2s;
	background-color: #e0e0e0;
}

.vegetarians{
	justify-content: justify !important;
}

.form__group__btn-send{
	margin-top: 1rem;
	padding: 0rem 0rem;
}

.form__btn{
	padding: .8rem 1.5rem;
	border-radius: 10px;
	background-color: #232159;
	border: none;
	color: #fff;
	font-size: 1.1rem;
	transition: all .25s;
	width: 16rem;
}

.form__btn:hover{
	background-color: var(--room3);
}

.confirm_changes{
	background-color: #982a72;
}

.confirm_changes:hover{
	background-color: var(--room4);
}

.form__group-f_date{
	margin-top: 1.5rem;
}

.message__res{
	text-align: center;
	margin-bottom: 5rem;
	font-weight: 500 !important;
	color: rgb(175, 3, 3);
	font-size: 20px !important;
}

.calc__weeks{
	width: 100%;
	text-align: center;
	color: #232159;
}


.message__aut{
	text-align: center;
	color: #000;
	width: 90%;
	margin: auto auto;
}

.suboption{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.form__group__div__photo__visa{
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 100%;
	height: 10rem;
	justify-content: center;
}

.form__group__photo__visa{
	width: 100%;
	height: 100%;
	align-content: center !important;
}

.visa-add {
    position: absolute;
	width: 100%;
	height: 100%;
	top: 0rem;
	padding-left: auto;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px dashed #000;
	border-radius: 8px;
}


.photo-add:hover, .visa-add:hover {
    cursor: pointer;
    transition: all .2s;
	background-color: #e0e0e0;
}

.form__group-l_title_files{
	margin: 0;
	color: #4f177d;
	position: absolute;
	top: 58.5%;
	opacity: .8;
}

/*---------------- Labels ------------------*/

.form__label{
	position: absolute;
	left: 2rem;
	top: -.3rem;
	font-size: 13px !important;
	color: #232159;
	font-weight: 500 !important;
	line-height: 15px;
}

.allergies_l{
	top: -1.2rem !important;
	left: .5rem !important;
}

.smoker, .pets_l{
	left: 2.3rem !important;
}


.visa{
	top: -2.2rem !important;
	left: -1.5rem;
}

/* --------------- Icons -----------------*/

.icon{
	position: absolute;
}

.names, .mail, .password, .num_s, .n_airline, 
.n_flight, .f_date, .h_date, .cont_name, .cont_lname, 
.num_conts, .cell_s, .db, .gender, .nacionality, .city,
.pass, .bl, .visa, .lang_s, .type_s, .firstd, .lastd,
.smoke_s, .pets, .food, .country, .dir, .city2, .state, .p_code, 
.pass{
	padding-left: 2rem !important;
}

.n_a{
	padding-left: 1.8rem !important;
}

.allergies{
	width: 90%;
}

.form__group__icon-input{
	display: flex;
	position: relative;
}

.f_date, .h_date, .bl, .db{
	padding-right: 0;
}

.icon__names{
	content: url('../../../assets/icon/profile.png');
    width: 1.7rem;
    height: 1.7rem;
	top: .5rem;
	bottom: 0;
	left: 0rem;
}

.icon__mail{
	content: url('../../../assets/icon/email.png');
    width: 1.5rem;
    height: 1.5rem;
	top: .6rem;
	bottom: 0;
	left: 0rem;
}

.icon__password{
	content: url('../../../assets/icon/password.png');
    width: 1.8rem;
    height: 1.8rem;
	top: .4rem;
	bottom: 0;
	left: 0rem;
}

.icon__num_s{
	content: url('../../../assets/icon/main\ contact\ 64.png');
    width: 1.8rem;
    height: 1.8rem;
	top: .4rem;
	bottom: 0;
	left: 0rem;
}

.icon__n_airline{
	content: url('../../../assets/icon/flight.png');
    width: 1.7rem;
    height: 1.7rem;
	top: .5rem;
	bottom: 0;
	left: 0rem;
}

.icon__n_flight{
	content: url('../../../assets/icon/flight_number.png');
    width: 1.9rem;
    height: 1.9rem;
	top: .3rem;
	bottom: 0;
	left: 0rem;
}

.icon__date{
	content: url('../../../assets/icon/calendar.png');
    width: 1.4rem;
    height: 1.4rem;
	top: .5rem;
	bottom: 0;
	left: .3rem;
}

.icon__gender{
	content: url('../../../assets/icon/gender.png');
    width: 1.4rem;
    height: 1.4rem;
	top: .7rem;
	bottom: 0;
	left: .3rem;
}

.icon__nacionality{
	content: url('../../../assets/icon/user\ profile.png');
    width: 1.4rem;
    height: 1.4rem;
	top: .7rem;
	bottom: 0;
	left: .3rem;
}

.icon__city{
	content: url('../../../assets/icon/user\ profile.png');
    width: 1.4rem;
    height: 1.4rem;
	top: .7rem;
	bottom: 0;
	left: .3rem;
}

.icon__visa{
	content: url('../../../assets/icon/user\ profile.png');
    width: 1.4rem;
    height: 1.4rem;
	top: .2rem;
	bottom: 0;
	left: -2rem;
}

.icon__pass{
	content: url('../../../assets/icon/passport.png');
    width: 1.9rem;
    height: 1.9rem;
	top: .3rem;
	bottom: 0;
	left: 0rem;
}

.icon__bl{
	content: url('../../../assets/icon/calendar.png');
    width: 1.4rem;
    height: 1.4rem;
	top: .5rem;
	bottom: 0;
	left: .3rem;
}

.icon__n_a{
	content: url('../../../assets/icon/academy\ preference.png');
    width: 1.4rem;
    height: 1.4rem;
	top: .6rem;
	bottom: 0;
	left: .2rem;
}

.icon__smoke_s{
	content: url('../../../assets/icon/smokers.png');
    width: 1.3rem;
    height: 1.3rem;
	top: .5rem;
	bottom: 0;
	left: .2rem;
}

.icon__pets{
	content: url('../../../assets/icon/pets\ 64.png');
    width: 1.7rem;
    height: 1.7rem;
	top: .4rem;
	bottom: 0;
	left: .1rem;
}

.icon__food{
	content: url('../../../assets/icon/diet.png');
    width: 1.7rem;
    height: 1.7rem;
	top: .4rem;
	bottom: 0;
	left: .3rem;
}

.icon__allergies{
	content: url('../../../assets/icon/allergies.png');
    width: 2rem;
    height: 2rem;
	top: .2rem;
	bottom: 0;
	left: 0rem;
}

.icon__allergies2{
	content: url('../../../assets/icon/allergies2.png');
    width: 1.6rem;
    height: 1.6rem;
	top: .4rem;
	bottom: 0;
	left: .2rem;
}

.icon__diet{
	content: url('../../../assets/icon/diet.png');
    width: 1.8rem;
    height: 1.8rem;
	top: 0rem;
	bottom: 0;
	left: .3rem;
}

.icon__dir{
	content: url('../../../assets/icon/location\ 64.png');
    width: 1.8rem;
    height: 1.8rem;
	top: .4rem;
	bottom: 0;
	left: 0rem;
}

.icon__drinks_alc{
	content: url('../../../assets/icon/drink_al.png');
    width: 1.4rem;
    height: 1.4rem;
	top: .6rem;
	bottom: 0;
	left: .2rem;
}

.icon__drugs{
	content: url('../../../assets/icon/drugs.png');
    width: 1.5rem;
    height: 1.5rem;
	top: .5rem;
	bottom: 0;
	left: .2rem;
}

.icon__prog_selec{
	content: url('../../../assets/icon/years_exp.png');
    width: 1.9rem;
    height: 1.9rem;
	top: .3rem;
	bottom: 0;
	left: 0rem;
}

.icon__children{
	content: url('../../../assets/icon/family.png');
    width: 1.5rem;
    height: 1.5rem;
	top: .5rem;
	bottom: 0;
	left: .2rem;
}

.icon__lodging{
	content: url('../../../assets/icon/bed.png');
    width: 1.9rem;
    height: 1.9rem;
	top: .3rem;
	bottom: 0;
	left: 0rem;
}

/*------------------ POP UP -----------------*/

#house_much, #house_ass{
    color: rgb(179, 40, 40);
    width: 20%;
    background-color: #f8f7f7;
    
    border-radius: 8px;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    z-index: 100;
    box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
}

.content_popup{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    line-height: 20px;
}

.content{
    display: flex;
    justify-content: space-between;
}

#close, #close2{
    font-size: 12px;
    font-weight: bold;
}

#close:hover{
    color: #232159;
}

.close_div{
    float:right;
    margin-right: 1rem;
    margin-top: .5rem;
}


.btn-divs{
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.back_panel{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 50px;
    background-color: #394893;
    color: #fff;
    border-radius: 4px;
    font-size: 17px;
    width: 28%;
}

.back_panel:hover{
    color: #fff;
}


/*-------------------------------------------*/

@media (min-width: 320px) and (max-width: 767px){
	.column-2{
		padding-right: 0;
	}
	.column-1{
		padding-right: 0;
	}

	.form__label{
		font-size: 11px !important;
	}
}

@media (min-width: 320px) and (max-width: 500px){
	.form__group__row-diet{
		width: 19rem;
	}

	.custom-control-label{
		font-size: 13px !important;
	}

	.custom-checkbox {
		flex: 0 calc(50% - 2px);
	}

	.form__group__div-special__diet{
		padding: .7rem .5rem;
	}
}

@media (min-width: 500px) and (max-width: 575px){
	.form__group__row-diet{
		width: 19rem;
	}

	.custom-control-label{
		font-size: 13px !important;
	}

	.custom-checkbox {
		flex: 0 0 calc(48% - 2px);
	}
}

@media (min-width: 500px) and (max-width: 900px){

	.visa{
		left: 0;
	}

	.information__content-col-8{
		padding: 1rem 0rem;
	}
}


@media (min-width: 300px){
	.city{
		margin-top: 1rem;
		width: 100%;
	}

	.visa{
		margin-top: 1rem;
	}

	.form__group__healt_s{
		margin-top: 2rem;
	}

	.form__group__lang_s, .form__group__type_s, .form__group__lastd, .form__group__div-special__diet,
	.form__group__nacionality, .form__group__pass, .form__group__language_a, .form__group__exp_pass, .form__group__bl, 
	.form__group__allergy_a, .form__group__allergy_m, .form__group__disease, .form__group__preference,
	.form__group__english_l, .form__group__prog_selec, .form__group__schedule{
		margin-top: 1rem;
	}
}

@media(min-width: 700px) and (max-width: 1200px){
	.form__label{
		font-size: 12px !important;
	}

	.icon__date{
		width: 1.2rem;
		height: 1.2rem;
		top: .8rem;
	}

	.f_date, .h_date{
		padding-left: 1.7rem !important;
	}
}

@media (min-width: 767px) and (max-width: 1300px){
	.card__register{
		width: 100%;
	}
}

@media (min-width: 1300px) and (max-width: 1400px){
	.card__register{
		width: 95%;
	}
}