/* TODO WINYERSON */
/**-------------CUSTOM PROPERTIES-------------**/
:root {
  --first-color: #232159;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: #d51d95;
  --title-color: #333;
  --text-color: #222;
}

.header-container {
  z-index: 5000;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  border-bottom: 1px solid #222;
  background-color: white;
}
.header-navbar {
  padding: 1.5rem 0.5rem;
}
.header-logo {
  width: 10%;
  height: 100%;
}
.header-links {
  width: max-content;
}
.header-links a {
  font-weight: 500;
  padding: 0 1.2rem !important;
  transition: ease all 300ms;
}
.header-links a:hover {
  color: var(--link-color);
}
.header-links .link-dropdown {
  cursor: pointer;
  position: relative;
  margin-right: 2.5rem;
}
.header-links .link-dropdown figure {
  width: 16px;
  height: 100%;
  top: 0;
  right: -1.2rem;
  position: absolute;
}
.header-links .link-dropdown > div:nth-child(2) {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 15rem;
  top: 95%;
  left: 25%;
  box-shadow: 0 0 1rem 0.25pt rgba(0, 0, 0, 0.18) !important;
  background-color: rgb(250, 250, 250);
}
.header-links .link-dropdown:hover > div:nth-child(2) {
  opacity: 1;
  pointer-events: all;
}
.header-links .link-dropdown > div:nth-child(2) a {
  border-radius: 0.5rem;
}
.header-links .link-dropdown > div:nth-child(2) a:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.1);
}
.header-logout {
  color: #000 !important;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}
.header-logout:hover {
  background-color: rgba(0, 0, 0, 0.135);
}
.header-logout:hover span {
  color: #000;
}
.header-logout figure {
  width: 24px;
  height: 24px;
}
