a.btn{ 
	color: #5D418D; 
	border: 2px solid #5D418D;
}
a.btn:hover{ 
	background-color: #982A72; 
	border: 2px solid #982A72; 
}
button.btn{ 
	color: #5D418D; 
	border: 2px solid #5D418D; 
	background-color: white;
}
button.btn:hover{ 
	background-color: #982A72; 
	border: 2px solid #982A72; 
}
div.modal-body{
	background-color: #F3EEEE;
}
dl.ts-description-list__line{
	font-size: 12px;
}
button.btn.btn-default {
	color: white; 
	background-color: #982A72; 
	border: 2px solid #982A72;
}
button#submit {
	color: white; 
	background-color: #232159; 
	border: 2px solid #232159;
}
div.panel-group {
	background-color: #F3EEEE; 
	margin-left: 10px; 
	margin-right: 10px; 
	margin-top: 10px; 
	border-radius: 20px;
}
table {
	width: 100%;
	font-size: 14px;
}
input#profile-img {
	width: 100%;
}
th#price{
	text-align: right;
	 color: green;
	 font-weight: normal;
	 font-size: 16px;
}
th#p12{
	font-weight: bold;
	font-size: 17px;
}
th#p{
	font-weight: normal;
	font-size: 16px;
}
th#price12{
	font-weight: bold;
	text-align: right;
	color: green;
	font-size: 17px;
}
a#price:hover {
	color: #982A72; 
}