.form__group{
	margin-bottom: 1rem;
	position: relative;
}

.form__group__name, .form__group__email, .form__group__subject{
	margin-top: 1rem !important;
}

.form__group__subject, .form__group__message{
    width: 85%;
}

.form__group__icon-input{
	display: flex;
	position: relative;
}

.form__group-input{
	border: none;
	padding: 10px 5px;
    padding-bottom: 6px;
    padding-left: 2rem;
	outline: none;
	border-bottom: 2px solid #4f177d;
	border-radius: 0 !important;
}

.form__group-input:focus{
	border-bottom: 2px solid #4f177d;
}

.form__group-input:active{
	border-bottom: 2px solid #4f177d;
}

.names, .subject, .message{
	width: 100% !important;
}

.message{
    padding: .5rem !important;
    background-color: rgb(238, 238, 238);
    border-radius: 8px !important;
}

.form__group__input-error{
	margin-bottom: 0;
	font-size: 14px;
	display: none;
	line-height: 15px;
	color: #bb2929;
	width: 85%;
}

.form__group__input-error-active{
	display: block;
}

.form__message{
	display: none;
}

.form__message p{
	margin: 0;
    color: #bb2929 !important;
    font-size: 16px;
    font-weight: 500;
}

.form__message-active{
	display: block;
    text-align: center;
    margin-bottom: 2rem;
   
}

.form__message-sucess{
	color: green;
	font-size: 16px;
	display: none;
    text-align: center;
}

.form__message-sucess-active{
	display: block;
}

.btn_none{
	display: none;
}


/* Labels */

.form__label{
	position: absolute;
	left: .2rem;
	top: -.5rem;
	font-size: 14px !important;
	color: #232159;
	font-weight: 500 !important;
	line-height: 15px;
}

.label__message{
    top: -1.2rem !important;
}


/* inputs actions */

.form__group-correct .form__group-input{
	border-bottom: 2px solid #1ca827;
}


.form__group-correct .form__label{
	color: #1ca827;
}


.form__group-incorrect .form__label{
	color: #bb2929;
}

.form__group-incorrect .form__group-input{
	border-bottom: 2px solid #bb2929;
}


/* Icons */

.icon{
	position: absolute;
}

.icon__names{
	content: url('../icon/profile.png');
    width: 1.7rem;
    height: 1.7rem;
	top: .6rem;
	bottom: 0;
	left: 0rem;
}

.icon__email{
	content: url('../icon/email.png');
    width: 1.6rem;
    height: 1.6rem;
	top: .6rem;
	bottom: 0;
	left: .2rem;
}

.icon__subject{
	content: url('../icon/basic\ information\ 64.png');
    width: 1.8rem;
    height: 1.8rem;
	top: .6rem;
	bottom: 0;
	left: .2rem;
}




/* Responsive */

@media (min-width: 320px) and (max-width: 767px){

	.form__label{
		font-size: 11px !important;
	}
}

@media(min-width: 700px) and (max-width: 1200px){
	.form__label{
		font-size: 12px !important;
	}
}