/* TODO WINYERSON */
/**-------------CUSTOM PROPERTIES-------------**/
:root {
  --first-color: #232159;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: #d51d95;
  --title-color: #333;
  --text-color: #222;
}
/* TODO ROOM CARDS */
.rooms-container > h1,
.rooms-container > h2,
.rooms-container > h3 {
  font-size: 1.6rem;
  width: 82%;
  border-bottom: 2px solid var(--gray-color);
}

:is(.rooms-list-homestay, .rooms-list-agents, .rooms-list-students) {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.rooms-list-homestay.homedit {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
}
.rooms-list-homestay,
.rooms-list-agents {
  display: grid !important;
  justify-content: space-evenly;
  grid-template-columns: repeat(1, 1fr);
  gap: 0;
}
.rooms-list-agents {
  grid-template-columns: repeat(2, 48%);
  gap: 1rem;
  justify-content: center !important;
  padding-top: 2rem;
}

.rooms-list-homestay.homedit .room-card-container-homestay {
  width: max-content;
}
:is(.room-card-container-homestay, .room-card-container-agents, .room-card-container-students) {
  position: relative;
  width: max-content;
  margin-bottom: 5rem;
  margin: 0 auto 5rem;
  transition: all 300ms ease;
  background: var(--gray-light-color);
  box-shadow: 0px 0px 10px 2px #23215948;
}
.room-card-container-agents {
  margin-bottom: 2rem;
}
:is(.room-card-container-homestay, .room-card-container-agents, .room-card-container-students) .room-card {
  width: 300px;
  position: relative;
  border-radius: 8px !important;
  height: max-content;
  overflow: hidden;
  box-shadow: 1px 1px 5px 0px #2321597e;
}
:is(.room-card-container-homestay, .room-card-container-agents, .room-card-container-students) .room-title {
  padding: 2px 1rem !important;
  text-shadow: 1px 1px 4px #000;
}
:is(.room-card-container-homestay, .room-card-container-agents, .room-card-container-students) .room-title h3 {
  font-size: 1.05rem;
  font-weight: bold;
}
:is(.room-card-container-homestay, .room-card-container-agents, .room-card-container-students) .room-title p {
  font-weight: bold;
  font-size: 0.85rem;
}
:is(.room-card-container-homestay, .room-card-container-agents, .room-card-container-students) .room-photo {
  width: inherit !important;
  height: 220px !important;
  margin-bottom: 2rem;
}
.photo-add {
  position: relative;
  width: inherit !important;
  height: 220px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4f177d;
  cursor: pointer;
  transition: all 300ms ease;
}
.photo-add:hover {
  background: #c2c2c223;
}
.photo-add img {
  transition: all 300ms ease;
}
.photo-add:hover img {
  opacity: 0.6;
}

/* TODO EDIT ROOM (ONLY HOMESTAY) */
.room-card-container-homestay::before {
  position: absolute;
  width: 100%;
  padding: 0.5rem 2rem;
  left: 0;
  bottom: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  opacity: 0;
  pointer-events: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: 300ms ease all;
}
.room-card-container-homestay.saved::before {
  opacity: 1;
  content: "Room saved successfully";
  background-color: rgba(29, 202, 81);
}
.room-card-container-homestay::before {
  position: absolute;
  width: 100%;
  padding: 0.5rem 2rem;
  left: 0;
  bottom: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px #000;
  opacity: 0;
  pointer-events: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  transition: 300ms ease all;
}
.room-card-container-homestay.required-fields::before {
  opacity: 1;
  content: "Please fill in the remaining fields";
  background-color: rgba(248, 93, 93, 0.75);
}
.room-card-container-homestay > div {
}
.room-card-container-homestay .room-photo.edit {
  position: relative;
}

.room-card-container-homestay .room-photo.edit button {
  right: 0.5rem;
  bottom: 0.5rem;
  position: absolute;
  z-index: 1000;
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  border: 0;
  outline: none;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2575);
  background: var(--five-color);
  transition: all 300ms ease;
}
.room-card-container-homestay .room-photo.edit #delete-photo-btn {
  right: 0.5rem;
  top: 0.5rem;
  bottom: unset;
  padding: 0;
  display: none;
}
.room-card-container-homestay .room-photo.edit #delete-photo-btn svg {
  pointer-events: none;
}
.room-card-container-homestay .room-photo.edit button:hover {
  transform: scale(1.2);
}
.room-card-container-homestay .room-photo.edit button img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

/* TODO --------------------------> */

:is(.room-card-container-homestay, .room-card-container-agents, .room-card-container-students) .room-photo img {
  width: 100%;
  height: 220px;
  object-fit: fill;
}

:is(.room-card-container-homestay) select {
  padding: 5px 2px;
  margin-left: 0px;
  cursor: pointer;
  outline: none;
  color: #000;
  text-shadow: 1px 1px 2px transparent;
  border-radius: 4px;
  border: 2px solid var(--six-min-color);
  transition: all 300ms ease;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
}
.room-card-container-homestay select:disabled,
.room-card-container-homestay select:disabled:hover {
  border: none;
  cursor: default;
  appearance: none;
}

:is(.room-card-container-homestay select:focus, .room-card-container-homestay
    select:hover, .room-card-container-homestay select.selected) {
  border: 2px solid var(--four-alpha-color);
}

:is(.room-photo .carousel-control-prev, .room-photo .carousel-control-next) {
  z-index: 999 !important;
  height: 220px !important;
  opacity: 0.1;
  width: 30%;
  font-size: 3rem;
  font-weight: lighter !important;
}

.room-photo .carousel-control-prev {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent);
}
.room-photo .carousel-control-next {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
}

:is(.room-photo .carousel-control-prev:hover, .room-photo .carousel-control-next:hover) {
  opacity: 0.5;
}

:is(.room-photo .carousel-control-prev, .room-photo .carousel-control-next) img {
  width: 45px !important;
  height: 45px !important;
}

.carousel-indicators {
  bottom: -2rem !important;
}
.carousel-indicators li.active {
  background: var(--five-color) !important;
}
.carousel-indicators li {
  background: rgba(0, 0, 0, 0.25) !important;
}

.feature {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature.type-room {
  width: 135px !important;
}
.feature.food {
  width: 95px !important;
}

.feature img {
  width: 26px;
  height: 26px;
  margin-right: 5px !important;
}
.feature span {
  font-size: 0.85rem;
}
.feature select {
  width: calc(2rem+4rem) !important;
}

:is(.see-all-reserves, .btn-reserve) {
  width: 100%;
  bottom: 0.75rem;
  padding: 0;
  position: absolute;
  background: transparent;
  box-shadow: none !important;
}
:is(.see-all-reserves, .btn-reserve) button {
  width: max-content;
  text-align: center;
  box-shadow: none !important;
  background-color: rgba(29, 202, 81);
  text-shadow: 2px 2px 6px var(--four-color);
  transition: all 300ms ease;
}
.see-all-reserves button {
  background-color: var(--six-alpha-color);
}
.see-all-reserves button:hover {
  opacity: 0.85;
}
.see-all-reserves button:active {
  opacity: 0.75;
}
.btn-reserve button:hover {
  background-color: rgba(29, 202, 81, 0.75);
}
.btn-reserve button:active {
  background-color: rgba(29, 202, 81, 0.65);
}
.btn-reserve button:disabled {
  background: var(--gray-color);
  cursor: auto;
  text-shadow: 0.1px 0.1px 6px var(--four-color);
}
:is(.btn-reserve) button:disabled:hover,
:is(.btn-reserve) button:disabled:active {
  background: var(--gray-color);
}
/* TODO EDIT ROOM (ONLY HOMESTAY) */
.edit-price span {
  color: #fff;
  cursor: default;
  padding: 5px 0.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background: var(--six-alpha-color);
}
.edit-price input {
  width: 50%;
  padding: 5px 0.5rem;
  border: thin solid rgba(0, 0, 0, 0.15);
}
/* TODO --------------------------> */

/* TODO ONLY STUDENTS */
:is(.reserved-message, .required-message, .limit-message, .occupied-message) {
  bottom: 0;
  width: 100%;
  position: absolute;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.reserved-message {
  background: rgb(45, 189, 45);
}
.required-message {
  background-color: rgba(184, 110, 0, 0.75);
}
.limit-message {
  background-color: rgba(63, 63, 63, 0.6);
}
.occupied-message {
  background-color: rgba(221, 39, 39, 0.75);
}
/* TODO --------------------------> */

/* TODO ONLY HOMESTAY */
.status-detail {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 2px;
  background: transparent;
}
.status-detail.available {
  background: rgb(45, 189, 45);
}
.status-detail.unavailable {
  background: rgb(255, 35, 35);
}
/* TODO --------------------------> */

:is(.room-beds-homestay, .room-beds-agents, .room-beds-students) {
  width: auto;
  height: 100%;
}
:is(.room-beds-homestay, .room-beds-agents, .room-beds-students) h3 {
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 1rem;
  font-size: 1.4rem;
  text-align: center;
}
:is(.room-beds-homestay, .room-beds-students) h3 {
  width: 30%;
  top: -1rem;
  padding: 0;
  position: absolute;
  font-size: 1.2rem;
}
/* TODO EDIT ROOM (ONLY HOMESTAY) */
.room-beds-homestay.edit {
  width: max-content;
  position: relative;
}
.room-beds-homestay.edit > div {
  opacity: 0.4;
  transition: all 300ms ease;
}

.room-beds-homestay.edit > div:nth-of-type(2),
.room-beds-homestay.edit > div:nth-of-type(3),
.room-beds-homestay.edit > div:nth-of-type(3) > div {
  display: none !important;
}
.room-beds-homestay.edit > div:nth-of-type(3) button {
  opacity: 1;
  outline: none;
  width: 50px;
  height: 50px;
  display: block !important;
  font-size: 1.5rem;
  border: 0;
  border-radius: 50%;
  border: 2.5px dashed var(--five-color);
  transform: translateY(-0.8rem);
  transition: all 300ms ease;
  background: transparent;
}
.room-beds-homestay.edit > div:nth-of-type(3) button:hover {
  transform: translateY(-0.8rem) scale(1.2);
}
.room-beds-homestay.edit > div.added,
.room-beds-homestay.edit > div.added > div {
  display: flex !important;
  opacity: 1;
}
.room-beds-homestay.edit > div.added:nth-of-type(3) > div {
  display: none !important;
}
.room-beds-homestay.edit > div.added:nth-of-type(3) > button {
  display: block !important;
}
.room-beds-homestay.edit > div.added.more:nth-of-type(3) > div {
  display: block !important;
}
.room-beds-homestay.edit > div.added.more:nth-of-type(3) > button {
  display: none !important;
}

.disable-room {
  bottom: 0;
  color: #fff;
  box-shadow: none !important;
  width: 100%;
  background-color: rgba(221, 39, 39, 0.65);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.75);
  transition: 500ms ease all;
}
.disable-room:hover {
  background-color: rgba(221, 39, 39, 0.5);
}
.disable-room:active {
  background-color: rgba(221, 39, 39, 0.4);
}
.disable-room:disabled {
  opacity: 0.2 !important;
  cursor: default;
}
.enable-room {
  bottom: 0;
  color: #fff;
  box-shadow: none !important;
  width: 100%;
  background-color: rgba(29, 202, 81);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.75);
  transition: 500ms ease all;
}
.enable-room:hover {
  background-color: rgba(29, 202, 81, 0.75);
}
.enable-room:active {
  background-color: rgba(29, 202, 81, 0.65);
}
.enable-room:disabled {
  opacity: 0.2 !important;
  cursor: default;
}

/* VALIDATION MESSAGES */
:is(.no-type-room, .no-bed, .price-invalid) {
  position: relative;
}
:is(.no-type-room, .no-bed, .price-invalid)::after {
  content: "";
  position: absolute;
  bottom: 0;
  border: 0.5rem solid;
  border-color: transparent transparent rgba(248, 93, 93, 0.75) transparent;
  animation: flotar infinite linear 2s;
}
:is(.no-type-room, .no-bed, .price-invalid)::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 990;
  color: #fff;
  width: max-content;
  text-shadow: 2px 2px 4px #000;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background: rgba(248, 93, 93, 0.75);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  animation: flotar infinite linear 2s;
}
.no-type-room::after {
  right: 2rem;
  bottom: -0.6rem;
}
.no-type-room::before {
  content: attr(data-no-type-room);
  bottom: -3rem;
}

.no-bed::after {
  display: none;
  animation: unset;
}
.no-bed::before {
  content: attr(data-no-bed);
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: unset;
  padding: 4px;
  text-align: center;
  font-size: 0.85rem;
  animation: unset;
}

.price-invalid::after {
  right: 5rem;
  bottom: -0.6rem;
}
.price-invalid::before {
  content: attr(data-price-invalid);
  bottom: -3rem;
}
@keyframes flotar {
  0%,
  100% {
    transform: translateY(6px);
  }
  50% {
    transform: translateY(0);
  }
}
/* TODO --------------------------> */

.room-beds-agents {
}

.room-beds-students {
  width: 90%;
  margin: 0 auto;
}
.room-beds-students label:last-child {
  margin-bottom: 0 !important;
}

:is(.bed-info-homestay, .bed-info-agents, .bed-info-students) {
  width: 220px;
  height: 26%;
  overflow: hidden;
  position: relative;
  padding-top: 1.5rem;
  align-items: center;
  justify-content: space-between;
  cursor: default !important;
  background: white;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
}

:is(.bed-info-agents, .bed-info-students) {
  cursor: pointer !important;
}
:is(.bed-info-homestay.no-reservations, .bed-info-agents.no-reservations) {
  justify-content: center;
}
:is(.bed-info-homestay.no-reservations, .bed-info-agents.no-reservations) .student-info,
:is(.bed-info-homestay.no-reservations, .bed-info-agents.no-reservations) .student-details {
  display: none !important;
}

:is(.bed-info-homestay, .bed-info-agents, .bed-info-students) > div {
  padding: 0 2rem;
}
:is(.bed-info-homestay, .bed-info-agents, .bed-info-students) #bed-letter {
  width: 100%;
  height: 1.5rem;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
  font-size: 0.95rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  background-color: var(--six-alpha-color);
}
:is(.bed-info-homestay, .bed-info-agents) .student-info {
  position: relative;
  padding: 0 1rem;
  height: 100%;
  z-index: 999;
  cursor: pointer;
  background: rgb(134 111 170);
}
.bed-info-homestay .student-info:hover,
.bed-info-agents .student-info:hover {
  background: rgba(134, 111, 170, 0.75);
}

.bed-info-homestay .student-info::before,
.bed-info-agents .student-info::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  border: 0.7rem solid;
  border-radius: 50%;
  border-color: transparent;
  transition: 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}
.bed-info-homestay .student-info:hover::before,
.bed-info-agents .student-info:hover::before {
  right: 90%;
  border-color: transparent var(--third-min-color) transparent transparent;
}
.bed-info-homestay .student-info.show:hover::before,
.bed-info-agents .student-info.show:hover::before {
  right: 75%;
  border-color: transparent transparent transparent var(--third-min-color);
}
.bed-info-homestay .student-info img,
.bed-info-agents .student-info img {
  width: 40px;
  height: 40px;
  pointer-events: none;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
}
.bed-info-homestay .student-details,
.bed-info-agents .student-details {
  position: absolute;
  top: 1.5rem;
  right: 0;
  bottom: 0;
  left: 100%;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  color: transparent;
  background: rgb(134 111 170);
  text-shadow: 2px 2px 4px transparent;
  transition: all 300ms ease;
}

.bed-info-homestay .student-info.show ~ .student-details,
.bed-info-agents .student-info.show ~ .student-details {
  left: 0;
  right: 31%;
  opacity: 1;
  pointer-events: all;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}
.bed-info-homestay .student-info.show ~ .student-details:hover,
.bed-info-agents .student-info.show ~ .student-details:hover {
  background: rgb(125, 101, 163);
}
.bed-info-homestay .student-details span,
.bed-info-agents .student-details span,
.bed-info-homestay .student-details small,
.bed-info-agents .student-details small {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.bed-info-homestay .student-details span,
.bed-info-agents .student-details span {
  height: 70%;
  font-size: 0.9rem;
}
.bed-info-homestay .student-details small,
.bed-info-agents .student-details small {
  height: 30%;
  bottom: 0;
  top: unset;
  padding: 5px 0;
}

.bed-info-agents {
}

:is(.bed-info-students, .bed-info-agents) {
  transition: all 200ms ease;
  cursor: auto;
  color: #fff !important;
}
:is(.bed-info-students.checked, .bed-info-agents.checked) {
  transform: scale(1.05);
  box-shadow: 0px 0px 2px 2px var(--four-color);
}
:is(.bed-info-students:hover, .bed-info-students.checked:hover, .bed-info-agents:hover, .bed-info-agents.checked:hover) {
  box-shadow: 0px 0px 2px 2px var(--four-color);
}

/* IMAGE ONLY 1 BED */
.room-beds-homestay > img,
.room-beds-agents > img,
.room-beds-students > img {
  width: 240px;
  margin-top: 2rem;
}

/* TODO BUTTON SAVE CHANGES (ONLY HOMESTAY) */
:is(.save-changes, .add-new-room) {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  box-shadow: none !important;
  transition: all 300ms ease;
  background: var(--six-alpha-color);
}
.add-new-room {
  background: var(--four-color);
}
:is(.save-changes:hover, .add-new-room:hover) {
  opacity: 0.8;
}
:is(.save-changes:active, .add-new-room:active) {
  opacity: 0.7;
}
:is(.save-changes:disabled, .add-new-room:disabled) {
  opacity: 0.8 !important;
  cursor: auto;
  background: var(--gray-color);
  text-shadow: 0.1px 0.1px 6px var(--four-color);
}
:is(.save-changes:disabled:hover, .save-changes:disabled:active, .add-nwe-room:disabled:hover, .add-nwe-room:disabled:active) {
  background: var(--gray-color);
}
/* TODO ----------------------------------> */

/* TODO MEDIA QUERYS (MANTENER EL ORDEN) */
@media screen and (max-width: 767px) {
  .rooms-list-assignation-agents {
    grid-template-columns: repeat(1, 1fr);
    width: max-content;
  }
}

@media screen and (min-width: 992px) {
  .room-beds-students {
    width: 200px;
  }
}

@media screen and (max-width: 992px) {
  .rooms-list-quick-agents {
    width: max-content;
    grid-template-columns: repeat(1, 1fr);
  }
  .room-card-container-quick-agents {
    width: max-content;
    margin: 0 auto 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .room-card-container-assignation-agents {
    width: max-content;
    margin: 0 auto 2rem;
  }
}

@media screen and (min-width: 1200px) {
  :is(.room-beds-agents) h3 {
    width: 30%;
    top: 0.5rem;
    padding: 0;
    position: absolute;
    font-size: 1.2rem;
    /* border-bottom: thin solid rgba(0, 0, 0, 0.25); */
  }
}
@media screen and (min-width: 1400px) {
  .rooms-list-homestay,
  .rooms-list-agents {
    display: grid !important;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}
