/* TODO WINYERSON */
/**-------------CUSTOM PROPERTIES-------------**/
:root {
  --first-color: #232159;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: #d51d95;
  --title-color: #333;
  --text-color: #222;
}

/* TODO INPUT INVALID */
.invalid {
  border: 1.5px solid rgb(255, 55, 55) !important;
  background-color: rgba(255, 55, 55, 0.068);
}

/* TODO HOMEBOR MESSAGES */
.homebor-messages {
  display: none !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  z-index: 9999 !important;
  font-family: sans-serif !important;
  align-items: center !important;
  justify-content: center !important;
  backdrop-filter: blur(10px) !important;
  background-color: rgba(0, 0, 0, 0.45) !important;
}
:is(.homebor-messages.loading, .homebor-messages.success, .homebor-messages.error, .homebor-messages.error-ok) {
  display: flex !important;
}
:is(.homebor-messages.loading, .homebor-messages.success, .homebor-messages.error) p,
:is(.homebor-messages.loading, .homebor-messages.success, .homebor-messages.error) figure,
.homebor-messages.error-ok p,
.homebor-messages.error-ok button {
  display: block !important;
}
:is(.homebor-messages.loading, .homebor-messages.success, .homebor-messages.error) button,
.homebor-messages.error-ok figure {
  display: none !important;
}

.homebor-messages,
.homebor-messages * {
  transition: 300ms ease all !important;
}
.homebor-messages article {
  width: 75vw !important;
  height: max-content !important;
  padding: 2rem !important;
}
.homebor-messages.error-ok article {
  width: 75vw !important;
  background-color: white !important;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25) !important;
}
.homebor-messages p {
  margin: 1rem auto 0.5rem !important;
  color: #fff !important;
  font-size: 130% !important;
  font-weight: bold !important;
  line-height: 1.75rem !important;
  text-align: center !important;
  text-shadow: 2px 2px 6px #000 !important;
}
.homebor-messages.error-ok p {
  color: #000 !important;
  text-shadow: none !important;
}
.homebor-messages figure {
  width: 4rem !important;
  height: 4rem !important;
  margin: 1.2rem auto 1rem !important;
}
.homebor-messages #loading-message {
  width: 4rem !important;
  height: 4rem !important;
  position: relative !important;
}
.homebor-messages #loading-message::before {
  content: "" !important;
  top: 50% !important;
  left: 50% !important;
  padding: 1.6rem !important;
  position: absolute !important;
  border-radius: 50% !important;
  transform: translate(-50%, -50%); /** NO COLOCAR !important **/
  border: 0.35rem solid !important;
  box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.25) !important;
  border-color: var(--seven-min-color) var(--seven-color) var(--seven-min-color) var(--seven-min-color) !important;
  animation: loading 2s infinite linear !important;
}
@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.homebor-messages #success-message {
  background: url("../icon/exito.png") center/contain no-repeat !important;
}

.homebor-messages #error-message {
  background: url("../icon/error.png") center/contain no-repeat !important;
}

.homebor-messages #error-message-ok {
  color: #fff !important;
  border: none !important;
  margin: 2rem auto 0 !important;
  padding: 0.5rem 2rem !important;
  font-size: 110% !important;
  border-radius: 0.25rem !important;
  cursor: pointer !important;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5) !important;
  background: gray !important;
}
.homebor-messages #error-message-ok:hover {
  opacity: 0.85 !important;
}

/* TODO MODAL DYNAMIC */
.modal-dynamic {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1200;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(2.5px);
  transition: all 300ms ease;
  background: rgba(0, 0, 0, 0.15);
}
.modal-dynamic * {
  opacity: 0;
  pointer-events: none;
}
.modal-dynamic .confirm-status {
  width: max-content;
  padding: 2rem 2rem;
  height: 160px;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
  background: var(--gray-light-color);
}
.modal-dynamic .save-changes {
  width: max-content;
  padding: 2rem 2rem;
  height: auto;
  color: #222;
  transform: translateY(-6rem);
  border-radius: 0.5rem;
  text-shadow: none !important;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
  background: var(--gray-light-color);
}
.modal-dynamic h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.modal-dynamic.show,
.modal-dynamic.show * {
  opacity: 1;
  pointer-events: all;
}
.modal-dynamic .modal-content {
  width: 40%;
  height: max-content;
  max-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  background: white;
  scrollbar-width: thin;
  scrollbar-color: var(--four-alpha-color) white;
}
.modal-dynamic .modal-content.show-scroll {
  overflow-y: scroll !important;
}
.modal-dynamic .modal-content::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--gray-dark-color);
  background: white;
}
.modal-dynamic .modal-content::-webkit-scrollbar-thumb {
  background: var(--four-alpha-color);
}
.modal-dynamic .modal-content h3 {
  margin: 0;
  width: 100%;
  color: #fff;
  padding: 1rem;
  font-size: 1.6rem;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 2px 2px 4px #000;
  background: var(--four-color);
}
.modal-dynamic .modal-content span {
  position: absolute;
  z-index: 999;
  right: 1rem;
  top: 1rem;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  transition: all 300ms ease;
}
.modal-dynamic .modal-content span:hover {
  opacity: 0.4 !important;
  color: #ccc !important;
}
.modal-dynamic .modal-content .modal-empty {
  padding: 0;
  margin: 0;
  width: 360px;
  display: none;
}
.modal-dynamic .modal-content .modal-empty img {
  width: 100%;
  height: auto;
}

.modal-dynamic .modal-content table {
  width: 100%;
  /* display: none; */
}
.modal-dynamic .modal-content table thead {
  color: #fff;
  text-shadow: 1px 1px 6px #000;
  background: rgba(0, 0, 0, 0.25);
}
.modal-dynamic .modal-content table thead th {
  text-align: center;
  padding: 0.5rem;
}
.modal-dynamic .modal-content table thead th:nth-child(1),
.modal-dynamic .modal-content table thead th:nth-child(2) {
  width: max-content;
}
.modal-dynamic .modal-content table tbody {
}
.modal-dynamic .modal-content table tbody tr {
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-bottom: thin solid rgba(0, 0, 0, 0.25);
}
.modal-dynamic .modal-content table tbody tr:last-child {
  border-bottom: unset;
}
.modal-dynamic .modal-content table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.modal-dynamic .modal-content table tbody tr:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.modal-dynamic .modal-content table tbody td {
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 0.5rem;
}

@media screen and (min-width: 779px) {
  /* TODO HOMEBOR MESSAGES */
  .homebor-messages article {
    width: 25vw !important;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25) !important;
    background-color: white !important;
  }
  .homebor-messages.error-ok article {
    width: max-content !important;
    min-width: 25vw !important;
    max-width: 45vw !important;
    background-color: white !important;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25) !important;
  }
  .homebor-messages p {
    font-size: 1.125rem !important;
    text-shadow: none !important;
    color: #000 !important;
  }
  .homebor-messages #loading-message::before {
    border: 0.25rem solid !important;
    box-shadow: none !important;
    border-color: var(--six-min-color) var(--six-color) var(--six-min-color) var(--six-min-color) !important;
  }
}
