/* New Version */

/* Father Container */

.container_register {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 8rem;
}

.root {
  display: flex;
  justify-content: center;
  min-height: 99vh;
  overflow-x: hidden;
}

/* Title Register */

.title__register__s {
  padding-left: 5rem;
  font-size: 44px;
}

/* Form Register */

.form__register {
  padding: 26px 15px;
  padding-bottom: 0;
  width: 90%;
  margin: 0 auto;
}

/* Form Header */

.form-register__header {
  margin-bottom: 5rem;
}

/* Progressabar */

.progressbar {
  display: flex;
  list-style: none;
  margin-bottom: 15px;
  counter-reset: step;
}

.progressbar__option {
  width: 100%;
  text-align: center;
  position: relative;
  font-size: 17px;
  color: transparent;
  line-height: 22px;
}

.color {
  color: #000;
}

.progressbar__option:before {
  display: flex;
  content: counter(step);
  counter-increment: step;
  width: 35px;
  height: 35px;
  background-color: white;
  margin: 0 auto 5px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.progressbar__option:after {
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background-color: white;
  position: absolute;
  top: 15px;
  left: -50%;
  z-index: 1;
}

.progressbar__option:first-child:after {
  content: none;
}

.progressbar__option.active::before,
.progressbar__option.active::after {
  background-color: #5d418d;
  color: #fff;
}

/* Form Register body */

.form-register__body {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

/* Step */

.step {
  min-width: 100%;
  display: none;
  transition: all 0.2s linear;
}

.step.active {
  display: inline;
}

.step.to-left {
  margin-left: -100%;
}

.step.inactive {
  animation-name: scale;
  animation-duration: 0.2s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes scale {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.row_step {
  display: flex;
}

/* Header Step */

.step__header {
  padding: 10px 15px;
  background-color: #232159;
  border-radius: 8px 8px 0 0;
  width: 100%;
}

.title__card {
  margin: 0;
  color: #fff;
}

/* Step body */

.step__body {
  padding: 20px 25px;
}

.calc__weeks {
  width: 100%;
  text-align: center;
  color: #232159;
}

.accom {
  justify-content: space-between !important;
  margin-left: auto;
  margin-right: auto;
}

.payment_proc {
  justify-content: space-between !important;
  width: 80%;
  margin: auto;
}

.row_flex {
  display: flex;
  justify-content: center;
}

.row_flex2 {
  display: flex;
}

/* Step Footer */

.step__footer {
  padding: 20px 15px;
  text-align: center;
  margin-top: 4rem;
}

/* Step buttons */

.step__button--back {
  background-color: #392b84;
  font-size: 16px;
  color: #fff;
  width: 8rem;
  margin-right: 1rem;
}

.step__button--next {
  background-color: #5d418d;
  font-size: 16px;
  color: #fff;
}

.btn__next {
  width: 8rem;
}

.btn__next1 {
  width: 10rem;
}

.btn__register {
  background-color: #5d418d;
  font-size: 16px;
  color: #fff;
}

.step__button--register {
  background-color: #4f177d;
  font-size: 16px;
  color: #fff;
  width: 25%;
}

.btn__close {
  background-color: #394893 !important;
  color: #fff;
  width: 25%;
}

/* Old version */

body {
  background-color: #f3f8fc;
}

.card__register {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
}

.form__group {
  margin-bottom: 1.5rem;
  position: relative;
}

.form__group__div__photo {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 10rem;
  height: 10rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.form__group__div__photo__visa {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  height: 10rem;
  justify-content: center;
}

.form__group__photo__visa {
  width: 100%;
  height: 100%;
  align-content: center !important;
}

.visa-add {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  padding-left: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #000;
  border-radius: 8px;
}

.photo-add:hover,
.visa-add:hover {
  cursor: pointer;
  transition: all 0.2s;
  background-color: #e0e0e0;
}

.form__group__photo {
  width: 100%;
  height: 100%;
  border-radius: 80px;
  border: 1px dashed #000;
}

.cont_name,
.cont_lname,
.num_conts,
.cell_s {
  width: 95%;
}

.form__group-input {
  border: none;
  padding: 10px 5px;
  padding-bottom: 6px;
  outline: none;
  border-bottom: 2px solid #4f177d;
  border-radius: 0 !important;
}

.form__group-input:focus {
  border-bottom: 2px solid #4f177d;
}

.form__group-input:active {
  border-bottom: 2px solid #4f177d;
}

.form__group__name {
  margin-top: 1rem !important;
}

.form__group-dates__flight {
  display: flex;
  margin-top: 2rem;
}

.form__group__div-special__diet {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  padding: 0.7rem 1.5rem;
}

.form__group__row-diet {
  display: flex;
  width: 25rem;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.custom-checkbox {
  flex: 0 0 calc(48% - 30px);
}

.custom-checkbox-none {
  flex: 0 0 calc(30% - 30px) !important;
}

.title__special-diet {
  border-bottom: 2px solid #232159;
  padding-bottom: 0.4rem;
  padding-left: 2.5rem;
  width: 100%;
}

.mail,
.password,
.names,
.db,
.bl,
.nacionality,
.lang_s,
.type_s,
.firstd,
.lastd,
.n_airline,
.n_flight,
.allergies,
.num_s,
.f_date,
.h_date,
.country,
.dir,
.city2,
.state,
.p_code,
.price {
  width: 100% !important;
}

.allergies {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  background-color: rgb(238, 238, 238);
  padding: 0.5rem 0.5rem;
}

.form__group-title {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.form__group-title__col-4 {
  padding: 0.5rem 1rem;
  background-color: #232159;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.information__content {
  padding: 1rem 1.5rem;
  padding-bottom: 2rem;
}

.subtitle__section-card {
  width: 90%;
  margin: auto auto;
  color: #232159;
  border-bottom: 2px solid #e8e8e8;
  font-weight: 500;
  font-size: 1.4rem;
  padding-left: 1rem;
  display: flex;
  position: relative;
}

.additional__text {
  font-size: 0.95rem;
  margin-left: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
  color: #444;
}

.suboption {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.div__sign {
  border: 1px solid #232159;
  border-radius: 8px;
}

.div__sign:hover {
  cursor: pointer;
}

.btn__div {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.btn_clean {
  margin-left: auto;
  color: #fff;
  font-size: 14px;
  background-color: #394893;
  outline: none;
  padding: 0.5rem 0.8rem;
}

.form__group-basic-content {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.form__group__btn-send {
  margin-right: 1rem;
}

.form__btn {
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  background-color: #232159;
  border: none;
  color: #fff;
  font-size: 1.05rem;
  transition: all 0.25s;
}

.form__btn:hover {
  background-color: #4f177d;
}

/* ------------------------------- */

.form__group__input-error {
  margin-bottom: 0;
  font-size: 12px;
  display: none;
  line-height: 15px;
  color: #bb2929;
  width: 85%;
}

.form__group__input-error-active {
  display: block;
}

.form__message {
  display: none;
}

.form__message p {
  margin: 0;
}

.form__message-active {
  display: block;
}

.form__message-sucess {
  color: green;
  font-size: 14px;
  display: none;
}

.form__message-sucess-active {
  display: block;
}

.form__group-correct .form__validate-state {
  color: #1ed12d;
  opacity: 1;
}

.form__group-correct .form__group-input {
  border-bottom: 2px solid #1ed12d;
}

.form__group-correct .form__label {
  color: #1ed12d;
}

.form__group-incorrect .form__label {
  color: #bb2929;
}

.form__group-incorrect .form__validate-state {
  color: #bb2929;
  opacity: 1;
}

.form__group-incorrect .form__group-input {
  border-bottom: 2px solid #bb2929;
}

/* -----------------------------------------*/

/*-------------- Gallery --------------------*/

.add-photo {
  height: 10.7em;
  width: 15em;
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  border: 2px dashed #c2c2c2;
}

.add-photo:hover {
  transition: all 0.5s;
  background: #c2c2c2;
  cursor: pointer;
  color: #4f177d;
}

.add-photo-i {
  position: absolute;
  margin: 0;
  right: 1.5rem;
  background-color: #982a72;
  color: #fff;
  border-radius: 60px;
  padding: 0.8rem 0.8rem;
  bottom: 0;
}

.add-photo-i:hover {
  background: white;
  transition: all 0.5s;
  cursor: pointer;
  color: #4f177d;
}

.photo-add {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  border-radius: 80px;
  padding-left: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__group-l_title {
  margin: 0;
  color: #4f177d;
}

.form__group-l_title_files {
  margin: 0;
  color: #4f177d;
  position: absolute;
  top: 58.5%;
  opacity: 0.8;
}

.photo-add:hover {
  cursor: pointer;
  transition: all 0.2s;
  background-color: #e0e0e0;
}

.vegetarians {
  justify-content: justify !important;
}

.price {
  padding-bottom: 2px !important;
}

.card_information__title {
  color: #232159;
  border-bottom: 2px solid rgb(212, 212, 212);
  width: 100%;
  padding-left: 1rem;
  font-weight: 500 !important;
}

.div__card__information {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: auto auto;
}

.check__div {
  display: flex;
  justify-content: space-around;
}

.check__div2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.form__group__preference {
  margin-bottom: 3rem;
}

.form__group__disease,
.form__group__treatment,
.form__group__treatment_p,
.form__group__allergies,
.form__group__surgery {
  text-align: center;
}

.form__group__allergies {
  margin-top: 0 !important;
}

.textarea__div-desease {
  margin-top: 1rem;
  display: none;
  transition: all 0.5s;
}

.textarea__div-desease-active {
  margin-top: 1rem;
  display: inline;
  transition: all 0.5s;
}

.label__specify {
  color: #232159;
}

.healt {
  background-color: rgb(238, 238, 238);
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  padding-top: 2px !important;
  padding-left: 8px !important;
}

.detail__lodging {
  color: #232159;
  margin: 0;
  width: 100%;
  text-align: center;
  margin-top: 0.2rem;
}

.input__other_city {
  border: none;
  border-bottom: 2px solid #4f177d;
  outline: none;
  padding-left: 0.5rem;
  margin-top: 0.8rem;
  padding-bottom: 0.2rem;
  width: 100%;
}

.input__specify {
  border: none;
  border-bottom: 2px solid #4f177d;
  outline: none;
  margin-top: 1.5rem;
  padding-left: 0.5rem;
  width: 100%;
  padding-bottom: 0.4rem;
}

.calc__weeks {
  width: 100%;
  text-align: center;
  color: #232159;
}

.text_diet {
  width: 100%;
  text-align: center;
  font-size: 0.95rem;
  margin-top: 0.2rem;
  margin-bottom: 0;
  color: #333;
  font-weight: 600;
}

.div__price {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.price__div {
  position: relative;
}

.label__price {
  position: absolute;
  font-size: 0.75rem !important;
  font-weight: 500 !important;
  color: #232159;
}

.input__pricet {
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  border-bottom: 2px solid #232159;
  padding-right: 0.5rem;
}

.message__aut {
  text-align: center;
  color: #000;
  width: 90%;
  margin: auto auto;
}

.message__booking_fee {
  text-align: center;
  color: #232159;
  width: 95%;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.div__btn_payments {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.btn__booking_fee {
  background-color: #394893;
  color: #fff;
  margin-right: 1rem;
  outline: none;
}

/* table Payment */

.t_head_pay {
  background-color: #232159;
  color: #fff;
}

.name__invoice {
  text-align: right;
}

.price__invoice {
  font-weight: 500 !important;
  text-align: right;
}

.modal-header {
  background-color: #faf2ff;
}

.modal-content {
  width: 100%;
}

/* TODO STEP 5 */

.text__terms {
  margin: 0 auto;
  width: 85%;
  text-align: justify;
  color: #222;
  margin-bottom: 3rem;
}

.list__terms {
  width: 90%;
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 3rem;
}

.list__terms li {
  color: #222;
  line-height: 30px;
  margin-bottom: 0.5rem;
}

/* TODO PRICE STYLES */

.container__price {
  width: 20%;
  position: relative;
  margin-top: 2rem;
}

.container__tprice {
  margin-left: auto !important;
}

.container__price .label__price {
  position: absolute;
  top: -1rem;
  right: 2.5rem;
}

.container__price input {
  padding-left: 0;
  padding-right: 0;
}

.container__price input:nth-child(2) {
  width: 2rem;
}

.container__price input:nth-child(3) {
  width: 3rem;
}

.container__price input:nth-child(4) {
  width: 3rem;
}

hr {
  width: 90%;
}

/* TODO SUPPLEMENTS */

.text__supplements {
  color: #000;
  width: 90%;
  margin: 0 auto 1rem auto;
  text-align: justify;
}

/* TODO ADDITIONAL TEXT */

.additional_text {
  margin: 0 auto 1rem auto;
  width: 80%;
}

/*---------------- Labels ------------------*/

.form__label {
  position: absolute;
  left: 2rem;
  top: -0.3rem;
  font-size: 13px !important;
  color: #232159;
  font-weight: 500 !important;
  line-height: 15px;
}

.visa {
  top: -0.6rem !important;
  left: 0.2rem;
}

.b_price {
  top: -0.5rem;
}

.allergies_l {
  top: -1.2rem !important;
  left: 2.5rem !important;
  font-size: 14px !important;
  color: #232159;
}

.label__specify2 {
  position: absolute;
  font-size: 13px !important;
  font-weight: 500 !important;
  padding-left: 0.5rem;
  top: 0.5rem;
  color: #232159;
}

.label__other__city {
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #232159;
  position: absolute;
  top: -0.5rem;
}

/* --------------- Icons -----------------*/

.icon {
  position: absolute;
}

.names,
.mail,
.password,
.num_s,
.n_airline,
.n_flight,
.f_date,
.h_date,
.cont_name,
.cont_lname,
.num_conts,
.cell_s,
.db,
.gender,
.nacionality,
.city,
.pass,
.bl,
.visa,
.n_a,
.lang_s,
.type_s,
.firstd,
.lastd,
.smoke_s,
.pets,
.food,
.country,
.dir,
.city2,
.state,
.p_code,
.price {
  padding-left: 2rem !important;
}

.allergies {
  margin-left: 2.5rem !important;
}

.form__group__icon-input {
  display: flex;
  position: relative;
}

.f_date,
.h_date,
.bl,
.db {
  padding-right: 0;
}

.icon__names {
  content: url("../../../assets/icon/profile.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.5rem;
  bottom: 0;
  left: 0rem;
}

.icon__owner {
  content: url("../../../assets/icon/profile.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.3rem;
  bottom: 0;
  left: 0rem;
}

.icon__mail {
  content: url("../../../assets/icon/email.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.6rem;
  bottom: 0;
  left: 0rem;
}

.icon__password {
  content: url("../../../assets/icon/password.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.4rem;
  bottom: 0;
  left: 0rem;
}

.icon__num_s {
  content: url("../../../assets/icon/main\ contact\ 64.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.4rem;
  bottom: 0;
  left: 0rem;
}

.icon__n_airline {
  content: url("../../../assets/icon/flight.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.5rem;
  bottom: 0;
  left: 0rem;
}

.icon__n_flight {
  content: url("../../../assets/icon/flight_number.png");
  width: 1.9rem;
  height: 1.9rem;
  top: 0.2rem;
  bottom: 0;
  left: 0rem;
}

.icon__date {
  content: url("../../../assets/icon/calendar.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__gender {
  content: url("../../../assets/icon/gender.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.7rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__nacionality {
  content: url("../../../assets/icon/user\ profile.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.7rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__city {
  content: url("../../../assets/icon/user\ profile.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.7rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__relation {
  content: url("../../../assets/icon/family.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.4rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__relation1 {
  content: url("../../../assets/icon/family.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 1.5rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__pass {
  content: url("../../../assets/icon/passport.png");
  width: 1.9rem;
  height: 1.9rem;
  top: 1.2rem;
  bottom: 0;
  left: 0rem;
}

.icon__bl {
  content: url("../../../assets/icon/calendar.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 1.5rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__n_a {
  content: url("../../../assets/icon/academy\ preference.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.6rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__smoke_s {
  content: url("../../../assets/icon/smokers.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.6rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__pets {
  content: url("../../../assets/icon/pets\ 64.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.4rem;
  bottom: 0;
  left: 0.1rem;
}

.icon__food {
  content: url("../../../assets/icon/special-diet.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.4rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__allergies {
  content: url("../../../assets/icon/allergies.png");
  width: 2rem;
  height: 2rem;
  top: 0.4rem;
  bottom: 0;
  left: 0rem;
}

.icon__allergies__other {
  content: url("../../../assets/icon/allergies.png");
  width: 2rem;
  height: 2rem;
  top: 1.2rem;
  bottom: 0;
  left: 0rem;
}

.icon__allergies2 {
  content: url("../../../assets/icon/allergies2.png");
  width: 1.6rem;
  height: 1.6rem;
  top: 0.4rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__allergies2__other {
  content: url("../../../assets/icon/allergies2.png");
  width: 1.6rem;
  height: 1.6rem;
  top: 1.5rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__diet {
  content: url("../../../assets/icon/diet.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__prog_selec {
  content: url("../../../assets/icon/years_exp.png");
  width: 1.9rem;
  height: 1.9rem;
  top: 0.3rem;
  bottom: 0;
  left: 0rem;
}

.icon__dir {
  content: url("../../../assets/icon/location\ 64.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.5rem;
  bottom: 0;
  left: 0rem;
}

.icon__price {
  content: url("../../../assets/icon/available.png");
  width: 1.9rem;
  height: 1.9rem;
  top: 0.2rem;
  bottom: 0;
  left: 0rem;
}

.icon__healt_s {
  content: url("../../../assets/icon/allergies2.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.2rem;
  bottom: 0;
  left: 0.6rem;
}

.icon__drinks_alc {
  content: url("../../../assets/icon/drink_al.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.4rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__drugs {
  content: url("../../../assets/icon/drugs.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__children {
  content: url("../../../assets/icon/family.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.5rem;
}

.icon__lodging {
  content: url("../../../assets/icon/bed.png");
  width: 1.9rem;
  height: 1.9rem;
  top: 0.4rem;
  bottom: 0;
  left: 0rem;
}

.icon__file {
  content: url("../../../assets/icon/attached_files.png");
  width: 14%;
  height: 25%;
  top: 33.5%;
  left: 43%;
  opacity: 0.6;
}

.icon__about_me {
  content: url("../../../assets/icon/basic\ information\ 64.png");
  width: 1.9rem;
  height: 1.9rem;
  top: 0.2rem;
  bottom: 0;
  left: 0.6rem;
}

.icon_accommodation {
  content: url("../../../assets/icon/accommodation64-white.png");
  width: 2rem;
  height: 2rem;
  top: 1.3rem;
  bottom: 0;
  left: 0rem;
}

/*------------------ POP UP -----------------*/

#house_much,
#house_ass {
  color: rgb(179, 40, 40);
  width: 20%;
  background-color: #f8f7f7;

  border-radius: 8px;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 100;
  box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
}

.content_popup {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  line-height: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
}

#close,
#close2 {
  font-size: 12px;
  font-weight: bold;
}

#close:hover {
  color: #232159;
}

.close_div {
  float: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.btn-divs {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.back_panel {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 50px;
  background-color: #394893;
  color: #fff;
  border-radius: 4px;
  font-size: 17px;
  width: 28%;
}

.back_panel:hover {
  color: #fff;
}

.logo_white {
  width: 200px;
}

.btn__eye {
  position: absolute;
  right: 0rem;
  top: 1rem;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #232159;
}

/* ? CALENDAR */

.applyBtn {
  background-color: #232159 !important;
  border: #232159 !important;
  transition: all 0.3s;
}

.start-date,
.end-date {
  background-color: #232159 !important;
}

.applyBtn:hover {
  background-color: #394893 !important;
  border: #394893 !important;
}

#treatment_p,
#surgery,
#treatment,
#accomm-near,
#accomm-urgent,
#summer-fee,
#minor-fee {
  margin-top: 1rem;
}

@media (max-width: 767px) {
  .navbar {
    height: 6rem !important;
  }
  .logo_white {
    width: 110px;
    margin-top: 0rem;
  }

  .navbar-nav {
    margin-top: -2rem !important;
  }
}

@media (min-width: 767px) {
  .logo_white {
    margin-top: 0rem;
    width: 110px;
  }
}

@media (min-width: 1000px) {
  .logo_white {
    width: 140px;
  }
}

@media (min-width: 1200px) {
  .logo_white {
    width: 160px;
  }
}

@media (min-width: 1400px) {
  .logo_white {
    width: 160px;
  }
}

/*-------------------------------------------*/

@media (min-width: 320px) and (max-width: 767px) {
  .column-2 {
    padding-right: 0;
  }
  .column-1 {
    padding-right: 0;
  }

  .form__label {
    font-size: 11px !important;
  }

  .container_register {
    margin-top: 10rem;
  }

  .title__register__s {
    font-size: 34px;
    width: 90%;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .progressbar {
    padding-left: 0;
  }

  .progressbar__option:before {
    width: 30px;
    height: 30px;
  }

  .progressbar__option {
    font-size: 15px;
  }

  .message__booking_fee {
    font-size: 16px;
  }

  .div__card__information {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .form__group__row-diet {
    width: 19rem;
  }

  .custom-control-label {
    font-size: 13px !important;
  }

  .custom-checkbox {
    flex: 0 calc(50% - 2px);
  }

  .form__group__div-special__diet {
    padding: 0.7rem 0.5rem;
  }
}

@media (min-width: 500px) and (max-width: 575px) {
  .form__group__row-diet {
    width: 19rem;
  }

  .custom-control-label {
    font-size: 13px !important;
  }

  .custom-checkbox {
    flex: 0 0 calc(48% - 2px);
  }
}

@media (max-width: 575px) {
  .label__price {
    left: -1rem;
    right: 0 !important;
    top: -1.5rem !important;
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .visa {
    left: 0;
  }

  .information__content-col-8 {
    padding: 1rem 0rem;
  }
}

@media (min-width: 300px) {
  .city,
  .pass,
  .bl {
    margin-top: 1rem;
    width: 100%;
  }

  .visa {
    margin-top: 1rem;
  }

  .form__group__allergies,
  .form__group__healt_s {
    margin-top: 2rem;
  }

  .form__group__lang_s,
  .form__group__nationality,
  .form__group__language_a,
  .form__group__type_s,
  .form__group__english_l,
  .form__group__prog_selec,
  .form__group__schedule,
  .form__group__firstd,
  .form__group__lastd,
  .form__group__allergies,
  .form__group__div-special__diet,
  .form__group-h_date,
  .form__group-f_date,
  .form__group__num_conts,
  .form__group__cell_s {
    margin-top: 1rem;
  }

  .form__group__c_number2,
  .form__group__exp_card2,
  .form__group__ow_name2,
  .form__group__c_type2,
  .form__group__cvv2 {
    margin-bottom: 2rem !important;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form__label {
    font-size: 12px !important;
  }

  .icon__date {
    width: 1.2rem;
    height: 1.2rem;
    top: 0.8rem;
  }

  .f_date,
  .h_date {
    padding-left: 1.7rem !important;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .form__group__div__photo__visa {
    width: 70%;
    height: 15rem;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .form__group__div__photo__visa {
    width: 100%;
    height: 15rem;
  }
}

@media (min-width: 767px) and (max-width: 1300px) {
  .card__register {
    width: 100%;
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  .card__register {
    width: 95%;
  }
}
