.del-btn {
    background: #982a72;
    color: white;
    margin-right: 2%;
}

.can-btn {
    background: #232159;
    color: white;
}

dt {
    color: #232159;
}

.focus {
    color: #232159;
}

body#body {
    background-color: #F3F8FC;
}

a#student-link {
    color: black;
  }

a#student-link:hover{
    color: purple;
  }

h5#good {
    color: green;
}

h5#bad {
    color: red;
}

a#previews{
    color: white; 
    background-color: #982A72; 
    border: 2px solid #982A72; 
    font-size: 14px;

}

a#edit2{
    color: white; 
    border: 2px solid #4F177D;
    background-color: #4F177D;
}

a#preview{
    color: black; 
    border: 2px solid #232159;
}


a#preview:hover{
    color: white; 
    border: 2px solid #232159; 
    background-color: #232159;
}

a#edit {
    color: white; 
    border: 2px solid #394893;
    background-color: #394893;
}

/*AJAX*/
a.page-link {
    background-color: transparent;
    border: none;
    border-radius: 50px;
    color: #191919;
    margin: 0 .125rem;
    padding: .75rem 1rem;
    position: relative;
}

a.page-link:hover {
    background-color: #815391;
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
    color: #191919;
}

a.page-link:after {
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    bottom: -0.4375rem;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
    transition: .3s ease;
}

li.page-item:first-child a.page-link, li.page-item:last-child a.page-link {
    border-radius: 0;
}

li.page-item.active a.page-link {
    background-color: #232159;
    box-shadow: 0 .125rem .3125rem rgba(0, 0, 0, .1);
}

li.page-item.active a.page-link:after {
    border-color: white transparent transparent transparent;
}

.mail_reserve{
    color: #232159;
    line-height: 30px;
}

.mail_reserve:hover{
    text-decoration: none;
    color: #232159;
}

.btn__form__reserve {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: .5rem .3rem;
    width: 45%;
    color: white;
    cursor: pointer;
    transition: all .5s;
    box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
}

.btn:hover {
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.confirm__reserve {
    background-color: var(--room2);
}

.cancel__reserve {
    background-color: var(--room1);
}

.mheight__img {
    max-height: 15rem;
}

:root {
    --room1: #232159;
    --room2: #982a72;
    --room3: #394893;
    --room4: #A54483;
    --room5: #5D418D;
    --room6: #392B84;
    --room7: #B15391;
    --room8: #4F177D;
    --ff: #f8f8f8;
}

.bg-room1{
    background-color: var(--room1);
}
.bg-room8{
    background-color: var(--room8);
}

.del-btn {
    background: #982a72;
    color: white;
    margin-right: 2%;
}

.can-btn {
    background: #232159;
    color: white;
}

.rep-btn {
    background: #4f177d;
    color: white;
    margin-right: 2%;
}

dt {
    color: #232159;
}

.focus {
    color: #232159;
}

.input-borderless {
    width: 100%;
    border-top: 0px;
    border-bottom: 2px solid #4f177d;
    border-right: 0px;
    border-left: 0px;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-decoration: none;
    outline: none;
    display: block;
    padding: 10px 5px;
    margin: 0px 0;
    font-size: .9em;
}

.input-borderless::placeholder{
    font-size: .8rem;
}

.option {
    color: black;
}

.title-rep {
    padding: 5px;
    color: black;
    border-radius: 8px;
    border-bottom: 2px solid #4f177d;
}

.tittle_rep {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.title_reject{
    text-align: center;
    margin-bottom: 2rem;
}

.reject__div{
    margin: 0;
    width: 100%;
}

.reject__information{
    width: 70%;
    color: #000;
    font-size: .8rem;
    line-height: 15px;
    margin: 0 auto;
    text-align: center;
}

.inputs__information{
    display: flex;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    position: relative;
}

.label_reject{
    position: absolute;
    top: -.8rem;
    font-size: .7rem !important;
    font-weight: normal !important;
    color: var(--room1) !important;
}

.back_input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--room1);
    text-align: center;
}

.back_input:focus{
    border: none;
}

.back_input:active{
    border: none;
}

.btn-reject{
    width: 20%;
    padding: .2rem .1rem;
}

