 div#map {
	height: 500px;
	width: 100%;
}

body {
	background-color: #F3F8FC;
}

section#full {
	height: 500px;
}

div#full {
	height: 100px;
}

img#map-img {
	width: 100px; 
	height: 100px;
}

button#search {
	background-color: #982A72; 
	border:#982A72; 
	font-size: 14px;
}

#Living-mobile{display: none;}
    #common-mobile{display: none;}
    #bath-mobile{display: none;}
    span.phome-mobile{display: none;}
    span.proom-mobile{display: none;}
    input#room{width: 30%;}
    #marker {
      background-image: url('../images/academy1.png');
      background-size: cover;
      width: 25px;
      height: 47px;
      cursor: pointer;
    }
    #house { 
      background-image: url('../images/house1.png');
      background-size: cover;
      width: 27px;
      height: 49px;
      cursor: pointer;}


    /*Buttons*/
    button#submit{width: 130px;}
    a#contact{width: 130px; font-size: 14px;}
