.zoom{

    transition: width .5s, height .5s, transform .5s;
    -moz-transition: width .5s, height .5s, -moz-transform .5s;
    -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
    -o-transition: width .5s, height .5s, -o-transform .5s;
}

.zoom:hover{
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
}

@media (min-width: 320px) and (max-width: 399px) {

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; color: #982A72;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; color: #454293;}

    .bar-iii{padding:3%; padding-left: 5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; padding-left: 7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-iv:hover{background-color: #4F177D; color: white;}
}

@media (min-width: 400px) and (max-width: 499px){

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; color: #982A72;}

    .bar-i:hover{color: white;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:3%; padding-left: 5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; padding-left: 7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-iv:hover{background-color: #4F177D; color: white;}

}

@media (min-width: 500px) and (max-width: 599px){

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; color: #982A72;}

    .bar-i:hover{color: white;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:3%; padding-left: 5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; padding-left: 7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-iv:hover{background-color: #4F177D; color: white;}

}

@media (min-width: 600px) and (max-width: 767px){

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; color: #982A72;}

    .bar-i:hover{color: white;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:3%; padding-left: 5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; padding-left: 7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-iv:hover{background-color: #4F177D; color: white;}

}

@media (min-width: 768px) and (max-width: 899px){

    .bar-i{color: #982A72;}

    .bar-ii{padding:5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293; width: auto;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D; width: auto;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293; width: auto;}

    .bar-iv:hover{background-color: #4F177D; color: white; }
}

@media (min-width: 900px){

    .bar-i{color: #982A72;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 13px; color: #454293; width: auto;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 13px; color: #4F177D; width: auto;}        

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 13px; color: #454293; width: auto;}

    .bar-iv:hover{background-color: #4F177D; color: white; }
}

@media (min-width: 992px) and (max-width: 1920px){

    .bar-ii{padding: 5%; width: auto;}

    .bar-iii{padding: 5%; width: auto;}

    .bar-iv{padding: 5%; width: auto;}
}


@media (min-width: 1420px){

    .bar-ii{height: auto; width: auto;}

    .bar-iii{height: auto; width: auto;}

    .bar-iv{height: auto; width: auto;}
}

@media (min-width: 1420px) and (max-width: 1600px){

    .bar-i{font-size: 15px}

    .bar-ii{font-size: 13px}

    .bar-iii{font-size: 13px}

    .bar-iv{font-size: 13px}
}

@media (min-width: 1600px) {
    .bar-i{font-size: 18px}

    .bar-ii{font-size: 15px}

    .bar-iii{font-size: 15px}

    .bar-iv{font-size: 15px}
}
