/* TODO WINYERSON */
/**-------------CUSTOM PROPERTIES-------------**/
:root {
  --first-color: #232159;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: rgba(57, 43, 132);
  --title-color: #333;
  --text-color: #222;
}

/** DEFAULT **/
html {
  scroll-behavior: smooth;
  background-color: #eeeeee;
}
h1 {
  color: #222;
}
main {
  margin-top: 82px !important;
}
#map {
  height: 500px;
  width: 40px;
}

.loading-houses {
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
}
.loading-houses svg {
  stroke: var(--four-color);
}

.houses-container {
  width: 100%;
  min-height: 40vh;
  position: relative;
  transition: 300ms ease all;
}

.card-house {
  position: relative;
  width: 20rem;
  margin-right: 1.5rem;
  height: max-content;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  transition: 250ms ease all !important;
}
.card-house:last-child {
  margin-right: 0rem;
}
.card-house:hover {
  color: unset;
  transform: scale(1.05);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-house .card-header {
  width: 100% !important;
  cursor: pointer;
  position: relative;
}
.card-house .card-header > img {
  width: 100%;
  height: 16rem;
  overflow: hidden;
  object-fit: fill;
  position: relative;
  pointer-events: none;
}
.card-house .card-body {
  font-size: 90%;
  position: unset;
  transition: ease all 300ms;
}

.modal-content {
  width: 100%;
  z-index: 9999;
  position: absolute;
}

.modal-title {
  width: 100%;
  text-align: center;
  color: #fff;
  padding-left: 2rem;
  font-size: 1.5rem;
}

.close {
  color: #fff;
}

.close:hover {
  color: #f8f8f8 !important;
}

.modal-body {
  background-color: #f8f8f8;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ticket__information {
  text-align: center;
  color: #000;
  width: 90%;
  font-size: 1rem;
  margin: 0 auto;
}

.btn__ticket {
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
}

.btn__ticket:hover {
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 992px) {
  .card-house {
    position: relative;
    width: 16rem;
    margin-right: 1.5rem;
    height: max-content;
    overflow: hidden;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    transition: 250ms ease all !important;
  }
  .card-house .card-header > img {
    height: 14rem;
  }
}
