#map {width: 320px; height: 300px;}
 #marker { 
      background-image: url('../../../student/assets/images/academy1.png');
      background-size: cover;
      width: 27px;
      height: 49px;
      cursor: pointer;}
  #house { 
    background-image: url('../../../student/assets/images/house1.png');
    background-size: cover;
    width: 27px;
    height: 49px;
    cursor: pointer;}

body {
	background-color: #F3F8FC;
}

img#student {
	width: 100px; 
	height: auto; 	
}

span#gender {
    margin-left: -10px;
}

span#age {
    margin-left: -10px;
    margin-right: 10px;
}

a#info{
	color: white; 
    border: 2px solid #232159; 
    background-color: #232159;
}

button#submit {
	color: white; 
	background-color: #232159; 
	border: 2px solid #232159;
    align-content: center;
}

button#submit2 {
	color: white; 
	background-color: #232159; 
	border: 2px solid #232159;
}

th#top {
    background-color: #982A72;
    color: white
}

li.fa.fa-check {
    font-size: 12px;
}

#house_much, #house_ass{
    color: rgb(179, 40, 40);
    width: 20%;
    background-color: #f8f7f7;
    
    border-radius: 8px;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    z-index: 100;
    box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
}

.content_popup{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    line-height: 20px;
}

.content{
    display: flex;
    justify-content: space-between;
}

#close, #close2{
    font-size: 12px;
    font-weight: bold;
}

#close:hover{
    color: #232159;
}

.close_div{
    float:right;
    margin-right: 1rem;
    margin-top: .5rem;
}


.btn-divs{
    width: 90%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.back_panel{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 50px;
    background-color: #394893;
    color: #fff;
    border-radius: 4px;
    font-size: 17px;
    width: 28%;
}

.back_panel:hover{
    color: #fff;
}


.disabled{
    cursor: not-allowed;
}


.opa, .opa2{
    display: none;
}

.vis, .vis2{
    display: block;
}