:root{
    --ff: #fff;
    --color1: #7e24c2;
    --color2: #7300d1;
    --color3: #bb6bdb;
    --color4: #a56bd0;
}

body{
    background-color: var(--ff);
    padding: 0;
    margin: 0;
}

/* Header */

.logo_white {
    width: 200px;
}

.navbar{
    height: 5.8rem !important;
}

.logo_white{
    margin-left: 1rem;
}

@media (max-width: 767px){
    .navbar{
        height: 6rem !important;
    }
    .logo_white {
        width: 110px;
        margin-top: 0rem;
    }

    .navbar-nav{
        margin-top: -2rem !important;
    }
}

@media(min-width: 767px) {
    .logo_white {
        margin-top: 0rem;
        width: 110px;
    }
}

@media(min-width: 1000px) {
    .logo_white {
        width: 140px;
    }
}

@media(min-width: 1200px) {
    .logo_white {
        width: 220px;
    }
}

@media(min-width: 1400px) {
    .logo_white {
        width: 220px;
    }
}

/*---------------------------------*/


.ihomestay__banner{
    position: relative;
}


.img__fon{
    background-image: url('../images/Toronto.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: 100% 60rem;
    background-repeat: no-repeat;
    opacity: .75;
    z-index: 0;
    margin: 0;
    padding: 0;
}

.img__fon:before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    z-index: 0;
}


/* Banner */

.opacity_banner{
    height: 55rem;
    background: linear-gradient(70deg, transparent, black);
    opacity: .6;
}


.div__banner{
    padding-top: 2rem;
    max-height: 55rem;
    height: 55rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: -6rem;
}

.content__banner{
    width: 65%;
    margin: auto auto;
    z-index: 1 !important;
}

.title__banner{
    font-size: 32px;
    color: var(--ff);
    font-weight: 700;
    opacity: 1;
    margin-bottom: 1.5rem;
}

.mb__btn{
    margin-bottom: 6rem;
}

.ihomestay_btn__register{
    background-color: var(--color1);
    color: var(--ff);
    padding: 10px 45px;
    border-radius: 16px;
    font-size: 16px;
    text-decoration: none;
    opacity: 1;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);

}

.ihomestay_btn__register:hover{
    background-color: var(--color2);
    text-decoration: none;
    opacity: 1;
    color: var(--ff);
}


/* Content */

.main__content{
    opacity: 1;
}

.div__content{
    margin-top: -5.5rem;
}

.div__icons__content{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto auto;
    margin-bottom: 6rem;
}

.title__icon_div{
    font-size: 20px;
    margin-top: .8rem;
    margin-bottom: 1rem;
    color: var(--color2);
}

.content__div{
    background-color: var(--ff);
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 93%;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.image_content{
    padding: 0;
    display: flex;
    justify-content: center;
}

.text_content{
    width: 93%;
    margin: auto auto;
}

.title__text__content{
    width: 100%;
    text-align: center;
    color: var(--color2);
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 1rem;
}


.description__content{
    color: var(--color3);
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}

.div__btn_register{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn__register_description{
    text-decoration: none;
    outline: none;
    padding: 10px 50px;
    color: var(--color4);
    border: 1px solid var(--color2);
    border-radius: 4px;
    font-size: 18px;
}

.btn__register_description:hover{
    text-decoration: none;
    color: var(--ff);
    background-color: var(--color2);
    transition: all .5s;

}

.image__description{
    width: 70%;
}

.column2{
    margin-top: 6rem;
}

.description2{
    border-radius: 42px;
}

.bottom__footer{
    margin-bottom: 10rem;
}

/* Icons */

.div__icons{
    z-index: 1;
    text-align: center;
}

.house__icon{
    content: url('../logos/houses.png');
    width: 6.2rem;
    background-color: var(--ff);
    padding: 22px 22px;
    border-radius: 80px;
    margin-left: auto;
    margin-right: auto;
}

.wcare__icon{
    content: url('../logos/care_h.png');
    width: 6.2rem;
    background-color: var(--ff);
    padding: 22px 22px;
    border-radius: 80px;
    margin-left: auto;
    margin-right: auto;
}

.service__icon{
    content: url('../logos/services.png');
    width: 6.2rem;
    background-color: var(--ff);
    padding: 22px 22px;
    border-radius: 80px;
    margin-left: auto;
    margin-right: auto;
}


/* Responsive */

@media (max-width: 767px){

    .content__div{
        grid-template-columns: 1fr;
    }

    .image_content{
        grid-row: 1;
    }

    .text_content{
        grid-row: 2;
    }    

}