div#page-top {
    background-color: #3498DB;
}

div#section1 {
    margin-top: 80px; 
    margin-bottom: -120px; 
    background-color: #3498DB;
}

section#container1{
    background-color: #3498DB;
}

h2#title {
    font-weight: 300;
}

p#white {
    text-align: justify; 
    color: white;
}

p#black {
    text-align: justify; 
    color: black;
}

div#div2 {
    margin-top: 80px; 
    margin-bottom: -120px; 
    background-color: white;
}

img#img1 {
    border-radius: 25px;
}

section#container2 {
    background-color: white;
}

img#img2 {
    max-height: 450px;
}

a.btn-link{color:  #982A72;}
    a.btn-link:hover{color:  #982A72;}
    html {
        scroll-behavior: smooth;
        }

a.btn{ 
    color: #5D418D; 
    border: 2px solid #5D418D;
}
a.btn:hover{ 
    background-color: #982A72; 
    border: 2px solid #982A72; 
}

a#button{
    color: #3498DB;
    background-color: white;
    border-color: #3498DB;
 }
 a#button:hover{
    color: white;
    background-color: #3498DB;
    border-color: white;
 }

 img#img3 {
    border-radius: 25px;
 }

 div#div3 {
    margin-top: 80px; 
    margin-bottom: -120px; 
    background-color: #3498DB;
 }

section#container3 {
    background-color: #3498DB;
}
   


@media screen and (max-width: 420px) {
            #white-logo{display: none;}
            div.ts-copyright { margin-left: -120px; margin-top: 10px; }
            nav.nav { margin-left: -20px }
            #nav-footer{display: none;}
            #con-footer{display: none;}
            div.container {height: -1000px;}
            #ts-footer-secondary{height: 150px}
            a.fa-youtube{display: none;}
            div.ts-feature {margin-left: 20px;}
            #student2{margin-left: 20px;}
            #academy2{margin-left: 20px;}
    
        }