/*a.nav-link.active.btn-light.my-2{
    background: #982A72;
    color: white;
}

a.nav-link.btn-light.my-2:hover {
    background:  #5D418D;
}

button.btn{ 
	color: #5D418D; 
	border: 2px solid #5D418D;
}

button.btn:hover{ 
	background-color: #982A72; 
	border: 2px solid #982A72; 
}

div#message {
	margin-top: 2em; 
	text-align: center;
}

h5#good {
	color: green;
}

h5#bad {
	color: red;
}

button.btn{ 
	color: #5D418D; 
	border: 2px solid #5D418D;
}

button.btn:hover{ 
	background-color: #982A72; 
	border: 2px solid #982A72; 
}

a.btn{ 
	color: #5D418D; 
	border: 2px solid #5D418D;
}

a.btn:hover{ 
	background-color: #982A72; 
	border: 2px solid #982A72; 
}*/

:root {
    --room1: #232159;
    --room2: #982a72;
    --room3: #394893;
    --room4: #A54483;
    --room5: #5D418D;
    --room6: #392B84;
    --room7: #B15391;
    --room8: #4F177D;
    --ff: #f8f8f8;
}

body{
	background-color: #faf2ff !important;
}


.main{
	
	margin: 0;
	padding: 0;
	width: 100%;
}

.div__container__help{
	width: 80%;
	margin: auto auto;
	margin-top: 2rem;
	padding-top: 2rem;
	display: flex;
	justify-content: space-between;
}

.card__section-help{
	padding: 1.5rem;
}

.link__help{
	border-radius: 6px;
	margin-bottom: .5rem;
}

.link__help:hover{
	background-color: #eadeff;
	color: #000 !important;
}


.active1{
	background-color: var(--room5);
	color: #fff !important;
}

/* Content Help */

.content__help{
	padding-top: 0;
}

.title__help{
	padding: .5rem 1.5rem;
	width: 100%;
	margin: 0;
	background-color: #4F177D;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 2rem;
	font-size: 22px;
}

.link__new__message{
	float: right;
	color: #fff;
	font-weight: 500 !important;
	margin-right: .5rem;
	font-size: 1rem;
	background-color: #982a72;
	padding: .5rem .9rem;
	border-radius: 8px;
}

.link__new__message:hover{
	color: #fff;
	background-color: #B15391;
}

.link__new__message:active{
	color: #fff;
}

.link__new__message:focus{
	color: #fff;
}

.content__message-help{
	padding: 0rem 1.5rem;
	padding-bottom: 1rem;
}

.message__help{
	display: flex;
	justify-content: left;
	margin-bottom: 2rem;
	border-bottom: 1px solid rgb(192, 192, 192);
	padding-bottom: 1.5rem;
}

.div__photo__user-help{
	width: 3rem;
	height: 3rem;
	border-radius: 30px;
	margin-right: 1rem;
}

.photo__user-help{
	width: 100%;
	border-radius: 30px;
}

.div__content__user-help{
	background-color: #f8e6f2;
	padding: .5rem;
	border-radius: 10px;
	width: 80%;
}


.name__user{
	margin-bottom: .5rem;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
}

.content__question{
	font-size: 15px;
	color: #000;
	text-align: justify;
}

.date__message{
	float: right;
	margin-right: .5rem;
	display: inline;
	color: #000;
}

.div__contact{
	padding: 0rem 1.5rem;
	padding-bottom: 1rem;
	display: flex;
	justify-content: space-around;
}

.num__contact{
	padding: 1rem;
	border-right: 1px solid #000;
}

.num__contact-details{
	display: flex;
	padding: .3rem;
	position: relative;
	margin-top: 2rem;
}

.label__title{
	position: absolute;
	top: -1rem;
	left: .5rem;
}

.icon__number{
	content: url("../../icon/wsp__icon.png");
	width: 35px;
	height: 35px;
	margin-top: 0rem;
	margin-left: .2rem;
}

.content__contact{
	color: #000;
	margin-left: .2rem;
	margin-top: .2rem;
	font-weight: 500;
}


.icon__email3{
	content: url("../../icon/email.png");
	width: 22px;
	height: 22px;
	margin-left: .4rem;
	margin-top: .3rem;
}

.email{
	margin-left: .4rem !important;
	font-weight: 500;
}

.title__message{
	padding-left: 0rem;
	font-size: 22px;
}

.form__contact{
	padding: 1rem;
}

.names__email{
	margin: 0;
	margin-top: 2rem;
	display: flex;
	justify-content: space-around;
	margin-bottom: 3rem;
}

.div__inputs{
	position: relative;
}

.icon__names{
	content: url("../../icon/profile.png");
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0rem;
	left: 0rem;
}

.icon__email2{
	content: url("../../icon/email.png");
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0rem;
	left: 0rem;
}

.label__g{
	font-weight: 500 !important;
	color: #232159;
}

.label__names, .label__email, .label__subject, .label__email_r{
	position: absolute;
	top: -1.5rem;
	left: 0rem;
}

.inputs__contact{
	border: none;
	outline: none;
	padding-bottom: .2rem;
	padding-left: 1.8rem;
	border-bottom: 1px solid #4F177D;
	width: 100%;
}

.container__mesage{
	padding: 0rem 1rem;
}

.input__subjet{
	margin-bottom: 3rem;
}


.textarea__message{
	padding: .5rem !important;
	background-color: rgb(238, 238, 238);
	border-radius: 6px !important;
}

.div__recover-pssw{
	padding: 0rem 1.5rem;
	padding-bottom: 1rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.input__mail_r{
	display: flex;
	justify-content: space-around;
	margin-bottom: 2rem;
}

.div__input__mail_r{
	position: relative;
	width: 40%;
}

.mail_r{
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
}

.text__warning{
	text-align: center;
	font-weight: 500;
	margin-top: 2rem;
	margin-bottom: 0;
}

#message__sent{
	color: #1ca827;
}

#message__error{
	color: #bb2929;
}

.div__send{
	display: flex;
	justify-content: center;
}

.btn__send{
	padding: .5rem .8rem;
	background-color: #4f177d;
	color: #fff;
	border: none;
	border-radius: 6px;
	transition: all .2s;
}

.btn__send:hover{
	background-color: #5D418D;
}


/* Divs help */

.display2, .display1, .display3{
	display: none;
}



/* Spin */

.btn_none{
	display: none;
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	transition: 1s all;
	opacity: 0;
}
.loading.show {
	opacity: 1;
}
.loading, .spin {
	border: 3px solid #d4bbff;
	border-top-color: #4f177d;
	border-radius: 50%;
	width: 2em;
	height: 2em;
	animation: spin 1s linear infinite;
	margin-left: auto;
	margin-right: auto;
}
@keyframes spin {
  to {
	transform: rotate(360deg);
  }
}   







.form__group{
	margin-bottom: 1rem;
	position: relative;
}

.form__group__name, .form__group__email, .form__group__subject{
	margin-top: 1rem !important;
}

.form__group__subject, .form__group__message{
    width: 85%;
}

.form__group__icon-input{
	display: flex;
	position: relative;
}

.form__group-input{
	border: none;
	padding: 10px 5px;
    padding-bottom: 6px;
    padding-left: 2rem;
	outline: none;
	border-bottom: 2px solid #4f177d;
	border-radius: 0 !important;
}

.form__group-input:focus{
	border-bottom: 2px solid #4f177d;
}

.form__group-input:active{
	border-bottom: 2px solid #4f177d;
}

.names, .subject, .message{
	width: 100% !important;
}

.message{
    padding: .5rem !important;
    background-color: rgb(238, 238, 238);
    border-radius: 8px !important;
}

.form__group__input-error{
	margin-bottom: 0;
	font-size: 14px;
	display: none;
	line-height: 15px;
	color: #bb2929;
	width: 85%;
}

.form__group__input-error-active{
	display: block;
}

.form__message{
	display: none;
}

.form__message p{
	margin: 0;
    color: #bb2929 !important;
    font-size: 16px;
    font-weight: 500;
}

.form__message-active{
	display: block;
    text-align: center;
    margin-bottom: 2rem;
   
}

.form__message-sucess{
	color: green;
	font-size: 16px;
	display: none;
    text-align: center;
}

.form__message-sucess-active{
	display: block;
}


/* Labels */

.form__label{
	position: absolute;
	left: .2rem;
	top: -.5rem;
	font-size: 14px !important;
	color: #232159;
	font-weight: 500 !important;
	line-height: 15px;
}

.label__message{
    top: -1.2rem !important;
}


/* inputs actions */

.form__group-correct .form__group-input{
	border-bottom: 2px solid #1ca827;
}


.form__group-correct .form__label{
	color: #1ca827;
}


.form__group-incorrect .form__label{
	color: #bb2929;
}

.form__group-incorrect .form__group-input{
	border-bottom: 2px solid #bb2929;
}


/* Icons */

.icon{
	position: absolute;
}

.icon__names{
	content: url('../../icon/profile.png');
    width: 1.7rem;
    height: 1.7rem;
	top: .6rem;
	bottom: 0;
	left: 0rem;
}

.icon__email{
	content: url("../../icon/email.png");
    width: 1.6rem;
    height: 1.6rem;
	top: .4rem;
	bottom: 0;
	left: .2rem;
}

.icon__subject{
	content: url("../../icon/basic\ information\ 64.png");
    width: 1.8rem;
    height: 1.8rem;
	top: .6rem;
	bottom: 0;
	left: .2rem;
}

.container__help{
	max-width: 900px;
	margin-right: auto;
}




/* Responsive */

@media (min-width: 300px) and (max-width: 767px){

	.div__container__help{
		width: 100%;
		margin: auto auto;
		margin-top: 2rem;
		padding-top: 2rem;
		display: block;
	}

	.message__help{
		display: block;
	}

	.div__content__user-help{
		margin-top: -1rem;
		width: 100%;
		padding: 1rem;
		padding-top: 2rem;
	}

	

	


}

@media (min-width: 300px) and (max-width: 1000px){
	.div__contact{
		display: block;
	}

	.num__contact{
		border: none;
		border-bottom: 1px solid #000;
		padding-bottom: 2rem !important;
	}

	
}

@media (min-width: 300px) and (max-width: 500px){
	.div__input__mail_r{
		width: 80%;
	}
}

@media (min-width: 500px) and (max-width: 600px){
	.div__input__mail_r{
		width: 60%;
	}
}

@media (min-width: 500px) and (max-width: 600px){
	.div__input__mail_r{
		width: 70%;
	}
}



@media (min-width: 300px){


	

	.title__message{
		width: 100%;
		margin-bottom: 2rem;
	}

	.contact__form{
		margin-top: 2rem !important;
		display: block !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.email1{
		width: 100%;
		margin-left: 0!important;
	}

	.icon__email{
		top: .7rem;
	}

	.message{
		width: 100% !important;
	}

	.form__group__icon-input{
		width: 100%;
	}

	.form__group__subject, .form__group__message{
		width: 100%;
	}

	.div__btn__send{
		display: flex;
		justify-content: center;
	}

	

	


}

@media (min-width: 300px) and (max-width: 500px){

	.a{
		display: none;
	}

	.title__help{
		text-align: center;
		padding-bottom: 1rem;
		width: 100%;
	}

	.link__new__message{
		float: none;
		padding: .5rem 1rem;
		margin-right: 0;
	}



}

@media (min-width: 300px) and (max-width: 382px){

	.date__message{
		margin-top: -2.8rem;
		font-weight: 500 !important;
		font-size: 14px;
	}

}

@media (min-width: 383px){

	.date__message{
		margin-top: -1.3rem;
		font-weight: 500 !important;
		font-size: 14px;
	}

}

@media (min-width: 500px) {

	.b{
		display: none;
	}

}

@media (min-width: 767px) and (max-width: 1200px) {

	.div__container__help{
		width: 95%;
		display: flex;
	}

}

@media (min-width: 767px) {

	.container__help{
		width: 100%;
	}

	.date__message{
		margin-top: 0rem;
		font-weight: 500 !important;
		font-size: 14px;
	}

}

@media (min-width: 1000px) {

	.div__contact{
		padding-left: 1rem;
	}

	.div__container__help{
		width: 90%;
		display: flex;
	}

	.contact__form{
		padding: 0rem 3rem !important;
	}

}




@media (min-width: 320px) and (max-width: 767px){

	.form__label{
		font-size: 11px !important;
	}
}

@media(min-width: 700px) and (max-width: 1200px){
	.form__label{
		font-size: 12px !important;
	}
}