body {
	background-color: #F3F8FC;
}

img#security-logo {
	margin-left: 25%; 
	width: 200px;
}

h5#good {
	color: green;
}

h5#bad {
	color: red;
}

i#login {
	color: #982A72;
}

button.btn{ 
	color: #5D418D; 
	border: 2px solid #5D418D;
}

button.btn:hover{ 
	background-color: #982A72; 
	border: 2px solid #982A72; 
}

a.btn{ 
	color: #5D418D; 
	border: 2px solid #5D418D;
}

a.btn:hover{ 
	background-color: #982A72; 
	border: 2px solid #982A72; 
}

img#login-footer {
	width: 400px; 
	margin-left: 25%;
}

a.btn-link{
	color:  #982A72;
}

a.btn-link:hover{
	color:  #982A72;
}
@media screen and (max-width: 420px) {
        h1{
        	margin-top: 20px;
        }

        div.custom-control {
        	margin-top: 25px;
        }

        #white-logo{
        	display: none;
        }

        #nav-footer{
        	display: none;
        }

        #con-footer{
        	display: none;
        }

}