body {
  background-color: #faf2ff;
  width: 100%;
  height: 100%;
}

div#message {
  margin-top: 2em;
  text-align: center;
}

h5#good {
  color: green;
}

h5#bad {
  color: red;
}

i#login {
  color: #4f177d;
}

button.btn {
  color: #5d418d;
  border: 2px solid #5d418d;
}

button.btn:hover {
  background-color: #982a72;
  border: 2px solid #982a72;
}

a.btn {
  color: #5d418d;
  border: 2px solid #5d418d;
}

a.btn:hover {
  background-color: #982a72;
  border: 2px solid #982a72;
}

a.btn-link {
  color: #982a72;
}

a.btn-link:hover {
  color: #982a72;
}

@media screen and (max-width: 420px) {
  h1 {
    margin-top: 20px;
  }
  div.custom-control {
    margin-top: 25px;
  }
  #white-logo {
    display: none;
  }
  #nav-footer {
    display: none;
  }
  #con-footer {
    display: none;
  }
}

/* New Version */

.login__back {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.card__div-login {
  width: 70%;
  max-width: 1200px;
}

.login__div {
  display: flex;
  justify-content: center;
}

.div_img_promo {
  position: relative;
}

.img__login {
  content: url("../../img/banner\ 2\ 2.png");
  padding: 0;
  background-size: cover;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: 0;
  width: 100%;
  height: 100%;
  margin: 0;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.img__login-ihomestay {
  content: url("../../img/banner\ 2.png");
  padding: 0;
  background-size: cover;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: 0;
  width: 100%;
  height: 100%;
  margin: 0;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
/*
.logo_white{
	content: url("../../logos/white.png");
	position: absolute;
	left: 1rem;
	bottom: 1rem;
	width: 30%;
	z-index: 100;
}

*/

.title_login {
  font-weight: 300 !important;
  color: #232159;
  margin-bottom: 3rem;
}

.login__div__col {
  padding: 3rem 3rem;
  box-shadow: -4px 1px 28px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 1px 28px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 1px 28px -9px rgba(0, 0, 0, 0.75);
}

.form__group {
  margin-bottom: 4rem;
}

.form__group__password {
  margin-bottom: 2rem !important;
}

.form__group__icon-input {
  position: relative;
}

.form__group-input {
  border: none;
  padding: 10px 5px;
  padding-bottom: 4px;
  padding-left: 2rem;
  outline: none;
  border-bottom: 2px solid #4f177d;
  border-radius: 0 !important;
  width: 100%;
}

.form__group-input:focus {
  border-bottom: 2px solid #4f177d;
}

.form__group-input:active {
  border-bottom: 2px solid #4f177d;
}

.forgot__psw {
  position: absolute;
  bottom: 0;
}

/* Buttons */

.btn__div {
  display: flex;
  justify-content: space-between;
  margin: 0;
  position: relative;
}

.div__btn {
  margin-left: auto;
}

.btn__log-in {
  font-size: 14px;
  padding: 0.4rem 1.2rem;
  background-color: #232159;
  border: none;
  color: #fff;
  border-radius: 8px;
  transition: all 0.2s;
}

.btn__log-in:hover {
  background-color: #394893;
}

.created__div {
  display: none;
}

.block2 {
  display: inline;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.created {
  font-weight: 500;
  color: green;
}

.not_robot__div {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Error Message */

.message {
  display: none;
}

.block {
  display: inline;
  display: flex;
  justify-content: center;
  color: #bb2929;
  margin-top: 2rem;
  font-weight: 500 !important;
}

.password {
  padding-right: 2rem;
}

.btn__eye {
  position: absolute;
  right: 0rem;
  top: 1rem;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #232159;
}

.btn_none {
  display: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 1s all;
  opacity: 0;
}
.loading.show {
  opacity: 1;
}
.loading,
.spin {
  border: 3px solid #d4bbff;
  border-top-color: #4f177d;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Labels */

.form__label {
  position: absolute;
  left: 0.2rem;
  top: -0.7rem;
  font-size: 14px !important;
  color: #232159;
  font-weight: 300 !important;
  line-height: 15px;
}

/* Icons */

.icon {
  position: absolute;
}

.icon__email {
  content: url("../../icon/profile.png");
  width: 1.6rem;
  height: 1.6rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__password {
  content: url("../../icon/password.png");
  width: 1.6rem;
  height: 1.6rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.2rem;
}

/* ------------ Validation ------------- */

/* inputs actions */

.form__group-correct .form__group-input {
  border-bottom: 2px solid #1ca827;
}

.form__group-correct .form__label {
  color: #1ca827;
}

.form__group-incorrect .form__label {
  color: #bb2929;
}

.form__group-incorrect .form__group-input {
  border-bottom: 2px solid #bb2929;
}

.form__group__input-error {
  margin-bottom: 0;
  font-size: 14px;
  display: none;
  line-height: 15px;
  color: #bb2929;
  width: 85%;
}

.form__group__input-error-active {
  display: block;
}

/* RESPONSIVE */

@media (min-width: 300px) and (max-width: 500px) {
  .login__back {
    min-height: 70vh;
  }

  .card__div-login {
    width: 80%;
  }

  .div_img_promo {
    display: none;
  }

  .login__div__col {
    padding: 2rem 2rem;
  }

  .forgot__psw {
    top: 0;
  }

  .div__btn {
    margin-top: 2rem;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .div_img_promo {
    display: none;
  }

  .card__div-login {
    width: 70%;
  }

  .login__div {
    display: block;
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  .card__div-login {
    width: 60%;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .card__div-login {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .card__div-login {
    width: 80%;
  }
}
