:root {
  --room1: #232159;
  --room2: #982a72;
  --room3: #394893;
  --room4: #a54483;
  --room5: #5d418d;
  --room6: #392b84;
  --room7: #b15391;
  --room8: #4f177d;
  --ff: #f8f8f8;
}

body {
  background-color: #faf2ff;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

a.btn-link {
  color: #982a72;
}
a.btn-link:hover {
  color: #982a72;
}

div#div1 {
  margin-left: 26%;
}

a#terms {
  color: #982a72;
}

div#message {
  margin-top: 2em;
  text-align: center;
}

h5#bad {
  color: red;
}

button.btn {
  color: #5d418d;
  border: 2px solid #5d418d;
}

button.btn:hover {
  background-color: #982a72;
  border: 2px solid #982a72;
}

a.btn {
  color: #5d418d;
  border: 2px solid #5d418d;
}

a.btn:hover {
  background-color: #982a72;
  border: 2px solid #982a72;
}

@media screen and (max-width: 420px) {
  h1 {
    margin-top: 20px;
  }
  div.custom-control {
    margin-top: 25px;
  }
  #white-logo {
    display: none;
  }
  #nav-footer {
    display: none;
  }
  #con-footer {
    display: none;
  }
}

/* New Version */

.register__back {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.card__div-register {
  width: 70%;
  max-width: 600px;
  box-shadow: #232159;
}

.register__div {
  display: flex;
  justify-content: center;
}

.div_img_promo {
  position: relative;
}

.img__register {
  content: url("../../img/register.jpg");
  padding: 0;
  background-size: cover;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: 0;
  width: 100%;
  height: 100%;
  margin: 0;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.logo_white {
  content: url("../../logos/white.png");
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 30%;
  z-index: 100;
}

.register__div__col {
  padding: 3rem 3rem;
}

.title_login {
  font-weight: 300 !important;
  color: #232159;
  margin-bottom: 3rem;
}

.form__group {
  margin-bottom: 3rem;
}

.form__group__icon-input {
  position: relative;
}

.fr_group {
  display: flex;
  justify-content: space-between;
}

.form__group-input {
  border: none;
  padding: 10px 5px;
  padding-bottom: 4px;
  padding-left: 2rem;
  outline: none;
  border-bottom: 2px solid #4f177d;
  border-radius: 0 !important;
}

.email,
.arrive_g {
  width: 100%;
}

.form__group-input:focus {
  border-bottom: 2px solid #4f177d;
}

.form__group-input:active {
  border-bottom: 2px solid #4f177d;
}

.form__group__email,
.form__group__opt,
.form__group__arrive_g {
  width: 97%;
}

.form__group__termins {
  display: flex;
  justify-content: center;
}

.registeras {
  margin-bottom: -1rem;
}

.termins {
  margin-bottom: -2rem !important;
  display: flex;
  justify-content: center;
}

.div_btn_register {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.btn_register {
  background-color: #232159;
  border: none;
  border-radius: 4px;
  color: #fff !important;
  padding: 0.6rem 1rem;
}

.btn_register:hover {
  background-color: #394893 !important;
  border: none !important;
}

.btn_iregister {
  background-color: #7628bf !important;
}

.btn_iregister:hover {
  background-color: #a356ec !important;
  border: none !important;
}

.email {
  padding-left: 2.3rem;
}

.btn_none {
  display: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 1s all;
  opacity: 0;
}
.loading.show {
  opacity: 1;
}
.loading,
.spin {
  border: 3px solid #d4bbff;
  border-top-color: #4f177d;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.not_robot__div {
  display: flex;
  justify-content: center;
}

.btn__eye {
  position: absolute;
  right: 0.6rem;
  top: 1rem;
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: #232159;
}

/* Labels */

.form__label {
  position: absolute;
  left: 1.8rem;
  top: -0.7rem;
  font-size: 14px !important;
  color: #232159;
  font-weight: 300 !important;
  line-height: 15px;
}

/* Error Message */

.message {
  display: flex;
  justify-content: center;
  color: #bb2929;
  margin-top: 2rem;
  font-weight: 500 !important;
}

/* Icons */

.icon {
  position: absolute;
}

.icon__name {
  content: url("../../icon/profile.png");
  width: 1.6rem;
  height: 1.6rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__pass {
  content: url("../../icon/password.png");
  width: 1.6rem;
  height: 1.6rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__email {
  content: url("../../icon/email.png");
  width: 1.6rem;
  height: 1.6rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__opt {
  content: url("../../icon/basic\ information\ 64.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 1rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__calendar {
  content: url("../../icon/calendar.png");
  width: 1.3rem;
  height: 1.3rem;
  top: 0.7rem;
  bottom: 0;
  left: 0.2rem;
}

/* ------------ Validation ------------- */

/* inputs actions */

.form__group-correct .form__group-input {
  border-bottom: 2px solid #1ca827;
}

.form__group-correct .form__label {
  color: #1ca827;
}

.form__group-incorrect .form__label {
  color: #bb2929;
}

.form__group-incorrect .form__group-input {
  border-bottom: 2px solid #bb2929;
}

.form__group__input-error {
  margin-bottom: 0;
  font-size: 13px;
  display: none;
  line-height: 15px;
  color: #bb2929;
  width: 100%;
  margin-top: 0.2rem;
}

.form__group__input-error-active {
  display: block;
}

.pass_input {
  width: 85% !important;
}

/* RESPONSIVE */

@media (min-width: 300px) and (max-width: 500px) {
  .register__back {
    min-height: 70vh;
  }

  .card__div-register {
    width: 80%;
  }

  .div_img_promo {
    display: none;
  }

  .register__div__col {
    padding: 2rem 2rem;
  }
}

@media (max-width: 767px) {
  .form__group-input,
  .form__group__email,
  .form__group__opt {
    width: 100% !important;
  }

  .btn__eye {
    right: -0.5rem;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .card__div-register {
    width: 70%;
  }

  .register__div {
    display: block;
  }

  .div_img_promo {
    display: none;
  }
}

@media (min-width: 700px) and (max-width: 800px) {
  .card__div-register {
    width: 60%;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .card__div-register {
    width: 80%;
  }
}

@media (min-width: 1000px) {
  .card__div-register {
    width: 80%;
  }
}

@media (min-width: 767px) and (max-width: 800px) {
  .btn__eye {
    right: -2rem;
  }
}

@media (min-width: 800px) and (max-width: 992px) {
  .btn__eye {
    right: 2.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .btn__eye {
    right: 1.5rem;
  }
}

/* ------------------------------------------------------ */

.div__ihomestay {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 0;
}

.ihomestay__logo {
  width: 14rem;
}

.text__become {
  text-align: justify;
  margin-bottom: 4rem;
}

.registerihomestay {
  margin-bottom: 4rem;
}
