/* -------------CUSTOM PROPERTIES------------- */
:root {
  --first-color: #5c6096;
  --first-alpha-color: rgba(91, 96, 151, 0.75);
  --first-min-color: rgba(91, 96, 151, 0.4);
  --second-color: #c192bc;
  --second-alpha-color: rgba(193, 146, 188, 0.75);
  --second-min-color: rgba(193, 146, 188, 0.4);
  --third-color: #5e3f8d;
  --third-alpha-color: rgba(94, 63, 141, 0.75);
  --third-min-color: rgba(94, 63, 141, 0.4);
  --four-color: #342783;
  --four-alpha-color: rgba(52, 39, 131, 0.75);
  --four-min-color: rgba(52, 39, 131, 0.4);
  --five-color: #b15391;
  --five-alpha-color: rgba(177, 83, 146, 0.75);
  --five-min-color: rgba(177, 83, 146, 0.4);
  --six-color: #4f167f;
  --six-alpha-color: rgba(80, 22, 127, 0.75);
  --six-min-color: rgba(80, 22, 127, 0.4);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: rgba(57, 43, 132);
  --title-color: #333;
  --text-color: #222;
  --font-default: "Roboto", sans-serif;
  --font-monserrat: "Monserrat", sans-serif;
  --font-pt-sans-narrow: "PT Sans Narrow", sans-serif;
  --font-yellowtail: "Yellowtail", cursive;
  --max-width: 1200px;
  --header-height: 5rem;
  --footer-height: 4rem;
}

/* BODY FORMAT */
body {
  overflow-x: hidden !important;
  background-color: #eeeeee !important;
}

/* CLASES CON PALETA HOMEBOR */
.bg__first {
  box-shadow: none !important;
  color: var(--gray-light-color) !important;
  text-shadow: 1px 1px 4px #000 !important;
  background-color: var(--first-color) !important;
}
.abg__first {
  box-shadow: none !important;
  color: var(--gray-light-color) !important;
  text-shadow: 1px 1px 4px #000 !important;
  background-color: var(--first-alpha-color) !important;
}
.mbg__first {
  box-shadow: none !important;
  color: rgb(0, 0, 0) !important;
  border: 2.5px solid var(--first-min-color) !important;
}
.mbg__first:hover {
  background-color: var(--first-min-color) !important;
}
.mbg__first:active {
  background-color: var(--first-alpha-color) !important;
}

.bg__second {
  box-shadow: none !important;
  color: rgb(34, 34, 34) !important;
  background-color: var(--second-color) !important;
}
.abg__second {
  box-shadow: none !important;
  color: rgb(34, 34, 34) !important;
  background-color: var(--second-alpha-color) !important;
}

.mbg__second {
  box-shadow: none !important;
  color: rgb(0, 0, 0) !important;
  border: 2.5px solid var(--second-alpha-color) !important;
}
.mbg__second:hover {
  background-color: var(--second-min-color) !important;
}
.mbg__second:active {
  background-color: var(--second-alpha-color) !important;
}

.bg__four {
  box-shadow: none !important;
  color: var(--gray-light-color) !important;
  text-shadow: 2px 2px 4px #000 !important;
  background-color: var(--four-color) !important;
  transition: 250ms ease all !important;
}
.bg__four:hover {
  background-color: var(--four-alpha-color) !important;
}
.bg__four:active {
  background-color: var(--four-min-color) !important;
}

.mbg__four {
  box-shadow: none !important;
  color: rgb(0, 0, 0) !important;
  text-shadow: 2px 2px 4px transparent !important;
  border: 2.5px solid var(--four-min-color) !important;
  transition: 250ms ease all !important;
}
.mbg__four:hover {
  background-color: var(--four-min-color) !important;
}
.mbg__four:active {
  color: var(--gray-light-color) !important;
  text-shadow: 2px 2px 4px #000 !important;
  background-color: var(--four-color) !important;
}

.bg__five {
  box-shadow: none !important;
  color: var(--gray-light-color) !important;
  text-shadow: 2px 2px 4px #000 !important;
  background-color: var(--five-color) !important;
  transition: 250ms ease all !important;
}
.bg__five:hover {
  background-color: var(--five-alpha-color) !important;
}
.bg__five:active {
  background-color: var(--five-min-color) !important;
}

.mbg__five {
  box-shadow: none !important;
  color: rgb(0, 0, 0) !important;
  text-shadow: 2px 2px 4px transparent !important;
  border: 2.5px solid var(--five-alpha-color) !important;
  transition: 250ms ease all !important;
}
.mbg__five:hover {
  background-color: var(--five-min-color) !important;
}
.mbg__five:active {
  color: var(--gray-light-color) !important;
  text-shadow: 2px 2px 4px #000 !important;
  background-color: var(--five-color) !important;
}
.mbg__five2 {
  opacity: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  transform: translateY(1rem) !important;
  color: rgb(0, 0, 0) !important;
  pointer-events: none !important;
  transition: 250ms ease all !important;
  text-shadow: 2px 2px 4px transparent !important;
  background-color: var(--third-alpha-color) !important;
}
.mbg__five2.show {
  opacity: 1 !important;
  pointer-events: all !important;
  transform: translateY(-0.5rem) !important;
}
.mbg__five2::after {
  content: "" !important;
  bottom: -1rem !important;
  right: 20px !important;
  position: absolute !important;
  border: 0.5rem solid !important;
  border-color: var(--third-alpha-color) transparent transparent transparent !important;
}
.mbg__five2 a,
.mbg__five2 label {
  font-family: sans-serif !important;
  font-weight: normal !important;
  font-size: 1rem !important;
  cursor: pointer !important;
  text-decoration: none !important;
  border: 0 !important;
  box-shadow: none !important;
  border-radius: 4px !important;
  background-color: transparent !important;
  transition: 250ms ease all !important;
  text-shadow: 2px 2px 4px #000 !important;
  /* background-color: var(--third-min-color) !important; */
}
.mbg__five2 a:hover,
.mbg__five2 label:hover {
  box-shadow: 0px 0px 6px 0.5px rgba(0, 0, 0, 0.568) !important;
  /* background-color: var(--four-min-color) !important; */
}

/* ESTILOS PARTICULARES */
.header__nav {
  box-shadow: 1px 1px 3px #999 !important;
}

.search__actions {
  border-bottom: thin solid #ccc !important;
}

.modal__import {
  top: 5% !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  z-index: 999 !important;
  display: none !important;
  position: fixed !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
}
.modal__import.show {
  display: flex !important;
}

.modal__import__content {
  width: 90vw !important;
  height: 80vh !important;
  overflow: scroll !important;
  border-radius: 5px !important;
  scrollbar-width: 8px !important;
  background-color: var(--first-color) !important;
}
.modal__import__content::-webkit-scrollbar {
  width: 0.8rem !important;
  height: 0.8rem !important;
  border-radius: 5px !important;
  background-color: var(--black-alpha-color) !important;
}
.modal__import__content::-webkit-scrollbar-thumb {
  border-radius: 5px !important;
  border: 2px solid var(--four-color) !important;
  background-color: var(--gray-color) !important;
}
.modal__import__content table {
  border: 2px solid #ccc !important;
  text-align: center !important;
  background: var(--black-alpha-color) !important;
}
.modal__import__content table th {
  padding: 1.5rem 0.5rem !important;
  min-width: 8rem !important;
  border-right: thin solid #ccc !important;
}
.modal__import__content table th:last-child {
  border-right: 0 !important;
}
.modal__import__content table th:first-child {
  width: 4rem !important;
  padding: 0.5rem !important;
}
.modal__import__content table tr {
  color: white !important;
  background: var(--four-color) !important;
  text-shadow: 2px 2px 4px #000 !important;
}
.modal__import__content table tr td {
  padding: 1rem 0.5rem !important;
  border: 2px solid #ccc !important;
}

@media screen and (max-width: 1200px) {
  .search__actions {
    border-bottom: none !important;
  }
}

.search__actions > div {
  position: relative !important;
}
.search__actions > div > div {
  height: 60px !important;
}
.search__actions a {
  cursor: pointer !important;
  position: relative !important;
  text-decoration: none !important;
  color: var(--gray-color) !important;
  transition: 200ms ease all !important;
}
/* SEARCH ACTIVE */
.search__actions a.search__homestays:hover,
.search__actions a.search__students:hover {
  color: unset !important;
  opacity: 0.6 !important;
}
.search__actions a.search__homestays.active:hover,
.search__actions a.search__students.active:hover {
  color: var(--third-color) !important;
  opacity: 1 !important;
}
/* ORDER ACTIVE */
.search__actions a.order__cataloge,
.search__actions a.order__list {
  opacity: 0.6 !important;
}
.search__actions a.order__cataloge:hover,
.search__actions a.order__list:hover {
  opacity: 1 !important;
}
.search__actions a.order__cataloge img:first-child,
.search__actions a.order__cataloge.active img:last-child,
.search__actions a.order__list img:first-child,
.search__actions a.order__list.active img:last-child {
  opacity: 1 !important;
  display: block !important;
}
.search__actions a.order__cataloge img:last-child,
.search__actions a.order__cataloge.active img:first-child,
.search__actions a.order__list img:last-child,
.search__actions a.order__list.active img:first-child {
  opacity: 0 !important;
  display: none !important;
}

.search__actions a.active {
  opacity: 1 !important;
  color: var(--third-color) !important;
}

.search__actions .detail-left,
.search__actions .detail-right {
  bottom: -10% !important;
  position: absolute !important;
  transition: 350ms ease all !important;
  background-color: var(--third-alpha-color) !important;
  border: 0.5px solid var(--third-alpha-color) !important;
}

/* TODO LIST CONTENT PROPERTIES / STUDENTS */
.students__container .student__container,
.properties__container .property {
  background-color: var(--four-min-color) !important;
}
.students__container .student__image,
.properties__container .property__image {
  position: relative !important;
}
.students__container .student__image span,
.properties__container .property__image span {
  left: 1rem !important;
  bottom: 1rem !important;
  position: absolute !important;
}

.list__content #all-properties,
.list__content #all-students {
  display: none !important;
}
.list__content #all-properties.show,
.list__content #all-properties.show__cataloge,
.list__content #all-students.show,
.list__content #all-students.show__cataloge {
  display: flex !important;
}
.list__content > div .more__details {
  transition: 200ms ease all !important;
  text-align: center;
  text-decoration: none;
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
  font-size: 15px;
  color: #000 !important;
  background-color: rgb(233, 233, 233);

  box-shadow: 0px -4px 7px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px -4px 7px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -4px 7px -4px rgba(0, 0, 0, 0.75);
}
.list__content > div .more__details:hover {
  color: #fff !important;
  background: var(--four-color) !important;
  text-decoration: none;
  color: #000;
}

.student__search-btn {
  background-color: #eeeeee;
  color: #232159;
  text-decoration: none;
}

.student__search-btn:hover {
  color: #fff;
  background-color: #232159;
  text-decoration: none;
}

.list__content > div.show__cataloge > .students__container .student__container .student__image img,
.list__content > div.show__cataloge > .properties__container .property .property__image img {
  width: 100% !important;
  height: 280px !important;
  max-height: 280px !important;
}

.list__content .list__dots .dot {
  width: 2rem !important;
  height: 2rem !important;
  color: #222 !important;
  margin-right: 1rem !important;
  font-weight: 300 !important;
  text-decoration: none !important;
  text-shadow: 1px 1px 2px transparent !important;
  border: 2px solid var(--first-alpha-color) !important;
}
.list__content .list__dots .dot:hover {
  font-weight: 400 !important;
  border: 2px solid var(--four-color) !important;
}
.list__content .list__dots .dot:focus {
  color: #fff !important;
  text-shadow: 1px 1px 2px #000 !important;
  background-color: var(--four-color) !important;
}
.list__content .list__dots .dot:last-child {
  margin-right: 0 !important;
}

.list__content .list__dots > a img,
.list__content .list__dots > a:hover img:nth-child(1) {
  display: none !important;
}

.list__content .list__dots > a img:nth-child(1),
.list__content .list__dots > a:hover img:nth-child(2),
.list__content .list__dots > a:focus img:nth-child(3) {
  display: block !important;
}

.list__content .list__dots > a:focus img:nth-child(1),
.list__content .list__dots > a:focus img:nth-child(2) {
  display: none !important;
}

/* TODO PROPERTIES CATALOGE */
@media screen and (min-width: 1200px) {
  .list__content > div.show__cataloge > .properties__container {
    flex: 0 0 auto !important;
    display: flex !important;
    justify-content: center !important;
  }

  .list__content > div.show__cataloge .property__container {
    width: 100% !important;
    display: grid !important;
    justify-content: space-between !important;
    grid-template-columns: repeat(2, 48%) !important;
  }
  .list__content > div.show__cataloge .students__searching {
    width: 100% !important;
  }
  .list__content > div.show__cataloge .property {
    margin-bottom: 5rem !important;
    flex-direction: column !important;
  }

  .list__content > div.show__cataloge .property .property__image {
    border-radius: 0 !important;
  }

  .list__content > div.show__cataloge .property .property__image span {
    top: 1rem !important;
    left: unset !important;
    right: 1rem !important;
    bottom: unset !important;
  }

  .list__content > div.show__cataloge .properties__container .property .property__info .more__details {
    top: 100% !important;
    border-radius: 1rem !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;
    height: 2.8rem !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    box-shadow: 0px -4px 7px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px -4px 7px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -4px 7px -4px rgba(0, 0, 0, 0.75);
    background: white !important;
    color: #000 !important;
    background-color: rgb(233, 233, 233);
  }
  .list__content > div.show__cataloge .properties__container .property .property__info .more__details:hover {
    background: var(--four-color) !important;
    color: #fff !important;
  }
}

/* TODO STUDENTS */
.list__content > #all-students.show {
  width: 100% !important;
}
@media screen and (min-width: 1200px) {
  .list__content > div.show__cataloge > .students__container {
    flex: 0 0 auto !important;
    width: 100% !important;
    padding: 0 !important;
    padding-top: 2rem !important;
    display: grid !important;
    justify-content: space-between !important;
    grid-template-columns: repeat(2, 48%) !important;
  }

  .list__content > div.show__cataloge > .students__container .student__container {
    display: flex !important;
    margin-bottom: 5rem !important;
    flex-direction: column !important;
  }
  .list__content > div.show__cataloge > .students__container .student__container .student__image {
    border-radius: 0 !important;
  }
  .list__content > div.show__cataloge > .students__container .student__info {
    height: 100% !important;
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
  }

  .list__content > div.show__cataloge > .students__container .student__info .student__details div:last-child {
    grid-column: span 2 !important;
  }
  .list__content > div.show__cataloge > .students__container .student__info .more__details {
    top: 100% !important;
    border-radius: 1rem !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;
    height: 2.8rem !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background: white !important;
  }
  .list__content > div.show__cataloge > .students__container .student__info .more__details:hover {
    background: var(--four-color) !important;
  }
}
@media screen and (min-width: 1368px) {
  .list__content > div.show__cataloge > .students__container {
    flex: 0 0 auto !important;
    width: 100% !important;
    padding: 0 !important;
    padding-top: 2rem !important;
    display: grid !important;
    justify-content: space-evenly !important;
    grid-template-columns: repeat(2, 48%) !important;
  }
}

.username__agent {
  font-size: 2.65rem !important;
}
.address__agent {
  font-size: 1rem !important;
}
.homestay__to__certify {
  font-size: 1.2rem !important;
}

.list__content > div.show .student__container .student__image img,
.list__content > div.show .property .property__image img {
  width: 100% !important;
  height: 280px !important;
}

@media screen and (min-width: 768px) {
  .username__agent {
    font-size: 2.4rem !important;
  }
}
@media screen and (min-width: 992px) {
  .username__agent {
    font-size: 2.2rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .username__agent {
    font-size: 1.8rem !important;
  }
  .list__content > div.show .student__container .student__image img,
  .list__content > div.show .property .property__image img {
    width: 250px !important;
  }
}
@media screen and (min-width: 1360px) {
  .username__agent {
    font-size: 2.5rem !important;
  }

  .list__content > div.show .student__container .student__image img,
  .list__content > div.show .property .property__image img {
    width: 300px !important;
  }
}
