:root {
    --room1: #232159;
    --room2: #982a72;
    --room3: #394893;
    --room4: #A54483;
    --room5: #5D418D;
    --room6: #392B84;
    --room7: #B15391;
    --room8: #4F177D;
    --ff: #f8f8f8;
}

.bg-room1{
    background-color: var(--room1);
}
.bg-room8{
    background-color: var(--room8);
}

.del-btn {
    background: #982a72;
    color: white;
    margin-right: 2%;
}

.can-btn {
    background: #232159;
    color: white;
}

.rep-btn {
    background: #4f177d;
    color: white;
    margin-right: 2%;
}

dt {
    color: #232159;
}

.focus {
    color: #232159;
}

.input-borderless {
    width: 100%;
    border-top: 0px;
    border-bottom: 2px solid #4f177d;
    border-right: 0px;
    border-left: 0px;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-decoration: none;
    outline: none;
    display: block;
    padding: 10px 5px;
    margin: 0px 0;
    font-size: .9em;
}

.input-borderless::placeholder{
    font-size: .8rem;
}

.option {
    color: black;
}

.title-rep {
    padding: 5px;
    color: black;
    border-radius: 8px;
    border-bottom: 2px solid #4f177d;
}

.tittle_rep {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.title_reject{
    text-align: center;
    margin-bottom: 2rem;
}

.reject__div{
    margin: 0;
    width: 100%;
}

.reject__information{
    width: 70%;
    color: #000;
    font-size: .8rem;
    line-height: 15px;
    margin: 0 auto;
    text-align: center;
}

.inputs__information{
    display: flex;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    position: relative;
}

.label_reject{
    position: absolute;
    top: -.8rem;
    font-size: .7rem !important;
    font-weight: normal !important;
    color: var(--room1) !important;
}

.back_input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--room1);
    text-align: center;
}

.back_input:focus{
    border: none;
}

.back_input:active{
    border: none;
}

.btn-reject{
    width: 20%;
    padding: .2rem .1rem;
}

