@media (min-width: 767px) and (max-width: 800px) {
    .container {
        margin: 0;
        padding: 0;
    }
    .header_m {
        margin-left: -5em;
    }
}

@media (min-width: 800px) and (max-width: 900px) {
    .container {
        margin: 0;
    }
    .header_m {
        margin-left: -5em;
    }
}

@media (min-width: 850px) and (max-width: 900px) {
    .container {
        margin-left: 30px;
    }
}

@media (min-width: 900px) and (max-width: 1000px) {
    .container {
        margin-left: 50px;
    }
}

@media (min-width: 970px) and (max-width: 1000px) {
    .container {
        margin-left: 70px;
    }
}