a#button{ color: #5D418D; border: 2px solid #5D418D;}
    a#button:hover{ background-color: #982A72; border: 2px solid #982A72; color: white; }
    button#button{ color: #5D418D; border: 2px solid #5D418D;}
    button#button:hover{ background-color: #982A72; border: 2px solid #982A72; color: white; }

    .btn-light{ color: #5D418D; border: 2px solid #5D418D;}
    .btn-light:hover{ background-color: #982A72; border: 2px solid #982A72; color: white; }
    
    @media screen and (max-width: 420px) {
        h1{margin-top: 20px;}
        div.custom-control {margin-top: 25px;}
        #white-logo{display: none;}
        #nav-footer{display: none;}
        #con-footer{display: none;}
        }

    .zoom{

    transition: width .5s, height .5s, transform .5s;
    -moz-transition: width .5s, height .5s, -moz-transform .5s;
    -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
    -o-transition: width .5s, height .5s, -o-transform .5s;
}

.zoom:hover{
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.div-photo{ margin-top: -.8em; }

.carousel-indicators .active{ background: #982a72; }

    .carousel-indicators li { background: #F8F8F8; }

    .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 60px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
  margin-top: 120%;
  margin: 0;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: #4f177d;
  margin-left: 30%;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: #360062;
  margin-left: -30%;
}

.close-btn:hover{ cursor: pointer; }


#house { 
  background-image: url('../images/house1.png');
  background-size: cover;
  width: 27px;
  height: 49px;
  cursor: pointer;}

#marker {
  background-image: url('../images/academy1.png');
  background-size: cover;
  width: 25px;
  height: 47px;
  cursor: pointer;
}


.tarjet{ margin-right: 2%; width: 17em; margin-bottom: 4%; background: white; box-shadow: 1px 1px 5px 0px #4f177d; border-radius: 12px; }

div#container {
background: white; 
padding: 1em 1.5em; 
padding-top: 2em; 
box-shadow: 2px 2px 5px #D6D6D6; 
border-radius: 4px;
}

div#features {
background: white; 
padding: 1em 1.5em; 
padding-top: 2em; 
box-shadow: 2px 2px 5px #D6D6D6; 
border-radius: 4px;
}

ul#ul {
align-items: center;
}

div#map {
height: 200px; 
box-shadow: 2px 2px 5px #D6D6D6; 
border-radius: 4px;
}

div#img-map {
width: 100px; 
height: 100px;
}

div#container1 {
display: flex; 
justify-content: center;
}

div#tarjet {
background: white; 
padding: 0; 
border: 1px solid #DFDFDF;
}

@media (min-width: 320px) and (max-width: 399px) {

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; color: #982A72;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; color: #454293;}

    .bar-iii{padding:3%; padding-left: 5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; padding-left: 7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-iv:hover{background-color: #4F177D; color: white;}

    .tarjet{width: 17em; margin-right: 0%;}

}

@media (min-width: 400px) and (max-width: 499px){

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; color: #982A72;}

    .bar-i:hover{color: white;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:3%; padding-left: 5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; padding-left: 7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-iv:hover{background-color: #4F177D; color: white;}

    .tarjet{width: 17em; margin-right: 0%;}

}

@media (min-width: 500px) and (max-width: 599px){

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; color: #982A72;}

    .bar-i:hover{color: white;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:3%; padding-left: 5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; padding-left: 7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-iv:hover{background-color: #4F177D; color: white;}

}

@media (min-width: 600px) and (max-width: 767px){

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; color: #982A72;}

    .bar-i:hover{color: white;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:3%; padding-left: 5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; padding-left: 7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-iv:hover{background-color: #4F177D; color: white;}

}

@media (min-width: 768px) and (max-width: 899px){

    .bar-i{color: #982A72;}

    .bar-ii{padding:5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293; width: auto;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D; width: auto;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293; width: auto;}

    .bar-iv:hover{background-color: #4F177D; color: white; }
}

@media (min-width: 900px){

    .bar-i{color: #982A72;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 13px; color: #454293; width: auto;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 13px; color: #4F177D; width: auto;}        

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 13px; color: #454293; width: auto;}

    .bar-iv:hover{background-color: #4F177D; color: white; }
}

@media (min-width: 992px){
    .div-photo{ margin-top: -.8em; }
}

@media (min-width: 992px) and (max-width: 1920px){

    .bar-ii{padding: 5%; width: auto;}

    .bar-iii{padding: 5%; width: auto;}

    .bar-iv{padding: 5%; width: auto;}
}


@media (min-width: 1420px){

    .bar-ii{height: auto; width: auto;}

    .bar-iii{height: auto; width: auto;}

    .bar-iv{height: auto; width: auto;}
}

@media (min-width: 1420px) and (max-width: 1600px){

    .bar-i{font-size: 15px}

    .bar-ii{font-size: 13px}

    .bar-iii{font-size: 13px}

    .bar-iv{font-size: 13px}
}

@media (min-width: 1600px) {
    .bar-i{font-size: 18px}

    .bar-ii{font-size: 15px}

    .bar-iii{font-size: 15px}

    .bar-iv{font-size: 15px}
}
