a#button{ color: #5D418D; border: 2px solid #5D418D;}
    a#button:hover{ background-color: #982A72; border: 2px solid #982A72; color: white; }
    button#button{ color: #5D418D; border: 2px solid #5D418D;}
    button#button:hover{ background-color: #982A72; border: 2px solid #982A72; color: white; }

    .btn-light{ color: #5D418D; border: 2px solid #5D418D;}
    .btn-light:hover{ background-color: #982A72; border: 2px solid #982A72; color: white; }
    
    @media screen and (max-width: 420px) {
        h1{margin-top: 20px;}
        div.custom-control {margin-top: 25px;}
        #white-logo{display: none;}
        #nav-footer{display: none;}
        #con-footer{display: none;}
        }

    .zoom{

    transition: width .5s, height .5s, transform .5s;
    -moz-transition: width .5s, height .5s, -moz-transform .5s;
    -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
    -o-transition: width .5s, height .5s, -o-transform .5s;
}

.zoom:hover{
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.wrap-login100{ width: 45%; border: 1px solid #DDDDDD; box-shadow: 1px 1px 5px 0px #232159;}

.btn-change{ float: right; background: #4f177d; color: white; padding: 2% 5%; border-radius: 8px; border: none;}

.btn-change:hover{ box-shadow: 0px 12px 6px -6px; transform: scale(1.02); -moz-transform: scale(1.02); -webkit-transform: scale(1.02); -o-transform: scale(1.02); transition: all .5s; background: #232159; border: 1px solid #232159;}

.carousel-indicators .active{ background: #982a72; }

    .carousel-indicators li { background: #F8F8F8; }

    .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 60px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
  margin-top: 120%;
  margin: 0;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: #4f177d;
  margin-left: 30%;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: #360062;
  margin-left: -30%;
}

.div-photo{ margin-top: -.8em; }

.change{border: none; border-bottom: 2px solid #4f177d;}

.change:hover{ border-bottom: 2px solid #232159; cursor: pointer}

.change:focus{ border-bottom: 2px solid #232159 }

@media (min-width: 320px) and (max-width: 399px) {

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; color: #982A72;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; color: #454293;}

    .bar-iii{padding:3%; padding-left: 5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; padding-left: 7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-iv:hover{background-color: #4F177D; color: white;}
}

@media (min-width: 400px) and (max-width: 499px){

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; color: #982A72;}

    .bar-i:hover{color: white;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:3%; padding-left: 5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; padding-left: 7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-iv:hover{background-color: #4F177D; color: white;}

}

@media (min-width: 500px) and (max-width: 599px){

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; color: #982A72;}

    .bar-i:hover{color: white;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:3%; padding-left: 5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; padding-left: 7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-iv:hover{background-color: #4F177D; color: white;}

}

@media (min-width: 600px) and (max-width: 767px){

    .bar-i{padding-top:3.5%; padding-bottom: 3.5%; margin-left: 2%; margin-bottom: 0%; color: #982A72;}

    .bar-i:hover{color: white;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:3%; padding-left: 5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; padding-left: 7%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293;}

    .bar-iv:hover{background-color: #4F177D; color: white;}

}

@media (min-width: 768px) and (max-width: 899px){

    .bar-i{color: #982A72;}

    .bar-ii{padding:5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293; width: auto;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #4F177D; width: auto;}

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:5%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 11px; color: #454293; width: auto;}

    .bar-iv:hover{background-color: #4F177D; color: white; }
}

@media (min-width: 900px){

    .bar-i{color: #982A72;}

    .bar-ii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 13px; color: #454293; width: auto;}

    .bar-ii:hover{background-color: #982A72; color: white;}

    .bar-iii{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 13px; color: #4F177D; width: auto;}        

    .bar-iii:hover{background-color: #5D418D; color: white;}

    .bar-iv{padding:3%; margin-left: -1%; margin-right: -1%; margin-bottom: 0%; font-size: 13px; color: #454293; width: auto;}

    .bar-iv:hover{background-color: #4F177D; color: white; }
}

@media (min-width: 992px){
    .div-photo{ margin-top: -.8em; }
}

@media (min-width: 992px) and (max-width: 1920px){

    .bar-ii{padding: 5%; width: auto;}

    .bar-iii{padding: 5%; width: auto;}

    .bar-iv{padding: 5%; width: auto;}
}


@media (min-width: 1420px){

    .bar-ii{height: auto; width: auto;}

    .bar-iii{height: auto; width: auto;}

    .bar-iv{height: auto; width: auto;}
}

@media (min-width: 1420px) and (max-width: 1600px){

    .bar-i{font-size: 15px}

    .bar-ii{font-size: 13px}

    .bar-iii{font-size: 13px}

    .bar-iv{font-size: 13px}
}

@media (min-width: 1600px) {
    .bar-i{font-size: 18px}

    .bar-ii{font-size: 15px}

    .bar-iii{font-size: 15px}

    .bar-iv{font-size: 15px}
}

#house { 
      background-image: url('../images/house1.png');
      background-size: cover;
      width: 27px;
      height: 49px;
      cursor: pointer;}

#marker {
      background-image: url('../images/academy1.png');
      background-size: cover;
      width: 25px;
      height: 47px;
      cursor: pointer;
    }

div#container {
  background: white; 
  padding: 1em 1.5em; 
  padding-top: 2em; 
  box-shadow: 2px 2px 5px #D6D6D6; 
  border-radius: 4px; 
}

div#features {
  background: white; 
  padding: 1em 1.5em; 
  padding-top: 2em; 
  box-shadow: 2px 2px 5px #D6D6D6; 
  border-radius: 4px;
}

ul#ul {
  align-items: center;
}

div#map {
  height: 200px; 
  box-shadow: 2px 2px 5px #D6D6D6; 
  border-radius: 4px;
}

img#map-img {
  width: 100px; 
  height: 100px;
}

div#pet-info {
  background: white; 
  padding: 1em 1.5em; 
  padding-top: 2em; 
  box-shadow: 2px 2px 5px #D6D6D6; 
  border-radius: 4px;
}

div#carouselExampleIndicators-1 {
  width: 90%;
}

div#container2 {
  justify-content: center; 
  margin-left: -15%;
}

div#container3 {
  justify-content: center;
}

div#container4 {
  width: 80%; 
  margin: 0
}

label#container4 {
  font-weight: normal; 
  color: #4f177d;
}

div#flex {
  display: flex;
}

div#diet {
  background: white; 
  padding: 1em 1.5em; 
  padding-top: 2em; 
  box-shadow: 2px 2px 5px #D6D6D6; 
  border-radius: 4px;
}


/* TODO NEW BUTTONS PDF */

.btn__pdf {
  white-space: normal !important;
  margin-top: 2rem;
}

.btn__brochure-for-students {
  background-color: #232159;
  width: 100%;
  color: #fff;
}
.btn__brochure-for-students:hover {
  background-color: var(--room3);
  color: #fff;
}