:root {
    --room1: #232159;
    --room2: #982a72;
    --room3: #394893;
    --room4: #A54483;
    --room5: #5D418D;
    --room6: #392B84;
    --room7: #B15391;
    --room8: #4F177D;
    --ff: #f8f8f8;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 90;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
    overflow: hidden;
}

.modalDialog>div {
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}


/* Main Div */

.container_r {
    width: 700px;
    margin: 0 auto;
    margin-top: 15rem;
    padding: 20px 20px;
    border-radius: 12px;
}

.bg-room1 {
    border: 10px solid var(--room1);
}

.bg-room2 {
    background-color: var(--room2);
}

.bg-room3 {
    background-color: var(--room3);
}

.bg-room4 {
    background-color: var(--room4);
}

.bg-room5 {
    background-color: var(--room5);
}

.bg-room6 {
    background-color: var(--room6);
}

.bg-room7 {
    background-color: var(--room7);
}

.bg-room8 {
    background-color: var(--room8);
}

.form__group__container {
    background-color: white;
    margin: 0;
    padding: 10px 10px;
}

.form__group-title {
    font-size: 2rem;
    color: var(--room1);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.form__group-card {
    display: flex;
    justify-content: space-between;
}

.form__group-card__div {
    flex: 0 0 calc(40% - 15px);
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0px 0px 5px -8px var(--room1);
    -webkit-box-shadow: 0px 0px 8px -5px var(--room1);
    -moz-box-shadow: 0px 0px 8px -5px var(--room1);
}

.form__group-card__content {
    display: flex;
    margin-top: 2rem;
}

.title__card {
    margin: 0 .9em;
    padding: .5em .3em;
    border-bottom: 2px solid #4F177D;
    margin-bottom: 1em;
    font-size: 20px;
}

.form__group-bolet {
    max-width: 250px;
    padding: 10px 10px;
    justify-content: flex-start;
    flex: 0 0 calc(250px - 15px);
}

.form__group-bolet-img {
    position: relative;
}

.input__bolet {
    display: none;
}

.add-photo {
    height: 10.2rem;
    width: 13rem;
    display: table-cell;
    vertical-align: middle;
    border: 2px dashed var(--room1);
    position: absolute;
}

.add-photo:hover {
    transition: all .5s;
    background: #c2c2c2;
    cursor: pointer;
    color: #4f177d;
}

.add-photo-i {
    border-radius: 18px;
    height: 2.2rem;
    width: 2.2rem;
    z-index: 10;
    background: #982a72;
    padding: 11px 10px;
    color: white;
    float: right;
    margin-top: 72%;
    margin-right: 3%;
    position: relative;
    display: none;
}

.add-photo-i:hover {
    background: var(--room1);
    transition: all .2s;
    cursor: pointer;
    color: white;
}

.form__group-n_airline, .form__group-departure_f, .form__group-arrive_f, .form__group-n_flight, .form__group-hname, .form__group-room, .form__group-start, .form__group-end{
    position: relative;
}

.photo-add {
    position: absolute;
    width: 13rem;
    height: 10rem;
    line-height: 10rem;
    text-align: center;
    color: var(--room1);
    transition: all .5s;
}

.photo-add:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.img__reserve {
    border: none;
}

.label__name_h {
    margin-top: 10rem;
    color: var(--room1);
    font-weight: 500 !important;
    width: 100%;
    text-align: center;
}

.form__group-information-res {
    padding: 10px 10px;
    justify-content: flex-end;
}

.form__group-row {
    margin-top: 8%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.label-res {
    position: absolute;
    margin-top: -.8rem;
    font-weight: 100 !important;
    padding: 0 4px;
    color: var(--room1);
    font-size: .75rem !important;
}

.form__group-room {
    justify-content: flex-start;
}

.form__group-input {
    padding: 7px 7px;
    padding-bottom: 2px;
    border-bottom: 2px solid var(--room1);
    transition: all .3s;
}

.form__group-input::placeholder {
    color: black;
}

.room {
    width: 100%;
}

.form__group-input:hover {
    border-bottom: 2px solid var(--room2);
}

.form__group-input:focus {
    border-bottom: 2px solid var(--room2);
}

.form__text-warning {
    text-align: center;
    width: 80%;
    color: red;
    font-weight: 300;
    margin: 0 auto;
    margin-top: -3rem;
    margin-bottom: 2rem;
}

.close {
    background-color: transparent;
    color: black;
    line-height: 25px;
    text-align: right;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin-right: 1rem;
    margin-top: -1.5rem;
    margin-bottom: -1rem;
}

.close:hover {
    background: transparent;
}

.btn-reserve {
    padding: .6em 1em;
    background: #5D418D;
    color: white;
    border-radius: 4px;
    border: none;
}

.btn-reserve:hover {
    color: white;
    box-shadow: 3px 6px 10px black;
    transition: all .5s
}

.form__group-button {
    margin-top: .5rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.btn-send {
    background-color: #982a72;
    color: #fff;
    padding: .5rem 1rem !important;
}

.btn-1 {
    background-color: var(--room2)
}

.btn-1:hover {
    background-color: #7b0352;
}

.btn-2 {
    background-color: var(--room1);
}

.btn-2:hover {
    background-color: #0c086b;
}


/* DATEPICKER */

.datepicker {
    border-bottom: 2px solid #232159;
    cursor: pointer;
    background: transparent;
    z-index: 100;
    text-align: center;
}

.icon-calendar {
    content: url(../../../assets/icon/calendar.png);
    cursor: pointer;
}

.ticket__label{
    cursor: pointer;
}

.daterangepicker{
    width: 550px !important;
}

.daterangepicker .drp-calendar.left{
    width: 270px !important;
}

.daterangepicker .drp-calendar.right{
    width: 270px !important;
}

th.month, th{
    color: var(--room1) !important;
}

td.start-date, td.end-date{
    background-color: var(--room1) !important;
}

.daterangepicker .btn-primary, .daterangepicker .btn-default{
    padding: .5rem .7rem !important;
}

.daterangepicker .btn-primary{
    background-color: var(--room1) !important;
    border: none !important;
    transition: all .3s !important;
}

.daterangepicker .btn-primary:hover{
    background-color: var(--room3) !important;
}

.daterangepicker .btn-default{
    background-color: var(--room2) !important;
    color: white !important;
    border: none !important;
    transition: all .3s !important;
}

.daterangepicker .btn-default:hover{
    background-color: var(--room4) !important;
}


/*------------- END DATEPICKER -------------------*/


.room-reserve{
    width: 45%;
}

.img_house{
    border-radius: 100px; 
    width:130px; 
    height: 130px;
}


/*  @media (min-width: 320px) {
    .date_l {
        padding: 0;
    }
    .datepicker {
        width: 100%;
        margin-left: 0;
    }
    .icon-calendar {
        bottom: -42px;
    }
    .container_r {
        padding: 10px 10px;
        width: 260px;
        margin-top: 5.5rem;
    }
    .form__group-card {
        display: block;
    }
    .form__group-row {
        display: block;
    }
    .add-photo {
        width: 11rem;
        height: 7.5rem;
        margin-left: 15px;
    }
    .photo-add {
        width: 11rem;
        height: 7.5rem;
        margin-left: 15px;
        line-height: 7.5rem;
    }
    .form__group-information-res {
        margin-top: 8rem;
    }
    .form__group-room,
    .form__group-end {
        margin-top: 1.8rem;
    }
    .form__group-button {
        margin-top: 0;
    }
    .form__group-title {
        font-size: 1.3rem;
    }
}*/

@media (min-width: 300px) {
    .room-reserve{
        width: 100%;
        padding: 1rem 1rem;
    }
    .res-input{
        margin: 0 auto;
        justify-content: space-between;
        width: 100%;
    }
}
@media (min-width: 400px) {
    .room-reserve{
        width: 80%;
        padding: 1.5rem 1.5rem;
    }
}

@media (min-width: 450px) {
    .container_r {
        margin-top: 6rem;
    }

    .form__group-title {
        font-size: 1.3rem;
        margin-top: .2rem;
    }

    .form__group-card{
        display: grid;
        padding-left: .5rem;
        max-height: 400px;
        overflow-y: scroll;
        width: 100%;
    }

    .form__group-card__div{
        width: 95%;
        margin-bottom: 2rem;
        padding: 0;
    }

    .form__group-card__content{
        display: block;
    }

    .form__group-bolet{
        max-width: 100%;
    }

    .form__group-bolet-img{
        margin-left: 5.5rem;
    }

    .add-photo {
        width: 7rem;
        height: 6.5rem;
        margin-left: 0;
    }

    .photo-add {
        width: 7rem;
        height: 6.5rem;
        line-height: 7rem;
        margin-left: 0;
    }

    .label__name_h{
        margin-top: 8rem;
    }

    .form__group-information-res {
        margin-top: -1rem;
        margin-left: 0rem;
    }

    .householder{
        width: 100%;
    }
    
    .d_arrive,
    .d_leave,
    .h_name {
        width: 90%;
    }

    .form__text-warning{
        width: 60%;
        margin-top: -6rem;
        margin-left: 1rem;
    }
}

@media (min-width: 500px) {
    .room-reserve{
        width: 70%;
    }
}

@media (min-width: 575px) {
    
    .container_r {
    }

    .form__group-title{
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .form__group-card{
        display: grid;
        grid-template-columns: 800;
        padding-left: 1rem;
        max-height: 400px;
        overflow-y: scroll;
    }

    .form__group-card__div{
        width: 95%;
        margin-bottom: 2rem;
        padding: 0;
    }

    .form__group-card__content{
        display: flex;
    }

    .form__group-bolet{
        margin-left: 0rem;
        max-width: 120px;
    }

    .form__group-bolet-img{
        margin-left: .5rem;
    }

    .add-photo {
        width: 7rem;
        height: 6.5rem;
        margin-left: 0;
    }

    .photo-add {
        width: 7rem;
        height: 6.5rem;
        line-height: 7rem;
        margin-left: 0;
    }

    .label__name_h{
        margin-top: 7rem;
    }

    .form__group-information-res {
        margin-top: -1.5rem;
        margin-left: -1rem;
    }

    .form__text-warning{
        width: 60%;
        margin-top: -4.5rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .icon-calendar {
        bottom: -38px;
    }
    .form__group-title {
        font-size: 1.5rem;
        margin-left: 2rem;
    }
    .h_name {
        width: 90%;
    }
    .form__group-row {
        display: flex;
    }



    .d_arrive,
    .d_leave {
        width: 50%;
        margin: 0 auto;
    }
    .room {
        width: 100%;
    }
    .room-reserve{
        width: 60%;
    }
}

@media (min-width: 600px) {
    .room-reserve{
        width: 50%;
    }
}

@media (max-width: 767px) {
    .res-input{
        margin: 0 auto;
        justify-content: space-between;
        width: 90%;
    }
    .room_div {
        float: right;
    }
    .form__group-room{
        width: 15%;
        float: right;
    }
    .d_arrive,
    .d_leave {
        width: 100%;
        margin: 0 auto;
    }
    .form__group-start, .form__group-end{
        width: 45%;
    }
    .form__group-end{
        float: right !important;
    }
    .img_house{
        border-radius: 100px; 
        width: 110px; 
        height: 110px;
    }
}

@media (min-width: 767px) {

    .container_r {
        padding: 10px 10px;
        margin-top: 5.5rem;
    }
    .form__group-title{
        margin-bottom: 1rem;
    }
    
    .form__group-bolet{
        margin-left: 0rem;
        max-width: 180px;
    }

    
    .title__card{
        margin-bottom: -1rem;
        font-size: 1.25rem;
    }

    .form__group-bolet-img{
        margin-left: .5rem;
    }

    .icon-calendar {
        bottom: -44px;
    }
    .add-photo {
        width: 8rem;
        height: 7.5rem;
        margin-left: 0;
    }

    .photo-add {
        width: 8rem;
        height: 7.5rem;
        line-height: 7rem;
        margin-left: 0;
    }
    .form__group-information-res {
        margin-top: -1rem;
        margin-left: -3rem;
    }

    .add-photo {
        width: 8rem;
        height: 7.5rem;
        margin-left: 0;
    }

    .photo-add {
        width: 8rem;
        height: 7.5rem;
        line-height: 7rem;
        margin-left: 0;
    }

    .label__name_h{
        margin-top: 8rem;
        width: 80%;
    }







    .form__group-room{
        width: 15%;
        float: right;
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .d_arrive,
    .d_leave {
        width: 100%;
    }
    .form__group-start, .form__group-end{
        width: 45%;
    }
    .room {
        width: 70%;
    }
    .room-reserve{
        width: 80%;
        padding: 2rem 2rem;
    }
}

@media (min-width: 800px) {
    .d_arrive,
    .d_leave {
        width: 70%;
    }
    .room {
        width: 70%;
    }
    .room-reserve{
        width: 75%;
    }
}

@media (min-width: 900px) {
    .d_arrive,
    .d_leave {
        width: 70%;
    }
    .room {
        width: 70%;
    }
    .room-reserve{
        width: 65%;
    }
}

@media (min-width: 1000px) {
    .container_r {
        padding: 20px 20px;
        margin-top: 7rem;
    }

    .form__group-card__div {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2rem;
        padding: .5rem;
    }

    .form__group-bolet {
        width: 150px;
        padding: 10px 10px;
    }

    .title__card{
        margin-bottom: -1rem;
    }

    .form__group-bolet-img{
        margin-left: 0rem;
    }

    .form__group-information-res {
        margin-top: -1rem;
    }

    .label__name_h{
        margin-top: 8rem;
    }

    .form__text-warning{
        margin-top: -5rem;
    }
    .d_arrive,
    .d_leave {
        width: 70%;
    }
    .room {
        width: 70%;
    }
    .room-reserve{
        width: 60%;
    }
}

@media (min-width: 1100px) {
    .container_r {
        padding: 20px 20px;
        margin-top: 7rem;
    }

    .form__group-card {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }

    .form__group-bolet {
        max-width: 140px;
        padding: 10px 10px;
        text-align: center;
    }

    .title__card{
        margin-bottom: .5rem;
    }


    .form__group-card__div {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2rem;
        padding: .5rem;
    }

    .form__group-information-res {
        margin-top: 0rem;
        margin-left: 0rem;
    }

    .form__group-title{
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .add-photo {
        width: 8rem;
        height: 7.5rem;
        margin-left: 0;
    }

    .photo-add {
        width: 8rem;
        height: 7.5rem;
        line-height: 7rem;
        margin-left: -4rem;
    }

    .label__name_h{
        margin-top: 8rem;
    }

    .householder{
        width: 100%;
    }

    .form__group-room{
        width: 20%;
        float: right;
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .d_arrive,
    .d_leave {
        width: 70%;
    }
    .room {
        width: 70%;
    }
    .room-reserve{
        width: 55%;
    }
}


@media (min-width: 1200px) {
    .container_r {
        padding: 20px 20px;
        margin-top: 7rem;
    }
    .form__group-card {
        display: flex;
        justify-content: space-between;
    }
    .add-photo {
        width: 9rem;
        height: 8.5rem;
        margin-left: 0;
    }
    .photo-add {
        width: 9rem;
        height: 8.5rem;
        line-height: 9.5rem;
        margin-left: -4.5rem;
    }
    .form__group-input{
        font-size: 14px;
    }
    .label__name_h{
        margin-top: 9rem;
        font-size: 14px;
    }
    .form__group-information-res {
        margin-top: 0;
        margin-left: 0;
    }
    .form__group-bolet {
        max-width: 250px;
        padding: 10px 10px;
        justify-content: flex-start;
        flex: 0 0 calc(180px - 15px);
    }
    .d_arrive,
    .d_leave {
        width: 70%;
    }
    .room {
        width: 70%;
    }
    .room-reserve{
        width: 50%;
    }
    
}

@media (min-width: 1300px) {
    .room-reserve{
        width: 50%;
        max-width: 40rem;
    }
}



/*

.reserve-details{ width: 21em; margin-top: 8rem;}
.reserve-details{ width: 30em; }

.title-m{ font-size: 19px;}
.title-m{ font-size: 21px;}
.title-m{ font-size: 21px; text-align: center; margin-top: 0; font-weight: normal; line-height: 25px;}

.modal-content{ padding-bottom: 3rem;}
.modal-content{ padding-bottom: 1rem;}

.names-res{ width: 80%; margin-bottom: 2rem;}
.names-res{ width: 100%; }

.h_name-res{ margin-bottom: 2rem; margin-right: 0;}
.h_name-res{ margin-bottom: 0rem; margin-right: 2rem;}


.text-name-hom{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  text-align: left;
}

.text-name-hom::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;


  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #982A72, #4F177D);
  background: -o-linear-gradient(left, #982A72, #4F177D);
  background: -moz-linear-gradient(left, #982A72, #4F177D);
  background: linear-gradient(left, #982A72, #4F177D);
}



.text-name-hom::after {
  font-size: 11px;
  color: #232159;
  line-height: -1.2;
  height: 5px;

  content: attr(data-placeholder);
}


.input-res:focus + .text-name-hom::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.input-res:focus + .text-name-hom::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}

.has-val.input-res + .text-name-hom::after {
  top: -5px;
  font-size: 11px;
  color: #232159;
}

.has-val.input-res + .text-name-hom::before {
  width: 100%;
  font-size: 11px;
  color: #232159;
}


.date_res{ padding-bottom: 2rem;}
.date_res{ width: 80%; padding-bottom: 3rem;}
.date_res{ width: 100%; padding-bottom: 0rem;}


.date_a{ margin-bottom: 5em; margin-right: 0; padding: 0;}
.date_a{ margin-right: 2rem; }


*/