.not{ margin-bottom: 2%; }

li#li {list-style: none;}

a#a {
	color: #982A72; 
	font-size: 14px;
}

.title_not{display: none;} 
ul.dropdown-menu{height:3em; padding: 0;}
.menu{display: none;} 
.title_not-i{color: #232159; padding-top: .5em; padding-bottom: .5em;}