body {
	background-color: #F3F8FC;
}

img#student {
	width: 100px; 
	height: auto; 	
}

span#gender {
    margin-left: -10px;
}

span#age {
    margin-left: -10px;
    margin-right: 10px;
}

a#info{
	color: white; 
    border: 2px solid #232159; 
    background-color: #232159;
}

button#submit {
	color: white; 
	background-color: #232159; 
	border: 2px solid #232159;
    align-content: center;
}

button#submit2 {
	color: white; 
	background-color: #232159; 
	border: 2px solid #232159;
}


