/* TODO WINYERSON */
/**-------------CUSTOM PROPERTIES-------------**/
:root {
  --first-color: #232159;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: rgba(57, 43, 132);
  --title-color: #333;
  --text-color: #222;
}
html {
  scroll-behavior: smooth;
}

h1 {
  color: #222;
}

body {
  overflow-x: hidden !important;
  background-color: #eee !important;
}
space {
  padding: 2.5rem;
}
.header-nav {
  box-shadow: 1px 1px 3px #999 !important;
}

/* TODO AGENT DATA */
.container-gradient {
  position: relative;
  border-radius: 1rem;
  background: linear-gradient(140deg, #1ec6ee 5%, #5b88ff, #9925ff 85%);
}
.container-gradient::before,
.container-gradient::after {
  position: absolute;
  left: 50%;
  border: 1rem solid white;
  border-radius: 0.25rem;
}
.container-gradient::before {
  height: 5rem;
}
.container-gradient::after {
  width: 5rem;
}

.agent-card {
  width: 100% !important;
  color: #fff;
  border-radius: 0.5rem;
}
.agent-card .agent-image {
  position: relative;
  text-shadow: 2px 2px 4px #000;
}
.agent-card .agent-image .username-agent {
  color: #fff;
  font-weight: 400;
  width: 100%;
  font-size: 1.6rem !important;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.agent-card .agent-image .coordinator-img {
  width: 14rem;
  height: 14rem;
  overflow: hidden;
  border-radius: 50%;
  background-color: #c6c6c6;
}
.agent-card .agent-image img {
  width: 100%;
  height: auto;
}
.agent-card .agent-information {
  color: #fff;
  margin-top: 1rem;
}
.agent-card .agent-information > div {
  color: #fff;
  font-size: 130%;
  font-weight: lighter;
  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
  position: relative;
}
.agent-card .agent-information > div:first-child span:last-child {
  text-decoration: underline;
}
.agent-card .agent-information > div span:last-child {
  margin-left: 30px;
}
.agent-card .agent-information > div:last-child {
  margin-bottom: 0;
}
.agent-card .agent-information > div span img {
  width: 25px;
  height: auto;
  margin-right: 0.5rem;
}
.agent-card .agent-information > div span b {
  font-size: 75% !important;
  color: #000;
}

.agency-graphics {
  width: 100% !important;
  color: #fff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: relative;
}
.agency-graphics #forCity {
  width: 280px !important;
  height: 280px !important;
}
.agency-graphics #forCertified {
  width: 280px !important;
  height: 280px !important;
}
.agency-graphics .pie-legends {
  color: #222;
  font-size: 110%;
  /* display: grid !important; */
  display: none !important;
  position: relative !important;
  padding-left: 2rem !important;
  grid-template-columns: repeat(3, 1fr);
}
.agency-graphics .pie-legends span {
  position: relative;
  color: #fff;
  padding: 0.25rem 2rem;
}
.agency-graphics .pie-legends span::before {
  content: "";
  top: 50%;
  left: 0.5rem;
  width: 1rem;
  position: absolute;
  transform: translateY(-50%);
  box-shadow: 0px 0px 0 1.5px #222;
}
.agency-graphics #toronto-legend::before {
  border: 0.25rem solid #f2ccd9;
}
.agency-graphics #montreal-legend::before {
  border: 0.25rem solid #4ab0dc;
}
.agency-graphics #ottawa-legend::before {
  border: 0.25rem solid #a57ec6;
}
.agency-graphics #quebec-legend::before {
  border: 0.25rem solid #fbc04d;
}
.agency-graphics #calgary-legend::before {
  border: 0.25rem solid #95a7e2;
}
.agency-graphics #vancouver-legend::before {
  border: 0.25rem solid #f75489;
}
.agency-graphics #victoria-legend::before {
  border: 0.25rem solid #cb9cd0;
}
.agency-graphics #waterloo-legend::before {
  border: 0.25rem solid #f4ab80;
}
.agency-graphics #guelph-legend::before {
  border: 0.25rem solid #513146;
}

.agency-statistics {
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.agency-statistics article {
  width: 100%;
}
.agency-statistics article div {
  min-width: 100%;
  height: 6rem;
}
.agency-statistics article div h6 {
  font-size: 120%;
  font-weight: 400;
}
.agency-statistics article div h6::after {
  content: ":";
}
.agency-statistics article div img {
  width: 35px;
  height: 35px;
}
.agency-statistics article div img#homestay-icon {
  width: 26px;
  height: 26px;
  margin-right: 0.5rem;
}
.agency-statistics article div img#confirm-icon {
  width: 28px;
  height: 28px;
  margin-right: 0.5rem;
}
.agency-statistics article div img#search-icon {
  width: 28px;
  height: 28px;
  margin-right: 0.5rem;
}
.agency-statistics article div img#select-icon {
  width: 26px;
  height: 26px;
  margin-right: 0.5rem;
}
.agency-statistics article div img#accept-icon {
  width: 40px;
  height: 40px;
  margin-left: -0.5rem;
}
.agency-statistics article div img#active-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}
.agency-statistics article div span {
  font-size: 140%;
  font-weight: bold;
}

/* TODO STUDENTS */
.students-container {
  cursor: grab;
  width: 100%;
  padding: 0.5rem 0;
  margin-right: 5rem;
  overflow-x: scroll;
}
.students-container::-webkit-scrollbar {
  display: none;
}
.student-card {
  width: 440px;
  margin-right: 3rem;
  border-radius: 0.25rem;
}
.student-card:last-of-type {
  margin-right: 0;
}
.student-card .student-information {
  width: inherit;
  height: 14rem;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25);
  background-color: var(--gray-light-color);
}
.student-card .student-information .student-image {
  width: 14rem;
  height: inherit;
  border-top-left-radius: 0.25rem;
}
.student-card .student-information div {
  width: 100%;
}
.student-card .student-more-details {
  color: #fff;
  position: relative;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--first-color);
  transition: 300ms ease all;
}
.student-card .student-more-details:hover {
  background-color: var(--first-alpha-color);
}
.student-card .student-more-details img {
  top: 50%;
  right: 30%;
  width: 24px;
  height: 24px;
  position: absolute;
  transition: 300ms ease all;
  transform: translateY(-50%);
}
.student-card .student-more-details:hover img {
  right: 28%;
}
.students-empty {
  width: 100%;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 130%;
  color: #fff;
  border-radius: 0.5rem;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--six-alpha-color);
}

/* TODO HOMESTAYS */
.homestays-container {
  cursor: grab;
  width: 100%;
  padding: 0.5rem 0;
  margin-right: 5rem;
  overflow-x: scroll;
}
.homestays-container::-webkit-scrollbar {
  display: none;
}
.homestay-card {
  width: 18rem;
  margin-right: 3rem;
  border-radius: 0.25rem;
  position: relative;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25);
}
.homestay-card:last-of-type {
  margin-right: 0;
}
.homestay-card .homestay-status {
  top: 1rem;
  left: 1rem;
  position: absolute;
  color: #fff;
  font-size: 80%;
  text-shadow: 2px 2px 6px #000;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}
.homestay-card .homestay-image {
  width: 100%;
  height: 15rem;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
.homestay-card .homestay-information {
  width: inherit;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background-color: var(--gray-light-color);
}
.homestay-card .homestay-more-details {
  color: #fff;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--first-color);
  transition: 300ms ease all;
}
.homestay-card .homestay-more-details:hover {
  background-color: var(--first-alpha-color);
}
.homestay-card .homestay-more-details img {
  top: 50%;
  right: 20%;
  width: 24px;
  height: 24px;
  position: absolute;
  transition: 300ms ease all;
  transform: translateY(-50%);
}
.homestay-card .homestay-more-details:hover img {
  right: 16%;
}
.homestays-empty {
  width: 100%;
  text-align: center;
  padding: 1rem 2rem;
  font-size: 130%;
  color: #fff;
  border-radius: 0.5rem;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--seven-color);
}

@media screen and (min-width: 768px) {
  /* TODO AGENT DATA */
  .agent-card {
    width: 50% !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .agent-card .agent-image {
    position: relative;
    text-shadow: 2px 2px 4px #000;
  }
  .agent-card .agent-information {
    margin-top: 2rem;
  }
  .agent-card .agent-information > div {
    color: #fff;
    font-size: 128%;
    position: relative;
    font-weight: lighter;
    margin-bottom: 0.75rem;
    border-radius: 0.25rem;
  }
  .agent-card .agent-information > div span {
    font-weight: 500 !important;
  }
  .agent-card .agent-information > div:first-child span:last-child {
    text-decoration: underline;
  }
  .agent-card .agent-information > div span:last-child {
    margin-left: 30px;
  }
  .agent-card .agent-information > div:last-child {
    margin-bottom: 0;
  }
  .agent-card .agent-information > div span img {
    width: 25px;
    height: auto;
    margin-right: 0.5rem;
  }

  .agency-graphics {
    width: 50% !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .agency-graphics #forCity {
    width: 260px !important;
    height: 260px !important;
  }
  .agency-graphics #forCertified {
    width: 260px !important;
    height: 260px !important;
  }

  .agency-statistics {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }
  .agency-statistics article:nth-child(3) {
    justify-content: space-between;
    padding-right: 12% !important;
  }
  .agency-statistics article:nth-child(3),
  .agency-statistics article:last-child {
    grid-column: span 2;
  }
  .agency-statistics article div {
    min-width: 160px;
    max-width: max-content;
  }
  .agency-statistics article div h6::after {
    display: none;
  }
  .agency-statistics article div img {
    width: 35px;
    height: 35px;
    margin-right: 0.25rem;
  }
  .agency-statistics article div img#homestay-icon {
    width: 26px;
    height: 26px;
    margin-right: 0.75rem;
    margin-left: 0.25rem;
  }
  .agency-statistics article div img#confirm-icon {
    width: 28px;
    height: 28px;
    margin-right: 0.5rem;
    margin-left: 0.25rem;
  }
  .agency-statistics article div img#search-icon {
    width: 28px;
    height: 28px;
    margin-right: 0.5rem;
  }
  .agency-statistics article div img#select-icon {
    width: 26px;
    height: 26px;
    margin-right: 0.5rem;
    margin-left: 0.75rem;
  }
  .agency-statistics article div img#accept-icon {
    width: 40px;
    height: 40px;
    margin-right: 0.25rem;
  }
  .agency-statistics article div img#active-icon {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
  }
  /* TODO STUDENTS */
  .students-container {
    width: 100%;
    margin-right: 5rem;
  }
  .student-card {
    width: 460px;
  }
  .student-card .student-information {
    height: 15rem;
  }
  .student-card .student-information .student-image {
    width: 15rem;
  }
  .students-empty {
    width: 100%;
    font-size: 140%;
  }

  /* TODO HOMESTAYS */
  .homestays-container {
    width: 100%;
    margin-right: 5rem;
  }
  .homestays-container::-webkit-scrollbar {
    height: 1rem;
    background-color: var(--first-min-color);
  }
  .homestays-container::-webkit-scrollbar-thumb {
    background-color: var(--six-color);
  }
  .homestays-empty {
    width: 100%;
    font-size: 140%;
  }
}
@media screen and (min-width: 840px) {
  .agency-statistics article:nth-child(3) {
    padding-right: 14% !important;
  }
}
@media screen and (min-width: 900px) {
  .agency-statistics article:nth-child(3) {
    padding-right: 18% !important;
  }
}
@media screen and (min-width: 992px) {
  /* TODO AGENT DATA */
  .agent-card .agent-image .username-agent {
    font-size: 1.6rem !important;
  }
  .agent-card .agent-information {
    margin-top: 2rem;
  }
  .agent-card .agent-information > div {
    font-size: 120%;
  }
  .agent-card .agent-information > div span b {
    font-size: 80% !important;
  }

  .agency-statistics {
    display: flex !important;
  }
  .agency-statistics article:nth-child(3) {
    justify-content: unset;
    padding-right: 0 !important;
  }
  .agency-statistics article div {
    height: 6rem;
    min-width: 160px;
    max-width: max-content;
    text-align: center;
  }
  .agency-statistics article div h6 {
    font-size: 100%;
  }
  .agency-statistics article div h6::after {
    display: none;
  }

  .agency-statistics article div img {
    width: 35px;
    height: 35px;
  }
  .agency-statistics article div img#homestay-icon {
    width: 26px;
    height: 26px;
    margin-right: 0;
  }
  .agency-statistics article div img#confirm-icon {
    width: 28px;
    height: 28px;
    margin-right: 0;
  }
  .agency-statistics article div img#search-icon {
    width: 28px;
    height: 28px;
    margin-right: 0;
  }
  .agency-statistics article div img#select-icon {
    width: 26px;
    height: 26px;
    margin-right: 0;
  }
  .agency-statistics article div img#accept-icon {
    width: 38px;
    height: 38px;
    margin-right: 0;
    margin-left: 0.25rem;
  }
  .agency-statistics article div img#active-icon {
    width: 24px;
    height: 24px;
    margin-right: 0;
  }

  /* TODO STUDENTS */
  .student-card {
    width: 485px;
  }
  .student-card .student-information {
    height: 14rem;
  }
  .student-card .student-information .student-image {
    width: 14rem;
  }
  .students-empty {
    width: 60%;
    font-size: 140%;
  }

  /* TODO HOMESTAY */
  .homestays-empty {
    width: 60%;
    font-size: 140%;
  }
}
@media screen and (min-width: 1200px) {
  /* TODO AGENT DATA */
  .agent-card {
    border-top-left-radius: 0.5rem;
  }
  .agent-card .agent-image .username-agent {
    font-size: 150% !important;
  }
  .agent-card .agent-image .coordinator-img {
    width: 16rem;
    height: 16rem;
  }
  .agent-card .agent-information > div {
    font-size: 120%;
    font-weight: lighter;
  }
  .agent-card .agent-information > div span b {
    font-size: 80% !important;
  }
  .agent-card .agent-information > div span:last-child {
    margin-left: 30px;
    font-size: 100%;
  }

  .agency-graphics {
    border-top-right-radius: 0.5rem;
  }
  .agency-graphics #forCity {
    width: 240px !important;
    height: 240px !important;
  }
  .agency-graphics #forCertified {
    width: 240px !important;
    height: 240px !important;
  }
  .agency-graphics .pie-legends {
    top: 102%;
    left: -5%;
    width: 100%;
    font-size: 100%;
    grid-template-columns: repeat(4, 1fr);
    position: absolute !important;
  }
  .agency-graphics .pie-legends span {
    color: #000;
    padding: 0.25rem 2rem;
    text-shadow: none;
  }

  .agency-statistics {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .agency-statistics article div h6 {
    width: 12rem !important;
    font-size: 120%;
    font-weight: 400;
  }
  .agency-statistics article div img#confirm-icon {
    width: 28px;
    height: 28px;
    margin-right: 0.5rem !important;
  }
  .agency-statistics article div img#search-icon {
    width: 28px;
    height: 28px;
    margin-right: 0.5rem !important;
  }
  .agency-statistics article div img#select-icon {
    width: 26px;
    height: 26px;
    margin-right: 0.5rem !important;
  }
  .agency-statistics article div img#accept-icon {
    width: 40px;
    height: 40px;
  }

  /* TODO STUDENTS */
  .students-container {
    width: 100%;
    margin-right: 5rem;
  }
  .student-card {
    width: 500px;
  }
  .student-card .student-information {
    height: 14rem;
  }
  .student-card .student-information .student-image {
    width: 14rem;
  }
  .students-empty {
    width: 60%;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 140%;
    color: #fff;
    border-radius: 0.5rem;
    text-shadow: 2px 2px 4px #000;
    background-color: var(--six-alpha-color);
  }

  /* TODO HOMESTAYS */
  .homestays-container {
    width: 100%;
    margin-right: 5rem;
  }
  .students-empty {
    width: 60%;
    text-align: center;
    padding: 1rem 2rem;
    font-size: 140%;
    color: #fff;
    border-radius: 0.5rem;
    text-shadow: 2px 2px 4px #000;
    background-color: var(--six-alpha-color);
  }
}

@media screen and (min-width: 1300px) {
  .agency-graphics #forCity {
    width: 260px !important;
    height: 260px !important;
  }
  .agency-graphics #forCertified {
    width: 260px !important;
    height: 260px !important;
  }
  .agency-graphics .pie-legends {
    left: 0%;
  }
}
