.confirm__reserve{
    background-color: #232159;
    color: #fff;
}

.cancel__reserve{
    background-color: #982a72;
    color: #fff;
}

.confirm__reserve, .cancel__reserve{
    width: 60%;
    font-size: 1rem;
    margin-bottom: .5rem;
}

.buttons{
    padding: 0;
    margin: 0;
    width: 100%;
}

.a_href{
    text-decoration: none;
    color: #000;
}

.a_href:hover{
    text-decoration: none;
    color: #232159;
}

.img_stu{
    margin: 0 auto;
}



/* Notifications */

.div_panel_noti{
    margin-top: -1rem !important;
  }
  
  .notification_panel{
    margin-bottom: -1rem !important;
  }
  