a#contact {
  color: #5d418d;
  border: 2px solid #5d418d;
}
a#contact:hover {
  background-color: #982a72;
  border: 2px solid #982a72;
  color: white;
}

p#text {
  color: black;
}

a.nav-link {
  color: #982a72;
}

h4#footer {
  color: #982a72;
}

i#footer {
  color: white;
}

div.ts-copyright {
  color: white;
}

section#ts-footer-secondary {
  background-color: rgb(93, 65, 141);
  background-color: linear-gradient(
    180deg,
    rgba(93, 65, 141, 1) 3%,
    rgba(65, 43, 132, 1) 29%,
    rgba(57, 43, 132, 1) 55%
  );
}

a.btn-link {
  color: #982a72;
}

a.btn-link:hover {
  color: #982a72;
}

/* TODO SECTION FOOTER */

:root {
  --first-color: #342359;
  --second-color: #33308c;
  --third-color: #812b8c;
  --fourth-color: #d977b7;
  --fifth-color: #0d0d0d;
}

/** SECTION FOOTER */

/* ? FIRST COLUMN FOOTER */

#ts-footer-main {
  padding: 2rem 4rem !important;
  overflow: hidden;
}

#ts-footer-main > div {
  padding: 2rem;
}

#ts-footer-main > div .logo__ihomestay {
  width: 60%;
}

#ts-footer-main > div h5 {
  margin-top: 1rem;
  font-weight: 500;
}

#ts-footer-main > div h4 {
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 20px;
}

#ts-footer-main > div a {
  margin-right: 0.5rem;
  color: var(--third-color);
}

#ts-footer-main > div a:nth-child(3) > i {
  margin-right: 0.7rem;
  margin-bottom: 0.5rem;
}

#ts-footer-main > div a:last-child > i {
  margin-left: -0.2rem;
  margin-right: 0.5rem;
}

#ts-footer-main > div a:hover {
  color: #555;
}

/* ? SECOND COLUMN */

#ts-footer-main > div:nth-child(2) .title__column.column2,
#ts-footer-main > div:nth-child(3) .title__column.column3 {
  font-size: 17px;
  font-weight: bold;
  color: #000;
}

#ts-footer-main > div:nth-child(2) p {
  margin-bottom: 0.7rem;
}

#ts-footer-main > div:nth-child(2) .address,
#ts-footer-main > div:nth-child(2) .r_ihomestay {
  font-size: 13px;
  color: #222;
}

#ts-footer-main > div:nth-child(2) .link__mail,
#ts-footer-main > div:nth-child(2) .link__number,
#ts-footer-main > div:nth-child(2) .link__politics,
#ts-footer-main > div:nth-child(3) .link__header {
  font-size: 13px;
}

#ts-footer-main > div:nth-child(2) .link__number {
  margin-top: 2rem !important;
}

#ts-footer-main > div:nth-child(2) .r_ihomestay .emoji_canada {
  width: 15px;
  height: 15px;
}

#ts-footer-main > div:nth-child(2) .link__politics {
  font-weight: bold;
}

/* ? RESPONSIVE NEW FOOTER */

@media (min-width: 300px) and (max-width: 992px) {
  #ts-footer-main > div {
    padding: 4rem 1rem;
  }
}

/* ?--------------------------------------------------- */

@media (min-width: 300px) and (max-width: 400px) {
  .banner__contact_div {
    height: 8rem;
  }
  .contact__title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1.2rem;
    margin-top: 0;
  }
  .img__information {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .information__img {
    width: 70%;
    height: 40%;
    display: block;
    margin: auto auto;
  }
  .fr__group,
  .information__text {
    display: block;
  }
  .information__text {
    width: 100%;
    margin-bottom: 15rem;
  }
  .input__bordeless {
    width: 100%;
    margin-bottom: 2rem;
  }
  .text__information {
    width: 80%;
    margin: 0 auto;
  }
  .contact__form {
    width: 85%;
  }
}

@media (min-width: 300px) and (max-width: 335px) {
  #ts-footer #ts-footer-secondary .container,
  #ts-footer #ts-footer-secondary .container2 {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
  }
  .ts-footer-nav {
    margin-top: 0rem;
  }
  .ts-copyright {
    margin-top: -0.5rem !important;
  }
  #white-logo {
    margin-top: -0.5rem;
    width: 8rem !important;
    margin-bottom: 1rem !important;
  }
}

@media (min-width: 335px) and (max-width: 400px) {
  #ts-footer #ts-footer-secondary .container,
  #ts-footer #ts-footer-secondary .container2 {
    width: 100%;
    margin-left: 0rem;
    margin: 0 auto;
    margin-top: -0.5rem;
    display: block;
  }
  .ts-footer-nav {
    margin-top: 0.5rem;
  }
  .ts-copyright {
    margin-top: 0.5rem !important;
    width: 90% !important;
  }
  #white-logo {
    margin-top: 0rem;
    width: 9rem !important;
    margin-bottom: 0rem !important;
  }
  .div__img {
    display: block;
    width: 90%;
    margin: auto auto;
  }
}

@media (min-width: 400px) and (max-width: 420px) {
  #ts-footer #ts-footer-secondary .container,
  #ts-footer #ts-footer-secondary .container2 {
    width: 100%;
    margin-left: 0rem;
    margin: 0 auto;
    margin-top: -0.5rem;
    display: block;
  }
  .ts-footer-nav {
    margin-top: 0rem;
  }
  .ts-copyright {
    margin-top: 0.5rem !important;
    width: 90% !important;
  }
  #white-logo {
    margin-top: 0rem;
    width: 9rem !important;
    margin-bottom: 0rem !important;
  }
  .div__img {
    display: block;
    width: 90%;
    margin: auto auto;
  }
}

@media (min-width: 420px) {
  #ts-footer #ts-footer-secondary .container,
  #ts-footer #ts-footer-secondary .container2 {
    display: flex;
  }
  #white-logo {
    margin-top: 0rem;
    width: 9rem !important;
    margin-bottom: 0rem !important;
  }
}

.image__prom {
  display: flex;
  justify-content: space-around;
}

.div__image__footer {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 50%;
}

.img__footer {
  width: 16rem;
}

.btn__app {
  position: absolute;
}

.app_store {
  left: 0.5rem;
  top: 0.1rem;
  padding: 17px 57px;
  border-radius: 4px;
  background-color: transparent;
}

.play_store {
  right: 0.7rem;
  top: 0.1rem;
  padding: 17px 57px;
  border-radius: 4px;
  background-color: transparent;
}

.app_store:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.play_store:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.div__image__iprom {
  display: flex;
  justify-content: center;
  border-right: 1px solid #999;
}

.image__iprom {
  width: 18rem;
}

.text__ihomestay {
  color: #000;
  margin-top: 1rem;
  text-align: justify;
  padding-right: 0.8rem;
}

h2 {
  font-weight: 300;
}

@media (max-width: 500px) {
  .div__image__footer {
    width: 100%;
    margin-bottom: 2rem;
  }

  .image__prom {
    display: block;
  }

  .text__prom h2 {
    font-size: 19px;
    margin-top: 1rem;
  }

  .app_store {
    left: 5.7rem;
    top: 0.1rem;
    padding: 16px 55px;
  }

  .play_store {
    right: 5.8rem;
    top: 0.1rem;
    padding: 16px 55px;
  }
}

@media (max-width: 575px) {
  .image__prom {
    margin-top: 2rem;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .image__prom {
    display: block;
  }

  .div__image__footer {
    width: 100%;
  }

  .text__prom h2 {
    font-size: 18px;
    margin-top: 1rem;
  }

  .app_store {
    left: 1.2rem;
    top: 0.1rem;
    padding: 14px 50px;
  }

  .play_store {
    right: 1.4rem;
    top: 0.1rem;
    padding: 14px 50px;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .image__iprom {
    width: 15rem;
  }

  .img__footer {
    width: 13rem;
    height: 10rem;
  }

  .text__prom h2 {
    font-size: 20px;
  }

  .app_store {
    left: -0.5rem;
    top: 0.7rem;
    padding: 14px 43px;
  }

  .play_store {
    right: -0.2rem;
    top: 0.7rem;
    padding: 14px 43px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .app_store {
    left: -0.2rem;
    top: 0.1rem;
    padding: 16px 55px;
  }

  .play_store {
    right: 0rem;
    top: 0.1rem;
    padding: 16px 55px;
  }
}
