/* TODO WINYERSON */
/**-------------CUSTOM PROPERTIES-------------**/
:root {
  --first-color: #342359;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: #d51d95;
  --title-color: #333;
  --text-color: #222;
}

/** DEFAULT **/
html {
  scroll-behavior: smooth;
  background-color: #eeeeee;
}
h1 {
  color: #222;
}

.login-header * {
  font-family: "Roboto", sans-serif !important;
}

.login-header {
  position: relative;
}
.login-header .login-navbar {
  position: fixed;
  z-index: 998;
  top: 4rem;
  left: 0;
  right: 0;
  padding: 0.3rem 0;
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start;
  transform: translateY(-100%);
  background-color: #ededed;
  transition: 300ms ease all;
}
.login-header .login-navbar.show {
  transform: translateX(0%);
}
.login-header .login-navbar-logo {
  width: 15rem !important;
}

.login-header .login-link {
  color: #292a2b;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.login-header .login-link:hover {
  color: #8002cee0;
}
.login-header .login-button {
  width: max-content;
  margin-right: 0 !important;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  color: #8102ceb8;
  transition: 0.7s ease all;
  animation: loginAnim 0.7s infinite alternate;
  animation-timing-function: ease;
  -webkit-animation: loginAnim 0.7s infinite alternate;
  -webkit-animation-timing-function: ease;
}
.login-header .login-button:hover {
  opacity: 0.85;
}
.login-header .login-button svg {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -60%;
  top: 50%;
  transform: translateY(-60%);
}
@keyframes loginAnim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.icon-show-login-header {
  width: 45px;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  border: 2px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px 1px transparent;
  transition: 300ms ease all;
}
.icon-show-login-header:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
}
.icon-show-login-header img {
  width: 100%;
  height: auto;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .login-header .login-navbar {
    position: relative;
    top: 0;
    flex-direction: row !important;
    background-color: transparent;
    transform: translateX(0%);
  }
  .login-header .login-link {
    width: auto;
    color: #54595f;
    border: none;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    transition: 300ms ease all;
  }
  .login-header .login-link:hover {
    color: #9b51e0;
  }
  .login-header .login-link::before {
    content: "";
    position: absolute;
    width: 20%;
    left: 50%;
    opacity: 0;
    bottom: -0.8rem;
    transform: translateX(-50%) translateY(2px) scale(0.75);
    border-bottom: 3.5px solid #8102ce;
    transition: 300ms ease all;
  }
  .login-header .login-link:hover::before {
    width: 100%;
    transform: translateX(-50%) translateY(0px) scale(1);
    border-radius: 1.25rem;
    opacity: 1;
  }
  .login-header .login-button {
    width: max-content;
    margin-right: 5.5rem !important;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    color: #8102ceb8;
    transition: 0.7s ease all;
    animation: loginAnim 0.7s infinite alternate;
    animation-timing-function: ease;
    -webkit-animation: loginAnim 0.7s infinite alternate;
    -webkit-animation-timing-function: ease;
  }
  .login-header .login-button:hover {
    opacity: 0.85;
  }
  .login-header .login-button svg {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -60%;
    top: 50%;
    transform: translateY(-60%);
  }
}
@media screen and (min-width: 1200px) {
}
