/* Modal 1 */

.modal1 {
    left: 0em;
    margin: -250px 0 0 -32%;
    opacity: 0;
    position: absolute;
    top: 60em;
    margin-top: -20em;
    visibility: hidden;
    width: 30em;
    box-sizing: border-box;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}
.modal1:target {
    opacity: 1;
    top: 50%;
    visibility: visible;
}

.modal1 .header1, .modal1 .footer {
    border-bottom: 1px solid ;
    border-radius: 5px 5px 0 0;
}
.modal1 .footer, {
    border: none;
    border-top: 1px solid #e7e7e7;
    border-radius: 0 0 5px 5px;
}
.modal1 h2 {
    margin: 0;
    color: #333333;
    padding-top: 1%;
    padding-bottom: 1%;
}
.modal1 .btn {
    float: right;
}

.modal1 .copy, .modal1 .header1, .modal1 .footer {
    padding: 5px;
    color: #333333;
}

/* #3C2663; */
.modal-content1 {
    background: #232159; 
    position: relative;
    z-index: 20;
    border-radius: 5px;
    color: #333333;
    margin-top: 41%;
    width: 100%;
    padding: 1%;
    margin-left: 14vw;
}

.modal-content2 {
    background: #701752; 
    position: relative;
    z-index: 20;
    border-radius: 5px;
    color: #333333;
    margin-top: 41%;
    width: 100%;
    padding: 1%;
    margin-left: 14vw;
}

.modal-content3 {
    background: #394893; 
    position: relative;
    z-index: 20;
    border-radius: 5px;
    color: #333333;
    margin-top: 41%;
    width: 100%;
    padding: 1%;
    margin-left: 14vw;
}

.modal-content4 {
    background: #863169; 
    position: relative;
    z-index: 20;
    border-radius: 5px;
    color: #333333;
    margin-top: 41%;
    width: 100%;
    padding: 1%;
    margin-left: 14vw;
}

.modal-content5 {
    background: #3C2663; 
    position: relative;
    z-index: 20;
    border-radius: 5px;
    color: #333333;
    margin-top: 41%;
    width: 100%;
    padding: 1%;
    margin-left: 14vw;
}

.modal1{
    padding-bottom: 2%;
    padding-top: -4%;
}

.copy{
  background-color: #EBEBEB;
  padding-bottom: 2%;
  padding-top: -4%;
}

.copy-i{
  padding-bottom: 2%;
  padding-top: -4%;
  background: #b7187f;
}

.copy-ii{
  padding-bottom: 2%;
  padding-top: 2%;
  background: #b7187f;
}

.modal1 .overlay {
    background-color: #000;
    background: rgba(0,0,0,.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.i{
  font-size: 22px;
  width: 70%;
}

.title-mod{
  margin-top: .5em;
  font-size: 16px;
}


.name-pro{
  padding: 1%;
  padding-left: .5em;
  border: 1px solid #5D418D;
  border-radius: 6px;
  background-color: white;
}

.name-req{
  padding: 1%;
  padding-left: .5em;
  border: 1px solid #5D418D;
  border-radius: 6px;
  margin-top: 1em;
  background-color: white;
}

.date-in-t{
  padding: 1%;
  padding-left: .5em;
  border: 1px solid #5D418D;
  border-radius: 6px;
}

.date-in{
  margin-top: 1.5em;
}

.date-ex{
  margin-top: 1.5em;
}

.date-ex-t{
  padding: 1%;
  padding-left: .5em;
  border: 1px solid #5D418D;
  border-radius: 6px;
}

.btn-s{
  margin-right: 2em;
  margin-bottom: 2em;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-left: .8em;
  padding-right: .8em;
  border: 1px solid #5D418D;
  border-radius: 6px;

  background-color: #5D418D;
  color: white;
}

.btn-s:hover{
  box-shadow: 3px 6px 10px black;
  background-color: #5D34A1;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -12px -12px;
}

[ripple] {
  z-index: 1;
  position: relative;
  overflow: hidden;
}
[ripple] .ripple {
  position: absolute;
  background: #FFFFFF;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: ripple 2s;
          animation: ripple 2s;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}




/* Close Button */
.box3 { 
    width: 30px;
    right: 0px;
    position: absolute;
    margin: 10px;
    margin-top: 0%;
}
svg {
    display: block;
}


.close-x {
  stroke: #DFDDDD;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}

.modalcss-button {
    /* Structure */
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */
.modalcss-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.modalcss-button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.modalcss-button-hover,
.modalcss-button:hover,
.modalcss-button:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.modalcss-button:focus {
    outline: 0;
}
.modalcss-button-active,
.modalcss-button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000\9;
}
.modalcss-button[disabled],
.modalcss-button-disabled,
.modalcss-button-disabled:hover,
.modalcss-button-disabled:focus,
.modalcss-button-disabled:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.modalcss-button-hidden {
    display: none;
}

/* Firefox: Get rid of the inner focus border */
.modalcss-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

.modalcss-button-primary,
.modalcss-button-selected,
a.modalcss-button-primary,
a.modalcss-button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}
.button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }
/* Responsive Video */
.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



