:root {
  --room1: #342359;
  --room2: #982a72;
  --room3: #394893;
  --room4: #a54483;
  --room5: #5d418d;
  --room6: #392b84;
  --room7: #b15391;
  --room8: #4f177d;
  --ff: #f8f8f8;

  --_first-color: #342359;
  --_second-color: #33308c;
  --_second-hover-color: #6663c5;
  --_third-color: #812b8c;
  --_fourth-color: #d977b7;
  --_fifth-color: #0d0d0d;
}

body {
  background-color: #f3f8fc;
}

input#profile-img {
  width: 100%;
}

label#n_a {
  color: gray;
}

button#submit {
  color: white;
  background-color: #342359;
  border: 2px solid #342359;
}

#map {
  height: 300px;
  width: 360px;
}
.geocoder {
  width: 150%;
  left: 50%;
  margin-left: -25%;
  top: 10px;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

input#geocoder {
  border-width: 0.0625rem;
  border-color: rgba(0, 0, 0, 0.1);
  font-size: 0.9375rem;
  border-radius: 0.1875rem;
  padding: 0.5rem 0.75rem;
  transition: 0.3s ease;
  min-height: 2.5rem;
}

input#geocoder {
  border-color: rgba(0, 0, 0, 0.2);
}

input#geocoder {
  box-shadow: none;
  border-color: #9e9e9e;
}

input#geocoder:focus ~ {
  border-color: #9e9e9e;
}

/*Buttons*/
button#submit {
  width: 130px;
}
a#contact {
  width: 130px;
  font-size: 14px;
}

#map {
  width: 100%;
  height: 12rem;
}

/*-------------------------------------------------------------------------------------------------------------*/

.logo_white {
  width: 200px;
}

@media (min-width: 300px) {
  .logo_white {
    width: 110px;
    margin-top: 1rem;
  }
}

@media (min-width: 767px) {
  .logo_white {
    margin-top: 0rem;
  }
}

@media (min-width: 1000px) {
  .logo_white {
    width: 140px;
  }
}

@media (min-width: 1200px) {
  .logo_white {
    width: 160px;
  }
}

@media (min-width: 1400px) {
  .logo_white {
    width: 180px;
  }
}

body {
  background-color: #f3f8fc;
}

.container_register {
  width: 100%;
  margin: 0;
  padding: 0;
}

.card__register {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
}

.title__register {
  padding-left: 1rem;
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.flex__row {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
}

.form__group {
  margin-bottom: 1rem;
  position: relative;
}

.form__group__div__photo {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 10rem;
  height: 10rem;
}

.form__group__photo {
  width: 100%;
  height: 100%;
  border-radius: 80px;
  border: 1px dashed #000;
}

.cont_name,
.cont_lname,
.num_conts,
.cell_s {
  width: 95%;
}

.form__group-input {
  border: none;
  padding: 10px 5px;
  padding-bottom: 4px;
  outline: none;
  border-bottom: 2px solid #4f177d;
  border-radius: 0 !important;
  color: #000;
}

.form__group-input:focus {
  border-bottom: 2px solid #4f177d;
}

.form__group-input:active {
  border-bottom: 2px solid #4f177d;
}

.form__group__name {
  margin-top: 1rem !important;
}

.form__group-dates__flight {
  display: flex;
  margin-top: 2rem;
}

.form__group__div-special__diet {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  padding: 0.7rem 1.5rem;
}

.form__group__row-diet {
  display: flex;
  width: 25rem;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.custom-checkbox {
  flex: 0 0 calc(48% - 30px);
}

.custom-checkbox-none {
  flex: 0 0 calc(30% - 30px) !important;
}

.title__special-diet {
  border-bottom: 2px solid #342359;
  padding-bottom: 0.4rem;
  padding-left: 2.5rem;
  width: 100%;
}

.mail,
.password,
.names,
.db,
.bl,
.nacionality,
.lang_s,
.type_s,
.firstd,
.lastd,
.n_airline,
.n_flight,
.allergies,
.num_s,
.f_date,
.h_date,
.dir,
.city2,
.state,
.p_code,
.a_name,
.mail2,
.num,
.des,
.country,
.a_mail,
.num2,
.experience,
.language,
.specialization {
  width: 100% !important;
}

.allergies {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  background-color: rgb(238, 238, 238);
  padding: 0.5rem 0.5rem;
}

.form__group-title {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.form__group-title__col-4 {
  padding: 0.5rem 1rem;
  background-color: var(--_first-color) !important;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.information__content {
  padding: 1rem 1.5rem;
  padding-bottom: 2rem;
}

.form__group-basic-content {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.form__group__btn-send {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.form__btn {
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  transition: all 0.25s;
  width: 25%;
}

.save {
  background-color: #342359;
}

.save:hover {
  background-color: var(--room6);
}

.advance {
  background-color: #982a72;
}

.advance:hover {
  background-color: var(--room4);
}

.discard {
  background-color: #4f177d;
}

.discard:hover {
  background-color: var(--room5);
}

.form__group-f_date {
  margin-top: 1.5rem;
}

.form__group__num2 {
  margin-top: 2rem;
}

.form__group__experience,
.form__group__specialization {
  margin-top: 2rem;
}

.des {
  background-color: #e2e2e2;
  padding-left: 0.5rem !important;
  border-radius: 8px !important;
}

.content__academies {
  background-color: #ececec;
  width: 90%;
  margin: auto auto;
  height: 14rem;
  max-height: 14rem;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0.5rem 1rem;
}

.title__academies_f {
  width: 90%;
  margin: auto auto;
  margin-bottom: 2rem;
}

td {
  margin-right: 0.5rem;
}

.tr__academies {
  margin-bottom: 5rem !important;
}

.btn_none {
  display: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 1s all;
  opacity: 0;
}
.loading.show {
  opacity: 1;
}
.loading,
.spin {
  border: 3px solid #d4bbff;
  border-top-color: #4f177d;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.required {
  color: #000;
  font-size: 16px;
  margin-top: 2rem;
}

/* ------------------------------- */

.form__group__input-error {
  margin-bottom: 0;
  font-size: 12px;
  display: none;
  line-height: 15px;
  color: #bb2929;
  width: 85%;
}

.form__group__input-error-active {
  display: block;
}

.form__message {
  display: none;
}

.form__message p {
  margin: 0;
}

.form__message-active {
  display: block;
  color: #bb2929;
  font-size: 14px;
}

.form__message-sucess {
  color: green;
  font-size: 14px;
  display: none;
}

.form__message-sucess-active {
  display: block;
}

.form__group-correct .form__validate-state {
  color: #1ca827;
  opacity: 1;
}

.form__group-correct .form__group-input {
  border-bottom: 2px solid #1ca827;
}

.form__group-correct .form__label {
  color: #1ca827;
}

.form__group-incorrect .form__label {
  color: #bb2929;
}

.form__group-incorrect .form__validate-state {
  color: #bb2929;
  opacity: 1;
}

.form__group-incorrect .form__group-input {
  border-bottom: 2px solid #bb2929;
}

.label__name {
  position: absolute;
  top: -0.5rem;
  left: 2rem;
  font-weight: 400 !important;
  color: #342359;
}

/* -----------------------------------------*/

/*-------------- Gallery --------------------*/

.add-photo {
  height: 10.7em;
  width: 15em;
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  border: 2px dashed #c2c2c2;
}

.add-photo:hover {
  transition: all 0.5s;
  background: #c2c2c2;
  cursor: pointer;
  color: #4f177d;
}

.add-photo-i {
  position: absolute;
  margin: 0;
  right: 1.5rem;
  background-color: #982a72;
  color: #fff;
  border-radius: 60px;
  padding: 0.8rem 0.8rem;
  bottom: 0;
}

.add-photo-i:hover {
  background: white;
  transition: all 0.5s;
  cursor: pointer;
  color: #4f177d;
}

.photo-add {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  border-radius: 80px;
  padding-left: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__group-l_title {
  margin: 0;
  color: #4f177d;
}

.photo-add:hover {
  cursor: pointer;
  transition: all 0.2s;
  background-color: #e0e0e0;
}

.vegetarians {
  justify-content: justify !important;
}
/* TODO BTN EDIT */

.btn_edit {
  background-color: var(--_second-color);
  color: #fff;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 6px;
  transition: all 0.5s;
}

.btn_edit:hover {
  background-color: var(--_second-hover-color);
}

/*---------------- Labels ------------------*/

.form__label {
  position: absolute;
  left: 2rem;
  top: -0.5rem;
  font-size: 13px !important;
  color: #342359;
  font-weight: 500 !important;
  line-height: 15px;
}

.allergies_l {
  top: -1.2rem !important;
  left: 2.5rem !important;
}

.smoker,
.pets_l {
  left: 2.3rem !important;
}

.visa {
  top: -0.2rem !important;
  left: 0rem;
}

.label__description {
  top: -1.2rem;
  left: 0.5rem;
}

/* --------------- Icons -----------------*/

.icon {
  position: absolute;
}

.names,
.mail,
.password,
.num_s,
.n_airline,
.n_flight,
.f_date,
.h_date,
.cont_name,
.cont_lname,
.num_conts,
.cell_s,
.db,
.gender,
.nacionality,
.city,
.pass,
.bl,
.visa,
.lang_s,
.type_s,
.firstd,
.lastd,
.smoke_s,
.pets,
.food,
.dir,
.city2,
.state,
.p_code,
.a_name,
.mail2,
.num,
.country,
.a_mail,
.num2,
.experience,
.language,
.specialization {
  padding-left: 2rem !important;
}

.n_a {
  padding-left: 1.8rem !important;
}

.allergies {
  margin-left: 2.5rem !important;
}

.form__group__icon-input {
  display: flex;
  position: relative;
}

.f_date,
.h_date,
.bl,
.db {
  padding-right: 0;
}

.icon__password {
  content: url("../../../assets/icon/password.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.4rem;
  bottom: 0;
  left: 0rem;
}

.icon__n_airline {
  content: url("../../../assets/icon/flight.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.5rem;
  bottom: 0;
  left: 0rem;
}

.icon__n_flight {
  content: url("../../../assets/icon/flight_number.png");
  width: 1.9rem;
  height: 1.9rem;
  top: 0.4rem;
  bottom: 0;
  left: 0rem;
}

.icon__date {
  content: url("../../../assets/icon/calendar.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.5rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__gender {
  content: url("../../../assets/icon/gender.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.7rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__nacionality {
  content: url("../../../assets/icon/user\ profile.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.7rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__city {
  content: url("../../../assets/icon/user\ profile.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.7rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__pass {
  content: url("../../../assets/icon/passport.png");
  width: 1.9rem;
  height: 1.9rem;
  top: 1.2rem;
  bottom: 0;
  left: 0rem;
}

.icon__bl {
  content: url("../../../assets/icon/calendar.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 1.5rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__n_a {
  content: url("../../../assets/icon/academy\ preference.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.6rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__smoke_s {
  content: url("../../../assets/icon/smokers.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.6rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__pets {
  content: url("../../../assets/icon/pets\ 64.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.4rem;
  bottom: 0;
  left: 0.1rem;
}

.icon__food {
  content: url("../../../assets/icon/diet.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.4rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__allergies {
  content: url("../../../assets/icon/allergies.png");
  width: 2.2rem;
  height: 2.2rem;
  top: 0rem;
  bottom: 0;
  left: 0rem;
}

.icon__diet {
  content: url("../../../assets/icon/diet.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0rem;
  bottom: 0;
  left: 0.3rem;
}

.icon__names {
  content: url("../../../assets/icon/profile.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.5rem;
  bottom: 0;
  left: 0rem;
}

.icon__mail2 {
  content: url("../../../assets/icon/email.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.6rem;
  bottom: 0;
  left: 0.2rem;
}

.icon__dir {
  content: url("../../../assets/icon/location\ 64.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.5rem;
  bottom: 0;
  left: 0rem;
}

.icon__a_name {
  content: url("../../../assets/icon/home\ 64.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.4rem;
  bottom: 0;
  left: 0rem;
}

.icon__num {
  content: url("../../../assets/icon/main\ contact\ 64.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.4rem;
  bottom: 0;
  left: 0rem;
}

.icon__exp {
  content: url("../../../assets/icon/years_exp.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.4rem;
  bottom: 0;
  left: 0rem;
}

.icon__spe {
  content: url("../../../assets/icon/voucher\ 64.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.4rem;
  bottom: 0;
  left: 0rem;
}

/*------------------ POP UP -----------------*/

#house_much,
#house_ass {
  color: rgb(179, 40, 40);
  width: 20%;
  background-color: #f8f7f7;

  border-radius: 8px;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 100;
  box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
}

.content_popup {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  line-height: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
}

#close,
#close2 {
  font-size: 12px;
  font-weight: bold;
}

#close:hover {
  color: #342359;
}

.close_div {
  float: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.btn-divs {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.back_panel {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 50px;
  background-color: #394893;
  color: #fff;
  border-radius: 4px;
  font-size: 17px;
  width: 28%;
}

.back_panel:hover {
  color: #fff;
}

/*-------------------------------------------*/

@media (min-width: 320px) and (max-width: 767px) {
  .column-2 {
    padding-right: 0;
  }
  .column-1 {
    padding-right: 0;
  }

  .form__label {
    font-size: 11px !important;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .form__group__row-diet {
    width: 19rem;
  }

  .custom-control-label {
    font-size: 13px !important;
  }

  .custom-checkbox {
    flex: 0 calc(50% - 2px);
  }

  .form__group__div-special__diet {
    padding: 0.7rem 0.5rem;
  }
}

@media (min-width: 500px) and (max-width: 575px) {
  .form__group__row-diet {
    width: 19rem;
  }

  .custom-control-label {
    font-size: 13px !important;
  }

  .custom-checkbox {
    flex: 0 0 calc(48% - 2px);
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .visa {
    left: 0;
  }

  .information__content-col-8 {
    padding: 1rem 0rem;
  }
}

@media (min-width: 300px) {
  .city,
  .pass,
  .bl {
    margin-top: 1rem;
    width: 100%;
  }

  .visa {
    margin-top: 1rem;
  }

  .form__group__allergies {
    margin-top: 2rem;
  }

  .form__group__lang_s,
  .form__group__type_s,
  .form__group__firstd,
  .form__group__lastd,
  .form__group__div-special__diet {
    margin-top: 1rem;
  }
}

@media (min-width: 700px) and (max-width: 1200px) {
  .form__label {
    font-size: 12px !important;
  }

  .icon__date {
    width: 1.2rem;
    height: 1.2rem;
    top: 0.8rem;
  }

  .f_date,
  .h_date {
    padding-left: 1.7rem !important;
  }
}

@media (min-width: 767px) {
  .information__content-col-8 {
    padding-top: 5rem !important;
  }

  .column-2 {
    height: 25rem !important;
  }
}

@media (min-width: 767px) and (max-width: 1300px) {
  .card__register {
    width: 100%;
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  .card__register {
    width: 95%;
  }
}
