.pagination {
  margin-top: 4rem;
}

.page-link {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  color: #191919;
  margin: 0 0.125rem;
  padding: 0.75rem 1rem;
  position: relative;
}

.page-link:hover {
  background-color: #815391;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  color: #191919;
}

.page-link:after {
  border-style: solid;
  border-color: transparent transparent transparent transparent;
  bottom: -0.4375rem;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
  transition: 0.3s ease;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0;
}

.page-item.active .page-link {
  background-color: #342359;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

.page-item.active .page-link:after {
  border-color: white transparent transparent transparent;
}

button.btn.btn-info {
  color: white;
  background-color: #982a72;
  border: 2px solid #982a72;
}

h4#delete {
  color: red;
}

div#background {
  background-color: white;
}

div#body {
  background-color: #dfbaba;
}

button.btn.btn-default {
  color: white;
  background-color: #342359;
  border: 2px solid #342359;
}

button#submit {
  color: white;
  background-color: #982a72;
  border: 2px solid #982a72;
}

a#allp {
  color: #342359;
  border: 2px solid #342359;
}
a#allp:hover {
  background-color: #342359;
  border: 2px solid #342359;
  color: white;
}

@media screen and (max-width: 800px) {
  #white-logo {
    display: none;
  }

  div.ts-copyright {
    margin-left: -120px;
    margin-top: 10px;
  }

  nav.nav {
    margin-left: -20px;
  }

  #nav-footer {
    display: none;
  }

  #con-footer {
    display: none;
  }

  div.container {
    height: -1000px;
  }

  #ts-footer-secondary {
    height: 150px;
  }

  a.fa-youtube {
    display: none;
  }

  div.ts-feature {
    margin-left: 20px;
  }

  #student2 {
    margin-left: 20px;
  }

  #academy2 {
    margin-left: 20px;
  }

  th#info {
    display: none;
  }

  #table {
    display: none;
  }

  #table-mobile {
    display: block;
  }

  #inner-container {
    margin-left: 2%;
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  div#table {
    margin-left: 0px;
  }
}
