#map {
  width: auto;
  height: 400px;
  margin-top: -25px;
}
#marker {
  background-image: url("../../../student/assets/images/academy1.png");
  background-size: cover;
  width: 27px;
  height: 49px;
  cursor: pointer;
}
#house {
  background-image: url("../../../student/assets/images/house1.png");
  background-size: cover;
  width: 27px;
  height: 49px;
  cursor: pointer;
}

img#map-img {
  width: 100px;
  height: 100px;
}

body {
  background-color: #f3f8fc;
}

img#student {
  width: 100px;
  height: auto;
}

span#gender {
  margin-left: -10px;
}

span#age {
  margin-left: -10px;
  margin-right: 10px;
}

a#info {
  color: white;
  border: 2px solid #342359;
  background-color: #342359;
}

button#submit {
  color: white;
  background-color: #342359;
  border: 2px solid #342359;
  align-content: center;
}

button#submit2 {
  color: white;
  background-color: #342359;
  border: 2px solid #342359;
}

th#top {
  background-color: #982a72;
  color: white;
}

li.fa.fa-check {
  font-size: 12px;
}
