body {
  background-color: #f3f8fc;
}

img#student {
  width: 100px;
  height: auto;
}

span#gender {
  margin-left: -10px;
}

span#age {
  margin-left: -10px;
  margin-right: 10px;
}

a#info {
  color: white;
  border: 2px solid #342359;
  background-color: #342359;
}

button#submit {
  color: white;
  background-color: #342359;
  border: 2px solid #342359;
  align-content: center;
}

button#submit2 {
  color: white;
  background-color: #342359;
  border: 2px solid #342359;
}
