#map {
  width: 320px;
  height: 300px;
}
#marker {
  background-image: url("../../../student/assets/images/academy1.png");
  background-size: cover;
  width: 27px;
  height: 49px;
  cursor: pointer;
}
#house {
  background-image: url("../../../student/assets/images/house1.png");
  background-size: cover;
  width: 27px;
  height: 49px;
  cursor: pointer;
}

body {
  background-color: #f3f8fc;
}

img#student {
  width: 100px;
  height: auto;
}

span#gender {
  margin-left: -10px;
}

span#age {
  margin-left: -10px;
  margin-right: 10px;
}

a#info {
  color: white;
  border: 2px solid #342359;
  background-color: #342359;
}

button#submit {
  color: white;
  background-color: #342359;
  border: 2px solid #342359;
  align-content: center;
}

button#submit2 {
  color: white;
  background-color: #342359;
  border: 2px solid #342359;
}

th#top {
  background-color: #982a72;
  color: white;
}

li.fa.fa-check {
  font-size: 12px;
}

#house_much,
#house_ass {
  color: rgb(179, 40, 40);
  width: 20%;
  background-color: #f8f7f7;

  border-radius: 8px;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 100;
  box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
}

.content_popup {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  line-height: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
}

#close,
#close2 {
  font-size: 12px;
  font-weight: bold;
}

#close:hover {
  color: #342359;
}

.close_div {
  float: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.btn-divs {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.back_panel {
  background-color: #394893;
  color: #fff;
  border-radius: 4px;
  font-size: 17px;
  border: none;
  width: 15rem;
}

.back_panel:hover {
  color: #fff;
}

.disabled {
  cursor: not-allowed;
}

.opa,
.opa2 {
  display: none;
}

.vis,
.vis2 {
  display: block;
}

/* TODO MEDIA */

@media (min-width: 767px) and (max-width: 992px) {
  .back_panel {
    width: 40%;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .btn-divs {
    width: 100%;
  }
  .back_panel {
    width: 50%;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .btn-divs {
    display: block;
  }

  .btn-divs button {
    width: 100% !important;
    margin-bottom: 1rem;
  }

  .btn-divs a {
    width: 100% !important;
  }
}
