/* TODO WINYERSON */
/**-------------CUSTOM PROPERTIES-------------**/
:root {
  --first-color: #342359;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: #d51d95;
  --title-color: #333;
  --text-color: #222;
}
html {
  scroll-behavior: smooth;
}

h1 {
  color: #222;
}

.blacklist {
  background-color: rgb(65, 65, 65);
}
.blacklist table {
  height: max-content;
}
.blacklist table::-webkit-scrollbar {
  height: 4px;
  background-color: var(--gray-color);
}
.blacklist table::-webkit-scrollbar-thumb {
  background-color: var(--gray-dark-color);
  border: thin solid var(--black-color);
}
.blacklist th {
  width: max-content;
  color: #fff;
  font-size: 90%;
  text-shadow: 2px 2px 4px #000;
}
.blacklist tbody tr {
  transition: 300ms ease all;
  background-color: rgba(116, 116, 116, 0.4);
}
.blacklist tbody tr:hover {
  background-color: rgba(116, 116, 116, 0.5);
}
.blacklist td {
  color: #fff;
  font-size: 100%;
  text-shadow: 2px 2px 4px #000;
}
.blacklist .edit-btn,
.blacklist .disabled-btn {
  width: 100%;
  color: #fff;
  font-size: 110%;
  text-shadow: 2px 2px 4px #000;
  transition: 300ms ease all;
}
.blacklist .edit-btn {
  background-color: var(--four-color);
  background-color: var(--six-color);
  background-color: var(--third-color);
}
.blacklist .edit-btn:hover {
  transform: scale(1.1);
  background-color: var(--six-alpha-color);
}
.blacklist .disabled-btn {
  background-color: var(--five-color);
}
.blacklist .disabled-btn:hover {
  transform: scale(1.1);
  background-color: var(--five-alpha-color);
}

@media screen and (min-width: 992px) {
  .blacklist th {
    color: #fff;
    font-size: 110%;
    text-shadow: 2px 2px 4px #000;
    background-color: rgba(116, 116, 116, 0.4);
  }
  .blacklist td {
    color: #fff;
    font-size: 100%;
    text-shadow: 2px 2px 4px #000;
  }
  .blacklist .edit-btn,
  .blacklist .disabled-btn {
  }
  .blacklist .edit-btn {
  }
  .blacklist .disabled-btn {
  }
}
