:root {
  --room1: #232159;
  --room2: #982a72;
  --room3: #394893;
  --room4: #a54483;
  --room5: #5d418d;
  --room6: #392b84;
  --room7: #b15391;
  --room8: #4f177d;
  --ff: #f8f8f8;
  --bg-info: #c09bff;
  --bg-hr: #e7e7e7;
}
.owl-carousel .owl-item {
  width: 450px !important;
  position: relative;
}
.owl-carousel figure {
  width: 100% !important;
  height: 380px !important;
  cursor: grab;
  padding: 0 0.5rem !important;
  border: none !important;
}
.owl-carousel figure img {
  width: 100%;
  height: 100%;
  border: none !important;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem !important;
}
#modal-zoom-image {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 5001;
  position: fixed;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.25);
}
#modal-zoom-image.show {
  display: flex;
}
#modal-zoom-image span {
  position: absolute;
  top: 1rem;
  right: 3rem;
  color: #fff;
  font-size: 200%;
  text-shadow: 2px 2px 4px #000;
  cursor: pointer;
  transition: 200ms ease all;
}
#modal-zoom-image span:hover {
  text-shadow: 1px 1px 2px #000;
}
#modal-zoom-image figure {
  width: 900px;
  height: 568px;
  overflow: hidden;
}
#modal-zoom-image img {
  width: 100%;
  height: 100%;
}
.owl-carousel .zoom-image {
  left: 1rem;
  bottom: 2rem;
  cursor: pointer;
  position: absolute;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 300ms ease all;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
}
.owl-carousel .zoom-image:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.owl-carousel .zoom-image i {
  content: url("../../../assets/icon/+zoom.png");
  width: 20px;
  height: 20px;
  pointer-events: none;
  margin-right: 0.3rem;
}
.owl-carousel .owl-nav {
  bottom: 2rem !important;
  height: 3rem !important;
  display: flex !important;
  align-items: center !important;
  pointer-events: none;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  pointer-events: all;
  border: 0;
  font-size: 120% !important;
  height: 2.75rem !important;
  color: #fff !important;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--six-alpha-color) !important;
}
.owl-carousel .owl-next span,
.owl-carousel .owl-prev span {
  display: none;
}
.owl-carousel .owl-dot {
  border: none;
  padding: 0 !important;
  background-color: transparent;
}
.owl-carousel .owl-dot span {
  margin: 0 0.25rem;
  opacity: 0.35 !important;
  background-color: var(--six-color) !important;
}
.owl-carousel .owl-dot.active span {
  opacity: 1 !important;
}
.price-room {
  cursor: default;
  width: 6rem !important;
  border: thin solid rgba(153, 153, 153, 0.5);
  border-radius: 0.25rem;
}
a#button {
  color: #5d418d;
  border: 2px solid #5d418d;
}
a#button:hover {
  background-color: #982a72;
  border: 2px solid #982a72;
  color: white;
}
button#button {
  color: #5d418d;
  border: 2px solid #5d418d;
}
button#button:hover {
  background-color: #982a72;
  border: 2px solid #982a72;
  color: white;
}

.btn-light {
  color: #5d418d;
  border: 2px solid #5d418d;
}
.btn-light:hover {
  background-color: #982a72;
  border: 2px solid #982a72;
  color: white;
}

@media screen and (max-width: 420px) {
  h1 {
    margin-top: 20px;
  }
  div.custom-control {
    margin-top: 25px;
  }
  #white-logo {
    display: none;
  }
  #nav-footer {
    display: none;
  }
  #con-footer {
    display: none;
  }
}

.zoom {
  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s, -o-transform 0.5s;
}

.zoom:hover {
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.div-photo {
  margin-top: -0.8em;
}

/* TODO NEW STYLES */

.fa {
  color: var(--room3) !important;
}

dt {
  color: var(--room1);
}

.quick__info {
  border-bottom: 1px solid rgb(223, 223, 223) !important;
}

.language__quick {
  content: url(../../../assets/img/language.png);
  width: 48px;
  height: 38px;
  position: absolute;
  z-index: 998 !important;
}

.bb_quick {
  position: relative !important;
  max-height: 160px;
}

.icon__quick-info {
  bottom: 0.3rem;
  right: 0.3rem;
}

.agepre__quick {
  content: url(../../../assets/icon/family.png);
  position: absolute;
  width: 45px;
  height: 45px;
}

.mservice__quick {
  content: url(../../../assets/icon/food2\ 64.png);
  width: 45px;
  height: 45px;
  position: absolute;
}

.speial-diet__quick {
  content: url(../../../assets/icon/special-diet.png);
  position: absolute;
  width: 48px;
  height: 48px;
}

/* TODO ROOM CARDS */
.rooms-container h1 {
  font-size: 1.6rem;
  width: 82%;
  border-bottom: 2px solid var(--gray-color);
}

.rooms-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.room-card-container {
  position: relative;
  margin-bottom: 5rem;
  transition: all 300ms ease;
  background: var(--gray-light-color);
  box-shadow: 0px 0px 10px 2px #23215948;
}
/* .room-card-container:hover,
.room-card-container:focus {
  box-shadow: 0px 0px 10px 2px #23215948;
} */

.room-card {
  width: 300px;
  position: relative;
  border-radius: 8px !important;
  height: max-content;
  overflow: hidden;
  box-shadow: 1px 1px 5px 0px #2321597e;
}

.room-title {
  padding: 2px 1rem !important;
  text-shadow: 1px 1px 4px #000;
}
.room-title h3 {
  font-size: 1.05rem;
  font-weight: bold;
}
.room-title p {
  font-weight: bold;
  font-size: 0.85rem;
}

.room-photo {
  width: 100%;
  height: max-content;
  margin-bottom: 3rem;
}
.room-photo img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.room-photo .carousel-control-prev,
.room-photo .carousel-control-next {
  z-index: 999 !important;
  height: 220px !important;
  opacity: 0.1;
  width: 30%;
  font-size: 3rem;
  font-weight: lighter !important;
}

.room-photo .carousel-control-prev {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent);
}
.room-photo .carousel-control-next {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
}

.room-photo .carousel-control-prev:hover,
.room-photo .carousel-control-next:hover {
  opacity: 0.5;
}

.room-photo .carousel-control-prev img,
.room-photo .carousel-control-next img {
  width: 45px !important;
  height: 45px !important;
}

.carousel-indicators {
  bottom: -2rem !important;
}
.carousel-indicators li.active {
  background: var(--five-color) !important;
}
.carousel-indicators li {
  background: rgba(0, 0, 0, 0.25) !important;
}

.feature {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature img {
  width: 28px;
  height: 28px;
}
.feature span {
  font-size: 0.85rem;
}

.reserve-btn,
.see-reserves-btn {
  width: max-content;
  text-align: center;
  padding: 8px 1rem !important;
  background: #fff;
  background-color: var(--six-alpha-color);
  transition: all 300ms ease;
  box-shadow: none !important;
  text-shadow: 2px 2px 6px var(--six-color);
}
.reserve-btn,
.see-reserves-btn:hover {
  background-color: rgba(79, 23, 125, 0.65);
}
.reserve-btn,
.see-reserves-btn:active {
  background-color: rgba(79, 23, 125, 0.6);
}

.status-detail {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 2px;
  background: transparent;
}
.status-detail.available {
  background: rgb(45, 189, 45);
}
.status-detail.unavailable {
  background: rgb(255, 35, 35);
}

.room-beds {
  width: 300px;
  height: 100%;
}

.room-beds-quick-agents > img {
  width: 10rem !important;
  height: 10rem !important;
}

.bed-info {
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
  background: white;
}
.bed-info > div:first-child {
  height: 100%;
}

/* TODO BUTTONS */

.btn__cancel-reservation {
  background-color: var(--room1);
  color: #fff;
  border-radius: 8px;
}

.btn__confirm-reservation {
  background-color: var(--room2);
  color: #fff;
  border-radius: 8px;
}

.text__result-reservation {
  margin: 0;
  color: #000;
}

/* TODO LOGS */

#section-logs table thead {
  background-color: #232159;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 399px) {
  .bar-i {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    margin-left: 2%;
    margin-bottom: 0%;
    color: #982a72;
  }

  .bar-ii {
    padding: 3%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    color: #454293;
  }

  .bar-iii {
    padding: 3%;
    padding-left: 5%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    font-size: 11px;
    color: #4f177d;
  }

  .bar-iii:hover {
    background-color: #5d418d;
    color: white;
  }

  .bar-iv {
    padding: 3%;
    padding-left: 7%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    font-size: 11px;
    color: #454293;
  }

  .bar-iv:hover {
    background-color: #4f177d;
    color: white;
  }
}

@media (min-width: 400px) and (max-width: 499px) {
  .bar-i {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    margin-left: 2%;
    margin-bottom: 0%;
    color: #982a72;
  }

  .bar-i:hover {
    color: white;
  }

  .bar-ii {
    padding: 3%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    font-size: 11px;
    color: #454293;
  }

  .bar-ii:hover {
    background-color: #982a72;
    color: white;
  }

  .bar-iii {
    padding: 3%;
    padding-left: 5%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    font-size: 11px;
    color: #4f177d;
  }

  .bar-iii:hover {
    background-color: #5d418d;
    color: white;
  }

  .bar-iv {
    padding: 3%;
    padding-left: 7%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    font-size: 11px;
    color: #454293;
  }

  .bar-iv:hover {
    background-color: #4f177d;
    color: white;
  }
}

@media (min-width: 500px) and (max-width: 599px) {
  .bar-i {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    margin-left: 2%;
    margin-bottom: 0%;
    color: #982a72;
  }

  .bar-i:hover {
    color: white;
  }

  .bar-ii {
    padding: 3%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    font-size: 11px;
    color: #454293;
  }

  .bar-ii:hover {
    background-color: #982a72;
    color: white;
  }

  .bar-iii {
    padding: 3%;
    padding-left: 5%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    font-size: 11px;
    color: #4f177d;
  }

  .bar-iii:hover {
    background-color: #5d418d;
    color: white;
  }

  .bar-iv {
    padding: 3%;
    padding-left: 7%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    font-size: 11px;
    color: #454293;
  }

  .bar-iv:hover {
    background-color: #4f177d;
    color: white;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .bar-i {
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    margin-left: 2%;
    margin-bottom: 0%;
    color: #982a72;
  }

  .bar-i:hover {
    color: white;
  }

  .bar-ii {
    padding: 3%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    font-size: 11px;
    color: #454293;
  }

  .bar-ii:hover {
    background-color: #982a72;
    color: white;
  }

  .bar-iii {
    padding: 3%;
    padding-left: 5%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    font-size: 11px;
    color: #4f177d;
  }

  .bar-iii:hover {
    background-color: #5d418d;
    color: white;
  }

  .bar-iv {
    padding: 3%;
    padding-left: 7%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    font-size: 11px;
    color: #454293;
  }

  .bar-iv:hover {
    background-color: #4f177d;
    color: white;
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .bar-i {
    color: #982a72;
  }

  .bar-ii {
    padding: 5%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    font-size: 11px;
    color: #454293;
    width: auto;
  }

  .bar-ii:hover {
    background-color: #982a72;
    color: white;
  }

  .bar-iii {
    padding: 5%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    font-size: 11px;
    color: #4f177d;
    width: auto;
  }

  .bar-iii:hover {
    background-color: #5d418d;
    color: white;
  }

  .bar-iv {
    padding: 5%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    font-size: 11px;
    color: #454293;
    width: auto;
  }

  .bar-iv:hover {
    background-color: #4f177d;
    color: white;
  }
}

@media (min-width: 900px) {
  .bar-i {
    color: #982a72;
  }

  .bar-ii {
    padding: 3%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    font-size: 13px;
    color: #454293;
    width: auto;
  }

  .bar-ii:hover {
    background-color: #982a72;
    color: white;
  }

  .bar-iii {
    padding: 3%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    font-size: 13px;
    color: #4f177d;
    width: auto;
  }

  .bar-iii:hover {
    background-color: #5d418d;
    color: white;
  }

  .bar-iv {
    padding: 3%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: 0%;
    font-size: 13px;
    color: #454293;
    width: auto;
  }

  .bar-iv:hover {
    background-color: #4f177d;
    color: white;
  }
}

@media (min-width: 992px) {
  .div-photo {
    margin-top: -0.8em;
  }
}

@media (min-width: 992px) and (max-width: 1920px) {
  .bar-ii {
    padding: 5%;
    width: auto;
  }

  .bar-iii {
    padding: 5%;
    width: auto;
  }

  .bar-iv {
    padding: 5%;
    width: auto;
  }
}

@media (min-width: 1420px) {
  .bar-ii {
    height: auto;
    width: auto;
  }

  .bar-iii {
    height: auto;
    width: auto;
  }

  .bar-iv {
    height: auto;
    width: auto;
  }
}

@media (min-width: 1420px) and (max-width: 1600px) {
  .bar-i {
    font-size: 15px;
  }

  .bar-ii {
    font-size: 13px;
  }

  .bar-iii {
    font-size: 13px;
  }

  .bar-iv {
    font-size: 13px;
  }
}

@media (min-width: 1600px) {
  .bar-i {
    font-size: 18px;
  }

  .bar-ii {
    font-size: 15px;
  }

  .bar-iii {
    font-size: 15px;
  }

  .bar-iv {
    font-size: 15px;
  }
}

#house {
  background-image: url("../../../student/assets/images/house1.png");
  background-size: cover;
  width: 27px;
  height: 49px;
  cursor: pointer;
}

.dateY {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}

.dateT {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 575px) {
  .margin-b {
    margin-bottom: 1rem !important;
  }
}

.color-price,
.color-price2,
.color-price3,
.color-price4,
.color-price5,
.color-price6,
.color-price7,
.color-price8 {
  float: right;
  padding-top: 9%;
  padding-right: 0%;
  font-size: 15px;
  color: green;
}

.div__edit_profile {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.btn__edit_profile {
  outline: none;
  border: none;
  color: #fff;
  background-color: #982a72;
}

.btn__edit_profile:hover {
  outline: none;
  border: none;
  color: #fff;
  background-color: #a54483;
}

/* TODO RESERVATIONS (PENDING AND ACTIVE) */

.active__div {
  padding: 1rem 0rem !important;
  padding-bottom: 0 !important;
}

.img__div,
.content__div {
  display: table-cell;
  padding: 0;
  margin: auto auto;
}

.div__img,
.date__reservation {
  vertical-align: middle;
}

.img {
  width: 5rem;
  height: 5rem;
  border-radius: 30px;
}

.div__active__res {
  padding: 0rem 0rem;
  width: 100% !important;
}

.title__reservation {
  width: 90%;
  font-weight: 500;
  color: #000;
  border-bottom: 2px solid #4f177d;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
}

.link__profile {
  color: #000;
}

.link__profile:hover {
  color: #000;
}

.name__student {
  text-align: center;
  width: 100%;
  color: #000;
  font-size: 0.95rem;
}

.date__reservation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto auto;
  padding: 0 0.5rem;
}

.title__date {
  font-weight: 500;
  font-size: 0.95rem;
}

.text_reservation {
  color: #232159;
}

.date__content {
  font-weight: 300;
  color: #000;
  font-size: 0.8rem;
}

.title__date,
.date__content {
  margin: 0;
}

.arrive_date,
.leave_date {
  text-align: center;
  margin: 0;
  vertical-align: middle;
  margin: auto auto;
}

.buttons__link {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  color: #fff !important;
  transition: all 0.5s;
}

.link__button-pdf {
  background-color: var(--room1);
  border-bottom: 1px solid #fff;
}

.link__button-pdf:hover {
  color: #fff;
  background-color: var(--room3);
}

.arrow__download {
  font-weight: 600;
  color: #fff !important;
  margin-left: 0.5rem;
  transition: all 0.5s;
}

.arrow__download-active {
  font-weight: 600;
  color: #fff !important;
  margin-left: 1rem;
  transition: all 0.5s;
}

/* ? BUTTON TO OPEN REPORT */

.link__button-report {
  background-color: #a54483;
}

.link__button-report:hover {
  background-color: #dd5cb0;
}

/* ? MODAL CONTENT */

.title__modal-report {
  margin: 0;
  padding: 0;
}
.btn__close-modal-report {
  border: none;
  background-color: transparent;
  padding: 0;
}

.modal__div__report hr {
  margin: 0;
  background-color: #4f177d;
  width: 98%;
  margin: 0 auto;
}

.modal__header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.modal__footer {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.modal__header_report,
.modal__footer_report {
  background-color: var(--room8);
}

.btn__close-modal {
  color: #000;
}

.modal__header_report h3,
button {
  font-weight: 600;
  color: #fff;
}

.modal__header h3 {
  font-size: 20px;
}

.modal__div__report {
  width: 50rem;
  background-color: #f3f8fc !important;
}

.modal__div__report input {
  background-color: transparent;
}

.label__style {
  padding: 0 0.7rem 0;
  margin: 0;
  font-size: 15px !important;
}

/** SELECT TITLE */

.select__title {
  width: 80%;
  background-color: rgb(230, 230, 230);
}

.div__report-title,
.div__student-fullname {
  width: 98% !important;
  margin: auto auto;
}

.div__student-fullname {
  padding-bottom: 0.5rem;
}

.name_student-report {
  border: none;
  outline: none;
}

.div__report-content {
  margin-top: 1rem;
}

/* * IMAGE REPORT */

/* .add-photo {
  border: none;
  border: 2px dashed #c2c2c2;
  width: 100%;
  height: 10rem;
  margin: auto auto;
}

.add-photo:hover {
  transition: all 0.5s;
  background: #c2c2c2;
  cursor: pointer;
  color: #4f177d;
}

.photo-add {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10rem;
}

.add-photo-i {
  position: absolute;
  bottom: -0.5rem;
  right: 0rem;
  background-color: var(--room2);
  padding: 0.6rem 0.6rem;
  border-radius: 30px;
  color: #fff !important;
  transition: all 0.2s;
}

.add-photo-i:hover {
  background-color: #fff;
  color: #232159 !important;
  cursor: pointer;
} */

.img-report-container {
  border: 1px dashed #f8f8f8;
  height: 200px;
}

.div__image_container {
  width: 100%;
  height: 100%;
}

.image-container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

.image-container:hover {
  opacity: 0.6;
}

.textarea__report {
  padding: 0.5rem;
  background-color: #fff;
  border: none;
  width: 100%;
  border-radius: 8px;
  border-bottom: 2px solid #4f177d;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}

.textarea__report:active {
  outline: none;
}

.textarea__report:focus {
  outline: none;
}

/* ** MODAL FOOTER */

.btn__send-report {
  background-color: var(--room3);
}

.btn__send-report:hover {
  background-color: #5164c2;
}

/* 
.add-photo {
  height: 9em;
  width: 11em;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}


.add-photo-i {
  border-radius: 18px;
  height: 2.5em;
  width: 2.5em;
  z-index: 10;
  background: #982a72;
  padding: 9px 10px;
  color: white;
  margin-top: -22%;
  float: right;
  margin-right: 1%;
  position: relative;
}

.add-photo-i:hover {
  background: white;
  transition: all 0.5s;
  cursor: pointer;
  color: #4f177d;
}

.photo-add {
  top: -8.6rem;
  margin-bottom: -18rem;
  height: 9.7em;
  width: 9em;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 10;
  padding-top: 32%;
  color: #4f177d;
}

.photo-add:hover {
  cursor: pointer;
  transition: all 0.5s;
  background-color: #999;
} */

/* TODO --------------------------------------------------------------------------------------- */

.btn__edit-homestay {
  background-color: #982a72;
  color: #fff;
  text-decoration: none;
}

.btn__edit-homestay:hover {
  background-color: var(--room4);
  color: #fff;
}

.buttons__section a {
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 6px;
  padding: 12px;
  text-decoration: none;
}

.btn__pdf {
  white-space: normal !important;
}

.btn__brochure-for-students {
  background-color: #232159;
  color: #fff;
}

.btn__homestay-declaration {
  background-color: #982a72;
  color: #fff;
}

.btn__homestay-agreement {
  background-color: #4f177d;
  color: #fff;
}

.btn__canadian-direct {
  background-color: var(--room5);
  color: #fff;
  width: 100%;
}

.btn__brochure-for-students:hover {
  background-color: var(--room3);
  color: #fff;
}

.btn__homestay-declaration:hover {
  background-color: var(--room4);
  color: #fff;
}

.btn__homestay-agreement:hover {
  background-color: var(--room5);
  color: #fff;
}

.btn__canadian-direct:hover {
  background-color: #675da2;
  color: #fff;
}

.label_background {
  color: #232159;
}

/* ? ------------------------------- ADD NEW RESERVE STYLES  -------------------------------------*/

/* TODO: BUTTONS AND INFO OF THE RESERVATION */

.tarjet__rooms {
  position: relative;
}

.btn__add-reserve {
  color: #fff;
  background-color: var(--room5);
  border: none;
  margin-top: -1.5rem;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  font-size: 14px;

  transition: all 0.2s;
}

.btn__add-reserve:hover {
  color: #fff;

  box-shadow: 0px 9px 16px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 9px 16px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 16px -4px rgba(0, 0, 0, 0.75);
}

.info__new-reserve {
  position: absolute;
  width: 60%;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  background-color: #eeeeee;
  font-weight: 500;
  padding: 4px 10px;
  border-radius: 8px;
  left: 2rem;
  top: 0.8rem;

  box-shadow: 0px 3px 16px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 16px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 16px -4px rgba(0, 0, 0, 0.75);
}

/* TODO: MODAL OF THE RESERVATION */

.modal__reserve {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999 !important;
  background-color: rgb(0, 0, 0, 0.4);
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.modal__div {
  border: 1px solid var(--bg-1);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 7px 14px -4px var(--bg-1);
  -webkit-box-shadow: 0px 7px 14px -4px var(--bg-1);
  -moz-box-shadow: 0px 7px 14px -4px var(--bg-1);
  position: fixed;
  opacity: 1 !important;
}

.modal__div__reservation {
  width: 40rem;
}

.modal__header,
.modal__footer {
  padding: 0.8rem;
  padding-right: 1rem;
}

/* TODO ----------------------------------- MODAL HEADER -------------------------------------- */

.modal__header {
  border-bottom: 1px solid var(--bg-hr);
}

.title__modal-header {
  margin-bottom: 0;
  padding-left: 0.5rem;
  font-weight: 500;
  font-size: 18px;
}

.btn__close-modal {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 16px;
}

.btn__close-modal:hover {
  color: #232159;
}

/* TODO ----------------------------------- MODAL BODY ------------------------------------------ */

.modal__body ul {
  list-style: none;
  padding: 1rem 1rem 0rem 1rem;
  margin-bottom: 0;
  max-height: 22rem;
  overflow: scroll;
  overflow-x: hidden;
}

/* TODO FIELD SEARCH */

.div__search-input {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid var(--bg-hr);
  position: relative;
}

.search__input {
  background-color: var(--bg-hr);
  width: 100%;
  border-radius: 12px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.7rem;
  border: none;
}

/* TODO STUDENT LIST */

.ul__list-students {
  padding: 0 !important;
  max-height: 20rem;
}

.students__details {
  border-bottom: 1px solid var(--bg-hr);
  padding: 0;
}

.students__details label {
  font-weight: 500;
  font-size: 15px !important;
}

.header__list-students {
  background-color: #e9e9e9;
  border-bottom: 1px solid #e7e7e7;
}

.title__list-student {
  color: #000;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.label__select-student * {
  pointer-events: none;
}

.label__select-student {
  padding: 10px 30px;
  margin-bottom: 0;
  cursor: pointer;
}

.label__select-student:hover {
  background-color: #f3f8fc;
}

/* TODO STUDENT IMAGE */

.div_img_student {
  width: 60px;
  height: 60px;
  max-width: 60px;
  max-height: 60px;
}

.img__student {
  width: 100%;
  height: 100%;
}

.names__students {
  padding-left: 1rem;
}

.names__students,
.dates__students {
  margin-bottom: 0;
  color: #000;
}

.div__no_student {
  position: relative;
  padding: 1rem 0rem;
}

.img__no_student {
  width: 50%;
  height: 250px;
  margin-bottom: 2rem;
}

.text__no_student {
  position: absolute;
  width: 50%;
  bottom: 0rem;
  font-size: 18px;
  font-weight: bold;
  color: #232159;
  text-align: center;
  line-height: 25px;
}

/* TODO ------------------------------ STUDENT'S PANEL EMPTY ------------------------------------- */

.title__no_student {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.div_student_empty {
  width: 35% !important;
}

.student_list_empty {
  width: 100% !important;
}

.subtitle_no_student {
  font-size: 16px;
  font-weight: 500;
}

/* TODO ------------------------------------ MODAL FOOTER --------------------------------------- */

.modal__footer {
  border-top: 1px solid var(--bg-hr);
}

.btn__add-reservation {
  background-color: var(--room1);
  color: #fff;
}

/* TODO LABELS */

.label__search {
  color: var(--room3);
  position: absolute;
  top: 1.2rem;
  left: 1.7rem;
}

/* TODO SPIN */

.style__child * {
  display: none;
}

.btn_none {
  display: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 1s all;
  opacity: 0;
}
.loading.show {
  opacity: 1;
}
.loading,
.spin {
  border: 3px solid #d4bbff;
  border-top-color: #4f177d;
  border-radius: 60px;
  width: 2em;
  height: 2em;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*------------------ POP UP -----------------*/

#house_much,
#house_ass {
  color: green;
  width: 20%;
  background-color: #f8f7f7;
  z-index: 999 !important;

  border-radius: 8px;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 100;
  box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
}

.content_popup {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  line-height: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
}

#close,
#close2 {
  font-size: 12px;
  font-weight: bold;
}

#close:hover {
  color: #232159;
}

.close_div {
  float: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

@media (min-width: 320px) and (max-width: 400px) {
  .modal__div {
    width: 20rem;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  #house_much,
  #house_ass {
    width: 90%;
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  #house_much,
  #house_ass {
    width: 55%;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  #house_much,
  #house_ass {
    width: 45%;
  }
}

@media (min-width: 767px) and (max-width: 900px) {
  #house_much,
  #house_ass {
    width: 35%;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  #house_much,
  #house_ass {
    width: 30%;
  }
}

@media (min-width: 1100px) and (max-width: 1300px) {
  #house_much,
  #house_ass {
    width: 25%;
  }
}

/*  TODO NEW MEDIA QUERIES */
@media (min-width: 400px) and (max-width: 500px) {
  .modal__div__reservation {
    width: 25rem;
  }
}

@media (min-width: 500px) and (max-width: 575px) {
  .modal__div__reservation {
    width: 30rem;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .modal__body ul {
    max-height: 25rem;
  }
}

@media (min-width: 1100px) and (max-width: 1200px) {
  .img {
    width: 4rem;
    height: 4rem;
    border-radius: 30px;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {
  .img {
    width: 3rem;
    height: 3rem;
    border-radius: 30px;
  }
}
