body#body {
  background-color: #f3f8fc;
}

a#preview {
  color: black;
}

a#preview:hover {
  color: white;
}

a#edit {
  color: white;
  background-color: #342359;
  border: 2px solid #342359;
  font-size: 14px;
}

/*AJAX*/
a.page-link {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  color: #191919;
  margin: 0 0.125rem;
  padding: 0.75rem 1rem;
  position: relative;
}

a.page-link:hover {
  background-color: #815391;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  color: #191919;
}

a.page-link:after {
  border-style: solid;
  border-color: transparent transparent transparent transparent;
  bottom: -0.4375rem;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
  transition: 0.3s ease;
}

li.page-item:first-child a.page-link,
li.page-item:last-child a.page-link {
  border-radius: 0;
}

li.page-item.active a.page-link {
  background-color: #342359;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

li.page-item.active a.page-link:after {
  border-color: white transparent transparent transparent;
}

@media screen and (max-width: 800px) {
  #white-logo {
    display: none;
  }
  #nav-footer {
    display: none;
  }
  #con-footer {
    display: none;
  }
}
