:root {
  --first-color: #342359;
  --second-color: #33308c;
  --third-color: #812b8c;
  --fourth-color: #d977b7;
  --fifth-color: #0d0d0d;
}

/** SECTION FOOTER */

/* ? FIRST COLUMN FOOTER */

#ts-footer-main {
  padding: 2rem 5rem !important;
}

#ts-footer-main > div {
  padding: 4rem;
}

#ts-footer-main > div .logo__ihomestay {
  width: 20%;
}

#ts-footer-main > div h5 {
  margin-top: 1rem;
  font-weight: 500;
}

#ts-footer-main > div h4 {
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 20px;
}

#ts-footer-main > div a {
  margin-right: 0.5rem;
  color: var(--third-color);
}

#ts-footer-main > div a:nth-child(3) > i {
  margin-right: 0.7rem;
  margin-bottom: 0.5rem;
}

#ts-footer-main > div a:last-child > i {
  margin-left: -0.2rem;
  margin-right: 0.5rem;
}

#ts-footer-main > div a:hover {
  color: #555;
}

/* ? SECOND COLUMN */

#ts-footer-main > div:nth-child(2) .title__column.column2,
#ts-footer-main > div:nth-child(3) .title__column.column3 {
  font-size: 17px;
  font-weight: bold;
  color: #000;
}

#ts-footer-main > div:nth-child(2) p {
  margin-bottom: 0.7rem;
}

#ts-footer-main > div:nth-child(2) .address,
#ts-footer-main > div:nth-child(2) .r_ihomestay {
  font-size: 13px;
  color: #222;
}

#ts-footer-main > div:nth-child(2) .link__mail,
#ts-footer-main > div:nth-child(2) .link__number,
#ts-footer-main > div:nth-child(2) .link__politics,
#ts-footer-main > div:nth-child(3) .link__header {
  font-size: 13px;
}

#ts-footer-main > div:nth-child(2) .link__number {
  margin-top: 2rem !important;
}

#ts-footer-main > div:nth-child(2) .r_ihomestay .emoji_canada {
  width: 15px;
  height: 15px;
}

#ts-footer-main > div:nth-child(2) .link__politics {
  font-weight: bold;
}

/* ? THIRD COLUMN */
