:root {
  --room1: #342359;
  --room2: #982a72;
  --room3: #394893;
  --room4: #a54483;
  --room5: #5d418d;
  --room6: #392b84;
  --room7: #b15391;
  --room8: #4f177d;
  --ff: #f8f8f8;
}

body {
  background-color: #f3f8fc;
  font-family: Arial, Helvetica, sans-serif;
}

.container__title {
  width: 70%;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.title__edit {
  font-size: 2.5rem;
}

.card-main {
  max-width: 1100px;
  border: none;
  margin: auto;
  display: flex;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 2rem;
  border: 1px solid var(--room1);
  box-shadow: 0px 9px 14px -5px var(--room1);
  -webkit-box-shadow: 0px 9px 14px -5px var(--room1);
  -moz-box-shadow: 0px 9px 14px -5px var(--room1);
}

.form__group-house_in {
  width: 100%;
}

.form__target-header {
  top: 0;
  width: 100%;
  margin: 0;
  background-color: var(--room1);
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffffff;
  margin-bottom: 4rem;
  padding: 5px 0;
}

.title_target {
  padding-left: 3rem;
  vertical-align: middle;
  margin: 0;
  padding-bottom: 0;
}

.title__group-section {
  width: 90%;
  color: var(--room1);
  margin: 0 auto;
  border-bottom: 2px solid #e8e8e8;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 4rem;
  font-weight: normal !important;
}

.form__group__row_box {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
}

.form__group {
  margin-bottom: 1.5rem;
}

.form__group-h_name {
  position: relative;
  border: none;
  display: block;
}

.form__group-hinf {
  display: flex;
  position: relative;
  justify-content: center;
}

.form__group-input {
  padding: 15px 30px;
  padding-bottom: 2px;
  border: none;
  border-bottom: 1px solid var(--room1);
  outline: none;
  font-size: 0.95rem;
  position: relative;
  background-color: transparent;
  color: #000;
  width: 100%;
}

.mname,
.lmname,
.dateb,
.rooms {
  width: 100% !important;
}

.form__group-input::placeholder {
  color: #363636;
}

.form__group-city,
.form__group-state,
.form__group-pcode {
  margin-top: 2rem;
}

.end_div {
  margin-bottom: 5rem;
}

.tarjet,
.tarjet3,
.wrap-div {
  width: 15rem;
}

.form__group-description_div {
  width: 100%;
  margin: 0 auto;
  margin-top: -2rem;
  margin-bottom: 5rem;
}

.form__group-description {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.description {
  width: 100%;
  background-color: rgb(231, 231, 231);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 5px 10px;
  border-bottom: 2px solid #4f177d;
}

.form__group-preferences {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0 0.5rem;
}

.form__group-academy {
  position: relative;
}

.form__group-gender {
  position: relative;
}

.form__group-age {
  position: relative;
}

.form__group-diet {
  background-color: #f8f8f8;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 0px 5px -8px var(--room1);
  -webkit-box-shadow: 0px 0px 8px -5px var(--room1);
  -moz-box-shadow: 0px 0px 8px -5px var(--room1);
}

.title__group-preference {
  width: 90%;
  color: var(--room1);
  margin: 0 auto;
  border-bottom: 2px solid var(--room3);
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  padding-left: 2.5rem;
  margin-bottom: 2rem;
  font-weight: normal !important;
}

.form__group-diet-in,
.form__group-pets-in {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.custom-checkbox-none {
  margin: 0 auto;
}

.custom-checkbox-pets {
  left: 3rem;
}

.form__group-npets {
  flex: 0 0 calc(40% - 30px);
}

.custom-checkbox {
  flex: 0 0 calc(48% - 30px);
}

.custom-checkbox-none {
  flex: 0 0 calc(30% - 30px);
}

.custom-checkbox-dog {
  flex: 0 0 calc(10% - 30px);
}

.custom-checkbox-pets {
  left: 3rem;
}

.form__group-others {
  flex: 0 0 calc(40% - 7px);
}

.form__group-row {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.form__location {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5rem;
  justify-content: space-around;
}

.mgender,
.alter_phone,
.db_law {
  width: 100%;
}

.margin-t {
  margin-top: -2rem !important;
}

.form__group-row2 {
  display: block;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.add__family {
  border: none;
  color: var(--room1);
  background-color: transparent;
}

.member1 {
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form__group-save {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-top: 6rem;
  padding-top: 2rem;
  border-top: 2px solid #e8e8e8;
}

.form__message {
  width: 100%;
}

.message_error {
  background-color: rgb(255, 173, 173);
  border: 2px solid red;
  padding: 10px 10px;
  height: 5rem;
  border-radius: 14px;
  width: 20%;
  margin-left: auto;
  margin-right: 2rem;
  display: none;
}

.aprobe {
  background-color: #00913f !important;
  border: 2px solid #01632b !important;
}

.error {
  width: 50%;
  margin: 0 auto;
}

.message_error_active {
  display: block !important;
}

.error-m {
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  line-height: 3.5rem;
  color: black;
}

.input__other_city {
  border: none;
  border-bottom: 2px solid #4f177d;
  outline: none;
  padding-left: 0.5rem;
  margin-top: 0.8rem;
  padding-bottom: 0.2rem;
  width: 100%;
}

.type__pets {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Labels */

.label__name {
  position: absolute;
  top: -0.5rem;
  left: 2rem;
  font-weight: 400 !important;
  color: #342359;
  width: 100%;
  font-size: 13px !important;
}

.house_info {
  left: 2rem !important;
}

.location {
  left: 3rem !important;
  top: -0.3rem;
}

.preference {
  left: 3rem !important;
  top: -2rem;
}

.form__group-diet {
  padding: 1rem 0.5rem !important;
}

.form__group-hinf,
.form__group-hinf2,
.form__group-hinf3 {
  display: flex;
  position: relative;
  justify-content: center;
}

.label__family {
  left: 3rem;
}

.label__other__city {
  font-size: 13px !important;
  font-weight: 500 !important;
  color: #342359;
  position: absolute;
  text-align: left !important;
  top: -0.4rem;
  left: 1.5rem;
}

.hi_room {
  left: 2rem;
}

/* Icons */

.l_icon {
  cursor: pointer;
}

.icon {
  position: absolute;
}

.icon_hname {
  content: url("../../../assets/icon/basic\ information\ 64.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.7rem;
  left: 0.1rem;
}

.icon_pnumber {
  content: url("../../../assets/icon/main\ contact\ 64.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.7rem;
  left: 0.1rem;
}

.icon_rooms {
  content: url("../../../assets/icon/habitacion.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.8rem;
  left: 0.2rem;
}

.icon_mail {
  content: url("../../../assets/icon/email.png");
  width: 1.3rem;
  height: 1.4rem;
  top: 0.9rem;
  left: 0.2rem;
}

.icon_pass {
  content: url("../../../assets/icon/password.png");
  width: 1.8rem;
  height: 1.8rem;
  top: 0.7rem;
  left: 0rem;
}

.icon_location {
  content: url("../../../assets/icon/location\ 64.png");
  width: 1.7rem;
  height: 1.7rem;
  left: 1.3rem;
  top: 0.8rem;
}

.icon_description {
  content: url("../../../assets/icon/basic\ information\ 64.png");
  width: 2.2rem;
  height: 2.2rem;
  left: -2.5rem;
  top: 0.5rem;
}

.icon_p_academy {
  content: url("../../../assets/icon/academy\ preference.png");
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  top: -0.8rem;
  left: 1.2rem;
}

.icon_gender {
  content: url("../../../assets/icon/gender.png");
  position: absolute;
  width: 1.3rem;
  height: 1.3rem;
  top: -0.8rem;
  left: 1.2rem;
}

.icon_age {
  content: url("../../../assets/icon/profile.png");
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: -1.5rem;
  top: -0.8rem;
  left: 1.2rem;
}

.icon_status {
  content: url("../../../assets/icon/available.png");
  position: absolute;
  width: 1.9rem;
  height: 1.9rem;
  top: -1.2rem;
  left: 1rem;
}

.icon_smokers {
  content: url("../../../assets/icon/smokers.png");
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: -0.8rem;
  left: 1.2rem;
}

.icon_years {
  content: url("../../../assets/icon/exp_year.png");
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: -1rem;
  left: 1rem;
}

.icon-diet {
  content: url("../../../assets/icon/diet.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 1.2rem;
  left: 2.2rem;
}

.icon_pets {
  content: url("../../../assets/icon/pets\ 64.png");
  width: 1.5rem;
  height: 1.5rem;
  top: -1rem;
  left: 1rem;
}

.icon_name_h {
  content: url("../../../assets/icon/profile2.png");
  width: 1.5rem;
  height: 1.5rem;
  left: -0.5rem;
}

.icon_db {
  content: url("../../../assets/icon/calendar.png");
  width: 1.2rem;
  height: 1.2rem;
  left: 1.3rem;
  top: 0.9rem;
}

.icon_gender2 {
  content: url("../../../assets/icon/gender.png");
  width: 1.3rem;
  height: 1.3rem;
  left: 1.3rem;
  top: 0.9rem;
}

.icon_pnumber2 {
  content: url("../../../assets/icon/main\ contact\ 64.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.7rem;
  left: 1rem;
}

.icon_bcheck {
  content: url("../../../assets/icon/user\ profile.png");
  width: 1.4rem;
  height: 1.4rem;
  top: 0.8rem;
  left: 1.2rem;
}

.icon_family {
  content: url("../../../assets/icon/family.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.5rem;
}

.icon_mname {
  content: url("../../../assets/icon/profile.png");
  width: 1.5rem;
  height: 1.5rem;
  top: 0.7rem;
}

.icon_meals {
  content: url("../../../assets/icon/food2\ 64.png");
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: -1rem;
  left: 1.2rem;
}

.icon_allergies {
  content: url("../../../assets/icon/allergies.png");
  width: 1.7rem;
  height: 1.7rem;
  top: 0.7rem;
  left: 1rem;
}

.icon_allergies2 {
  content: url("../../../assets/icon/allergies2.png");
  width: 1.6rem;
  height: 1.6rem;
  top: 0.7rem;
  left: 1rem;
}

.address,
.city {
  width: 90% !important;
}

.state,
.pcode {
  width: 90% !important;
}

.academy {
  width: 100%;
  top: -2.1rem;
}

.gender {
  width: 100%;
  top: -2.1rem;
}

.age {
  top: -2.1rem;
}

.status {
  top: -2.1rem;
  width: 100%;
}

.smoke {
  top: -2.2rem;
}

.ypets {
  top: -2.2rem;
}

.y_service {
  top: -2.2rem;
}

.npets {
  top: -2.2rem;
}

.specify_pets {
  top: -2.2rem;
}

.type__pets {
  margin-top: -0.5rem;
}

.type__pets label {
  font-weight: 500 !important;
}

.npets,
.background,
.background_l,
.nmembers,
.gender1,
.name1,
.lname1,
.dbirth1,
.gender1,
.relation1,
.name2,
.lname2,
.db2,
.gender2,
.relation2,
.db_lawf2,
.name3,
.lname3,
.db3,
.gender3,
.relation3,
.db_lawf3,
.name4,
.lname4,
.db4,
.gender4,
.relation4,
.db_lawf4,
.name5,
.lname5,
.db5,
.gender5,
.relation5,
.db_lawf5,
.name6,
.lname6,
.db6,
.gender6,
.relation6,
.db_lawf6,
.name7,
.lname7,
.db7,
.gender7,
.relation7,
.db_lawf7,
.name8,
.lname8,
.db8,
.gender8,
.relation8,
.db_lawf8 {
  width: 100%;
}

.others {
  width: 100%;
  top: -1rem;
}

/* -------------------- END ---------------------------*/

/* inputs true and false */

.message__input_error {
  display: none;
  color: red;
  font-size: 12px;
  line-height: 17px;
  padding-left: 3rem;
  padding-top: 0.5rem;
}

.room_error {
  padding-left: 0 !important;
}

.family_error {
  padding-left: 1.5rem;
}

.number_error {
  padding-left: 2rem;
}

.disabled {
  display: none;
}

.message__input_error_active {
  display: block;
}

.input_true .form__group-input {
  border-bottom: 2px solid #00913f !important;
}

.input_false .form__group-input {
  border-bottom: 2px solid #cc0000 !important;
}

/* -------------------- END ---------------------------*/

@media (min-width: 300px) and (max-width: 1200px) {
  .form__group-preferences1 {
    width: 70%;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .house_info__div {
    width: 100% !important;
  }

  .tarjet,
  .tarjet3,
  .wrap-div {
    width: 15rem;
  }
}

@media (min-width: 300px) and (max-width: 575px) {
  .title__group-section {
    margin-bottom: 2rem;
  }

  .title__edit {
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .form__group-hinf2,
  .form__group-hinf3 {
    margin-top: 2rem;
  }
}

@media (min-width: 300px) and (max-width: 992px) {
  .form__group-row {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .form__group-adress {
    width: 90%;
    margin-left: auto !important;
  }

  .form__group-pets {
    margin-top: 2rem;
  }
}

@media (min-width: 400px) and (max-width: 1100px) {
  .card-main {
    width: 95%;
  }

  .message__input_error {
    width: 100%;
    padding-left: 2rem;
  }

  .house_info__div {
    width: 95% !important;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .form__group-row {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .mname,
  .lmname,
  .dateb {
    width: 100% !important;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .form__group-hinf2 {
    margin-top: 4rem;
  }
  .form__group-hinf3 {
    margin-top: 2rem;
  }
}
@media (min-width: 992px) {
  .tarjet,
  .tarjet3,
  .wrap-div {
    width: 18rem;
  }

  .form__group-hinf {
    margin-top: 4rem;
  }
  .form__group-hinf3 {
    margin-top: 4rem;
  }

  .form__group-hinf2 {
    margin-top: 4rem;
  }
}

@media (max-width: 1200px) {
  .form__group-preferences {
    width: 90%;
  }
}

@media (max-width: 600px) {
  div#map {
    margin-left: 0px;
    margin-top: 1rem;
    width: 100%;
    height: 12rem;
  }
}

/* MEDIA MEDIUM DEVICE TABLETS*/

@media (min-width: 600px) {
  /*REPONSIVE LOCATION*/
  div#map {
    margin-left: 0px;
    width: 100%;
    height: 20rem;
    margin-top: -2rem;
  }
}

/* MEDIA LARGE DEVICE DESKTOP AND LAPTOPS*/

@media (min-width: 800px) {
  /*REPONSIVE LOCATION*/
  div#map {
    margin-left: 0px;
    height: 20rem;
    margin-top: -2rem;
  }
}

@media (max-width: 992px) {
  .form__group-map {
    margin-top: 3rem;
    width: 80%;
  }
}

@media (min-width: 1200px) {
  div#map {
    width: 100%;
    height: 20rem;
    margin-top: -2rem;
  }
}

.zoom {
  transition: width 0.5s, height 0.5s, transform 0.5s;
  -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, height 0.5s, -o-transform 0.5s;
}

.zoom:hover {
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
}

#house {
  background-image: url("../../../student/assets/images/house1.png");
  background-size: cover;
  width: 27px;
  height: 49px;
  cursor: pointer;
}

/*------------------ POP UP -----------------*/

#house_much,
#house_ass {
  color: rgb(179, 40, 40);
  width: 20%;
  background-color: #f8f7f7;

  border-radius: 8px;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 100;
  box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -3px rgba(0, 0, 0, 0.75);
}

.content_popup {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  line-height: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
}

#close,
#close2 {
  font-size: 12px;
  font-weight: bold;
}

#close:hover {
  color: #342359;
}

.close_div {
  float: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.btn-divs {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.back_panel {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 50px;
  background-color: #394893;
  color: #fff;
  border-radius: 4px;
  font-size: 17px;
  width: 28%;
}

.back_panel:hover {
  color: #fff;
}

/*-------------------------------------------*/
