/* TODO WINYERSON */
/**-------------CUSTOM PROPERTIES-------------**/
:root {
  --first-color: #342359;
  --first-alpha-color: rgba(35, 33, 89, 0.75);
  --first-min-color: rgba(35, 33, 89, 0.5);
  --second-color: #982a72;
  --second-alpha-color: rgba(152, 42, 114, 0.75);
  --second-min-color: rgba(152, 42, 114, 0.5);
  --third-color: #394893;
  --third-alpha-color: rgba(57, 72, 147, 0.75);
  --third-min-color: rgba(57, 72, 147, 0.5);
  --four-color: #a54483;
  --four-alpha-color: rgba(165, 68, 131, 0.75);
  --four-min-color: rgba(165, 68, 131, 0.5);
  --five-color: #5d418d;
  --five-alpha-color: rgba(93, 65, 141, 0.75);
  --five-min-color: rgba(93, 65, 141, 0.5);
  --six-color: #392b84;
  --six-alpha-color: rgba(57, 43, 132, 0.75);
  --six-min-color: rgba(57, 43, 132, 0.5);
  --seven-color: #b15391;
  --seven-alpha-color: rgba(177, 83, 145, 0.75);
  --seven-min-color: rgba(177, 83, 145, 0.5);
  --eight-color: #4f177d;
  --eight-alpha-color: rgba(79, 23, 125, 0.75);
  --eight-min-color: rgba(79, 23, 125, 0.5);
  --gray-color: #b2b2b2;
  --gray-light-color: #f6f6f6;
  --gray-dark-color: #666;
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: #d51d95;
  --title-color: #333;
  --text-color: #222;
}
html {
  scroll-behavior: smooth;
}

h1 {
  color: #222;
}

body {
  overflow-x: hidden !important;
  background-color: #eee !important;
}

.list-buttons button:nth-child(1),
.list-buttons button:nth-child(2) {
  width: 20%;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  transition: 300ms ease all;
}
.list-buttons button:nth-child(1):hover,
.list-buttons button:nth-child(2):hover {
  opacity: 0.8;
}

.list-buttons button:nth-child(1) {
  margin-right: 1rem;
  background-color: var(--second-color);
}
.list-buttons button:nth-child(2) {
  background-color: var(--eight-color);
}

.list-container {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* TODO CUSTOMERS */
.customer {
  padding: 2rem;
  border-radius: 0.25rem;
  background-color: var(--third-color);
}
.customer-image {
  width: 14rem;
  height: 14rem;
  background-color: rgb(182, 182, 182);
  border-radius: 50%;
}
.customer-image img {
  width: 100%;
  height: auto;
}
.customer h3 {
  position: relative;
}
.customer h3::before {
  content: attr(data-customer-rol);
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translateX(-50%);
  font-size: 65%;
  font-weight: bold;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  background-color: var(--second-color);
}
.customer p {
  color: #fff;
  font-size: 100%;
}
#customer-existent label {
  width: 80px;
  cursor: pointer;
  padding: 0.25rem;
  margin: 0 1rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 2px solid var(--eight-color);
  transition: 250ms ease all;
}
#customer-existent label:hover {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--eight-alpha-color);
}
#existent-yes:checked + label,
#existent-no:checked + label {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--eight-color);
}
.customer-phone {
}
.customer-created {
}
.customer-description {
}
.customer-rol {
}

/* TODO PRODUCTS */
.product {
  padding: 0;
  border-radius: 0.25rem;
  background-color: var(--second-color);
}
.product-header {
  width: 100%;
  padding: 0.5rem 1rem;
  color: #fff;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  text-shadow: 2px 2px 4px #000;
  background-color: var(--first-color);
}
.product-header span {
  font-size: 140%;
  font-weight: bold;
}
.product-image {
  margin-top: 1rem;
  width: 14rem;
  height: 14rem;
  background-color: rgb(182, 182, 182);
  border-radius: 50%;
}
.product-image img {
  width: 100%;
  height: auto;
}
.product p {
  padding: 0 2rem;
  color: #fff;
  font-size: 100%;
}
.product-created {
}
.product-description {
}
