:root {
    --room1: #232159;
    --room2: #982a72;
    --room3: #394893;
    --room4: #A54483;
    --room5: #5D418D;
    --room6: #392B84;
    --room7: #B15391;
    --room8: #4F177D;
    --ff: #f8f8f8;
}

body {
    background-color: #F3F8FC;
}

img#profile-img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

input#profile-img {
    width: 100%;
}

button.btn.btn-info {
	color: white; 
	background-color: #982A72; 
	border: 2px solid #982A72;
}

div#background {
	background-color: white;
}

div#body {
	background-color: #DFBABA;
}

button#close {
	color: white; 
	background-color: #232159; 
	border: 2px solid #232159;
}

button#submit {
	color: white; 
	background-color: #982A72; 
	border: 2px solid #982A72;
}

h4#delete {
	color: red;
}

h3#delete {
	color: red;
}

button#active {
	color: white; 
	background-color: #232159; 
	border: 2px solid #232159;
}